# import libraries

In [1]:
import mysql.connector
import pandas as pd

# Extract

In [2]:
# database information
host = "localhost"
user = "root"
password = ""
database = "bike_store"

# function to extract data
def extract_data(host, user, password, database, table_names):
    # Create a connection
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    # Initialize an empty dictionary to store DataFrames
    extracted_data = {}

    # Loop through the table names and extract data
    for table_name in table_names:
        sql_query = "SELECT * FROM {}".format(table_name)
        df = pd.read_sql_query(sql_query, connection)
        
        # Store the DataFrame in the dictionary
        extracted_data[table_name] = df

        # Print the first few rows of each DataFrame
        print("Data from table '{}':".format(table_name))
        print(df.head())
        print("\n")

    # Close the database connection
    connection.close()

    return extracted_data

# Example usage:
host = "localhost"
user = "root"
password = ""
database = "bike_store"
table_names = ["brands", "categories", "customers", "orders", "order_items","products","staffs","stocks","stores"]

extracted_data = extract_data(host, user, password, database, table_names)

Data from table 'brands':
   brand_id   brand_name
0         1      Electra
1         2         Haro
2         3       Heller
3         4  Pure Cycles
4         5      Ritchey


Data from table 'categories':
   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes


Data from table 'customers':
   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks            None    debra.burks@yahoo.com
1            2       Kasha      Todd            None     kasha.todd@yahoo.com
2            3      Tameka    Fisher            None    tameka.fisher@aol.com
3            4       Daryl    Spence            None     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state  zip_code
0      9273 Thorne Ave.    Orchard Park    NY     14127
1       910 Vine Street        Campbell    CA     95008
2  769C Honey Creek St.   Redondo Beach    CA     90278
3        988 Pearl Lane       Uniondale    NY     11553
4         107 River Dr.      Sacramento    CA     95820


Data from table 'orders':
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2016-01-01    2016-01-03   2016-01-03
1         2         1212             4  2016-01-01    2016-01-04   2016-01-03
2         3          523             4  2016-01-02    2016-01-05   2016-01-03
3         4          175             4  2016-01-03    2016-01-04   2016-01-05
4         5         1324             4  2016-01-03    2016-01-06   2016-01-06

   store_id  staff_id
0         1         2
1         2         6
2         2         7
3         1         3
4         2         6


Data from table 'order_items':
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07
2         1        3          10         2     1549.00      0.05
3         1        4          16         2      599.99      0.05
4         1        5           4         1     2899.99      0.20


Data from table 'products':
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6
2           3     Surly Wednesday Frameset - 2016         8            6
3           4            Trek Fuel EX 8 29 - 2016         9            6
4           5        Heller Shagamaw Frame - 2016         3            6

   model_year  list_price
0        2016      379.99
1        2016      749.99
2        2016      999.99
3        2016     2899.99
4        2016     1320.99


Data from table 'staffs':
   staff_id first_name last_name                       email           phone  \
0         1    Fabiola   Jackson  fabiola.jackson@bikes.shop  (831) 555-5554
1         2     Mireya  Copeland  mireya.copeland@bikes.shop  (831) 555-5555
2         3      Genna   Serrano    genna.serrano@bikes.shop  (831) 555-5556
3         4     Virgie   Wiggins   virgie.wiggins@bikes.shop  (831) 555-5557
4         5   Jannette     David   jannette.david@bikes.shop  (516) 379-4444

   active  store_id  manager_id
0       1         1         NaN
1       1         1         1.0
2       1         1         2.0
3       1         1         2.0
4       1         2         1.0


Data from table 'stocks':
   store_id  product_id  quantity
0         1           1        27
1         1           2         5
2         1           3         6
3         1           4        23
4         1           5        22


Data from table 'stores':
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop
2         3     Rowlett Bikes  (972) 530-5555    rowlett@bikes.shop

                street        city state  zip_code
0   3700 Portola Drive  Santa Cruz    CA     95060
1   4200 Chestnut Lane     Baldwin    NY     11432
2  8000 Fairway Avenue     Rowlett    TX     75088