# import libraries

In [1]:
import mysql.connector
import pandas as pd

# Extract

In [2]:
# function to extract data
def extract_data(host, user, password, database, table_names):
    # Create a connection
    connection = mysql.connector.connect(
        host=host,
        user=user,
        password=password,
        database=database
    )

    # Initialize an empty dictionary to store DataFrames
    extracted_data = {}

    # Loop through the table names and extract data
    for table_name in table_names:
        sql_query = "SELECT * FROM {}".format(table_name)
        df = pd.read_sql_query(sql_query, connection)
        
        # Store the DataFrame in the dictionary
        extracted_data[table_name] = df

        # Print the first few rows of each DataFrame
        print("Data from table '{}':".format(table_name))
        print(df.head())
        print("\n")

    # Close the database connection
    connection.close()

    return extracted_data

# database information
host = "localhost"
user = "root"
password = ""
database = "bike_store"
table_names = ["brands", "categories", "customers","products","stores","stocks","orders", "order_items","staffs"]

extracted_data = extract_data(host, user, password, database, table_names)

Data from table 'brands':
   brand_id   brand_name
0         1      Electra
1         2         Haro
2         3       Heller
3         4  Pure Cycles
4         5      Ritchey


Data from table 'categories':
   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes


Data from table 'customers':
   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks            None    debra.burks@yahoo.com
1            2       Kasha      Todd            None     kasha.todd@yahoo.com
2            3      Tameka    Fisher            None    tameka.fisher@aol.com
3            4       Daryl    Spence            None     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state  zip_code
0      9273 Thorne Ave.    Orchard Park    NY     14127
1       910 Vine Street        Campbell    CA     95008
2  769C Honey Creek St.   Redondo Beach    CA     90278
3        988 Pearl Lane       Uniondale    NY     11553
4         107 River Dr.      Sacramento    CA     95820


Data from table 'products':
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6
2           3     Surly Wednesday Frameset - 2016         8            6
3           4            Trek Fuel EX 8 29 - 2016         9            6
4           5        Heller Shagamaw Frame - 2016         3            6

   model_year  list_price     cost
0        2016      379.99   339.99
1        2016      749.99   709.99
2        2016      999.99   959.99
3        2016     2899.99  2859.99
4        2016     1320.99  1280.99


Data from table 'stores':
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop
2         3     Rowlett Bikes  (972) 530-5555    rowlett@bikes.shop

                street        city state  zip_code
0   3700 Portola Drive  Santa Cruz    CA     95060
1   4200 Chestnut Lane     Baldwin    NY     11432
2  8000 Fairway Avenue     Rowlett    TX     75088


Data from table 'stocks':
   store_id  product_id  quantity
0         1           1        27
1         1           2         5
2         1           3         6
3         1           4        23
4         1           5        22


Data from table 'orders':
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2021-01-01    2016-01-03   2016-01-03
1         2         1212             4  2021-01-01    2016-01-04   2016-01-03
2         3          523             4  2021-01-02    2016-01-05   2016-01-03
3         4          175             4  2021-01-03    2016-01-04   2016-01-05
4         5         1324             4  2021-01-03    2016-01-06   2016-01-06

   store_id  staff_id
0         1         2
1         2         6
2         2         7
3         1         3
4         2         6


Data from table 'order_items':
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07
2         1        3          10         2     1549.00      0.05
3         1        4          16         2      599.99      0.05
4         1        5           4         1     2899.99      0.20


Data from table 'staffs':
   staff_id first_name last_name                       email           phone  \
0         1    Fabiola   Jackson  fabiola.jackson@bikes.shop  (831) 555-5554
1         2     Mireya  Copeland  mireya.copeland@bikes.shop  (831) 555-5555
2         3      Genna   Serrano    genna.serrano@bikes.shop  (831) 555-5556
3         4     Virgie   Wiggins   virgie.wiggins@bikes.shop  (831) 555-5557
4         5   Jannette     David   jannette.david@bikes.shop  (516) 379-4444

   active  store_id  manager_id
0       1         1         NaN
1       1         1         1.0
2       1         1         2.0
3       1         1         2.0
4       1         2         1.0

In [3]:
# Convert date columns to datetime
date_columns = ['order_date', 'required_date', 'shipped_date']
for col in date_columns:
    extracted_data['orders'][col] = pd.to_datetime(extracted_data['orders'][col])

# Extract year, month, and day into separate columns
for col in date_columns:
    extracted_data['orders']['{}_year'.format(col)] = extracted_data['orders'][col].dt.year
    extracted_data['orders']['{}_month'.format(col)] = extracted_data['orders'][col].dt.month
    extracted_data['orders']['{}_day'.format(col)] = extracted_data['orders'][col].dt.day

# Drop the original date columns
extracted_data['orders'].drop(columns=date_columns, inplace=True)

# Fill NaN values with 0 and convert to integers
date_columns_with_prefix = ['{}_year'.format(col) for col in date_columns] + ['{}_month'.format(col) for col in date_columns] + ['{}_day'.format(col) for col in date_columns]
extracted_data['orders'][date_columns_with_prefix] = extracted_data['orders'][date_columns_with_prefix].fillna(0).astype(int)

# Drop multiple columns from customers
columns_to_drop = ['first_name', 'last_name', 'phone', 'email', 'zip_code']
extracted_data['customers'].drop(columns=columns_to_drop, inplace=True)
# Drop multiple columns from stores
columns_to_drop = ['phone', 'email', 'zip_code']
extracted_data['stores'].drop(columns=columns_to_drop, inplace=True)


# Drop multiple columns from orders
columns_to_drop = ['order_status','staff_id']
extracted_data['orders'].drop(columns=columns_to_drop, inplace=True)

# Drop multiple columns from orders
columns_to_drop = ['item_id']
extracted_data['order_items'].drop(columns=columns_to_drop, inplace=True)

extracted_data.pop('staffs', None)
table_names = ["brands", "categories", "customers","products","stores","stocks","orders", "order_items"]

extracted_data = extract_data(host, user, password, database, table_names)

Data from table 'brands':
   brand_id   brand_name
0         1      Electra
1         2         Haro
2         3       Heller
3         4  Pure Cycles
4         5      Ritchey


Data from table 'categories':
   category_id        category_name
0            1    Children Bicycles
1            2     Comfort Bicycles
2            3    Cruisers Bicycles
3            4  Cyclocross Bicycles
4            5       Electric Bikes


Data from table 'customers':
   customer_id  first_name last_name           phone                    email  \
0            1       Debra     Burks            None    debra.burks@yahoo.com
1            2       Kasha      Todd            None     kasha.todd@yahoo.com
2            3      Tameka    Fisher            None    tameka.fisher@aol.com
3            4       Daryl    Spence            None     daryl.spence@aol.com
4            5  Charolette      Rice  (916) 381-6003  charolette.rice@msn.com

                  street           city state  zip_code
0      9273 Thorne Ave.    Orchard Park    NY     14127
1       910 Vine Street        Campbell    CA     95008
2  769C Honey Creek St.   Redondo Beach    CA     90278
3        988 Pearl Lane       Uniondale    NY     11553
4         107 River Dr.      Sacramento    CA     95820


Data from table 'products':
   product_id                        product_name  brand_id  category_id  \
0           1                     Trek 820 - 2016         9            6
1           2  Ritchey Timberwolf Frameset - 2016         5            6
2           3     Surly Wednesday Frameset - 2016         8            6
3           4            Trek Fuel EX 8 29 - 2016         9            6
4           5        Heller Shagamaw Frame - 2016         3            6

   model_year  list_price     cost
0        2016      379.99   339.99
1        2016      749.99   709.99
2        2016      999.99   959.99
3        2016     2899.99  2859.99
4        2016     1320.99  1280.99


Data from table 'stores':
   store_id        store_name           phone                 email  \
0         1  Santa Cruz Bikes  (831) 476-4321  santacruz@bikes.shop
1         2     Baldwin Bikes  (516) 379-8888    baldwin@bikes.shop
2         3     Rowlett Bikes  (972) 530-5555    rowlett@bikes.shop

                street        city state  zip_code
0   3700 Portola Drive  Santa Cruz    CA     95060
1   4200 Chestnut Lane     Baldwin    NY     11432
2  8000 Fairway Avenue     Rowlett    TX     75088


Data from table 'stocks':
   store_id  product_id  quantity
0         1           1        27
1         1           2         5
2         1           3         6
3         1           4        23
4         1           5        22


Data from table 'orders':
   order_id  customer_id  order_status  order_date required_date shipped_date  \
0         1          259             4  2021-01-01    2016-01-03   2016-01-03
1         2         1212             4  2021-01-01    2016-01-04   2016-01-03
2         3          523             4  2021-01-02    2016-01-05   2016-01-03
3         4          175             4  2021-01-03    2016-01-04   2016-01-05
4         5         1324             4  2021-01-03    2016-01-06   2016-01-06

   store_id  staff_id
0         1         2
1         2         6
2         2         7
3         1         3
4         2         6


Data from table 'order_items':
   order_id  item_id  product_id  quantity  list_price  discount
0         1        1          20         1      599.99      0.20
1         1        2           8         2     1799.99      0.07
2         1        3          10         2     1549.00      0.05
3         1        4          16         2      599.99      0.05
4         1        5           4         1     2899.99      0.20

In [4]:
# Database connection
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="dw_bike_store"
)

# Create a cursor object to execute SQL queries
cursor = connection.cursor()
try:
    # Iterate through the tables in extracted_data and insert the data
    for table_name, df in extracted_data.items():
        if not df.empty:
            # Build the INSERT query dynamically
            columns = ', '.join(df.columns)
            placeholders = ', '.join(['%s'] * len(df.columns))
            # Build the INSERT query dynamically with ON DUPLICATE KEY UPDATE
            query = "INSERT INTO {} ({}) VALUES ({}) ON DUPLICATE KEY UPDATE {}".format(
                table_name, columns, placeholders, ', '.join(["{}=VALUES({})".format(col, col) for col in df.columns])
            )

            # Insert the data into the database
            values = [tuple(str(val) for val in row) for row in df.values]

            for i, original_row in enumerate(values):
                try:
                    cursor.execute(query, original_row)
                except mysql.connector.Error as row_err:
                    print("Error in row {}:".format(i + 1))
                    for col, val in zip(df.columns, original_row):
                        print(col, ":", val)
                    print("Error:", row_err)

            connection.commit()

    # Calculate total sales by customer and insert into retail_facts
    total_sale_by_customer_query = """
    INSERT INTO retail_facts (customer_id, total_sale_by_customer)
    SELECT c.customer_id, SUM(oi.list_price) as total_sale_by_customer
    FROM customers AS c
    JOIN orders AS o ON c.customer_id = o.customer_id
    JOIN order_items AS oi ON o.order_id = oi.order_id
    GROUP BY c.customer_id
    ON DUPLICATE KEY UPDATE total_sale_by_customer = VALUES(total_sale_by_customer)
    """

    cursor.execute(total_sale_by_customer_query)

    # Calculate purchase frequency and insert into retail_facts
    purchase_frequency_query = """
    INSERT INTO retail_facts (customer_id, purchase_frequency)
    SELECT c.customer_id, COUNT(o.order_id) as purchase_frequency
    FROM customers AS c
    JOIN orders AS o ON c.customer_id = o.customer_id
    GROUP BY c.customer_id
    ON DUPLICATE KEY UPDATE purchase_frequency = VALUES(purchase_frequency)
    """

    cursor.execute(purchase_frequency_query)

    # Calculate the number of products purchased by customer and insert into retail_facts
    number_products_by_customer_query = """
    INSERT INTO retail_facts (customer_id, number_products_by_customer)
    SELECT c.customer_id, COUNT(DISTINCT oi.product_id) as number_products_by_customer
    FROM customers AS c
    JOIN orders AS o ON c.customer_id = o.customer_id
    JOIN order_items AS oi ON o.order_id = oi.order_id
    GROUP BY c.customer_id
    ON DUPLICATE KEY UPDATE number_products_by_customer = VALUES(number_products_by_customer)
    """

    cursor.execute(number_products_by_customer_query)

    connection.commit()

except mysql.connector.Error as err:
    print(table_name)
    print("Error: {}".format(err))
    connection.rollback()  # Rollback the transaction in case of an error

finally:
    # Close the cursor and connection
    cursor.close()
    connection.close()

Error in row 1:
order_id : 1
customer_id : 259
order_status : 4
order_date : 2021-01-01
required_date : 2016-01-03
shipped_date : 2016-01-03
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 2:
order_id : 2
customer_id : 1212
order_status : 4
order_date : 2021-01-01
required_date : 2016-01-04
shipped_date : 2016-01-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 3:
order_id : 3
customer_id : 523
order_status : 4
order_date : 2021-01-02
required_date : 2016-01-05
shipped_date : 2016-01-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 4:
order_id : 4
customer_id : 175
order_status : 4
order_date : 2021-01-03
required_date : 2016-01-04
shipped_date : 2016-01-05
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 5:
order_id : 5
customer_id : 1324
order_status : 4
order_date : 2021-01-03
required_date : 2016-01-06
shipped_date : 2016-01-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 6:
order_id : 6
customer_id : 94
order_status : 4
order_date : 2021-01-04
required_date : 2016-01-07
shipped_date : 2016-01-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 7:
order_id : 7
customer_id : 324
order_status : 4
order_date : 2021-01-04
required_date : 2016-01-07
shipped_date : 2016-01-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 8:
order_id : 8
customer_id : 1204
order_status : 4
order_date : 2021-01-04
required_date : 2016-01-05
shipped_date : 2016-01-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 9:
order_id : 9
customer_id : 60
order_status : 4
order_date : 2021-01-05
required_date : 2016-01-08
shipped_date : 2016-01-08
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 10:
order_id : 10
customer_id : 442
order_status : 4
order_date : 2021-01-05
required_date : 2016-01-06
shipped_date : 2016-01-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 11:
order_id : 11
customer_id : 1326
order_status : 4
order_date : 2021-01-05
required_date : 2016-01-08
shipped_date : 2016-01-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 12:
order_id : 12
customer_id : 91
order_status : 4
order_date : 2021-01-06
required_date : 2016-01-08
shipped_date : 2016-01-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 13:
order_id : 13
customer_id : 873
order_status : 4
order_date : 2021-01-08
required_date : 2016-01-11
shipped_date : 2016-01-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 14:
order_id : 14
customer_id : 258
order_status : 4
order_date : 2021-01-09
required_date : 2016-01-11
shipped_date : 2016-01-12
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 15:
order_id : 15
customer_id : 450
order_status : 4
order_date : 2021-01-09
required_date : 2016-01-10
shipped_date : 2016-01-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 16:
order_id : 16
customer_id : 552
order_status : 4
order_date : 2021-01-12
required_date : 2016-01-15
shipped_date : 2016-01-15
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 17:
order_id : 17
customer_id : 1175
order_status : 4
order_date : 2021-01-12
required_date : 2016-01-14
shipped_date : 2016-01-14
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 18:
order_id : 18
customer_id : 541
order_status : 4
order_date : 2021-01-14
required_date : 2016-01-17
shipped_date : 2016-01-15
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 19:
order_id : 19
customer_id : 696
order_status : 4
order_date : 2021-01-14
required_date : 2016-01-17
shipped_date : 2016-01-16
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 20:
order_id : 20
customer_id : 923
order_status : 4
order_date : 2021-01-14
required_date : 2016-01-16
shipped_date : 2016-01-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 21:
order_id : 21
customer_id : 1250
order_status : 4
order_date : 2021-01-15
required_date : 2016-01-16
shipped_date : 2016-01-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 22:
order_id : 22
customer_id : 1035
order_status : 4
order_date : 2021-01-16
required_date : 2016-01-18
shipped_date : 2016-01-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 23:
order_id : 23
customer_id : 1149
order_status : 4
order_date : 2021-01-16
required_date : 2016-01-19
shipped_date : 2016-01-19
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 24:
order_id : 24
customer_id : 636
order_status : 4
order_date : 2021-01-18
required_date : 2016-01-20
shipped_date : 2016-01-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 25:
order_id : 25
customer_id : 657
order_status : 4
order_date : 2021-01-18
required_date : 2016-01-21
shipped_date : 2016-01-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 26:
order_id : 26
customer_id : 1280
order_status : 4
order_date : 2021-01-18
required_date : 2016-01-21
shipped_date : 2016-01-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 27:
order_id : 27
customer_id : 57
order_status : 4
order_date : 2021-01-19
required_date : 2016-01-21
shipped_date : 2016-01-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 28:
order_id : 28
customer_id : 252
order_status : 4
order_date : 2021-01-19
required_date : 2016-01-20
shipped_date : 2016-01-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 29:
order_id : 29
customer_id : 437
order_status : 4
order_date : 2021-01-20
required_date : 2016-01-22
shipped_date : 2016-01-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 30:
order_id : 30
customer_id : 1348
order_status : 4
order_date : 2021-01-20
required_date : 2016-01-21
shipped_date : 2016-01-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 31:
order_id : 31
customer_id : 1238
order_status : 4
order_date : 2021-01-20
required_date : 2016-01-22
shipped_date : 2016-01-22
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 32:
order_id : 32
customer_id : 1259
order_status : 4
order_date : 2021-01-21
required_date : 2016-01-24
shipped_date : 2016-01-22
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 33:
order_id : 33
customer_id : 236
order_status : 4
order_date : 2021-01-21
required_date : 2016-01-22
shipped_date : 2016-01-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 34:
order_id : 34
customer_id : 80
order_status : 4
order_date : 2021-01-22
required_date : 2016-01-25
shipped_date : 2016-01-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 35:
order_id : 35
customer_id : 813
order_status : 4
order_date : 2021-01-22
required_date : 2016-01-25
shipped_date : 2016-01-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 36:
order_id : 36
customer_id : 1321
order_status : 4
order_date : 2021-01-23
required_date : 2016-01-24
shipped_date : 2016-01-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 37:
order_id : 37
customer_id : 164
order_status : 4
order_date : 2021-01-25
required_date : 2016-01-28
shipped_date : 2016-01-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 38:
order_id : 38
customer_id : 583
order_status : 4
order_date : 2021-01-25
required_date : 2016-01-27
shipped_date : 2016-01-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 39:
order_id : 39
customer_id : 1296
order_status : 4
order_date : 2021-01-25
required_date : 2016-01-26
shipped_date : 2016-01-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 40:
order_id : 40
customer_id : 348
order_status : 4
order_date : 2021-01-27
required_date : 2016-01-28
shipped_date : 2016-01-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 41:
order_id : 41
customer_id : 979
order_status : 4
order_date : 2021-01-27
required_date : 2016-01-30
shipped_date : 2016-01-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 42:
order_id : 42
customer_id : 1095
order_status : 4
order_date : 2021-01-27
required_date : 2016-01-28
shipped_date : 2016-01-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 43:
order_id : 43
customer_id : 1434
order_status : 4
order_date : 2021-01-27
required_date : 2016-01-28
shipped_date : 2016-01-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 44:
order_id : 44
customer_id : 861
order_status : 4
order_date : 2021-01-28
required_date : 2016-01-31
shipped_date : 2016-01-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 45:
order_id : 45
customer_id : 1220
order_status : 4
order_date : 2021-01-28
required_date : 2016-01-31
shipped_date : 2016-01-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 46:
order_id : 46
customer_id : 746
order_status : 4
order_date : 2021-01-29
required_date : 2016-01-31
shipped_date : 2016-01-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 47:
order_id : 47
customer_id : 1234
order_status : 4
order_date : 2021-01-29
required_date : 2016-01-30
shipped_date : 2016-01-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 48:
order_id : 48
customer_id : 1012
order_status : 4
order_date : 2021-01-30
required_date : 2016-02-01
shipped_date : 2016-02-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 49:
order_id : 49
customer_id : 608
order_status : 4
order_date : 2021-01-31
required_date : 2016-02-01
shipped_date : 2016-02-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 50:
order_id : 50
customer_id : 872
order_status : 4
order_date : 2021-01-31
required_date : 2016-02-03
shipped_date : 2016-02-02
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 51:
order_id : 51
customer_id : 1047
order_status : 4
order_date : 2021-02-01
required_date : 2016-02-02
shipped_date : 2016-02-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 52:
order_id : 52
customer_id : 767
order_status : 4
order_date : 2021-02-03
required_date : 2016-02-04
shipped_date : 2016-02-05
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 53:
order_id : 53
customer_id : 965
order_status : 4
order_date : 2021-02-03
required_date : 2016-02-04
shipped_date : 2016-02-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 54:
order_id : 54
customer_id : 535
order_status : 4
order_date : 2021-02-04
required_date : 2016-02-07
shipped_date : 2016-02-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 55:
order_id : 55
customer_id : 1173
order_status : 4
order_date : 2021-02-04
required_date : 2016-02-07
shipped_date : 2016-02-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 56:
order_id : 56
customer_id : 1241
order_status : 4
order_date : 2021-02-04
required_date : 2016-02-06
shipped_date : 2016-02-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 57:
order_id : 57
customer_id : 1305
order_status : 4
order_date : 2021-02-04
required_date : 2016-02-06
shipped_date : 2016-02-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 58:
order_id : 58
customer_id : 504
order_status : 4
order_date : 2021-02-05
required_date : 2016-02-07
shipped_date : 2016-02-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 59:
order_id : 59
customer_id : 563
order_status : 4
order_date : 2021-02-05
required_date : 2016-02-07
shipped_date : 2016-02-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 60:
order_id : 60
customer_id : 151
order_status : 4
order_date : 2021-02-06
required_date : 2016-02-08
shipped_date : 2016-02-07
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 61:
order_id : 61
customer_id : 277
order_status : 4
order_date : 2021-02-06
required_date : 2016-02-09
shipped_date : 2016-02-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 62:
order_id : 62
customer_id : 208
order_status : 4
order_date : 2021-02-07
required_date : 2016-02-10
shipped_date : 2016-02-10
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 63:
order_id : 63
customer_id : 1075
order_status : 4
order_date : 2021-02-07
required_date : 2016-02-09
shipped_date : 2016-02-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 64:
order_id : 64
customer_id : 1185
order_status : 4
order_date : 2021-02-07
required_date : 2016-02-08
shipped_date : 2016-02-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 65:
order_id : 65
customer_id : 996
order_status : 4
order_date : 2021-02-08
required_date : 2016-02-09
shipped_date : 2016-02-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 66:
order_id : 66
customer_id : 1253
order_status : 4
order_date : 2021-02-09
required_date : 2016-02-12
shipped_date : 2016-02-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 67:
order_id : 67
customer_id : 526
order_status : 4
order_date : 2021-02-09
required_date : 2016-02-11
shipped_date : 2016-02-10
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 68:
order_id : 68
customer_id : 381
order_status : 4
order_date : 2021-02-10
required_date : 2016-02-11
shipped_date : 2016-02-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 69:
order_id : 69
customer_id : 1413
order_status : 4
order_date : 2021-02-10
required_date : 2016-02-12
shipped_date : 2016-02-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 70:
order_id : 70
customer_id : 50
order_status : 3
order_date : 2021-02-11
required_date : 2016-02-11
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 71:
order_id : 71
customer_id : 797
order_status : 4
order_date : 2021-02-11
required_date : 2016-02-14
shipped_date : 2016-02-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 72:
order_id : 72
customer_id : 1386
order_status : 4
order_date : 2021-02-12
required_date : 2016-02-15
shipped_date : 2016-02-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 73:
order_id : 73
customer_id : 612
order_status : 4
order_date : 2021-02-12
required_date : 2016-02-15
shipped_date : 2016-02-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 74:
order_id : 74
customer_id : 264
order_status : 4
order_date : 2021-02-13
required_date : 2016-02-15
shipped_date : 2016-02-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 75:
order_id : 75
customer_id : 587
order_status : 4
order_date : 2021-02-14
required_date : 2016-02-15
shipped_date : 2016-02-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 76:
order_id : 76
customer_id : 9
order_status : 3
order_date : 2021-02-16
required_date : 2016-02-16
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 77:
order_id : 77
customer_id : 385
order_status : 4
order_date : 2021-02-16
required_date : 2016-02-19
shipped_date : 2016-02-19
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 78:
order_id : 78
customer_id : 1182
order_status : 4
order_date : 2021-02-16
required_date : 2016-02-18
shipped_date : 2016-02-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 79:
order_id : 79
customer_id : 529
order_status : 4
order_date : 2021-02-17
required_date : 2016-02-20
shipped_date : 2016-02-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 80:
order_id : 80
customer_id : 397
order_status : 4
order_date : 2021-02-17
required_date : 2016-02-20
shipped_date : 2016-02-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 81:
order_id : 81
customer_id : 521
order_status : 4
order_date : 2021-02-17
required_date : 2016-02-19
shipped_date : 2016-02-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 82:
order_id : 82
customer_id : 1223
order_status : 4
order_date : 2021-02-18
required_date : 2016-02-21
shipped_date : 2016-02-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 83:
order_id : 83
customer_id : 393
order_status : 4
order_date : 2021-02-19
required_date : 2016-02-20
shipped_date : 2016-02-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 84:
order_id : 84
customer_id : 317
order_status : 4
order_date : 2021-02-20
required_date : 2016-02-22
shipped_date : 2016-02-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 85:
order_id : 85
customer_id : 1174
order_status : 4
order_date : 2021-02-20
required_date : 2016-02-23
shipped_date : 2016-02-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 86:
order_id : 86
customer_id : 276
order_status : 4
order_date : 2021-02-21
required_date : 2016-02-22
shipped_date : 2016-02-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 87:
order_id : 87
customer_id : 516
order_status : 4
order_date : 2021-02-21
required_date : 2016-02-22
shipped_date : 2016-02-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 88:
order_id : 88
customer_id : 1069
order_status : 4
order_date : 2021-02-21
required_date : 2016-02-22
shipped_date : 2016-02-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 89:
order_id : 89
customer_id : 668
order_status : 4
order_date : 2021-02-21
required_date : 2016-02-24
shipped_date : 2016-02-24
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 90:
order_id : 90
customer_id : 414
order_status : 4
order_date : 2021-02-23
required_date : 2016-02-25
shipped_date : 2016-02-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 91:
order_id : 91
customer_id : 648
order_status : 4
order_date : 2021-02-25
required_date : 2016-02-27
shipped_date : 2016-02-28
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 92:
order_id : 92
customer_id : 1309
order_status : 4
order_date : 2021-02-25
required_date : 2016-02-28
shipped_date : 2016-02-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 93:
order_id : 93
customer_id : 1328
order_status : 4
order_date : 2021-02-26
required_date : 2016-02-28
shipped_date : 2016-02-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 94:
order_id : 94
customer_id : 929
order_status : 4
order_date : 2021-02-27
required_date : 2016-02-28
shipped_date : 2016-02-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 95:
order_id : 95
customer_id : 218
order_status : 4
order_date : 2021-02-27
required_date : 2016-02-29
shipped_date : 2016-02-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 96:
order_id : 96
customer_id : 1094
order_status : 4
order_date : 2021-02-27
required_date : 2016-02-29
shipped_date : 2016-02-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 97:
order_id : 97
customer_id : 204
order_status : 4
order_date : 2021-02-28
required_date : 2016-02-29
shipped_date : 2016-03-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 98:
order_id : 98
customer_id : 1194
order_status : 4
order_date : 2021-02-28
required_date : 2016-02-29
shipped_date : 2016-02-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 99:
order_id : 99
customer_id : 1165
order_status : 4
order_date : 2021-02-28
required_date : 2016-03-01
shipped_date : 2016-03-03
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 100:
order_id : 100
customer_id : 1237
order_status : 4
order_date : 2021-03-01
required_date : 2016-03-04
shipped_date : 2016-03-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 101:
order_id : 101
customer_id : 271
order_status : 4
order_date : 2021-03-01
required_date : 2016-03-04
shipped_date : 2016-03-04
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 102:
order_id : 102
customer_id : 336
order_status : 4
order_date : 2021-03-02
required_date : 2016-03-05
shipped_date : 2016-03-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 103:
order_id : 103
customer_id : 991
order_status : 4
order_date : 2021-03-03
required_date : 2016-03-06
shipped_date : 2016-03-05
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 104:
order_id : 104
customer_id : 7
order_status : 4
order_date : 2021-03-03
required_date : 2016-03-05
shipped_date : 2016-03-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 105:
order_id : 105
customer_id : 306
order_status : 4
order_date : 2021-03-03
required_date : 2016-03-05
shipped_date : 2016-03-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 106:
order_id : 106
customer_id : 422
order_status : 4
order_date : 2021-03-04
required_date : 2016-03-05
shipped_date : 2016-03-05
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 107:
order_id : 107
customer_id : 633
order_status : 4
order_date : 2021-03-06
required_date : 2016-03-09
shipped_date : 2016-03-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 108:
order_id : 108
customer_id : 12
order_status : 4
order_date : 2021-03-06
required_date : 2016-03-09
shipped_date : 2016-03-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 109:
order_id : 109
customer_id : 1255
order_status : 4
order_date : 2021-03-06
required_date : 2016-03-09
shipped_date : 2016-03-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 110:
order_id : 110
customer_id : 677
order_status : 4
order_date : 2021-03-06
required_date : 2016-03-08
shipped_date : 2016-03-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 111:
order_id : 111
customer_id : 630
order_status : 4
order_date : 2021-03-07
required_date : 2016-03-10
shipped_date : 2016-03-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 112:
order_id : 112
customer_id : 469
order_status : 4
order_date : 2021-03-08
required_date : 2016-03-11
shipped_date : 2016-03-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 113:
order_id : 113
customer_id : 1078
order_status : 4
order_date : 2021-03-08
required_date : 2016-03-11
shipped_date : 2016-03-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 114:
order_id : 114
customer_id : 1431
order_status : 4
order_date : 2021-03-08
required_date : 2016-03-10
shipped_date : 2016-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 115:
order_id : 115
customer_id : 1369
order_status : 4
order_date : 2021-03-09
required_date : 2016-03-11
shipped_date : 2016-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 116:
order_id : 116
customer_id : 471
order_status : 4
order_date : 2021-03-10
required_date : 2016-03-11
shipped_date : 2016-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 117:
order_id : 117
customer_id : 740
order_status : 4
order_date : 2021-03-10
required_date : 2016-03-13
shipped_date : 2016-03-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 118:
order_id : 118
customer_id : 577
order_status : 4
order_date : 2021-03-12
required_date : 2016-03-14
shipped_date : 2016-03-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 119:
order_id : 119
customer_id : 925
order_status : 4
order_date : 2021-03-12
required_date : 2016-03-14
shipped_date : 2016-03-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 120:
order_id : 120
customer_id : 327
order_status : 4
order_date : 2021-03-14
required_date : 2016-03-15
shipped_date : 2016-03-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 121:
order_id : 121
customer_id : 755
order_status : 4
order_date : 2021-03-14
required_date : 2016-03-15
shipped_date : 2016-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 122:
order_id : 122
customer_id : 786
order_status : 4
order_date : 2021-03-14
required_date : 2016-03-16
shipped_date : 2016-03-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 123:
order_id : 123
customer_id : 766
order_status : 4
order_date : 2021-03-15
required_date : 2016-03-18
shipped_date : 2016-03-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 124:
order_id : 124
customer_id : 403
order_status : 4
order_date : 2021-03-16
required_date : 2016-03-18
shipped_date : 2016-03-17
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 125:
order_id : 125
customer_id : 685
order_status : 4
order_date : 2021-03-16
required_date : 2016-03-19
shipped_date : 2016-03-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 126:
order_id : 126
customer_id : 1365
order_status : 4
order_date : 2021-03-16
required_date : 2016-03-18
shipped_date : 2016-03-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 127:
order_id : 127
customer_id : 484
order_status : 4
order_date : 2021-03-17
required_date : 2016-03-18
shipped_date : 2016-03-19
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 128:
order_id : 128
customer_id : 86
order_status : 4
order_date : 2021-03-18
required_date : 2016-03-20
shipped_date : 2016-03-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 129:
order_id : 129
customer_id : 84
order_status : 4
order_date : 2021-03-19
required_date : 2016-03-21
shipped_date : 2016-03-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 130:
order_id : 130
customer_id : 1049
order_status : 4
order_date : 2021-03-19
required_date : 2016-03-22
shipped_date : 2016-03-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 131:
order_id : 131
customer_id : 316
order_status : 4
order_date : 2021-03-19
required_date : 2016-03-22
shipped_date : 2016-03-20
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 132:
order_id : 132
customer_id : 46
order_status : 4
order_date : 2021-03-20
required_date : 2016-03-22
shipped_date : 2016-03-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 133:
order_id : 133
customer_id : 409
order_status : 4
order_date : 2021-03-20
required_date : 2016-03-22
shipped_date : 2016-03-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 134:
order_id : 134
customer_id : 679
order_status : 4
order_date : 2021-03-20
required_date : 2016-03-21
shipped_date : 2016-03-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 135:
order_id : 135
customer_id : 1354
order_status : 4
order_date : 2021-03-21
required_date : 2016-03-23
shipped_date : 2016-03-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 136:
order_id : 136
customer_id : 1192
order_status : 4
order_date : 2021-03-21
required_date : 2016-03-24
shipped_date : 2016-03-23
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 137:
order_id : 137
customer_id : 370
order_status : 4
order_date : 2021-03-23
required_date : 2016-03-26
shipped_date : 2016-03-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 138:
order_id : 138
customer_id : 438
order_status : 4
order_date : 2021-03-23
required_date : 2016-03-24
shipped_date : 2016-03-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 139:
order_id : 139
customer_id : 710
order_status : 4
order_date : 2021-03-23
required_date : 2016-03-24
shipped_date : 2016-03-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 140:
order_id : 140
customer_id : 1264
order_status : 4
order_date : 2021-03-23
required_date : 2016-03-26
shipped_date : 2016-03-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 141:
order_id : 141
customer_id : 557
order_status : 4
order_date : 2021-03-25
required_date : 2016-03-27
shipped_date : 2016-03-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 142:
order_id : 142
customer_id : 170
order_status : 4
order_date : 2021-03-26
required_date : 2016-03-27
shipped_date : 2016-03-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 143:
order_id : 143
customer_id : 693
order_status : 4
order_date : 2021-03-26
required_date : 2016-03-28
shipped_date : 2016-03-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 144:
order_id : 144
customer_id : 1124
order_status : 4
order_date : 2021-03-26
required_date : 2016-03-29
shipped_date : 2016-03-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 145:
order_id : 145
customer_id : 366
order_status : 4
order_date : 2021-03-27
required_date : 2016-03-29
shipped_date : 2016-03-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 146:
order_id : 146
customer_id : 288
order_status : 4
order_date : 2021-03-28
required_date : 2016-03-30
shipped_date : 2016-03-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 147:
order_id : 147
customer_id : 55
order_status : 4
order_date : 2021-03-28
required_date : 2016-03-31
shipped_date : 2016-03-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 148:
order_id : 148
customer_id : 714
order_status : 4
order_date : 2021-03-28
required_date : 2016-03-30
shipped_date : 2016-03-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 149:
order_id : 149
customer_id : 763
order_status : 4
order_date : 2021-03-28
required_date : 2016-03-30
shipped_date : 2016-03-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 150:
order_id : 150
customer_id : 332
order_status : 4
order_date : 2021-03-29
required_date : 2016-03-31
shipped_date : 2016-04-01
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 151:
order_id : 151
customer_id : 926
order_status : 4
order_date : 2021-03-29
required_date : 2016-04-01
shipped_date : 2016-03-31
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 152:
order_id : 152
customer_id : 76
order_status : 4
order_date : 2021-03-29
required_date : 2016-03-30
shipped_date : 2016-03-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 153:
order_id : 153
customer_id : 498
order_status : 4
order_date : 2021-03-30
required_date : 2016-04-02
shipped_date : 2016-04-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 154:
order_id : 154
customer_id : 1286
order_status : 4
order_date : 2021-03-31
required_date : 2016-04-01
shipped_date : 2016-04-01
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 155:
order_id : 155
customer_id : 371
order_status : 4
order_date : 2021-04-02
required_date : 2016-04-03
shipped_date : 2016-04-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 156:
order_id : 156
customer_id : 357
order_status : 4
order_date : 2021-04-03
required_date : 2016-04-06
shipped_date : 2016-04-05
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 157:
order_id : 157
customer_id : 43
order_status : 4
order_date : 2021-04-03
required_date : 2016-04-06
shipped_date : 2016-04-06
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 158:
order_id : 158
customer_id : 117
order_status : 3
order_date : 2021-04-04
required_date : 2016-04-04
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 159:
order_id : 159
customer_id : 32
order_status : 4
order_date : 2021-04-04
required_date : 2016-04-06
shipped_date : 2016-04-06
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 160:
order_id : 160
customer_id : 205
order_status : 4
order_date : 2021-04-04
required_date : 2016-04-06
shipped_date : 2016-04-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 161:
order_id : 161
customer_id : 251
order_status : 4
order_date : 2021-04-04
required_date : 2016-04-07
shipped_date : 2016-04-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 162:
order_id : 162
customer_id : 31
order_status : 4
order_date : 2021-04-06
required_date : 2016-04-08
shipped_date : 2016-04-07
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 163:
order_id : 163
customer_id : 1325
order_status : 4
order_date : 2021-04-06
required_date : 2016-04-07
shipped_date : 2016-04-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 164:
order_id : 164
customer_id : 610
order_status : 4
order_date : 2021-04-07
required_date : 2016-04-08
shipped_date : 2016-04-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 165:
order_id : 165
customer_id : 574
order_status : 4
order_date : 2021-04-08
required_date : 2016-04-10
shipped_date : 2016-04-10
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 166:
order_id : 166
customer_id : 338
order_status : 4
order_date : 2021-04-08
required_date : 2016-04-11
shipped_date : 2016-04-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 167:
order_id : 167
customer_id : 1034
order_status : 4
order_date : 2021-04-08
required_date : 2016-04-09
shipped_date : 2016-04-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 168:
order_id : 168
customer_id : 1147
order_status : 4
order_date : 2021-04-09
required_date : 2016-04-12
shipped_date : 2016-04-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 169:
order_id : 169
customer_id : 99
order_status : 4
order_date : 2021-04-10
required_date : 2016-04-11
shipped_date : 2016-04-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 170:
order_id : 170
customer_id : 1200
order_status : 4
order_date : 2021-04-10
required_date : 2016-04-11
shipped_date : 2016-04-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 171:
order_id : 171
customer_id : 237
order_status : 4
order_date : 2021-04-11
required_date : 2016-04-14
shipped_date : 2016-04-14
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 172:
order_id : 172
customer_id : 1079
order_status : 4
order_date : 2021-04-11
required_date : 2016-04-12
shipped_date : 2016-04-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 173:
order_id : 173
customer_id : 117
order_status : 4
order_date : 2021-04-11
required_date : 2016-04-14
shipped_date : 2016-04-13
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 174:
order_id : 174
customer_id : 1361
order_status : 4
order_date : 2021-04-12
required_date : 2016-04-13
shipped_date : 2016-04-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 175:
order_id : 175
customer_id : 951
order_status : 4
order_date : 2021-04-13
required_date : 2016-04-14
shipped_date : 2016-04-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 176:
order_id : 176
customer_id : 643
order_status : 4
order_date : 2021-04-15
required_date : 2016-04-16
shipped_date : 2016-04-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 177:
order_id : 177
customer_id : 121
order_status : 4
order_date : 2021-04-16
required_date : 2016-04-19
shipped_date : 2016-04-19
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 178:
order_id : 178
customer_id : 756
order_status : 4
order_date : 2021-04-16
required_date : 2016-04-17
shipped_date : 2016-04-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 179:
order_id : 179
customer_id : 616
order_status : 4
order_date : 2021-04-17
required_date : 2016-04-19
shipped_date : 2016-04-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 180:
order_id : 180
customer_id : 918
order_status : 4
order_date : 2021-04-17
required_date : 2016-04-20
shipped_date : 2016-04-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 181:
order_id : 181
customer_id : 459
order_status : 4
order_date : 2021-04-18
required_date : 2016-04-20
shipped_date : 2016-04-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 182:
order_id : 182
customer_id : 854
order_status : 4
order_date : 2021-04-18
required_date : 2016-04-19
shipped_date : 2016-04-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 183:
order_id : 183
customer_id : 22
order_status : 4
order_date : 2021-04-19
required_date : 2016-04-20
shipped_date : 2016-04-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 184:
order_id : 184
customer_id : 134
order_status : 4
order_date : 2021-04-19
required_date : 2016-04-21
shipped_date : 2016-04-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 185:
order_id : 185
customer_id : 24
order_status : 3
order_date : 2021-04-20
required_date : 2016-04-20
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 186:
order_id : 186
customer_id : 1127
order_status : 4
order_date : 2021-04-21
required_date : 2016-04-22
shipped_date : 2016-04-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 187:
order_id : 187
customer_id : 183
order_status : 4
order_date : 2021-04-22
required_date : 2016-04-23
shipped_date : 2016-04-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 188:
order_id : 188
customer_id : 390
order_status : 4
order_date : 2021-04-22
required_date : 2016-04-23
shipped_date : 2016-04-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 189:
order_id : 189
customer_id : 1288
order_status : 4
order_date : 2021-04-23
required_date : 2016-04-24
shipped_date : 2016-04-26
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 190:
order_id : 190
customer_id : 98
order_status : 4
order_date : 2021-04-23
required_date : 2016-04-25
shipped_date : 2016-04-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 191:
order_id : 191
customer_id : 919
order_status : 4
order_date : 2021-04-27
required_date : 2016-04-28
shipped_date : 2016-04-28
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 192:
order_id : 192
customer_id : 728
order_status : 4
order_date : 2021-04-27
required_date : 2016-04-28
shipped_date : 2016-04-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 193:
order_id : 193
customer_id : 1366
order_status : 4
order_date : 2021-04-28
required_date : 2016-04-30
shipped_date : 2016-04-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 194:
order_id : 194
customer_id : 558
order_status : 4
order_date : 2021-04-28
required_date : 2016-04-30
shipped_date : 2016-05-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 195:
order_id : 195
customer_id : 727
order_status : 4
order_date : 2021-04-28
required_date : 2016-05-01
shipped_date : 2016-05-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 196:
order_id : 196
customer_id : 1247
order_status : 4
order_date : 2021-04-28
required_date : 2016-04-30
shipped_date : 2016-05-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 197:
order_id : 197
customer_id : 127
order_status : 4
order_date : 2021-04-30
required_date : 2016-05-03
shipped_date : 2016-05-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 198:
order_id : 198
customer_id : 640
order_status : 4
order_date : 2021-05-01
required_date : 2016-05-04
shipped_date : 2016-05-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 199:
order_id : 199
customer_id : 760
order_status : 4
order_date : 2021-05-01
required_date : 2016-05-04
shipped_date : 2016-05-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 200:
order_id : 200
customer_id : 1074
order_status : 4
order_date : 2021-05-01
required_date : 2016-05-03
shipped_date : 2016-05-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 201:
order_id : 201
customer_id : 280
order_status : 4
order_date : 2021-05-01
required_date : 2016-05-04
shipped_date : 2016-05-02
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 202:
order_id : 202
customer_id : 600
order_status : 4
order_date : 2021-05-03
required_date : 2016-05-05
shipped_date : 2016-05-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 203:
order_id : 203
customer_id : 1102
order_status : 4
order_date : 2021-05-03
required_date : 2016-05-05
shipped_date : 2016-05-06
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 204:
order_id : 204
customer_id : 591
order_status : 4
order_date : 2021-05-04
required_date : 2016-05-07
shipped_date : 2016-05-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 205:
order_id : 205
customer_id : 635
order_status : 4
order_date : 2021-05-04
required_date : 2016-05-05
shipped_date : 2016-05-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 206:
order_id : 206
customer_id : 743
order_status : 4
order_date : 2021-05-04
required_date : 2016-05-06
shipped_date : 2016-05-05
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 207:
order_id : 207
customer_id : 105
order_status : 4
order_date : 2021-05-05
required_date : 2016-05-07
shipped_date : 2016-05-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 208:
order_id : 208
customer_id : 815
order_status : 4
order_date : 2021-05-06
required_date : 2016-05-07
shipped_date : 2016-05-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 209:
order_id : 209
customer_id : 514
order_status : 4
order_date : 2021-05-07
required_date : 2016-05-08
shipped_date : 2016-05-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 210:
order_id : 210
customer_id : 943
order_status : 4
order_date : 2021-05-07
required_date : 2016-05-08
shipped_date : 2016-05-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 211:
order_id : 211
customer_id : 1140
order_status : 4
order_date : 2021-05-07
required_date : 2016-05-09
shipped_date : 2016-05-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 212:
order_id : 212
customer_id : 1373
order_status : 4
order_date : 2021-05-08
required_date : 2016-05-09
shipped_date : 2016-05-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 213:
order_id : 213
customer_id : 788
order_status : 4
order_date : 2021-05-08
required_date : 2016-05-09
shipped_date : 2016-05-09
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 214:
order_id : 214
customer_id : 363
order_status : 4
order_date : 2021-05-10
required_date : 2016-05-12
shipped_date : 2016-05-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 215:
order_id : 215
customer_id : 1420
order_status : 4
order_date : 2021-05-10
required_date : 2016-05-13
shipped_date : 2016-05-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 216:
order_id : 216
customer_id : 267
order_status : 4
order_date : 2021-05-11
required_date : 2016-05-14
shipped_date : 2016-05-13
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 217:
order_id : 217
customer_id : 716
order_status : 4
order_date : 2021-05-11
required_date : 2016-05-12
shipped_date : 2016-05-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 218:
order_id : 218
customer_id : 1179
order_status : 4
order_date : 2021-05-12
required_date : 2016-05-14
shipped_date : 2016-05-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 219:
order_id : 219
customer_id : 1338
order_status : 4
order_date : 2021-05-12
required_date : 2016-05-15
shipped_date : 2016-05-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 220:
order_id : 220
customer_id : 1358
order_status : 4
order_date : 2021-05-12
required_date : 2016-05-14
shipped_date : 2016-05-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 221:
order_id : 221
customer_id : 1218
order_status : 4
order_date : 2021-05-13
required_date : 2016-05-16
shipped_date : 2016-05-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 222:
order_id : 222
customer_id : 51
order_status : 4
order_date : 2021-05-13
required_date : 2016-05-16
shipped_date : 2016-05-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 223:
order_id : 223
customer_id : 1368
order_status : 4
order_date : 2021-05-15
required_date : 2016-05-16
shipped_date : 2016-05-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 224:
order_id : 224
customer_id : 157
order_status : 4
order_date : 2021-05-17
required_date : 2016-05-18
shipped_date : 2016-05-19
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 225:
order_id : 225
customer_id : 307
order_status : 4
order_date : 2021-05-17
required_date : 2016-05-20
shipped_date : 2016-05-19
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 226:
order_id : 226
customer_id : 501
order_status : 4
order_date : 2021-05-17
required_date : 2016-05-19
shipped_date : 2016-05-20
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 227:
order_id : 227
customer_id : 489
order_status : 4
order_date : 2021-05-17
required_date : 2016-05-18
shipped_date : 2016-05-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 228:
order_id : 228
customer_id : 615
order_status : 4
order_date : 2021-05-17
required_date : 2016-05-20
shipped_date : 2016-05-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 229:
order_id : 229
customer_id : 742
order_status : 4
order_date : 2021-05-19
required_date : 2016-05-21
shipped_date : 2016-05-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 230:
order_id : 230
customer_id : 1167
order_status : 4
order_date : 2021-05-19
required_date : 2016-05-20
shipped_date : 2016-05-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 231:
order_id : 231
customer_id : 1257
order_status : 4
order_date : 2021-05-19
required_date : 2016-05-22
shipped_date : 2016-05-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 232:
order_id : 232
customer_id : 1360
order_status : 4
order_date : 2021-05-20
required_date : 2016-05-23
shipped_date : 2016-05-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 233:
order_id : 233
customer_id : 737
order_status : 4
order_date : 2021-05-21
required_date : 2016-05-22
shipped_date : 2016-05-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 234:
order_id : 234
customer_id : 1435
order_status : 4
order_date : 2021-05-22
required_date : 2016-05-24
shipped_date : 2016-05-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 235:
order_id : 235
customer_id : 649
order_status : 4
order_date : 2021-05-24
required_date : 2016-05-25
shipped_date : 2016-05-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 236:
order_id : 236
customer_id : 206
order_status : 4
order_date : 2021-05-25
required_date : 2016-05-27
shipped_date : 2016-05-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 237:
order_id : 237
customer_id : 1351
order_status : 4
order_date : 2021-05-25
required_date : 2016-05-26
shipped_date : 2016-05-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 238:
order_id : 238
customer_id : 1350
order_status : 4
order_date : 2021-05-26
required_date : 2016-05-29
shipped_date : 2016-05-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 239:
order_id : 239
customer_id : 13
order_status : 3
order_date : 2021-05-27
required_date : 2016-05-27
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 240:
order_id : 240
customer_id : 65
order_status : 4
order_date : 2021-05-27
required_date : 2016-05-29
shipped_date : 2016-05-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 241:
order_id : 241
customer_id : 1082
order_status : 4
order_date : 2021-05-27
required_date : 2016-05-29
shipped_date : 2016-05-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 242:
order_id : 242
customer_id : 1168
order_status : 4
order_date : 2021-05-27
required_date : 2016-05-30
shipped_date : 2016-05-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 243:
order_id : 243
customer_id : 802
order_status : 4
order_date : 2021-05-27
required_date : 2016-05-30
shipped_date : 2016-05-28
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 244:
order_id : 244
customer_id : 956
order_status : 4
order_date : 2021-05-28
required_date : 2016-05-29
shipped_date : 2016-05-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 245:
order_id : 245
customer_id : 223
order_status : 4
order_date : 2021-05-29
required_date : 2016-05-31
shipped_date : 2016-05-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 246:
order_id : 246
customer_id : 17
order_status : 3
order_date : 2021-05-30
required_date : 2016-05-30
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 247:
order_id : 247
customer_id : 928
order_status : 4
order_date : 2021-05-30
required_date : 2016-06-01
shipped_date : 2016-06-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 248:
order_id : 248
customer_id : 1376
order_status : 4
order_date : 2021-05-30
required_date : 2016-06-01
shipped_date : 2016-05-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 249:
order_id : 249
customer_id : 145
order_status : 4
order_date : 2021-06-01
required_date : 2016-06-04
shipped_date : 2016-06-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 250:
order_id : 250
customer_id : 150
order_status : 4
order_date : 2021-06-01
required_date : 2016-06-02
shipped_date : 2016-06-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 251:
order_id : 251
customer_id : 851
order_status : 4
order_date : 2021-06-01
required_date : 2016-06-04
shipped_date : 2016-06-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 252:
order_id : 252
customer_id : 66
order_status : 4
order_date : 2021-06-01
required_date : 2016-06-04
shipped_date : 2016-06-02
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 253:
order_id : 253
customer_id : 1267
order_status : 4
order_date : 2021-06-02
required_date : 2016-06-05
shipped_date : 2016-06-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 254:
order_id : 254
customer_id : 510
order_status : 4
order_date : 2021-06-03
required_date : 2016-06-06
shipped_date : 2016-06-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 255:
order_id : 255
customer_id : 801
order_status : 4
order_date : 2021-06-03
required_date : 2016-06-06
shipped_date : 2016-06-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 256:
order_id : 256
customer_id : 26
order_status : 4
order_date : 2021-06-04
required_date : 2016-06-05

shipped_date : 2016-06-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 257:
order_id : 257
customer_id : 1314
order_status : 4
order_date : 2021-06-05
required_date : 2016-06-06
shipped_date : 2016-06-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 258:
order_id : 258
customer_id : 107
order_status : 4
order_date : 2021-06-06
required_date : 2016-06-07
shipped_date : 2016-06-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 259:
order_id : 259
customer_id : 413
order_status : 4
order_date : 2021-06-06
required_date : 2016-06-09
shipped_date : 2016-06-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 260:
order_id : 260
customer_id : 632
order_status : 4
order_date : 2021-06-06
required_date : 2016-06-08
shipped_date : 2016-06-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 261:
order_id : 261
customer_id : 1045
order_status : 4
order_date : 2021-06-08
required_date : 2016-06-10
shipped_date : 2016-06-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 262:
order_id : 262
customer_id : 579
order_status : 4
order_date : 2021-06-08
required_date : 2016-06-11
shipped_date : 2016-06-10
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 263:
order_id : 263
customer_id : 1322
order_status : 4
order_date : 2021-06-09
required_date : 2016-06-10
shipped_date : 2016-06-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 264:
order_id : 264
customer_id : 5
order_status : 3
order_date : 2021-06-10
required_date : 2016-06-10
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 265:
order_id : 265
customer_id : 682
order_status : 4
order_date : 2021-06-10
required_date : 2016-06-12
shipped_date : 2016-06-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 266:
order_id : 266
customer_id : 933
order_status : 4
order_date : 2021-06-10
required_date : 2016-06-13
shipped_date : 2016-06-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 267:
order_id : 267
customer_id : 282
order_status : 4
order_date : 2021-06-11
required_date : 2016-06-14
shipped_date : 2016-06-14
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 268:
order_id : 268
customer_id : 540
order_status : 4
order_date : 2021-06-11
required_date : 2016-06-14
shipped_date : 2016-06-12
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 269:
order_id : 269
customer_id : 764
order_status : 4
order_date : 2021-06-12
required_date : 2016-06-13
shipped_date : 2016-06-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 270:
order_id : 270
customer_id : 879
order_status : 4
order_date : 2021-06-12
required_date : 2016-06-15
shipped_date : 2016-06-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 271:
order_id : 271
customer_id : 350
order_status : 4
order_date : 2021-06-13
required_date : 2016-06-16
shipped_date : 2016-06-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 272:
order_id : 272
customer_id : 497
order_status : 4
order_date : 2021-06-15
required_date : 2016-06-18
shipped_date : 2016-06-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 273:
order_id : 273
customer_id : 1340
order_status : 4
order_date : 2021-06-16
required_date : 2016-06-19
shipped_date : 2016-06-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 274:
order_id : 274
customer_id : 411
order_status : 4
order_date : 2021-06-17
required_date : 2016-06-20
shipped_date : 2016-06-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 275:
order_id : 275
customer_id : 1341
order_status : 4
order_date : 2021-06-17
required_date : 2016-06-19
shipped_date : 2016-06-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 276:
order_id : 276
customer_id : 1227
order_status : 4
order_date : 2021-06-18
required_date : 2016-06-19
shipped_date : 2016-06-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 277:
order_id : 277
customer_id : 546
order_status : 4
order_date : 2021-06-19
required_date : 2016-06-20
shipped_date : 2016-06-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 278:
order_id : 278
customer_id : 1301
order_status : 4
order_date : 2021-06-20
required_date : 2016-06-23
shipped_date : 2016-06-21
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 279:
order_id : 279
customer_id : 378
order_status : 4
order_date : 2021-06-21
required_date : 2016-06-22
shipped_date : 2016-06-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 280:
order_id : 280
customer_id : 638
order_status : 4
order_date : 2021-06-21
required_date : 2016-06-22
shipped_date : 2016-06-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 281:
order_id : 281
customer_id : 800
order_status : 4
order_date : 2021-06-21
required_date : 2016-06-22
shipped_date : 2016-06-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 282:
order_id : 282
customer_id : 159
order_status : 4
order_date : 2021-06-22
required_date : 2016-06-25
shipped_date : 2016-06-25
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 283:
order_id : 283
customer_id : 181
order_status : 4
order_date : 2021-06-23
required_date : 2016-06-26
shipped_date : 2016-06-26
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 284:
order_id : 284
customer_id : 1356
order_status : 4
order_date : 2021-06-23
required_date : 2016-06-25
shipped_date : 2016-06-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 285:
order_id : 285
customer_id : 319
order_status : 4
order_date : 2021-06-25
required_date : 2016-06-26
shipped_date : 2016-06-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 286:
order_id : 286
customer_id : 59
order_status : 4
order_date : 2021-06-25
required_date : 2016-06-26
shipped_date : 2016-06-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 287:
order_id : 287
customer_id : 133
order_status : 4
order_date : 2021-06-25
required_date : 2016-06-26
shipped_date : 2016-06-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 288:
order_id : 288
customer_id : 780
order_status : 4
order_date : 2021-06-25
required_date : 2016-06-28
shipped_date : 2016-06-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 289:
order_id : 289
customer_id : 849
order_status : 4
order_date : 2021-06-27
required_date : 2016-06-28
shipped_date : 2016-06-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 290:
order_id : 290
customer_id : 202
order_status : 4
order_date : 2021-06-28
required_date : 2016-06-29
shipped_date : 2016-06-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 291:
order_id : 291
customer_id : 158
order_status : 4
order_date : 2021-06-29
required_date : 2016-06-30
shipped_date : 2016-07-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 292:
order_id : 292
customer_id : 360
order_status : 4
order_date : 2021-06-29
required_date : 2016-06-30
shipped_date : 2016-07-02
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 293:
order_id : 293
customer_id : 573
order_status : 4
order_date : 2021-06-30
required_date : 2016-07-03
shipped_date : 2016-07-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 294:
order_id : 294
customer_id : 732
order_status : 4
order_date : 2021-07-01
required_date : 2016-07-02
shipped_date : 2016-07-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 295:
order_id : 295
customer_id : 1130
order_status : 4
order_date : 2021-07-01
required_date : 2016-07-04
shipped_date : 2016-07-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 296:
order_id : 296
customer_id : 1245
order_status : 4
order_date : 2021-07-04
required_date : 2016-07-07
shipped_date : 2016-07-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 297:
order_id : 297
customer_id : 1425
order_status : 4
order_date : 2021-07-04
required_date : 2016-07-05
shipped_date : 2016-07-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 298:
order_id : 298
customer_id : 885
order_status : 4
order_date : 2021-07-04
required_date : 2016-07-07
shipped_date : 2016-07-07
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 299:
order_id : 299
customer_id : 281
order_status : 4
order_date : 2021-07-05
required_date : 2016-07-06
shipped_date : 2016-07-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 300:
order_id : 300
customer_id : 1205
order_status : 4
order_date : 2021-07-05
required_date : 2016-07-08
shipped_date : 2016-07-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 301:
order_id : 301
customer_id : 17
order_status : 4
order_date : 2021-07-06
required_date : 2016-07-09
shipped_date : 2016-07-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 302:
order_id : 302
customer_id : 1375
order_status : 4
order_date : 2021-07-06
required_date : 2016-07-07
shipped_date : 2016-07-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 303:
order_id : 303
customer_id : 36
order_status : 4
order_date : 2021-07-07
required_date : 2016-07-08
shipped_date : 2016-07-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 304:
order_id : 304
customer_id : 230
order_status : 4
order_date : 2021-07-07
required_date : 2016-07-08
shipped_date : 2016-07-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 305:
order_id : 305
customer_id : 705
order_status : 4
order_date : 2021-07-07
required_date : 2016-07-08
shipped_date : 2016-07-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 306:
order_id : 306
customer_id : 424
order_status : 4
order_date : 2021-07-09
required_date : 2016-07-10
shipped_date : 2016-07-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 307:
order_id : 307
customer_id : 695
order_status : 4
order_date : 2021-07-09
required_date : 2016-07-11
shipped_date : 2016-07-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 308:
order_id : 308
customer_id : 156
order_status : 4
order_date : 2021-07-11
required_date : 2016-07-12
shipped_date : 2016-07-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 309:
order_id : 309
customer_id : 211
order_status : 4
order_date : 2021-07-11
required_date : 2016-07-13
shipped_date : 2016-07-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 310:
order_id : 310
customer_id : 627
order_status : 4
order_date : 2021-07-12
required_date : 2016-07-13
shipped_date : 2016-07-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 311:
order_id : 311
customer_id : 1400
order_status : 4
order_date : 2021-07-12
required_date : 2016-07-14
shipped_date : 2016-07-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 312:
order_id : 312

customer_id : 299
order_status : 4
order_date : 2021-07-13
required_date : 2016-07-15
shipped_date : 2016-07-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 313:
order_id : 313
customer_id : 565
order_status : 4
order_date : 2021-07-14
required_date : 2016-07-15
shipped_date : 2016-07-15
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 314:
order_id : 314
customer_id : 1019
order_status : 4
order_date : 2021-07-15
required_date : 2016-07-17
shipped_date : 2016-07-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 315:
order_id : 315
customer_id : 1263
order_status : 4
order_date : 2021-07-16
required_date : 2016-07-19
shipped_date : 2016-07-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 316:
order_id : 316
customer_id : 670
order_status : 4
order_date : 2021-07-17
required_date : 2016-07-20
shipped_date : 2016-07-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 317:
order_id : 317
customer_id : 795
order_status : 4
order_date : 2021-07-17
required_date : 2016-07-20
shipped_date : 2016-07-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 318:
order_id : 318
customer_id : 1141
order_status : 4
order_date : 2021-07-17
required_date : 2016-07-19
shipped_date : 2016-07-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 319:
order_id : 319
customer_id : 941
order_status : 4
order_date : 2021-07-18
required_date : 2016-07-21
shipped_date : 2016-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 320:
order_id : 320
customer_id : 1428
order_status : 4
order_date : 2021-07-19
required_date : 2016-07-20
shipped_date : 2016-07-21
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 321:
order_id : 321
customer_id : 568
order_status : 4
order_date : 2021-07-19
required_date : 2016-07-22
shipped_date : 2016-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 322:
order_id : 322
customer_id : 924
order_status : 4
order_date : 2021-07-19
required_date : 2016-07-22
shipped_date : 2016-07-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 323:
order_id : 323
customer_id : 1243
order_status : 4
order_date : 2021-07-19
required_date : 2016-07-22
shipped_date : 2016-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 324:
order_id : 324
customer_id : 480
order_status : 4
order_date : 2021-07-20
required_date : 2016-07-22
shipped_date : 2016-07-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 325:
order_id : 325
customer_id : 848
order_status : 4
order_date : 2021-07-20
required_date : 2016-07-21
shipped_date : 2016-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 326:
order_id : 326
customer_id : 1337
order_status : 4
order_date : 2021-07-20
required_date : 2016-07-21
shipped_date : 2016-07-22
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 327:
order_id : 327
customer_id : 83
order_status : 4
order_date : 2021-07-21
required_date : 2016-07-24
shipped_date : 2016-07-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 328:
order_id : 328
customer_id : 528
order_status : 4
order_date : 2021-07-23
required_date : 2016-07-26
shipped_date : 2016-07-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 329:
order_id : 329
customer_id : 274
order_status : 4
order_date : 2021-07-24
required_date : 2016-07-27
shipped_date : 2016-07-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 330:
order_id : 330
customer_id : 622
order_status : 4
order_date : 2021-07-24
required_date : 2016-07-27
shipped_date : 2016-07-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 331:
order_id : 331
customer_id : 642
order_status : 4
order_date : 2021-07-24
required_date : 2016-07-26
shipped_date : 2016-07-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 332:
order_id : 332
customer_id : 659
order_status : 4
order_date : 2021-07-24
required_date : 2016-07-26
shipped_date : 2016-07-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 333:
order_id : 333
customer_id : 779
order_status : 4
order_date : 2021-07-25
required_date : 2016-07-27
shipped_date : 2016-07-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 334:
order_id : 334
customer_id : 1112
order_status : 4
order_date : 2021-07-25
required_date : 2016-07-28
shipped_date : 2016-07-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 335:
order_id : 335
customer_id : 1193
order_status : 4
order_date : 2021-07-25
required_date : 2016-07-27
shipped_date : 2016-07-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 336:
order_id : 336
customer_id : 1030
order_status : 4
order_date : 2021-07-26
required_date : 2016-07-29
shipped_date : 2016-07-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 337:
order_id : 337
customer_id : 1252
order_status : 4
order_date : 2021-07-26
required_date : 2016-07-27
shipped_date : 2016-07-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 338:
order_id : 338
customer_id : 1333
order_status : 4
order_date : 2021-07-28
required_date : 2016-07-29
shipped_date : 2016-07-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 339:
order_id : 339
customer_id : 1110
order_status : 4
order_date : 2021-07-28
required_date : 2016-07-31
shipped_date : 2016-07-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 340:
order_id : 340
customer_id : 963
order_status : 4
order_date : 2021-07-29
required_date : 2016-07-30
shipped_date : 2016-07-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 341:
order_id : 341
customer_id : 1357
order_status : 4
order_date : 2021-07-31
required_date : 2016-08-03
shipped_date : 2016-08-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 342:
order_id : 342
customer_id : 806
order_status : 4
order_date : 2021-07-31
required_date : 2016-08-01
shipped_date : 2016-08-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 343:
order_id : 343
customer_id : 961
order_status : 4
order_date : 2021-07-31
required_date : 2016-08-02
shipped_date : 2016-08-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 344:
order_id : 344
customer_id : 750
order_status : 4
order_date : 2021-08-01
required_date : 2016-08-03
shipped_date : 2016-08-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 345:
order_id : 345
customer_id : 1299
order_status : 4
order_date : 2021-08-01
required_date : 2016-08-04
shipped_date : 2016-08-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 346:
order_id : 346
customer_id : 584
order_status : 4
order_date : 2021-08-01
required_date : 2016-08-03
shipped_date : 2016-08-02
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 347:
order_id : 347
customer_id : 1004
order_status : 4
order_date : 2021-08-02
required_date : 2016-08-03
shipped_date : 2016-08-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 348:
order_id : 348
customer_id : 907
order_status : 4
order_date : 2021-08-02
required_date : 2016-08-05
shipped_date : 2016-08-04
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 349:
order_id : 349
customer_id : 30
order_status : 3
order_date : 2021-08-03
required_date : 2016-08-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 350:
order_id : 350
customer_id : 31
order_status : 3
order_date : 2021-08-03
required_date : 2016-08-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 351:
order_id : 351
customer_id : 1307
order_status : 4
order_date : 2021-08-03
required_date : 2016-08-06
shipped_date : 2016-08-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 352:
order_id : 352
customer_id : 16
order_status : 4
order_date : 2021-08-03
required_date : 2016-08-04
shipped_date : 2016-08-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 353:
order_id : 353
customer_id : 1387
order_status : 4
order_date : 2021-08-03
required_date : 2016-08-06
shipped_date : 2016-08-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 354:
order_id : 354
customer_id : 551
order_status : 4
order_date : 2021-08-03
required_date : 2016-08-05
shipped_date : 2016-08-06
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 355:
order_id : 355
customer_id : 1011
order_status : 4
order_date : 2021-08-03
required_date : 2016-08-05
shipped_date : 2016-08-05
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 356:
order_id : 356
customer_id : 1189
order_status : 4
order_date : 2021-08-04
required_date : 2016-08-07
shipped_date : 2016-08-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 357:
order_id : 357
customer_id : 14
order_status : 3
order_date : 2021-08-05
required_date : 2016-08-05
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 358:
order_id : 358
customer_id : 1042
order_status : 4
order_date : 2021-08-05
required_date : 2016-08-07
shipped_date : 2016-08-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 359:
order_id : 359
customer_id : 441
order_status : 4
order_date : 2021-08-07
required_date : 2016-08-10
shipped_date : 2016-08-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 360:
order_id : 360
customer_id : 1300
order_status : 4
order_date : 2021-08-07
required_date : 2016-08-09
shipped_date : 2016-08-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 361:
order_id : 361
customer_id : 994
order_status : 4
order_date : 2021-08-08
required_date : 2016-08-09
shipped_date : 2016-08-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 362:
order_id : 362
customer_id : 187
order_status : 4
order_date : 2021-08-09
required_date : 2016-08-11
shipped_date : 2016-08-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 363:
order_id : 363
customer_id : 834
order_status : 4
order_date : 2021-08-11
required_date : 2016-08-12
shipped_date : 2016-08-13
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 364:
order_id : 364
customer_id : 373
order_status : 4
order_date : 2021-08-12
required_date : 2016-08-14
shipped_date : 2016-08-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 365:
order_id : 365
customer_id : 981
order_status : 4
order_date : 2021-08-13
required_date : 2016-08-14
shipped_date : 2016-08-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 366:
order_id : 366
customer_id : 1054
order_status : 4
order_date : 2021-08-13
required_date : 2016-08-14
shipped_date : 2016-08-14
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 367:
order_id : 367
customer_id : 527
order_status : 4
order_date : 2021-08-14
required_date : 2016-08-15
shipped_date : 2016-08-15

store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 368:
order_id : 368
customer_id : 995
order_status : 4
order_date : 2021-08-14
required_date : 2016-08-15
shipped_date : 2016-08-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 369:
order_id : 369
customer_id : 1285
order_status : 4
order_date : 2021-08-15
required_date : 2016-08-18
shipped_date : 2016-08-18
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 370:
order_id : 370
customer_id : 758
order_status : 4
order_date : 2021-08-15
required_date : 2016-08-18
shipped_date : 2016-08-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 371:
order_id : 371
customer_id : 891
order_status : 4
order_date : 2021-08-15
required_date : 2016-08-16
shipped_date : 2016-08-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 372:
order_id : 372
customer_id : 132
order_status : 4
order_date : 2021-08-16
required_date : 2016-08-18
shipped_date : 2016-08-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 373:
order_id : 373
customer_id : 337
order_status : 4
order_date : 2021-08-16
required_date : 2016-08-19
shipped_date : 2016-08-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 374:
order_id : 374
customer_id : 1313
order_status : 4
order_date : 2021-08-17
required_date : 2016-08-19
shipped_date : 2016-08-18
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 375:
order_id : 375
customer_id : 536
order_status : 4
order_date : 2021-08-17
required_date : 2016-08-20
shipped_date : 2016-08-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 376:
order_id : 376
customer_id : 825
order_status : 4
order_date : 2021-08-17
required_date : 2016-08-19
shipped_date : 2016-08-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 377:
order_id : 377
customer_id : 1355
order_status : 4
order_date : 2021-08-17
required_date : 2016-08-19
shipped_date : 2016-08-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 378:
order_id : 378
customer_id : 475
order_status : 4
order_date : 2021-08-17
required_date : 2016-08-20
shipped_date : 2016-08-20
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 379:
order_id : 379
customer_id : 954
order_status : 4
order_date : 2021-08-18
required_date : 2016-08-21
shipped_date : 2016-08-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 380:
order_id : 380
customer_id : 1156
order_status : 4
order_date : 2021-08-19
required_date : 2016-08-20
shipped_date : 2016-08-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 381:
order_id : 381
customer_id : 1297
order_status : 4
order_date : 2021-08-19
required_date : 2016-08-21
shipped_date : 2016-08-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 382:
order_id : 382
customer_id : 199
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-23
shipped_date : 2016-08-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 383:
order_id : 383
customer_id : 331
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-23
shipped_date : 2016-08-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 384:
order_id : 384
customer_id : 410
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-22
shipped_date : 2016-08-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 385:
order_id : 385
customer_id : 1274
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-23
shipped_date : 2016-08-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 386:
order_id : 386
customer_id : 1362
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-23
shipped_date : 2016-08-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 387:
order_id : 387
customer_id : 451
order_status : 4
order_date : 2021-08-20
required_date : 2016-08-21
shipped_date : 2016-08-21
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 388:
order_id : 388
customer_id : 1080
order_status : 4
order_date : 2021-08-21
required_date : 2016-08-24
shipped_date : 2016-08-23
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 389:
order_id : 389
customer_id : 53
order_status : 4
order_date : 2021-08-22
required_date : 2016-08-24
shipped_date : 2016-08-25
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 390:
order_id : 390
customer_id : 576
order_status : 4
order_date : 2021-08-22
required_date : 2016-08-24
shipped_date : 2016-08-25
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 391:
order_id : 391
customer_id : 61
order_status : 3
order_date : 2021-08-23
required_date : 2016-08-23
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 392:
order_id : 392
customer_id : 176
order_status : 4
order_date : 2021-08-23
required_date : 2016-08-26
shipped_date : 2016-08-24
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 393:
order_id : 393
customer_id : 368
order_status : 4
order_date : 2021-08-25
required_date : 2016-08-26
shipped_date : 2016-08-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 394:
order_id : 394
customer_id : 522
order_status : 4
order_date : 2021-08-26
required_date : 2016-08-28
shipped_date : 2016-08-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 395:
order_id : 395
customer_id : 144
order_status : 4
order_date : 2021-08-26
required_date : 2016-08-27
shipped_date : 2016-08-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 396:
order_id : 396
customer_id : 542
order_status : 4
order_date : 2021-08-27
required_date : 2016-08-30
shipped_date : 2016-08-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 397:
order_id : 397
customer_id : 1437
order_status : 4
order_date : 2021-08-28
required_date : 2016-08-31
shipped_date : 2016-08-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 398:
order_id : 398
customer_id : 447
order_status : 4
order_date : 2021-08-29
required_date : 2016-08-30
shipped_date : 2016-09-01
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 399:
order_id : 399
customer_id : 1001
order_status : 4
order_date : 2021-08-29
required_date : 2016-09-01
shipped_date : 2016-09-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 400:
order_id : 400
customer_id : 1295
order_status : 4
order_date : 2021-08-29
required_date : 2016-08-30
shipped_date : 2016-08-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 401:
order_id : 401
customer_id : 103
order_status : 4
order_date : 2021-08-30
required_date : 2016-09-02
shipped_date : 2016-09-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 402:
order_id : 402
customer_id : 1335
order_status : 4
order_date : 2021-08-30
required_date : 2016-09-01
shipped_date : 2016-08-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 403:
order_id : 403
customer_id : 578
order_status : 4
order_date : 2021-08-31
required_date : 2016-09-01
shipped_date : 2016-09-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 404:
order_id : 404
customer_id : 396
order_status : 4
order_date : 2021-08-31
required_date : 2016-09-03
shipped_date : 2016-09-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 405:
order_id : 405
customer_id : 603
order_status : 4
order_date : 2021-08-31
required_date : 2016-09-01
shipped_date : 2016-09-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 406:
order_id : 406
customer_id : 1380
order_status : 4
order_date : 2021-08-31
required_date : 2016-09-02
shipped_date : 2016-09-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 407:
order_id : 407
customer_id : 77
order_status : 3
order_date : 2021-09-01
required_date : 2016-09-01
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 408:
order_id : 408
customer_id : 1071
order_status : 4
order_date : 2021-09-01
required_date : 2016-09-02
shipped_date : 2016-09-02
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 409:
order_id : 409
customer_id : 416
order_status : 4
order_date : 2021-09-01
required_date : 2016-09-04
shipped_date : 2016-09-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 410:
order_id : 410
customer_id : 1151
order_status : 4
order_date : 2021-09-01
required_date : 2016-09-03
shipped_date : 2016-09-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 411:
order_id : 411
customer_id : 261
order_status : 4
order_date : 2021-09-02
required_date : 2016-09-04
shipped_date : 2016-09-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 412:
order_id : 412
customer_id : 1202
order_status : 4
order_date : 2021-09-02
required_date : 2016-09-04
shipped_date : 2016-09-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 413:
order_id : 413
customer_id : 717
order_status : 4
order_date : 2021-09-02
required_date : 2016-09-05
shipped_date : 2016-09-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 414:
order_id : 414
customer_id : 917
order_status : 4
order_date : 2021-09-03
required_date : 2016-09-06
shipped_date : 2016-09-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 415:
order_id : 415
customer_id : 1265
order_status : 4
order_date : 2021-09-03
required_date : 2016-09-06
shipped_date : 2016-09-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 416:
order_id : 416
customer_id : 1377
order_status : 4
order_date : 2021-09-03
required_date : 2016-09-04
shipped_date : 2016-09-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 417:
order_id : 417
customer_id : 359
order_status : 4
order_date : 2021-09-04
required_date : 2016-09-05
shipped_date : 2016-09-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 418:
order_id : 418
customer_id : 88
order_status : 4
order_date : 2021-09-04
required_date : 2016-09-05
shipped_date : 2016-09-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 419:
order_id : 419
customer_id : 14
order_status : 4
order_date : 2021-09-04
required_date : 2016-09-07
shipped_date : 2016-09-06
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 420:
order_id : 420
customer_id : 72
order_status : 4
order_date : 2021-09-05
required_date : 2016-09-06
shipped_date : 2016-09-07
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 421:
order_id : 421
customer_id : 240
order_status : 4
order_date : 2021-09-05
required_date : 2016-09-06
shipped_date : 2016-09-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 422:
order_id : 422
customer_id : 398
order_status : 4
order_date : 2021-09-06
required_date : 2016-09-07
shipped_date : 2016-09-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 423:
order_id : 423

customer_id : 1397
order_status : 4
order_date : 2021-09-06
required_date : 2016-09-09
shipped_date : 2016-09-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 424:
order_id : 424
customer_id : 67
order_status : 4
order_date : 2021-09-08
required_date : 2016-09-11
shipped_date : 2016-09-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 425:
order_id : 425
customer_id : 843
order_status : 4
order_date : 2021-09-08
required_date : 2016-09-11
shipped_date : 2016-09-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 426:
order_id : 426
customer_id : 944
order_status : 4
order_date : 2021-09-08
required_date : 2016-09-10
shipped_date : 2016-09-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 427:
order_id : 427
customer_id : 434
order_status : 4
order_date : 2021-09-09
required_date : 2016-09-10
shipped_date : 2016-09-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 428:
order_id : 428
customer_id : 1039
order_status : 4
order_date : 2021-09-09
required_date : 2016-09-12
shipped_date : 2016-09-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 429:
order_id : 429
customer_id : 153
order_status : 4
order_date : 2021-09-10
required_date : 2016-09-12
shipped_date : 2016-09-12
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 430:
order_id : 430
customer_id : 272
order_status : 4
order_date : 2021-09-11
required_date : 2016-09-13
shipped_date : 2016-09-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 431:
order_id : 431
customer_id : 1217
order_status : 4
order_date : 2021-09-11
required_date : 2016-09-12
shipped_date : 2016-09-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 432:
order_id : 432
customer_id : 169
order_status : 4
order_date : 2021-09-12
required_date : 2016-09-15
shipped_date : 2016-09-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 433:
order_id : 433
customer_id : 1062
order_status : 4
order_date : 2021-09-12
required_date : 2016-09-15
shipped_date : 2016-09-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 434:
order_id : 434
customer_id : 726
order_status : 4
order_date : 2021-09-13
required_date : 2016-09-15
shipped_date : 2016-09-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 435:
order_id : 435
customer_id : 77
order_status : 4
order_date : 2021-09-14
required_date : 2016-09-15
shipped_date : 2016-09-16
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 436:
order_id : 436
customer_id : 791
order_status : 4
order_date : 2021-09-16
required_date : 2016-09-19
shipped_date : 2016-09-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 437:
order_id : 437
customer_id : 1085
order_status : 4
order_date : 2021-09-16
required_date : 2016-09-18
shipped_date : 2016-09-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 438:
order_id : 438
customer_id : 314
order_status : 4
order_date : 2021-09-16
required_date : 2016-09-19
shipped_date : 2016-09-18
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 439:
order_id : 439
customer_id : 149
order_status : 4
order_date : 2021-09-17
required_date : 2016-09-20
shipped_date : 2016-09-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 440:
order_id : 440
customer_id : 882
order_status : 4
order_date : 2021-09-17
required_date : 2016-09-18
shipped_date : 2016-09-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 441:
order_id : 441
customer_id : 704
order_status : 4
order_date : 2021-09-18
required_date : 2016-09-19
shipped_date : 2016-09-19
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 442:
order_id : 442
customer_id : 667
order_status : 4
order_date : 2021-09-18
required_date : 2016-09-21
shipped_date : 2016-09-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 443:
order_id : 443
customer_id : 1371
order_status : 4
order_date : 2021-09-18
required_date : 2016-09-19
shipped_date : 2016-09-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 444:
order_id : 444
customer_id : 30
order_status : 4
order_date : 2021-09-19
required_date : 2016-09-20
shipped_date : 2016-09-21
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 445:
order_id : 445
customer_id : 362
order_status : 4
order_date : 2021-09-19
required_date : 2016-09-22
shipped_date : 2016-09-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 446:
order_id : 446
customer_id : 399
order_status : 4
order_date : 2021-09-19
required_date : 2016-09-21
shipped_date : 2016-09-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 447:
order_id : 447
customer_id : 808
order_status : 4
order_date : 2021-09-20
required_date : 2016-09-23
shipped_date : 2016-09-22
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 448:
order_id : 448
customer_id : 101
order_status : 4
order_date : 2021-09-21
required_date : 2016-09-22
shipped_date : 2016-09-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 449:
order_id : 449
customer_id : 492
order_status : 4
order_date : 2021-09-21
required_date : 2016-09-24
shipped_date : 2016-09-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 450:
order_id : 450
customer_id : 575
order_status : 4
order_date : 2021-09-21
required_date : 2016-09-24
shipped_date : 2016-09-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 451:
order_id : 451
customer_id : 1146
order_status : 4
order_date : 2021-09-21
required_date : 2016-09-23
shipped_date : 2016-09-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 452:
order_id : 452
customer_id : 997
order_status : 4
order_date : 2021-09-22
required_date : 2016-09-23
shipped_date : 2016-09-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 453:
order_id : 453
customer_id : 1028
order_status : 4
order_date : 2021-09-22
required_date : 2016-09-24
shipped_date : 2016-09-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 454:
order_id : 454
customer_id : 988
order_status : 4
order_date : 2021-09-23
required_date : 2016-09-25
shipped_date : 2016-09-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 455:
order_id : 455
customer_id : 1055
order_status : 4
order_date : 2021-09-23
required_date : 2016-09-24
shipped_date : 2016-09-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 456:
order_id : 456
customer_id : 1061
order_status : 4
order_date : 2021-09-23
required_date : 2016-09-26
shipped_date : 2016-09-25
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 457:
order_id : 457
customer_id : 1349
order_status : 4
order_date : 2021-09-24
required_date : 2016-09-27
shipped_date : 2016-09-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 458:
order_id : 458
customer_id : 197
order_status : 4
order_date : 2021-09-25
required_date : 2016-09-28
shipped_date : 2016-09-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 459:
order_id : 459
customer_id : 874
order_status : 4
order_date : 2021-09-25
required_date : 2016-09-28
shipped_date : 2016-09-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 460:
order_id : 460
customer_id : 691
order_status : 4
order_date : 2021-09-25
required_date : 2016-09-27
shipped_date : 2016-09-26
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 461:
order_id : 461
customer_id : 853
order_status : 4
order_date : 2021-09-26
required_date : 2016-09-27
shipped_date : 2016-09-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 462:
order_id : 462
customer_id : 852
order_status : 4
order_date : 2021-09-27
required_date : 2016-09-28
shipped_date : 2016-09-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 463:
order_id : 463
customer_id : 964
order_status : 4
order_date : 2021-09-27
required_date : 2016-09-28
shipped_date : 2016-09-28
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 464:
order_id : 464
customer_id : 74
order_status : 4
order_date : 2021-09-28
required_date : 2016-09-30
shipped_date : 2016-09-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 465:
order_id : 465
customer_id : 1198
order_status : 4
order_date : 2021-09-28
required_date : 2016-10-01
shipped_date : 2016-10-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 466:
order_id : 466
customer_id : 1440
order_status : 4
order_date : 2021-09-28
required_date : 2016-09-29
shipped_date : 2016-10-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 467:
order_id : 467
customer_id : 555
order_status : 4
order_date : 2021-09-28
required_date : 2016-09-30
shipped_date : 2016-09-30
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 468:
order_id : 468
customer_id : 1261
order_status : 4
order_date : 2021-09-29
required_date : 2016-10-02
shipped_date : 2016-09-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 469:
order_id : 469
customer_id : 1089
order_status : 4
order_date : 2021-09-29
required_date : 2016-10-02
shipped_date : 2016-10-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 470:
order_id : 470
customer_id : 641
order_status : 4
order_date : 2021-09-30
required_date : 2016-10-02
shipped_date : 2016-10-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 471:
order_id : 471
customer_id : 697
order_status : 4
order_date : 2021-09-30
required_date : 2016-10-02
shipped_date : 2016-10-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 472:
order_id : 472
customer_id : 468
order_status : 4
order_date : 2021-09-30
required_date : 2016-10-01
shipped_date : 2016-10-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 473:
order_id : 473
customer_id : 549
order_status : 4
order_date : 2021-09-30
required_date : 2016-10-02
shipped_date : 2016-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 474:
order_id : 474
customer_id : 553
order_status : 4
order_date : 2021-10-01
required_date : 2016-10-04
shipped_date : 2016-10-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 475:
order_id : 475
customer_id : 241
order_status : 4
order_date : 2021-10-01
required_date : 2016-10-04
shipped_date : 2016-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 476:
order_id : 476
customer_id : 559
order_status : 4
order_date : 2021-10-01
required_date : 2016-10-04
shipped_date : 2016-10-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 477:
order_id : 477
customer_id : 449
order_status : 4
order_date : 2021-10-02
required_date : 2016-10-05
shipped_date : 2016-10-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 478:
order_id : 478
customer_id : 304
order_status : 4
order_date : 2021-10-02
required_date : 2016-10-05
shipped_date : 2016-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 479:
order_id : 479
customer_id : 984
order_status : 4
order_date : 2021-10-03
required_date : 2016-10-04
shipped_date : 2016-10-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 480:
order_id : 480
customer_id : 686
order_status : 4
order_date : 2021-10-04
required_date : 2016-10-07
shipped_date : 2016-10-05
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 481:
order_id : 481
customer_id : 481
order_status : 4
order_date : 2021-10-04
required_date : 2016-10-07
shipped_date : 2016-10-06
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 482:
order_id : 482
customer_id : 513
order_status : 4
order_date : 2021-10-05
required_date : 2016-10-06
shipped_date : 2016-10-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 483:
order_id : 483
customer_id : 703
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-07
shipped_date : 2016-10-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 484:
order_id : 484
customer_id : 421
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-09
shipped_date : 2016-10-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 485:
order_id : 485
customer_id : 465
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-08
shipped_date : 2016-10-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 486:
order_id : 486
customer_id : 709
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-08
shipped_date : 2016-10-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 487:
order_id : 487
customer_id : 827
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-09
shipped_date : 2016-10-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 488:
order_id : 488
customer_id : 921
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-09
shipped_date : 2016-10-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 489:
order_id : 489
customer_id : 899
order_status : 4
order_date : 2021-10-06
required_date : 2016-10-08
shipped_date : 2016-10-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 490:
order_id : 490
customer_id : 876
order_status : 4
order_date : 2021-10-07
required_date : 2016-10-10
shipped_date : 2016-10-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 491:
order_id : 491
customer_id : 1048
order_status : 4
order_date : 2021-10-08
required_date : 2016-10-10
shipped_date : 2016-10-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 492:
order_id : 492
customer_id : 191
order_status : 4
order_date : 2021-10-09
required_date : 2016-10-10
shipped_date : 2016-10-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 493:
order_id : 493
customer_id : 796
order_status : 4
order_date : 2021-10-09
required_date : 2016-10-12
shipped_date : 2016-10-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 494:
order_id : 494
customer_id : 875
order_status : 4
order_date : 2021-10-09
required_date : 2016-10-10
shipped_date : 2016-10-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 495:
order_id : 495
customer_id : 712
order_status : 4
order_date : 2021-10-10
required_date : 2016-10-12
shipped_date : 2016-10-13
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 496:
order_id : 496
customer_id : 193
order_status : 4
order_date : 2021-10-10
required_date : 2016-10-12
shipped_date : 2016-10-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 497:
order_id : 497
customer_id : 785
order_status : 4
order_date : 2021-10-10
required_date : 2016-10-11
shipped_date : 2016-10-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 498:
order_id : 498
customer_id : 1331
order_status : 4
order_date : 2021-10-10
required_date : 2016-10-12
shipped_date : 2016-10-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 499:
order_id : 499
customer_id : 260
order_status : 4
order_date : 2021-10-11
required_date : 2016-10-14
shipped_date : 2016-10-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 500:
order_id : 500
customer_id : 148
order_status : 4
order_date : 2021-10-11
required_date : 2016-10-12
shipped_date : 2016-10-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 501:
order_id : 501
customer_id : 977
order_status : 4
order_date : 2021-10-11
required_date : 2016-10-12
shipped_date : 2016-10-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 502:
order_id : 502
customer_id : 401
order_status : 4
order_date : 2021-10-12
required_date : 2016-10-13
shipped_date : 2016-10-13
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 503:
order_id : 503
customer_id : 932
order_status : 4
order_date : 2021-10-13
required_date : 2016-10-16
shipped_date : 2016-10-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 504:
order_id : 504
customer_id : 1381
order_status : 4
order_date : 2021-10-14
required_date : 2016-10-15
shipped_date : 2016-10-15
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 505:
order_id : 505
customer_id : 721
order_status : 4
order_date : 2021-10-14
required_date : 2016-10-16
shipped_date : 2016-10-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 506:
order_id : 506
customer_id : 831
order_status : 4
order_date : 2021-10-14
required_date : 2016-10-16
shipped_date : 2016-10-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 507:
order_id : 507
customer_id : 1378
order_status : 4
order_date : 2021-10-15
required_date : 2016-10-17
shipped_date : 2016-10-17
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 508:
order_id : 508
customer_id : 1359
order_status : 4
order_date : 2021-10-15
required_date : 2016-10-18
shipped_date : 2016-10-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 509:
order_id : 509
customer_id : 235
order_status : 4
order_date : 2021-10-16
required_date : 2016-10-17
shipped_date : 2016-10-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 510:
order_id : 510
customer_id : 586
order_status : 4
order_date : 2021-10-17
required_date : 2016-10-18
shipped_date : 2016-10-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 511:
order_id : 511
customer_id : 377
order_status : 4
order_date : 2021-10-18
required_date : 2016-10-20
shipped_date : 2016-10-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 512:
order_id : 512
customer_id : 8
order_status : 4
order_date : 2021-10-19
required_date : 2016-10-22
shipped_date : 2016-10-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 513:
order_id : 513
customer_id : 155
order_status : 4
order_date : 2021-10-19
required_date : 2016-10-21
shipped_date : 2016-10-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 514:
order_id : 514
customer_id : 927
order_status : 4
order_date : 2021-10-19
required_date : 2016-10-21
shipped_date : 2016-10-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 515:
order_id : 515
customer_id : 986
order_status : 4
order_date : 2021-10-19
required_date : 2016-10-20
shipped_date : 2016-10-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 516:
order_id : 516
customer_id : 111
order_status : 4
order_date : 2021-10-21
required_date : 2016-10-23
shipped_date : 2016-10-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 517:
order_id : 517
customer_id : 613
order_status : 4
order_date : 2021-10-21
required_date : 2016-10-22
shipped_date : 2016-10-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 518:
order_id : 518
customer_id : 1374
order_status : 4
order_date : 2021-10-22
required_date : 2016-10-24
shipped_date : 2016-10-25
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 519:
order_id : 519
customer_id : 54
order_status : 4
order_date : 2021-10-22
required_date : 2016-10-23
shipped_date : 2016-10-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 520:
order_id : 520
customer_id : 639
order_status : 4
order_date : 2021-10-23
required_date : 2016-10-26
shipped_date : 2016-10-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 521:
order_id : 521
customer_id : 664
order_status : 4
order_date : 2021-10-23
required_date : 2016-10-25
shipped_date : 2016-10-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 522:
order_id : 522
customer_id : 724
order_status : 4
order_date : 2021-10-23
required_date : 2016-10-24
shipped_date : 2016-10-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 523:
order_id : 523
customer_id : 1056
order_status : 4
order_date : 2021-10-24
required_date : 2016-10-26
shipped_date : 2016-10-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 524:
order_id : 524
customer_id : 569
order_status : 4
order_date : 2021-10-25
required_date : 2016-10-26
shipped_date : 2016-10-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 525:
order_id : 525
customer_id : 1315
order_status : 4
order_date : 2021-10-26
required_date : 2016-10-28
shipped_date : 2016-10-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 526:
order_id : 526
customer_id : 1096
order_status : 4
order_date : 2021-10-26
required_date : 2016-10-28
shipped_date : 2016-10-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 527:
order_id : 527
customer_id : 506
order_status : 4
order_date : 2021-10-27
required_date : 2016-10-29
shipped_date : 2016-10-28
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 528:
order_id : 528
customer_id : 676
order_status : 4
order_date : 2021-10-28
required_date : 2016-10-31
shipped_date : 2016-10-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 529:
order_id : 529
customer_id : 753
order_status : 4
order_date : 2021-10-28
required_date : 2016-10-30
shipped_date : 2016-10-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 530:
order_id : 530
customer_id : 773
order_status : 4
order_date : 2021-10-28
required_date : 2016-10-31
shipped_date : 2016-10-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 531:
order_id : 531
customer_id : 116
order_status : 4
order_date : 2021-10-28
required_date : 2016-10-29
shipped_date : 2016-10-30
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 532:
order_id : 532
customer_id : 817
order_status : 4
order_date : 2021-10-29
required_date : 2016-10-31
shipped_date : 2016-10-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 533:
order_id : 533
customer_id : 1334
order_status : 4
order_date : 2021-10-29
required_date : 2016-11-01
shipped_date : 2016-11-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 534:
order_id : 534
customer_id : 1406
order_status : 4
order_date : 2021-10-29
required_date : 2016-10-30
shipped_date : 2016-10-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 535:
order_id : 535
customer_id : 835
order_status : 4
order_date : 2021-10-29
required_date : 2016-10-31
shipped_date : 2016-11-01
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 536:
order_id : 536
customer_id : 759
order_status : 4
order_date : 2021-10-31
required_date : 2016-11-02
shipped_date : 2016-11-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 537:
order_id : 537
customer_id : 1353
order_status : 4
order_date : 2021-10-31
required_date : 2016-11-01
shipped_date : 2016-11-03
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 538:
order_id : 538
customer_id : 341
order_status : 4
order_date : 2021-11-02
required_date : 2016-11-05
shipped_date : 2016-11-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 539:
order_id : 539
customer_id : 1144
order_status : 4
order_date : 2021-11-02
required_date : 2016-11-04
shipped_date : 2016-11-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 540:
order_id : 540
customer_id : 1429
order_status : 4
order_date : 2021-11-03
required_date : 2016-11-05
shipped_date : 2016-11-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 541:
order_id : 541
customer_id : 1228
order_status : 4
order_date : 2021-11-04
required_date : 2016-11-07
shipped_date : 2016-11-07
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 542:
order_id : 542
customer_id : 313
order_status : 4
order_date : 2021-11-04
required_date : 2016-11-06
shipped_date : 2016-11-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 543:
order_id : 543
customer_id : 62
order_status : 4
order_date : 2021-11-06
required_date : 2016-11-09
shipped_date : 2016-11-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 544:
order_id : 544
customer_id : 321
order_status : 4
order_date : 2021-11-06
required_date : 2016-11-07
shipped_date : 2016-11-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 545:
order_id : 545
customer_id : 1108
order_status : 4
order_date : 2021-11-08
required_date : 2016-11-10
shipped_date : 2016-11-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 546:
order_id : 546
customer_id : 470
order_status : 4
order_date : 2021-11-09
required_date : 2016-11-12
shipped_date : 2016-11-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 547:
order_id : 547
customer_id : 20
order_status : 4
order_date : 2021-11-09
required_date : 2016-11-11
shipped_date : 2016-11-10
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 548:
order_id : 548
customer_id : 739
order_status : 4
order_date : 2021-11-11
required_date : 2016-11-13
shipped_date : 2016-11-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 549:
order_id : 549
customer_id : 64
order_status : 3
order_date : 2021-11-12
required_date : 2016-11-12
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 550:
order_id : 550
customer_id : 892
order_status : 4
order_date : 2021-11-12
required_date : 2016-11-14
shipped_date : 2016-11-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 551:
order_id : 551
customer_id : 1169
order_status : 4
order_date : 2021-11-12
required_date : 2016-11-13
shipped_date : 2016-11-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 552:
order_id : 552
customer_id : 1282
order_status : 4
order_date : 2021-11-12
required_date : 2016-11-15
shipped_date : 2016-11-13
store_id : 2

staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 553:
order_id : 553
customer_id : 913
order_status : 4
order_date : 2021-11-12
required_date : 2016-11-13
shipped_date : 2016-11-15
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 554:
order_id : 554
customer_id : 104
order_status : 4
order_date : 2021-11-13
required_date : 2016-11-14
shipped_date : 2016-11-16
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 555:
order_id : 555
customer_id : 212
order_status : 4
order_date : 2021-11-13
required_date : 2016-11-14
shipped_date : 2016-11-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 556:
order_id : 556
customer_id : 61
order_status : 4
order_date : 2021-11-13
required_date : 2016-11-14
shipped_date : 2016-11-15
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 557:
order_id : 557
customer_id : 1248
order_status : 4
order_date : 2021-11-14
required_date : 2016-11-17
shipped_date : 2016-11-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 558:
order_id : 558
customer_id : 1443
order_status : 4
order_date : 2021-11-15
required_date : 2016-11-16
shipped_date : 2016-11-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 559:
order_id : 559
customer_id : 959
order_status : 4
order_date : 2021-11-16
required_date : 2016-11-17
shipped_date : 2016-11-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 560:
order_id : 560
customer_id : 1405
order_status : 4
order_date : 2021-11-18
required_date : 2016-11-19
shipped_date : 2016-11-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 561:
order_id : 561
customer_id : 90
order_status : 4
order_date : 2021-11-19
required_date : 2016-11-22
shipped_date : 2016-11-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 562:
order_id : 562
customer_id : 942
order_status : 4
order_date : 2021-11-19
required_date : 2016-11-20
shipped_date : 2016-11-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 563:
order_id : 563
customer_id : 365
order_status : 4
order_date : 2021-11-20
required_date : 2016-11-22
shipped_date : 2016-11-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 564:
order_id : 564
customer_id : 1058
order_status : 4
order_date : 2021-11-20
required_date : 2016-11-23
shipped_date : 2016-11-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 565:
order_id : 565
customer_id : 894
order_status : 4
order_date : 2021-11-21
required_date : 2016-11-22
shipped_date : 2016-11-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 566:
order_id : 566
customer_id : 298
order_status : 4
order_date : 2021-11-22
required_date : 2016-11-25
shipped_date : 2016-11-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 567:
order_id : 567
customer_id : 1430
order_status : 4
order_date : 2021-11-22
required_date : 2016-11-23
shipped_date : 2016-11-23
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 568:
order_id : 568
customer_id : 1275
order_status : 4
order_date : 2021-11-23
required_date : 2016-11-25
shipped_date : 2016-11-24
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 569:
order_id : 569
customer_id : 707
order_status : 4
order_date : 2021-11-23
required_date : 2016-11-24
shipped_date : 2016-11-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 570:
order_id : 570
customer_id : 989
order_status : 4
order_date : 2021-11-23
required_date : 2016-11-24
shipped_date : 2016-11-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 571:
order_id : 571
customer_id : 5
order_status : 4
order_date : 2021-11-24
required_date : 2016-11-25
shipped_date : 2016-11-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 572:
order_id : 572
customer_id : 178
order_status : 4
order_date : 2021-11-24
required_date : 2016-11-26
shipped_date : 2016-11-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 573:
order_id : 573
customer_id : 423
order_status : 4
order_date : 2021-11-24
required_date : 2016-11-26
shipped_date : 2016-11-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 574:
order_id : 574
customer_id : 833
order_status : 4
order_date : 2021-11-26
required_date : 2016-11-27
shipped_date : 2016-11-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 575:
order_id : 575
customer_id : 33
order_status : 4
order_date : 2021-11-27
required_date : 2016-11-28
shipped_date : 2016-11-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 576:
order_id : 576
customer_id : 1272
order_status : 4
order_date : 2021-11-27
required_date : 2016-11-30
shipped_date : 2016-11-28
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 577:
order_id : 577
customer_id : 445
order_status : 4
order_date : 2021-11-27
required_date : 2016-11-30
shipped_date : 2016-11-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 578:
order_id : 578
customer_id : 819
order_status : 4
order_date : 2021-11-27
required_date : 2016-11-28
shipped_date : 2016-11-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 579:
order_id : 579
customer_id : 160
order_status : 4
order_date : 2021-11-27
required_date : 2016-11-30
shipped_date : 2016-11-29
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 580:
order_id : 580
customer_id : 581
order_status : 4
order_date : 2021-11-30
required_date : 2016-12-02
shipped_date : 2016-12-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 581:
order_id : 581
customer_id : 688
order_status : 4
order_date : 2021-12-03
required_date : 2016-12-05
shipped_date : 2016-12-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 582:
order_id : 582
customer_id : 32
order_status : 3
order_date : 2021-12-04
required_date : 2016-12-04
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 583:
order_id : 583
customer_id : 792
order_status : 4
order_date : 2021-12-04
required_date : 2016-12-05
shipped_date : 2016-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 584:
order_id : 584
customer_id : 1209
order_status : 4
order_date : 2021-12-04
required_date : 2016-12-05
shipped_date : 2016-12-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 585:
order_id : 585
customer_id : 1219
order_status : 4
order_date : 2021-12-04
required_date : 2016-12-05
shipped_date : 2016-12-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 586:
order_id : 586
customer_id : 1306
order_status : 4
order_date : 2021-12-04
required_date : 2016-12-06
shipped_date : 2016-12-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 587:
order_id : 587
customer_id : 487
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-08
shipped_date : 2016-12-08
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 588:
order_id : 588
customer_id : 102
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-07
shipped_date : 2016-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 589:
order_id : 589
customer_id : 719
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-07
shipped_date : 2016-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 590:
order_id : 590
customer_id : 990
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-09
shipped_date : 2016-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 591:
order_id : 591
customer_id : 1211
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-09
shipped_date : 2016-12-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 592:
order_id : 592
customer_id : 1232
order_status : 4
order_date : 2021-12-06
required_date : 2016-12-08
shipped_date : 2016-12-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 593:
order_id : 593
customer_id : 50
order_status : 4
order_date : 2021-12-07
required_date : 2016-12-10
shipped_date : 2016-12-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 594:
order_id : 594
customer_id : 1318
order_status : 4
order_date : 2021-12-07
required_date : 2016-12-08
shipped_date : 2016-12-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 595:
order_id : 595
customer_id : 538
order_status : 4
order_date : 2021-12-08
required_date : 2016-12-09
shipped_date : 2016-12-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 596:
order_id : 596
customer_id : 952
order_status : 4
order_date : 2021-12-08
required_date : 2016-12-09
shipped_date : 2016-12-09
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 597:
order_id : 597
customer_id : 1121
order_status : 4
order_date : 2021-12-08
required_date : 2016-12-09
shipped_date : 2016-12-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 598:
order_id : 598
customer_id : 40
order_status : 3
order_date : 2021-12-09
required_date : 2016-12-09
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 599:
order_id : 599
customer_id : 1
order_status : 4
order_date : 2021-12-09
required_date : 2016-12-10
shipped_date : 2016-12-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 600:
order_id : 600
customer_id : 624
order_status : 4
order_date : 2021-12-09
required_date : 2016-12-12
shipped_date : 2016-12-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 601:
order_id : 601
customer_id : 683
order_status : 4
order_date : 2021-12-09
required_date : 2016-12-10
shipped_date : 2016-12-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 602:
order_id : 602
customer_id : 823
order_status : 4
order_date : 2021-12-09
required_date : 2016-12-10
shipped_date : 2016-12-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 603:
order_id : 603
customer_id : 1032
order_status : 4
order_date : 2021-12-09
required_date : 2016-12-10
shipped_date : 2016-12-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 604:
order_id : 604
customer_id : 96
order_status : 4
order_date : 2021-12-10
required_date : 2016-12-13
shipped_date : 2016-12-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 605:
order_id : 605
customer_id : 1208
order_status : 4
order_date : 2021-12-10
required_date : 2016-12-11
shipped_date : 2016-12-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 606:
order_id : 606
customer_id : 18
order_status : 4
order_date : 2021-12-11
required_date : 2016-12-12
shipped_date : 2016-12-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 607:
order_id : 607
customer_id : 309
order_status : 4
order_date : 2021-12-11
required_date : 2016-12-14
shipped_date : 2016-12-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 608:
order_id : 608
customer_id : 1103
order_status : 4
order_date : 2021-12-12
required_date : 2016-12-15
shipped_date : 2016-12-14
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 609:
order_id : 609
customer_id : 896
order_status : 4
order_date : 2021-12-12
required_date : 2016-12-13
shipped_date : 2016-12-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 610:
order_id : 610
customer_id : 711
order_status : 4
order_date : 2021-12-13
required_date : 2016-12-15
shipped_date : 2016-12-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 611:
order_id : 611
customer_id : 1073
order_status : 4
order_date : 2021-12-15
required_date : 2016-12-17
shipped_date : 2016-12-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 612:
order_id : 612
customer_id : 634
order_status : 4
order_date : 2021-12-16
required_date : 2016-12-17
shipped_date : 2016-12-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 613:
order_id : 613
customer_id : 1159
order_status : 4
order_date : 2021-12-17
required_date : 2016-12-19
shipped_date : 2016-12-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 614:
order_id : 614
customer_id : 654
order_status : 4
order_date : 2021-12-18
required_date : 2016-12-21
shipped_date : 2016-12-21
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 615:
order_id : 615
customer_id : 560
order_status : 4
order_date : 2021-12-19
required_date : 2016-12-22
shipped_date : 2016-12-21
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 616:
order_id : 616
customer_id : 1444
order_status : 4
order_date : 2021-12-20
required_date : 2016-12-23
shipped_date : 2016-12-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 617:
order_id : 617
customer_id : 118
order_status : 4
order_date : 2021-12-21
required_date : 2016-12-23
shipped_date : 2016-12-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 618:
order_id : 618
customer_id : 131
order_status : 4
order_date : 2021-12-21
required_date : 2016-12-22
shipped_date : 2016-12-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 619:
order_id : 619
customer_id : 454
order_status : 4
order_date : 2021-12-22
required_date : 2016-12-25
shipped_date : 2016-12-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 620:
order_id : 620
customer_id : 466
order_status : 4
order_date : 2021-12-22
required_date : 2016-12-24
shipped_date : 2016-12-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 621:
order_id : 621
customer_id : 1157
order_status : 4
order_date : 2021-12-23
required_date : 2016-12-25
shipped_date : 2016-12-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 622:
order_id : 622
customer_id : 1398
order_status : 4
order_date : 2021-12-23
required_date : 2016-12-26
shipped_date : 2016-12-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 623:
order_id : 623
customer_id : 678
order_status : 4
order_date : 2021-12-24
required_date : 2016-12-26
shipped_date : 2016-12-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 624:
order_id : 624
customer_id : 814
order_status : 4
order_date : 2021-12-24
required_date : 2016-12-25
shipped_date : 2016-12-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 625:
order_id : 625
customer_id : 1163
order_status : 4
order_date : 2021-12-25
required_date : 2016-12-28
shipped_date : 2016-12-26
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 626:
order_id : 626
customer_id : 130
order_status : 4
order_date : 2021-12-25
required_date : 2016-12-28
shipped_date : 2016-12-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 627:
order_id : 627
customer_id : 1119
order_status : 4
order_date : 2021-12-25
required_date : 2016-12-26
shipped_date : 2016-12-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 628:
order_id : 628
customer_id : 561
order_status : 4
order_date : 2021-12-26
required_date : 2016-12-29
shipped_date : 2016-12-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 629:
order_id : 629
customer_id : 973
order_status : 4
order_date : 2021-12-26
required_date : 2016-12-27
shipped_date : 2016-12-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 630:
order_id : 630
customer_id : 1404
order_status : 4
order_date : 2021-12-26
required_date : 2016-12-27
shipped_date : 2016-12-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 631:
order_id : 631
customer_id : 855
order_status : 4
order_date : 2021-12-27
required_date : 2016-12-29
shipped_date : 2016-12-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 632:
order_id : 632
customer_id : 163
order_status : 4
order_date : 2021-12-27
required_date : 2016-12-29
shipped_date : 2016-12-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 633:
order_id : 633
customer_id : 1040
order_status : 4
order_date : 2021-12-28
required_date : 2016-12-31
shipped_date : 2016-12-30
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 634:
order_id : 634
customer_id : 27
order_status : 4
order_date : 2021-12-29
required_date : 2017-01-01
shipped_date : 2016-12-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 635:
order_id : 635
customer_id : 520
order_status : 4
order_date : 2021-12-30
required_date : 2017-01-02
shipped_date : 2016-12-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 636:
order_id : 636
customer_id : 532
order_status : 4
order_date : 2022-01-03
required_date : 2017-01-04
shipped_date : 2017-01-05
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 637:
order_id : 637
customer_id : 512
order_status : 4
order_date : 2022-01-03
required_date : 2017-01-05
shipped_date : 2017-01-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 638:
order_id : 638
customer_id : 1302
order_status : 4
order_date : 2022-01-04
required_date : 2017-01-05
shipped_date : 2017-01-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 639:
order_id : 639
customer_id : 550
order_status : 4
order_date : 2022-01-06
required_date : 2017-01-07
shipped_date : 2017-01-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 640:
order_id : 640
customer_id : 1093
order_status : 4
order_date : 2022-01-06
required_date : 2017-01-08
shipped_date : 2017-01-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 641:
order_id : 641
customer_id : 673
order_status : 4
order_date : 2022-01-07
required_date : 2017-01-10
shipped_date : 2017-01-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 642:
order_id : 642
customer_id : 847
order_status : 4
order_date : 2022-01-07
required_date : 2017-01-09
shipped_date : 2017-01-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 643:
order_id : 643
customer_id : 901
order_status : 4
order_date : 2022-01-08
required_date : 2017-01-09
shipped_date : 2017-01-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 644:
order_id : 644
customer_id : 439
order_status : 4
order_date : 2022-01-08
required_date : 2017-01-11
shipped_date : 2017-01-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 645:
order_id : 645
customer_id : 1199
order_status : 4
order_date : 2022-01-08
required_date : 2017-01-11
shipped_date : 2017-01-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 646:
order_id : 646
customer_id : 975
order_status : 4
order_date : 2022-01-09
required_date : 2017-01-12
shipped_date : 2017-01-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 647:
order_id : 647
customer_id : 283
order_status : 4
order_date : 2022-01-09
required_date : 2017-01-10
shipped_date : 2017-01-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 648:
order_id : 648
customer_id : 684
order_status : 4
order_date : 2022-01-09
required_date : 2017-01-11
shipped_date : 2017-01-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 649:
order_id : 649
customer_id : 1153
order_status : 4
order_date : 2022-01-10
required_date : 2017-01-11
shipped_date : 2017-01-13
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 650:
order_id : 650
customer_id : 729
order_status : 4
order_date : 2022-01-11
required_date : 2017-01-14
shipped_date : 2017-01-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 651:
order_id : 651
customer_id : 190
order_status : 4
order_date : 2022-01-11
required_date : 2017-01-13
shipped_date : 2017-01-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 652:
order_id : 652
customer_id : 985
order_status : 4
order_date : 2022-01-12
required_date : 2017-01-15
shipped_date : 2017-01-13
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 653:
order_id : 653
customer_id : 1249
order_status : 4
order_date : 2022-01-14
required_date : 2017-01-17
shipped_date : 2017-01-15
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 654:
order_id : 654
customer_id : 1129
order_status : 4
order_date : 2022-01-14
required_date : 2017-01-15
shipped_date : 2017-01-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 655:
order_id : 655
customer_id : 347
order_status : 4
order_date : 2022-01-16
required_date : 2017-01-17
shipped_date : 2017-01-18
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 656:
order_id : 656
customer_id : 949
order_status : 4
order_date : 2022-01-16
required_date : 2017-01-17
shipped_date : 2017-01-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 657:
order_id : 657
customer_id : 349
order_status : 4
order_date : 2022-01-17
required_date : 2017-01-19
shipped_date : 2017-01-20
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 658:
order_id : 658
customer_id : 1051
order_status : 4
order_date : 2022-01-17
required_date : 2017-01-18
shipped_date : 2017-01-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 659:
order_id : 659
customer_id : 1391
order_status : 4
order_date : 2022-01-17
required_date : 2017-01-19
shipped_date : 2017-01-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 660:
order_id : 660
customer_id : 383
order_status : 4
order_date : 2022-01-18
required_date : 2017-01-19
shipped_date : 2017-01-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 661:
order_id : 661
customer_id : 626
order_status : 4
order_date : 2022-01-18
required_date : 2017-01-19
shipped_date : 2017-01-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 662:
order_id : 662
customer_id : 1125
order_status : 4
order_date : 2022-01-19
required_date : 2017-01-20
shipped_date : 2017-01-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 663:
order_id : 663
customer_id : 344
order_status : 4
order_date : 2022-01-20
required_date : 2017-01-22
shipped_date : 2017-01-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 664:
order_id : 664
customer_id : 681
order_status : 4
order_date : 2022-01-20
required_date : 2017-01-23
shipped_date : 2017-01-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 665:
order_id : 665
customer_id : 29
order_status : 4
order_date : 2022-01-21
required_date : 2017-01-22
shipped_date : 2017-01-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 666:
order_id : 666
customer_id : 770
order_status : 4
order_date : 2022-01-21
required_date : 2017-01-22
shipped_date : 2017-01-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 667:
order_id : 667
customer_id : 858
order_status : 4
order_date : 2022-01-22
required_date : 2017-01-24
shipped_date : 2017-01-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 668:
order_id : 668
customer_id : 297
order_status : 4
order_date : 2022-01-22
required_date : 2017-01-23
shipped_date : 2017-01-24
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 669:
order_id : 669
customer_id : 745
order_status : 4
order_date : 2022-01-23
required_date : 2017-01-24
shipped_date : 2017-01-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 670:
order_id : 670
customer_id : 361
order_status : 4
order_date : 2022-01-24
required_date : 2017-01-25
shipped_date : 2017-01-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 671:
order_id : 671
customer_id : 922
order_status : 4
order_date : 2022-01-25
required_date : 2017-01-28
shipped_date : 2017-01-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 672:
order_id : 672
customer_id : 908
order_status : 4
order_date : 2022-01-26
required_date : 2017-01-29
shipped_date : 2017-01-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 673:
order_id : 673
customer_id : 64
order_status : 4
order_date : 2022-01-26
required_date : 2017-01-28
shipped_date : 2017-01-27
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 674:
order_id : 674
customer_id : 733
order_status : 4
order_date : 2022-01-27
required_date : 2017-01-28
shipped_date : 2017-01-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 675:
order_id : 675
customer_id : 291
order_status : 4
order_date : 2022-01-28
required_date : 2017-01-31
shipped_date : 2017-01-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 676:
order_id : 676
customer_id : 790
order_status : 4
order_date : 2022-01-28
required_date : 2017-01-30
shipped_date : 2017-01-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 677:
order_id : 677
customer_id : 809
order_status : 4
order_date : 2022-01-28
required_date : 2017-01-31
shipped_date : 2017-01-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 678:
order_id : 678
customer_id : 250
order_status : 4
order_date : 2022-01-28
required_date : 2017-01-29
shipped_date : 2017-01-31
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 679:
order_id : 679
customer_id : 81
order_status : 4
order_date : 2022-01-29
required_date : 2017-01-30
shipped_date : 2017-01-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 680:
order_id : 680
customer_id : 245
order_status : 4
order_date : 2022-01-29
required_date : 2017-02-01
shipped_date : 2017-01-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 681:
order_id : 681
customer_id : 499
order_status : 4
order_date : 2022-01-29
required_date : 2017-02-01
shipped_date : 2017-01-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 682:
order_id : 682
customer_id : 614
order_status : 4
order_date : 2022-01-29
required_date : 2017-01-30
shipped_date : 2017-01-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 683:
order_id : 683
customer_id : 741
order_status : 4
order_date : 2022-01-29
required_date : 2017-01-31
shipped_date : 2017-02-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 684:
order_id : 684
customer_id : 762
order_status : 4
order_date : 2022-01-31
required_date : 2017-02-01
shipped_date : 2017-02-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 685:
order_id : 685
customer_id : 976
order_status : 4
order_date : 2022-01-31
required_date : 2017-02-03
shipped_date : 2017-02-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 686:
order_id : 686
customer_id : 380
order_status : 4
order_date : 2022-02-01
required_date : 2017-02-03
shipped_date : 2017-02-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 687:
order_id : 687
customer_id : 530
order_status : 4
order_date : 2022-02-02
required_date : 2017-02-05
shipped_date : 2017-02-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 688:
order_id : 688
customer_id : 343
order_status : 4
order_date : 2022-02-02
required_date : 2017-02-03
shipped_date : 2017-02-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 689:
order_id : 689
customer_id : 884
order_status : 4
order_date : 2022-02-02
required_date : 2017-02-03
shipped_date : 2017-02-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 690:
order_id : 690
customer_id : 1097
order_status : 4
order_date : 2022-02-03
required_date : 2017-02-04
shipped_date : 2017-02-06
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 691:
order_id : 691
customer_id : 1081
order_status : 4
order_date : 2022-02-04
required_date : 2017-02-06
shipped_date : 2017-02-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 692:
order_id : 692
customer_id : 2
order_status : 3
order_date : 2022-02-05
required_date : 2017-02-05
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 693:
order_id : 693
customer_id : 1233
order_status : 4
order_date : 2022-02-05
required_date : 2017-02-07
shipped_date : 2017-02-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 694:
order_id : 694
customer_id : 58
order_status : 4
order_date : 2022-02-05
required_date : 2017-02-06
shipped_date : 2017-02-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 695:
order_id : 695
customer_id : 606
order_status : 4
order_date : 2022-02-05
required_date : 2017-02-08
shipped_date : 2017-02-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 696:
order_id : 696
customer_id : 1242
order_status : 4
order_date : 2022-02-05
required_date : 2017-02-08
shipped_date : 2017-02-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 697:
order_id : 697
customer_id : 562
order_status : 4
order_date : 2022-02-06
required_date : 2017-02-08
shipped_date : 2017-02-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 698:
order_id : 698
customer_id : 543
order_status : 4
order_date : 2022-02-06
required_date : 2017-02-08
shipped_date : 2017-02-09
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 699:
order_id : 699
customer_id : 958
order_status : 4
order_date : 2022-02-06
required_date : 2017-02-08
shipped_date : 2017-02-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 700:
order_id : 700
customer_id : 4
order_status : 4
order_date : 2022-02-07
required_date : 2017-02-10
shipped_date : 2017-02-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 701:
order_id : 701
customer_id : 850
order_status : 4
order_date : 2022-02-07
required_date : 2017-02-08
shipped_date : 2017-02-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 702:
order_id : 702
customer_id : 1352
order_status : 4
order_date : 2022-02-08
required_date : 2017-02-09
shipped_date : 2017-02-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 703:
order_id : 703
customer_id : 417
order_status : 4
order_date : 2022-02-08
required_date : 2017-02-09
shipped_date : 2017-02-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 704:
order_id : 704
customer_id : 1137
order_status : 4
order_date : 2022-02-08
required_date : 2017-02-09
shipped_date : 2017-02-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 705:
order_id : 705
customer_id : 1196
order_status : 4
order_date : 2022-02-08
required_date : 2017-02-11
shipped_date : 2017-02-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 706:
order_id : 706
customer_id : 1271
order_status : 4
order_date : 2022-02-09
required_date : 2017-02-12
shipped_date : 2017-02-10
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 707:
order_id : 707
customer_id : 79
order_status : 4
order_date : 2022-02-09
required_date : 2017-02-11
shipped_date : 2017-02-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 708:
order_id : 708
customer_id : 660
order_status : 4
order_date : 2022-02-10
required_date : 2017-02-12
shipped_date : 2017-02-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 709:
order_id : 709
customer_id : 1162
order_status : 4
order_date : 2022-02-11
required_date : 2017-02-13
shipped_date : 2017-02-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 710:
order_id : 710
customer_id : 295
order_status : 4
order_date : 2022-02-13
required_date : 2017-02-15
shipped_date : 2017-02-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 711:
order_id : 711
customer_id : 1246
order_status : 4
order_date : 2022-02-13
required_date : 2017-02-16
shipped_date : 2017-02-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 712:
order_id : 712
customer_id : 173
order_status : 4
order_date : 2022-02-13
required_date : 2017-02-14
shipped_date : 2017-02-16
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 713:
order_id : 713
customer_id : 207
order_status : 4
order_date : 2022-02-13
required_date : 2017-02-14
shipped_date : 2017-02-15
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 714:
order_id : 714
customer_id : 805
order_status : 4
order_date : 2022-02-14
required_date : 2017-02-17
shipped_date : 2017-02-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 715:
order_id : 715
customer_id : 12
order_status : 3
order_date : 2022-02-15
required_date : 2017-02-15
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 716:
order_id : 716
customer_id : 672
order_status : 4
order_date : 2022-02-15
required_date : 2017-02-17
shipped_date : 2017-02-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 717:
order_id : 717
customer_id : 1312
order_status : 4
order_date : 2022-02-15
required_date : 2017-02-18
shipped_date : 2017-02-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 718:
order_id : 718
customer_id : 38
order_status : 4
order_date : 2022-02-16
required_date : 2017-02-17
shipped_date : 2017-02-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 719:
order_id : 719
customer_id : 200
order_status : 4
order_date : 2022-02-16
required_date : 2017-02-19
shipped_date : 2017-02-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 720:
order_id : 720
customer_id : 382
order_status : 4
order_date : 2022-02-16
required_date : 2017-02-19
shipped_date : 2017-02-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 721:
order_id : 721
customer_id : 625
order_status : 4
order_date : 2022-02-16
required_date : 2017-02-19
shipped_date : 2017-02-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 722:
order_id : 722
customer_id : 1399
order_status : 4
order_date : 2022-02-18
required_date : 2017-02-20
shipped_date : 2017-02-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 723:
order_id : 723
customer_id : 845
order_status : 4
order_date : 2022-02-19
required_date : 2017-02-21
shipped_date : 2017-02-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 724:
order_id : 724
customer_id : 864
order_status : 4
order_date : 2022-02-19
required_date : 2017-02-22
shipped_date : 2017-02-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 725:
order_id : 725
customer_id : 870
order_status : 4
order_date : 2022-02-19
required_date : 2017-02-22
shipped_date : 2017-02-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 726:
order_id : 726
customer_id : 969
order_status : 4
order_date : 2022-02-19
required_date : 2017-02-22
shipped_date : 2017-02-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 727:
order_id : 727
customer_id : 962
order_status : 4
order_date : 2022-02-19
required_date : 2017-02-22
shipped_date : 2017-02-21
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 728:
order_id : 728
customer_id : 1138
order_status : 4
order_date : 2022-02-20
required_date : 2017-02-21
shipped_date : 2017-02-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 729:
order_id : 729
customer_id : 897
order_status : 4
order_date : 2022-02-20
required_date : 2017-02-22
shipped_date : 2017-02-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 730:
order_id : 730
customer_id : 500
order_status : 4
order_date : 2022-02-21
required_date : 2017-02-24
shipped_date : 2017-02-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 731:
order_id : 731
customer_id : 910
order_status : 4
order_date : 2022-02-25
required_date : 2017-02-27
shipped_date : 2017-02-27
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 732:
order_id : 732
customer_id : 147
order_status : 4
order_date : 2022-02-26
required_date : 2017-02-27
shipped_date : 2017-03-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 733:
order_id : 733
customer_id : 832
order_status : 4
order_date : 2022-02-26
required_date : 2017-03-01
shipped_date : 2017-02-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 734:
order_id : 734
customer_id : 939
order_status : 4
order_date : 2022-02-26
required_date : 2017-02-28
shipped_date : 2017-03-01
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 735:
order_id : 735
customer_id : 20
order_status : 3
order_date : 2022-02-27
required_date : 2017-02-27
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 736:
order_id : 736
customer_id : 184
order_status : 4
order_date : 2022-02-27
required_date : 2017-02-28
shipped_date : 2017-02-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 737:
order_id : 737
customer_id : 694
order_status : 4
order_date : 2022-02-27
required_date : 2017-03-01
shipped_date : 2017-02-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 738:
order_id : 738
customer_id : 124
order_status : 4
order_date : 2022-02-28
required_date : 2017-03-01
shipped_date : 2017-03-03
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 739:
order_id : 739
customer_id : 49
order_status : 4
order_date : 2022-02-28
required_date : 2017-03-01
shipped_date : 2017-03-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 740:
order_id : 740
customer_id : 1113
order_status : 4
order_date : 2022-02-28
required_date : 2017-03-01
shipped_date : 2017-03-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 741:
order_id : 741
customer_id : 119
order_status : 4
order_date : 2022-02-28
required_date : 2017-03-01
shipped_date : 2017-03-01
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 742:
order_id : 742
customer_id : 433
order_status : 4
order_date : 2022-02-28
required_date : 2017-03-01
shipped_date : 2017-03-01
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 743:
order_id : 743
customer_id : 137
order_status : 4
order_date : 2022-03-01
required_date : 2017-03-04
shipped_date : 2017-03-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 744:
order_id : 744
customer_id : 166
order_status : 4
order_date : 2022-03-01
required_date : 2017-03-02
shipped_date : 2017-03-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 745:
order_id : 745
customer_id : 698
order_status : 4
order_date : 2022-03-01
required_date : 2017-03-03
shipped_date : 2017-03-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 746:
order_id : 746
customer_id : 391
order_status : 4
order_date : 2022-03-02
required_date : 2017-03-04
shipped_date : 2017-03-05
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 747:
order_id : 747
customer_id : 87
order_status : 4
order_date : 2022-03-03
required_date : 2017-03-04
shipped_date : 2017-03-05
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 748:
order_id : 748
customer_id : 1072
order_status : 4
order_date : 2022-03-03
required_date : 2017-03-05
shipped_date : 2017-03-04
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 749:
order_id : 749
customer_id : 255
order_status : 4
order_date : 2022-03-04
required_date : 2017-03-07
shipped_date : 2017-03-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 750:
order_id : 750
customer_id : 232
order_status : 4
order_date : 2022-03-04
required_date : 2017-03-07
shipped_date : 2017-03-05
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 751:
order_id : 751
customer_id : 731
order_status : 4
order_date : 2022-03-05
required_date : 2017-03-08
shipped_date : 2017-03-07
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 752:
order_id : 752
customer_id : 335
order_status : 4
order_date : 2022-03-05
required_date : 2017-03-06
shipped_date : 2017-03-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 753:
order_id : 753
customer_id : 1201
order_status : 4
order_date : 2022-03-05
required_date : 2017-03-08
shipped_date : 2017-03-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 754:
order_id : 754
customer_id : 646
order_status : 4
order_date : 2022-03-06
required_date : 2017-03-07
shipped_date : 2017-03-08
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 755:
order_id : 755
customer_id : 531
order_status : 4
order_date : 2022-03-06
required_date : 2017-03-07
shipped_date : 2017-03-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 756:
order_id : 756
customer_id : 1143
order_status : 4
order_date : 2022-03-06
required_date : 2017-03-07
shipped_date : 2017-03-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 757:
order_id : 757
customer_id : 1336
order_status : 4
order_date : 2022-03-06
required_date : 2017-03-08
shipped_date : 2017-03-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 758:
order_id : 758
customer_id : 953
order_status : 4
order_date : 2022-03-06
required_date : 2017-03-08
shipped_date : 2017-03-07
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 759:
order_id : 759
customer_id : 284
order_status : 4
order_date : 2022-03-07
required_date : 2017-03-09
shipped_date : 2017-03-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 760:
order_id : 760
customer_id : 1104
order_status : 4
order_date : 2022-03-07
required_date : 2017-03-10
shipped_date : 2017-03-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 761:
order_id : 761
customer_id : 1291
order_status : 4
order_date : 2022-03-07
required_date : 2017-03-08
shipped_date : 2017-03-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 762:
order_id : 762
customer_id : 572
order_status : 4
order_date : 2022-03-08
required_date : 2017-03-09
shipped_date : 2017-03-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 763:
order_id : 763
customer_id : 842
order_status : 4
order_date : 2022-03-08
required_date : 2017-03-10
shipped_date : 2017-03-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 764:
order_id : 764
customer_id : 701
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-10
shipped_date : 2017-03-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 765:
order_id : 765
customer_id : 1152
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-11
shipped_date : 2017-03-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 766:
order_id : 766
customer_id : 141
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-11
shipped_date : 2017-03-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 767:
order_id : 767
customer_id : 564
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-10
shipped_date : 2017-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 768:
order_id : 768
customer_id : 841
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-12
shipped_date : 2017-03-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 769:
order_id : 769
customer_id : 946
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-11
shipped_date : 2017-03-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 770:
order_id : 770
customer_id : 135
order_status : 4
order_date : 2022-03-09
required_date : 2017-03-11
shipped_date : 2017-03-11
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 771:
order_id : 771
customer_id : 671
order_status : 4
order_date : 2022-03-11
required_date : 2017-03-14
shipped_date : 2017-03-12
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 772:
order_id : 772
customer_id : 448
order_status : 4
order_date : 2022-03-11
required_date : 2017-03-12
shipped_date : 2017-03-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 773:
order_id : 773
customer_id : 1385
order_status : 4
order_date : 2022-03-11
required_date : 2017-03-12
shipped_date : 2017-03-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 774:
order_id : 774
customer_id : 690
order_status : 4
order_date : 2022-03-12
required_date : 2017-03-14
shipped_date : 2017-03-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 775:
order_id : 775
customer_id : 968
order_status : 4
order_date : 2022-03-12
required_date : 2017-03-13
shipped_date : 2017-03-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 776:
order_id : 776
customer_id : 490
order_status : 4
order_date : 2022-03-13
required_date : 2017-03-15
shipped_date : 2017-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 777:
order_id : 777
customer_id : 496
order_status : 4
order_date : 2022-03-13
required_date : 2017-03-16
shipped_date : 2017-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 778:
order_id : 778
customer_id : 56
order_status : 3
order_date : 2022-03-15
required_date : 2017-03-15
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 779:
order_id : 779
customer_id : 367
order_status : 4
order_date : 2022-03-15
required_date : 2017-03-16
shipped_date : 2017-03-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 780:
order_id : 780
customer_id : 592
order_status : 4
order_date : 2022-03-15
required_date : 2017-03-17
shipped_date : 2017-03-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 781:
order_id : 781
customer_id : 1018
order_status : 4
order_date : 2022-03-15
required_date : 2017-03-16
shipped_date : 2017-03-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 782:
order_id : 782
customer_id : 1298
order_status : 4
order_date : 2022-03-15
required_date : 2017-03-16
shipped_date : 2017-03-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 783:
order_id : 783
customer_id : 1343
order_status : 4
order_date : 2022-03-16
required_date : 2017-03-19
shipped_date : 2017-03-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 784:
order_id : 784
customer_id : 430
order_status : 4
order_date : 2022-03-16
required_date : 2017-03-19
shipped_date : 2017-03-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 785:
order_id : 785
customer_id : 794
order_status : 4
order_date : 2022-03-18
required_date : 2017-03-19
shipped_date : 2017-03-20
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 786:
order_id : 786
customer_id : 249
order_status : 4
order_date : 2022-03-18
required_date : 2017-03-20
shipped_date : 2017-03-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 787:
order_id : 787
customer_id : 700
order_status : 4
order_date : 2022-03-18
required_date : 2017-03-20
shipped_date : 2017-03-19
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 788:
order_id : 788
customer_id : 1363
order_status : 4
order_date : 2022-03-18
required_date : 2017-03-20
shipped_date : 2017-03-20
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 789:
order_id : 789
customer_id : 772
order_status : 4
order_date : 2022-03-19
required_date : 2017-03-20
shipped_date : 2017-03-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 790:
order_id : 790
customer_id : 1015
order_status : 4
order_date : 2022-03-19
required_date : 2017-03-21
shipped_date : 2017-03-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 791:
order_id : 791
customer_id : 432
order_status : 4
order_date : 2022-03-20
required_date : 2017-03-22
shipped_date : 2017-03-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 792:
order_id : 792
customer_id : 479
order_status : 4
order_date : 2022-03-22
required_date : 2017-03-23
shipped_date : 2017-03-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 793:
order_id : 793
customer_id : 653
order_status : 4
order_date : 2022-03-23
required_date : 2017-03-24
shipped_date : 2017-03-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 794:
order_id : 794
customer_id : 863
order_status : 4
order_date : 2022-03-23
required_date : 2017-03-25
shipped_date : 2017-03-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 795:
order_id : 795
customer_id : 992
order_status : 4
order_date : 2022-03-23
required_date : 2017-03-25
shipped_date : 2017-03-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 796:
order_id : 796
customer_id : 154
order_status : 4
order_date : 2022-03-23
required_date : 2017-03-26
shipped_date : 2017-03-25
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 797:
order_id : 797
customer_id : 374
order_status : 4
order_date : 2022-03-24
required_date : 2017-03-26
shipped_date : 2017-03-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 798:
order_id : 798
customer_id : 619
order_status : 4
order_date : 2022-03-26
required_date : 2017-03-28
shipped_date : 2017-03-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 799:
order_id : 799
customer_id : 607
order_status : 4
order_date : 2022-03-27
required_date : 2017-03-28
shipped_date : 2017-03-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 800:
order_id : 800
customer_id : 1057
order_status : 4
order_date : 2022-03-27
required_date : 2017-03-29
shipped_date : 2017-03-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 801:
order_id : 801
customer_id : 78
order_status : 4
order_date : 2022-03-28
required_date : 2017-03-29
shipped_date : 2017-03-30
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 802:
order_id : 802
customer_id : 340
order_status : 4
order_date : 2022-03-28
required_date : 2017-03-29
shipped_date : 2017-03-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 814:
order_id : 814
customer_id : 629
order_status : 4
order_date : 2022-04-02
required_date : 2017-04-05
shipped_date : 2017-04-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 815:
order_id : 815
customer_id : 1251
order_status : 4
order_date : 2022-04-03
required_date : 2017-04-05
shipped_date : 2017-04-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 816:
order_id : 816
customer_id : 811
order_status : 4
order_date : 2022-04-03
required_date : 2017-04-05
shipped_date : 2017-04-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 817:
order_id : 817
customer_id : 301
order_status : 4
order_date : 2022-04-04
required_date : 2017-04-05
shipped_date : 2017-04-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 818:
order_id : 818
customer_id : 1319
order_status : 4
order_date : 2022-04-04
required_date : 2017-04-07
shipped_date : 2017-04-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 819:
order_id : 819
customer_id : 221
order_status : 4
order_date : 2022-04-04
required_date : 2017-04-07
shipped_date : 2017-04-05
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 820:
order_id : 820
customer_id : 725
order_status : 4
order_date : 2022-04-05
required_date : 2017-04-08
shipped_date : 2017-04-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 821:
order_id : 821
customer_id : 1181
order_status : 4
order_date : 2022-04-05
required_date : 2017-04-07
shipped_date : 2017-04-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 822:
order_id : 822
customer_id : 294
order_status : 4
order_date : 2022-04-06
required_date : 2017-04-08
shipped_date : 2017-04-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 823:
order_id : 823
customer_id : 415
order_status : 4
order_date : 2022-04-06
required_date : 2017-04-07
shipped_date : 2017-04-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 824:
order_id : 824
customer_id : 993
order_status : 4
order_date : 2022-04-07
required_date : 2017-04-09
shipped_date : 2017-04-10
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 825:
order_id : 825
customer_id : 10
order_status : 4
order_date : 2022-04-07
required_date : 2017-04-08
shipped_date : 2017-04-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 826:
order_id : 826
customer_id : 45
order_status : 4
order_date : 2022-04-07
required_date : 2017-04-10
shipped_date : 2017-04-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 827:
order_id : 827
customer_id : 666
order_status : 4
order_date : 2022-04-07
required_date : 2017-04-10
shipped_date : 2017-04-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 828:
order_id : 828
customer_id : 246
order_status : 4
order_date : 2022-04-09
required_date : 2017-04-10
shipped_date : 2017-04-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 829:
order_id : 829
customer_id : 674
order_status : 4
order_date : 2022-04-09
required_date : 2017-04-10
shipped_date : 2017-04-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 830:
order_id : 830
customer_id : 431
order_status : 4
order_date : 2022-04-11
required_date : 2017-04-14
shipped_date : 2017-04-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 831:
order_id : 831
customer_id : 1000
order_status : 4
order_date : 2022-04-11
required_date : 2017-04-12
shipped_date : 2017-04-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 832:
order_id : 832
customer_id : 1215
order_status : 4
order_date : 2022-04-11
required_date : 2017-04-12
shipped_date : 2017-04-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 833:
order_id : 833
customer_id : 406
order_status : 4
order_date : 2022-04-12
required_date : 2017-04-14
shipped_date : 2017-04-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 834:
order_id : 834
customer_id : 890
order_status : 4
order_date : 2022-04-12
required_date : 2017-04-13
shipped_date : 2017-04-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 835:
order_id : 835
customer_id : 940
order_status : 4
order_date : 2022-04-13
required_date : 2017-04-15
shipped_date : 2017-04-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 836:
order_id : 836
customer_id : 455
order_status : 4
order_date : 2022-04-13
required_date : 2017-04-16
shipped_date : 2017-04-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 837:
order_id : 837
customer_id : 948
order_status : 4
order_date : 2022-04-13
required_date : 2017-04-16
shipped_date : 2017-04-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 838:
order_id : 838
customer_id : 1395
order_status : 4
order_date : 2022-04-14
required_date : 2017-04-17
shipped_date : 2017-04-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 839:
order_id : 839
customer_id : 1332
order_status : 4
order_date : 2022-04-15
required_date : 2017-04-18
shipped_date : 2017-04-16
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 840:
order_id : 840
customer_id : 372
order_status : 4
order_date : 2022-04-15
required_date : 2017-04-16
shipped_date : 2017-04-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 841:
order_id : 841
customer_id : 428
order_status : 4
order_date : 2022-04-15
required_date : 2017-04-18
shipped_date : 2017-04-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 842:
order_id : 842
customer_id : 1133
order_status : 4
order_date : 2022-04-15
required_date : 2017-04-18
shipped_date : 2017-04-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 843:
order_id : 843
customer_id : 1059
order_status : 4
order_date : 2022-04-16
required_date : 2017-04-17
shipped_date : 2017-04-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 844:
order_id : 844
customer_id : 1436
order_status : 4
order_date : 2022-04-16
required_date : 2017-04-17
shipped_date : 2017-04-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 845:
order_id : 845
customer_id : 662
order_status : 4
order_date : 2022-04-17
required_date : 2017-04-18
shipped_date : 2017-04-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 846:
order_id : 846
customer_id : 715
order_status : 4
order_date : 2022-04-17
required_date : 2017-04-19
shipped_date : 2017-04-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 847:
order_id : 847
customer_id : 329
order_status : 4
order_date : 2022-04-18
required_date : 2017-04-19
shipped_date : 2017-04-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 848:
order_id : 848
customer_id : 597
order_status : 4
order_date : 2022-04-18
required_date : 2017-04-20
shipped_date : 2017-04-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 849:
order_id : 849
customer_id : 776
order_status : 4
order_date : 2022-04-19
required_date : 2017-04-20
shipped_date : 2017-04-21
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 850:
order_id : 850
customer_id : 1346
order_status : 4
order_date : 2022-04-19
required_date : 2017-04-22
shipped_date : 2017-04-22
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 851:
order_id : 851
customer_id : 1139
order_status : 4
order_date : 2022-04-20
required_date : 2017-04-21
shipped_date : 2017-04-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 852:
order_id : 852
customer_id : 13
order_status : 4
order_date : 2022-04-21
required_date : 2017-04-23
shipped_date : 2017-04-22
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 853:
order_id : 853
customer_id : 883
order_status : 4
order_date : 2022-04-21
required_date : 2017-04-24
shipped_date : 2017-04-24
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 854:
order_id : 854
customer_id : 177
order_status : 4
order_date : 2022-04-22
required_date : 2017-04-25
shipped_date : 2017-04-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 855:
order_id : 855
customer_id : 775
order_status : 4
order_date : 2022-04-22
required_date : 2017-04-23
shipped_date : 2017-04-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 856:
order_id : 856
customer_id : 477
order_status : 4
order_date : 2022-04-23
required_date : 2017-04-25
shipped_date : 2017-04-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 857:
order_id : 857
customer_id : 1402
order_status : 4
order_date : 2022-04-24
required_date : 2017-04-25
shipped_date : 2017-04-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 858:
order_id : 858
customer_id : 162
order_status : 4
order_date : 2022-04-25
required_date : 2017-04-27
shipped_date : 2017-04-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 859:
order_id : 859
customer_id : 644
order_status : 4
order_date : 2022-04-25
required_date : 2017-04-26
shipped_date : 2017-04-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 860:
order_id : 860
customer_id : 473
order_status : 4
order_date : 2022-04-27
required_date : 2017-04-29
shipped_date : 2017-04-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 861:
order_id : 861
customer_id : 1177
order_status : 4
order_date : 2022-04-27
required_date : 2017-04-29
shipped_date : 2017-04-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 862:
order_id : 862
customer_id : 1230
order_status : 4
order_date : 2022-04-27
required_date : 2017-04-30
shipped_date : 2017-04-29
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 863:
order_id : 863
customer_id : 446
order_status : 4
order_date : 2022-04-28
required_date : 2017-04-30
shipped_date : 2017-05-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 864:
order_id : 864
customer_id : 902
order_status : 4
order_date : 2022-04-28
required_date : 2017-04-30
shipped_date : 2017-04-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 865:
order_id : 865
customer_id : 974
order_status : 4
order_date : 2022-04-29
required_date : 2017-05-02
shipped_date : 2017-05-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 866:
order_id : 866
customer_id : 1410
order_status : 4
order_date : 2022-04-29
required_date : 2017-04-30
shipped_date : 2017-05-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 867:
order_id : 867
customer_id : 97
order_status : 4
order_date : 2022-05-01
required_date : 2017-05-03
shipped_date : 2017-05-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 868:
order_id : 868
customer_id : 868
order_status : 4
order_date : 2022-05-01
required_date : 2017-05-04
shipped_date : 2017-05-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 869:
order_id : 869
customer_id : 844
order_status : 4
order_date : 2022-05-01
required_date : 2017-05-04
shipped_date : 2017-05-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 870:
order_id : 870
customer_id : 1416
order_status : 4
order_date : 2022-05-01
required_date : 2017-05-04
shipped_date : 2017-05-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 871:
order_id : 871
customer_id : 358
order_status : 4
order_date : 2022-05-02
required_date : 2017-05-04
shipped_date : 2017-05-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 872:
order_id : 872
customer_id : 394
order_status : 4
order_date : 2022-05-03
required_date : 2017-05-06
shipped_date : 2017-05-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 873:
order_id : 873
customer_id : 829
order_status : 4
order_date : 2022-05-03
required_date : 2017-05-05
shipped_date : 2017-05-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 874:
order_id : 874
customer_id : 661
order_status : 4
order_date : 2022-05-04
required_date : 2017-05-05
shipped_date : 2017-05-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 875:
order_id : 875
customer_id : 386
order_status : 4
order_date : 2022-05-05
required_date : 2017-05-06
shipped_date : 2017-05-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 876:
order_id : 876
customer_id : 1046
order_status : 4
order_date : 2022-05-05
required_date : 2017-05-08
shipped_date : 2017-05-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 877:
order_id : 877
customer_id : 784
order_status : 4
order_date : 2022-05-06
required_date : 2017-05-07
shipped_date : 2017-05-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 878:
order_id : 878
customer_id : 224
order_status : 4
order_date : 2022-05-07
required_date : 2017-05-10
shipped_date : 2017-05-09
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 879:
order_id : 879
customer_id : 214
order_status : 4
order_date : 2022-05-08
required_date : 2017-05-09
shipped_date : 2017-05-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 880:
order_id : 880
customer_id : 1206
order_status : 4
order_date : 2022-05-08
required_date : 2017-05-11
shipped_date : 2017-05-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 881:
order_id : 881
customer_id : 1024
order_status : 4
order_date : 2022-05-08
required_date : 2017-05-11
shipped_date : 2017-05-11
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 882:
order_id : 882
customer_id : 196
order_status : 4
order_date : 2022-05-09
required_date : 2017-05-12
shipped_date : 2017-05-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 883:
order_id : 883
customer_id : 507
order_status : 4
order_date : 2022-05-11
required_date : 2017-05-13
shipped_date : 2017-05-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 884:
order_id : 884
customer_id : 871
order_status : 4
order_date : 2022-05-11
required_date : 2017-05-13
shipped_date : 2017-05-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 885:
order_id : 885
customer_id : 66
order_status : 3
order_date : 2022-05-13
required_date : 2017-05-13
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 886:
order_id : 886
customer_id : 1396
order_status : 4
order_date : 2022-05-13
required_date : 2017-05-14
shipped_date : 2017-05-15
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 887:
order_id : 887
customer_id : 1195
order_status : 4
order_date : 2022-05-13
required_date : 2017-05-15
shipped_date : 2017-05-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 888:
order_id : 888
customer_id : 1038
order_status : 4
order_date : 2022-05-14
required_date : 2017-05-16
shipped_date : 2017-05-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 889:
order_id : 889
customer_id : 830
order_status : 4
order_date : 2022-05-14
required_date : 2017-05-17
shipped_date : 2017-05-15
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 890:
order_id : 890
customer_id : 171
order_status : 4
order_date : 2022-05-15
required_date : 2017-05-18
shipped_date : 2017-05-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 891:
order_id : 891
customer_id : 384
order_status : 4
order_date : 2022-05-15
required_date : 2017-05-18
shipped_date : 2017-05-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 892:
order_id : 892
customer_id : 651
order_status : 4
order_date : 2022-05-15
required_date : 2017-05-18
shipped_date : 2017-05-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 893:
order_id : 893
customer_id : 1293
order_status : 4
order_date : 2022-05-16
required_date : 2017-05-19
shipped_date : 2017-05-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 894:
order_id : 894
customer_id : 1320
order_status : 4
order_date : 2022-05-16
required_date : 2017-05-19
shipped_date : 2017-05-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 895:
order_id : 895
customer_id : 857
order_status : 4
order_date : 2022-05-18
required_date : 2017-05-21
shipped_date : 2017-05-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 896:
order_id : 896
customer_id : 376
order_status : 4
order_date : 2022-05-19
required_date : 2017-05-22
shipped_date : 2017-05-21
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 897:
order_id : 897
customer_id : 47
order_status : 4
order_date : 2022-05-20
required_date : 2017-05-21
shipped_date : 2017-05-21
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 898:
order_id : 898
customer_id : 352
order_status : 4
order_date : 2022-05-20
required_date : 2017-05-21
shipped_date : 2017-05-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 899:
order_id : 899
customer_id : 605
order_status : 4
order_date : 2022-05-20
required_date : 2017-05-21
shipped_date : 2017-05-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 900:
order_id : 900
customer_id : 971
order_status : 4
order_date : 2022-05-20
required_date : 2017-05-21
shipped_date : 2017-05-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 901:
order_id : 901
customer_id : 345
order_status : 4
order_date : 2022-05-21
required_date : 2017-05-22
shipped_date : 2017-05-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 902:
order_id : 902
customer_id : 1278
order_status : 4
order_date : 2022-05-21
required_date : 2017-05-24
shipped_date : 2017-05-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 903:
order_id : 903
customer_id : 179
order_status : 4
order_date : 2022-05-22
required_date : 2017-05-23
shipped_date : 2017-05-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 904:
order_id : 904
customer_id : 1020
order_status : 4
order_date : 2022-05-23
required_date : 2017-05-26
shipped_date : 2017-05-24
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 905:
order_id : 905
customer_id : 609
order_status : 4
order_date : 2022-05-23
required_date : 2017-05-26
shipped_date : 2017-05-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 906:
order_id : 906
customer_id : 877
order_status : 4
order_date : 2022-05-23
required_date : 2017-05-26
shipped_date : 2017-05-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 907:
order_id : 907
customer_id : 120
order_status : 4
order_date : 2022-05-24
required_date : 2017-05-26
shipped_date : 2017-05-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 908:
order_id : 908
customer_id : 402
order_status : 4
order_date : 2022-05-25
required_date : 2017-05-28
shipped_date : 2017-05-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 909:
order_id : 909
customer_id : 188
order_status : 4
order_date : 2022-05-26
required_date : 2017-05-27
shipped_date : 2017-05-28
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 910:
order_id : 910
customer_id : 342
order_status : 4
order_date : 2022-05-26
required_date : 2017-05-28
shipped_date : 2017-05-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 911:
order_id : 911
customer_id : 887
order_status : 4
order_date : 2022-05-26
required_date : 2017-05-29
shipped_date : 2017-05-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 912:
order_id : 912
customer_id : 519
order_status : 4
order_date : 2022-05-27
required_date : 2017-05-29
shipped_date : 2017-05-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 913:
order_id : 913
customer_id : 699
order_status : 4
order_date : 2022-05-27
required_date : 2017-05-29
shipped_date : 2017-05-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 914:
order_id : 914
customer_id : 1068
order_status : 4
order_date : 2022-05-28
required_date : 2017-05-31
shipped_date : 2017-05-31
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 915:
order_id : 915
customer_id : 215
order_status : 4
order_date : 2022-05-28
required_date : 2017-05-30
shipped_date : 2017-05-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 916:
order_id : 916
customer_id : 718
order_status : 4
order_date : 2022-05-28
required_date : 2017-05-29
shipped_date : 2017-05-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 917:
order_id : 917
customer_id : 881
order_status : 4
order_date : 2022-05-29
required_date : 2017-05-31
shipped_date : 2017-06-01
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 918:
order_id : 918
customer_id : 242
order_status : 4
order_date : 2022-05-30
required_date : 2017-05-31
shipped_date : 2017-05-31
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 919:
order_id : 919
customer_id : 781
order_status : 4
order_date : 2022-05-30
required_date : 2017-05-31
shipped_date : 2017-05-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 920:
order_id : 920
customer_id : 966
order_status : 4
order_date : 2022-05-30
required_date : 2017-06-01
shipped_date : 2017-06-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 921:
order_id : 921
customer_id : 628
order_status : 4
order_date : 2022-05-31
required_date : 2017-06-02
shipped_date : 2017-06-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 922:
order_id : 922
customer_id : 656
order_status : 4
order_date : 2022-05-31
required_date : 2017-06-01
shipped_date : 2017-06-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 923:
order_id : 923
customer_id : 769
order_status : 4
order_date : 2022-05-31
required_date : 2017-06-03
shipped_date : 2017-06-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 924:
order_id : 924
customer_id : 68
order_status : 3
order_date : 2022-06-02
required_date : 2017-06-02
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 925:
order_id : 925
customer_id : 1316
order_status : 4
order_date : 2022-06-02
required_date : 2017-06-05
shipped_date : 2017-06-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 926:
order_id : 926
customer_id : 233
order_status : 4
order_date : 2022-06-03
required_date : 2017-06-05
shipped_date : 2017-06-06
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 927:
order_id : 927
customer_id : 1438
order_status : 4
order_date : 2022-06-03
required_date : 2017-06-05
shipped_date : 2017-06-06
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 928:
order_id : 928
customer_id : 957
order_status : 4
order_date : 2022-06-05
required_date : 2017-06-06
shipped_date : 2017-06-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 929:
order_id : 929
customer_id : 472
order_status : 4
order_date : 2022-06-05
required_date : 2017-06-06
shipped_date : 2017-06-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 930:
order_id : 930
customer_id : 1224
order_status : 4
order_date : 2022-06-05
required_date : 2017-06-06
shipped_date : 2017-06-06
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 931:
order_id : 931
customer_id : 631
order_status : 4
order_date : 2022-06-07
required_date : 2017-06-08
shipped_date : 2017-06-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 932:
order_id : 932
customer_id : 804
order_status : 4
order_date : 2022-06-07
required_date : 2017-06-08
shipped_date : 2017-06-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 933:
order_id : 933
customer_id : 909
order_status : 4
order_date : 2022-06-07
required_date : 2017-06-10
shipped_date : 2017-06-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 934:
order_id : 934
customer_id : 93
order_status : 4
order_date : 2022-06-09
required_date : 2017-06-10
shipped_date : 2017-06-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 935:
order_id : 935
customer_id : 43
order_status : 3
order_date : 2022-06-10
required_date : 2017-06-10
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 936:
order_id : 936
customer_id : 265
order_status : 4
order_date : 2022-06-10
required_date : 2017-06-13
shipped_date : 2017-06-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 937:
order_id : 937
customer_id : 73
order_status : 4
order_date : 2022-06-11
required_date : 2017-06-14
shipped_date : 2017-06-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 938:
order_id : 938
customer_id : 129
order_status : 4
order_date : 2022-06-11
required_date : 2017-06-12
shipped_date : 2017-06-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 939:
order_id : 939
customer_id : 1407
order_status : 4
order_date : 2022-06-11
required_date : 2017-06-12
shipped_date : 2017-06-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 940:
order_id : 940
customer_id : 585
order_status : 4
order_date : 2022-06-12
required_date : 2017-06-14
shipped_date : 2017-06-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 941:
order_id : 941
customer_id : 736
order_status : 4
order_date : 2022-06-12

required_date : 2017-06-14
shipped_date : 2017-06-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 942:
order_id : 942
customer_id : 537
order_status : 4
order_date : 2022-06-13
required_date : 2017-06-16
shipped_date : 2017-06-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 943:
order_id : 943
customer_id : 1025
order_status : 4
order_date : 2022-06-13
required_date : 2017-06-15
shipped_date : 2017-06-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 944:
order_id : 944
customer_id : 138
order_status : 4
order_date : 2022-06-14
required_date : 2017-06-15
shipped_date : 2017-06-17
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 945:
order_id : 945
customer_id : 167
order_status : 4
order_date : 2022-06-14
required_date : 2017-06-15
shipped_date : 2017-06-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 946:
order_id : 946
customer_id : 525
order_status : 4
order_date : 2022-06-14
required_date : 2017-06-16
shipped_date : 2017-06-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 947:
order_id : 947
customer_id : 278
order_status : 4
order_date : 2022-06-15
required_date : 2017-06-18
shipped_date : 2017-06-17
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 948:
order_id : 948
customer_id : 618
order_status : 4
order_date : 2022-06-15
required_date : 2017-06-17
shipped_date : 2017-06-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 949:
order_id : 949
customer_id : 867
order_status : 4
order_date : 2022-06-16
required_date : 2017-06-18
shipped_date : 2017-06-17
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 950:
order_id : 950
customer_id : 142
order_status : 4
order_date : 2022-06-16
required_date : 2017-06-19
shipped_date : 2017-06-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 951:
order_id : 951
customer_id : 339
order_status : 4
order_date : 2022-06-16
required_date : 2017-06-19
shipped_date : 2017-06-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 952:
order_id : 952
customer_id : 355
order_status : 4
order_date : 2022-06-16
required_date : 2017-06-18
shipped_date : 2017-06-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 953:
order_id : 953
customer_id : 658
order_status : 4
order_date : 2022-06-16
required_date : 2017-06-18
shipped_date : 2017-06-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 954:
order_id : 954
customer_id : 611
order_status : 4
order_date : 2022-06-17
required_date : 2017-06-20
shipped_date : 2017-06-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 955:
order_id : 955
customer_id : 880
order_status : 4
order_date : 2022-06-17
required_date : 2017-06-19
shipped_date : 2017-06-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 956:
order_id : 956
customer_id : 1184
order_status : 4
order_date : 2022-06-17
required_date : 2017-06-19
shipped_date : 2017-06-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 957:
order_id : 957
customer_id : 722
order_status : 4
order_date : 2022-06-17
required_date : 2017-06-20
shipped_date : 2017-06-20
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 958:
order_id : 958
customer_id : 1276
order_status : 4
order_date : 2022-06-18
required_date : 2017-06-20
shipped_date : 2017-06-19
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 959:
order_id : 959
customer_id : 650
order_status : 4
order_date : 2022-06-18
required_date : 2017-06-21
shipped_date : 2017-06-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 960:
order_id : 960
customer_id : 1390
order_status : 4
order_date : 2022-06-18
required_date : 2017-06-19
shipped_date : 2017-06-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 961:
order_id : 961
customer_id : 82
order_status : 4
order_date : 2022-06-19
required_date : 2017-06-21
shipped_date : 2017-06-22
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 962:
order_id : 962
customer_id : 570
order_status : 4
order_date : 2022-06-19
required_date : 2017-06-22
shipped_date : 2017-06-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 963:
order_id : 963
customer_id : 1432
order_status : 4
order_date : 2022-06-19
required_date : 2017-06-21
shipped_date : 2017-06-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 964:
order_id : 964
customer_id : 404
order_status : 4
order_date : 2022-06-20
required_date : 2017-06-22
shipped_date : 2017-06-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 965:
order_id : 965
customer_id : 457
order_status : 4
order_date : 2022-06-20
required_date : 2017-06-22
shipped_date : 2017-06-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 966:
order_id : 966
customer_id : 389
order_status : 4
order_date : 2022-06-20
required_date : 2017-06-22
shipped_date : 2017-06-22
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 967:
order_id : 967
customer_id : 1323
order_status : 4
order_date : 2022-06-21
required_date : 2017-06-24
shipped_date : 2017-06-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 968:
order_id : 968
customer_id : 1403
order_status : 4
order_date : 2022-06-21
required_date : 2017-06-23
shipped_date : 2017-06-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 969:
order_id : 969
customer_id : 248
order_status : 4
order_date : 2022-06-21
required_date : 2017-06-24
shipped_date : 2017-06-22
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 970:
order_id : 970
customer_id : 836
order_status : 4
order_date : 2022-06-22
required_date : 2017-06-25
shipped_date : 2017-06-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 971:
order_id : 971
customer_id : 1426
order_status : 4
order_date : 2022-06-22
required_date : 2017-06-23
shipped_date : 2017-06-24
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 972:
order_id : 972
customer_id : 270
order_status : 4
order_date : 2022-06-23
required_date : 2017-06-24
shipped_date : 2017-06-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 973:
order_id : 973
customer_id : 238
order_status : 4
order_date : 2022-06-24
required_date : 2017-06-27
shipped_date : 2017-06-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 974:
order_id : 974
customer_id : 511
order_status : 4
order_date : 2022-06-24
required_date : 2017-06-27
shipped_date : 2017-06-27
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 975:
order_id : 975
customer_id : 1092
order_status : 4
order_date : 2022-06-25
required_date : 2017-06-27
shipped_date : 2017-06-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 976:
order_id : 976
customer_id : 1266
order_status : 4
order_date : 2022-06-25
required_date : 2017-06-28
shipped_date : 2017-06-27
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 977:
order_id : 977
customer_id : 400
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-28
shipped_date : 2017-06-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 978:
order_id : 978
customer_id : 1123
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-28
shipped_date : 2017-06-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 979:
order_id : 979
customer_id : 1190
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-29
shipped_date : 2017-06-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 980:
order_id : 980
customer_id : 328
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-28
shipped_date : 2017-06-27
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 981:
order_id : 981
customer_id : 687
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-29
shipped_date : 2017-06-28
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 982:
order_id : 982
customer_id : 1423
order_status : 4
order_date : 2022-06-26
required_date : 2017-06-29
shipped_date : 2017-06-28
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 983:
order_id : 983
customer_id : 1158
order_status : 4
order_date : 2022-06-27
required_date : 2017-06-28
shipped_date : 2017-06-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 984:
order_id : 984
customer_id : 1287
order_status : 4
order_date : 2022-06-27
required_date : 2017-06-28
shipped_date : 2017-06-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 985:
order_id : 985
customer_id : 461
order_status : 4
order_date : 2022-06-30
required_date : 2017-07-02
shipped_date : 2017-07-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 986:
order_id : 986
customer_id : 556
order_status : 4
order_date : 2022-06-30
required_date : 2017-07-03
shipped_date : 2017-07-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 987:
order_id : 987
customer_id : 172
order_status : 4
order_date : 2022-07-02
required_date : 2017-07-04
shipped_date : 2017-07-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 988:
order_id : 988
customer_id : 436
order_status : 4
order_date : 2022-07-02
required_date : 2017-07-04
shipped_date : 2017-07-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 989:
order_id : 989
customer_id : 1145
order_status : 4
order_date : 2022-07-02
required_date : 2017-07-04
shipped_date : 2017-07-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 990:
order_id : 990
customer_id : 706
order_status : 4
order_date : 2022-07-04
required_date : 2017-07-07
shipped_date : 2017-07-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 991:
order_id : 991
customer_id : 751
order_status : 4
order_date : 2022-07-06
required_date : 2017-07-07
shipped_date : 2017-07-09
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 992:
order_id : 992
customer_id : 723
order_status : 4
order_date : 2022-07-07
required_date : 2017-07-10
shipped_date : 2017-07-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 993:
order_id : 993
customer_id : 1415
order_status : 4
order_date : 2022-07-09
required_date : 2017-07-11
shipped_date : 2017-07-11
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 994:
order_id : 994
customer_id : 419
order_status : 4
order_date : 2022-07-09
required_date : 2017-07-11
shipped_date : 2017-07-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 995:
order_id : 995
customer_id : 621
order_status : 4
order_date : 2022-07-11
required_date : 2017-07-13
shipped_date : 2017-07-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 996:
order_id : 996
customer_id : 915
order_status : 4
order_date : 2022-07-11
required_date : 2017-07-12
shipped_date : 2017-07-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 997:
order_id : 997
customer_id : 485
order_status : 4
order_date : 2022-07-11
required_date : 2017-07-13
shipped_date : 2017-07-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 998:
order_id : 998
customer_id : 219
order_status : 4
order_date : 2022-07-12
required_date : 2017-07-13
shipped_date : 2017-07-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 999:
order_id : 999
customer_id : 590
order_status : 4
order_date : 2022-07-12
required_date : 2017-07-13
shipped_date : 2017-07-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1000:
order_id : 1000
customer_id : 645
order_status : 4
order_date : 2022-07-12
required_date : 2017-07-14
shipped_date : 2017-07-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1001:
order_id : 1001
customer_id : 354
order_status : 4
order_date : 2022-07-13
required_date : 2017-07-16
shipped_date : 2017-07-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1002:
order_id : 1002
customer_id : 1418
order_status : 4
order_date : 2022-07-14
required_date : 2017-07-16
shipped_date : 2017-07-16
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1003:
order_id : 1003
customer_id : 503
order_status : 4
order_date : 2022-07-14
required_date : 2017-07-16
shipped_date : 2017-07-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1004:
order_id : 1004
customer_id : 1389
order_status : 4
order_date : 2022-07-14
required_date : 2017-07-17
shipped_date : 2017-07-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1005:
order_id : 1005
customer_id : 266
order_status : 4
order_date : 2022-07-15
required_date : 2017-07-17
shipped_date : 2017-07-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1006:
order_id : 1006
customer_id : 1070
order_status : 4
order_date : 2022-07-15
required_date : 2017-07-18
shipped_date : 2017-07-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1007:
order_id : 1007
customer_id : 1115
order_status : 4
order_date : 2022-07-16
required_date : 2017-07-17
shipped_date : 2017-07-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1008:
order_id : 1008
customer_id : 1345
order_status : 4
order_date : 2022-07-16
required_date : 2017-07-18
shipped_date : 2017-07-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1009:
order_id : 1009
customer_id : 1064
order_status : 4
order_date : 2022-07-16
required_date : 2017-07-19
shipped_date : 2017-07-19
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1010:
order_id : 1010
customer_id : 8
order_status : 3
order_date : 2022-07-18
required_date : 2017-07-18
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1011:
order_id : 1011
customer_id : 495
order_status : 4
order_date : 2022-07-18
required_date : 2017-07-21
shipped_date : 2017-07-21
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1012:
order_id : 1012
customer_id : 620
order_status : 4
order_date : 2022-07-18
required_date : 2017-07-20
shipped_date : 2017-07-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1013:
order_id : 1013
customer_id : 174
order_status : 4
order_date : 2022-07-19
required_date : 2017-07-22
shipped_date : 2017-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1014:
order_id : 1014
customer_id : 748
order_status : 4
order_date : 2022-07-19
required_date : 2017-07-21
shipped_date : 2017-07-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1015:
order_id : 1015
customer_id : 799
order_status : 4
order_date : 2022-07-19
required_date : 2017-07-22
shipped_date : 2017-07-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1016:
order_id : 1016
customer_id : 1417
order_status : 4
order_date : 2022-07-19
required_date : 2017-07-20
shipped_date : 2017-07-21
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1017:
order_id : 1017
customer_id : 168
order_status : 4
order_date : 2022-07-20
required_date : 2017-07-21
shipped_date : 2017-07-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1018:
order_id : 1018
customer_id : 290
order_status : 4
order_date : 2022-07-22
required_date : 2017-07-23
shipped_date : 2017-07-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1019:
order_id : 1019
customer_id : 408
order_status : 4
order_date : 2022-07-22
required_date : 2017-07-23
shipped_date : 2017-07-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1020:
order_id : 1020
customer_id : 16
order_status : 3
order_date : 2022-07-23
required_date : 2017-07-23
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1021:
order_id : 1021
customer_id : 125
order_status : 4
order_date : 2022-07-23
required_date : 2017-07-24
shipped_date : 2017-07-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1022:
order_id : 1022
customer_id : 353
order_status : 4
order_date : 2022-07-23
required_date : 2017-07-26
shipped_date : 2017-07-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1023:
order_id : 1023
customer_id : 356
order_status : 4
order_date : 2022-07-23
required_date : 2017-07-26
shipped_date : 2017-07-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1024:
order_id : 1024
customer_id : 837
order_status : 4
order_date : 2022-07-23
required_date : 2017-07-25
shipped_date : 2017-07-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1025:
order_id : 1025
customer_id : 1304
order_status : 4
order_date : 2022-07-23
required_date : 2017-07-26
shipped_date : 2017-07-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1026:
order_id : 1026
customer_id : 1370
order_status : 4
order_date : 2022-07-26
required_date : 2017-07-28
shipped_date : 2017-07-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1027:
order_id : 1027
customer_id : 588
order_status : 4
order_date : 2022-07-26
required_date : 2017-07-28
shipped_date : 2017-07-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1028:
order_id : 1028
customer_id : 1273
order_status : 4
order_date : 2022-07-27
required_date : 2017-07-28
shipped_date : 2017-07-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1029:
order_id : 1029
customer_id : 407
order_status : 4
order_date : 2022-07-29
required_date : 2017-07-30
shipped_date : 2017-08-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1030:
order_id : 1030
customer_id : 161
order_status : 4
order_date : 2022-07-29
required_date : 2017-07-30
shipped_date : 2017-07-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1031:
order_id : 1031
customer_id : 1308
order_status : 4
order_date : 2022-07-30
required_date : 2017-08-01
shipped_date : 2017-08-02
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1032:
order_id : 1032
customer_id : 429
order_status : 4
order_date : 2022-07-30
required_date : 2017-08-02
shipped_date : 2017-08-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1033:
order_id : 1033
customer_id : 582
order_status : 4
order_date : 2022-07-30
required_date : 2017-07-31
shipped_date : 2017-08-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1034:
order_id : 1034
customer_id : 895
order_status : 4
order_date : 2022-07-30
required_date : 2017-07-31
shipped_date : 2017-07-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1035:
order_id : 1035
customer_id : 1283
order_status : 4
order_date : 2022-07-30
required_date : 2017-08-02
shipped_date : 2017-08-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1036:
order_id : 1036
customer_id : 1442
order_status : 4
order_date : 2022-07-30
required_date : 2017-08-01
shipped_date : 2017-07-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1037:
order_id : 1037
customer_id : 1229
order_status : 4
order_date : 2022-07-31
required_date : 2017-08-02
shipped_date : 2017-08-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1038:
order_id : 1038
customer_id : 1281
order_status : 4
order_date : 2022-07-31
required_date : 2017-08-01
shipped_date : 2017-08-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1039:
order_id : 1039
customer_id : 1077
order_status : 4
order_date : 2022-08-02
required_date : 2017-08-04
shipped_date : 2017-08-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1040:
order_id : 1040
customer_id : 1225
order_status : 4
order_date : 2022-08-04
required_date : 2017-08-07
shipped_date : 2017-08-05
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1041:
order_id : 1041
customer_id : 70
order_status : 4
order_date : 2022-08-04
required_date : 2017-08-06
shipped_date : 2017-08-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1042:
order_id : 1042
customer_id : 539
order_status : 4
order_date : 2022-08-06
required_date : 2017-08-07
shipped_date : 2017-08-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1043:
order_id : 1043
customer_id : 1235
order_status : 4
order_date : 2022-08-06
required_date : 2017-08-09
shipped_date : 2017-08-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1044:
order_id : 1044
customer_id : 1270
order_status : 4
order_date : 2022-08-07
required_date : 2017-08-10
shipped_date : 2017-08-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1045:
order_id : 1045
customer_id : 185
order_status : 4
order_date : 2022-08-07
required_date : 2017-08-09
shipped_date : 2017-08-10
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1046:
order_id : 1046
customer_id : 1134
order_status : 4
order_date : 2022-08-07
required_date : 2017-08-09
shipped_date : 2017-08-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1047:
order_id : 1047
customer_id : 116
order_status : 3
order_date : 2022-08-08
required_date : 2017-08-08
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1048:
order_id : 1048
customer_id : 777
order_status : 4
order_date : 2022-08-08
required_date : 2017-08-10
shipped_date : 2017-08-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1049:
order_id : 1049
customer_id : 194
order_status : 4
order_date : 2022-08-09
required_date : 2017-08-11
shipped_date : 2017-08-10
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1050:
order_id : 1050
customer_id : 239
order_status : 4
order_date : 2022-08-09
required_date : 2017-08-12
shipped_date : 2017-08-12
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1051:
order_id : 1051
customer_id : 209
order_status : 4
order_date : 2022-08-10
required_date : 2017-08-11
shipped_date : 2017-08-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1052:
order_id : 1052
customer_id : 460
order_status : 4
order_date : 2022-08-10
required_date : 2017-08-12
shipped_date : 2017-08-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1053:
order_id : 1053
customer_id : 1439
order_status : 4
order_date : 2022-08-10
required_date : 2017-08-11
shipped_date : 2017-08-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1054:
order_id : 1054
customer_id : 189
order_status : 4
order_date : 2022-08-11
required_date : 2017-08-12
shipped_date : 2017-08-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1055:
order_id : 1055
customer_id : 140
order_status : 4
order_date : 2022-08-12
required_date : 2017-08-15
shipped_date : 2017-08-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1056:
order_id : 1056
customer_id : 325
order_status : 4
order_date : 2022-08-12
required_date : 2017-08-15
shipped_date : 2017-08-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1057:
order_id : 1057
customer_id : 456
order_status : 4
order_date : 2022-08-12
required_date : 2017-08-15
shipped_date : 2017-08-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1058:
order_id : 1058
customer_id : 782
order_status : 4
order_date : 2022-08-13
required_date : 2017-08-16
shipped_date : 2017-08-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1059:
order_id : 1059
customer_id : 6
order_status : 4
order_date : 2022-08-14
required_date : 2017-08-17
shipped_date : 2017-08-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1060:
order_id : 1060
customer_id : 182
order_status : 4
order_date : 2022-08-15
required_date : 2017-08-18
shipped_date : 2017-08-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1061:
order_id : 1061
customer_id : 655
order_status : 4
order_date : 2022-08-15
required_date : 2017-08-18
shipped_date : 2017-08-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1062:
order_id : 1062
customer_id : 1210
order_status : 4
order_date : 2022-08-15
required_date : 2017-08-17
shipped_date : 2017-08-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1063:
order_id : 1063
customer_id : 198
order_status : 4
order_date : 2022-08-16
required_date : 2017-08-19
shipped_date : 2017-08-19
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1064:
order_id : 1064
customer_id : 898
order_status : 4
order_date : 2022-08-16
required_date : 2017-08-18
shipped_date : 2017-08-19
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1065:
order_id : 1065
customer_id : 25
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-19
shipped_date : 2017-08-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1066:
order_id : 1066
customer_id : 106
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-20
shipped_date : 2017-08-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1067:
order_id : 1067
customer_id : 225
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-19
shipped_date : 2017-08-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1068:
order_id : 1068
customer_id : 453
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-20
shipped_date : 2017-08-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1069:
order_id : 1069
customer_id : 493
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-19
shipped_date : 2017-08-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1070:
order_id : 1070
customer_id : 596
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-20
shipped_date : 2017-08-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1071:
order_id : 1071
customer_id : 602
order_status : 4
order_date : 2022-08-17
required_date : 2017-08-20
shipped_date : 2017-08-18
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1072:
order_id : 1072
customer_id : 47
order_status : 3
order_date : 2022-08-18
required_date : 2017-08-18
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1073:
order_id : 1073
customer_id : 911
order_status : 4
order_date : 2022-08-18
required_date : 2017-08-19
shipped_date : 2017-08-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1074:
order_id : 1074
customer_id : 11
order_status : 3
order_date : 2022-08-19
required_date : 2017-08-19
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1075:
order_id : 1075
customer_id : 1003
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-21
shipped_date : 2017-08-22
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1076:
order_id : 1076
customer_id : 42
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-22
shipped_date : 2017-08-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1077:
order_id : 1077
customer_id : 412
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-20
shipped_date : 2017-08-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1078:
order_id : 1078
customer_id : 793
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-21
shipped_date : 2017-08-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1079:
order_id : 1079
customer_id : 812
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-20
shipped_date : 2017-08-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1080:
order_id : 1080
customer_id : 1086
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-20
shipped_date : 2017-08-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1081:
order_id : 1081
customer_id : 1106
order_status : 4
order_date : 2022-08-19
required_date : 2017-08-22
shipped_date : 2017-08-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1082:
order_id : 1082
customer_id : 1327
order_status : 4
order_date : 2022-08-20
required_date : 2017-08-22
shipped_date : 2017-08-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1083:
order_id : 1083
customer_id : 1372
order_status : 4
order_date : 2022-08-20
required_date : 2017-08-23
shipped_date : 2017-08-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1084:
order_id : 1084
customer_id : 2
order_status : 4
order_date : 2022-08-21
required_date : 2017-08-24
shipped_date : 2017-08-23
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1085:
order_id : 1085
customer_id : 305
order_status : 4
order_date : 2022-08-21
required_date : 2017-08-23
shipped_date : 2017-08-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1086:
order_id : 1086
customer_id : 220
order_status : 4
order_date : 2022-08-21
required_date : 2017-08-23
shipped_date : 2017-08-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1087:
order_id : 1087
customer_id : 675
order_status : 4
order_date : 2022-08-22
required_date : 2017-08-23
shipped_date : 2017-08-25
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1088:
order_id : 1088
customer_id : 1160
order_status : 4
order_date : 2022-08-22
required_date : 2017-08-23
shipped_date : 2017-08-23
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1089:
order_id : 1089
customer_id : 46
order_status : 3
order_date : 2022-08-23
required_date : 2017-08-23

shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1090:
order_id : 1090
customer_id : 1427
order_status : 4
order_date : 2022-08-24
required_date : 2017-08-26
shipped_date : 2017-08-26
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1091:
order_id : 1091
customer_id : 1260
order_status : 4
order_date : 2022-08-24
required_date : 2017-08-25
shipped_date : 2017-08-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1092:
order_id : 1092
customer_id : 40
order_status : 4
order_date : 2022-08-25
required_date : 2017-08-28
shipped_date : 2017-08-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1093:
order_id : 1093
customer_id : 326
order_status : 4
order_date : 2022-08-25
required_date : 2017-08-28
shipped_date : 2017-08-26
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1094:
order_id : 1094
customer_id : 828
order_status : 4
order_date : 2022-08-25
required_date : 2017-08-27
shipped_date : 2017-08-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1095:
order_id : 1095
customer_id : 1382
order_status : 4
order_date : 2022-08-26
required_date : 2017-08-28
shipped_date : 2017-08-27
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1096:
order_id : 1096
customer_id : 589
order_status : 4
order_date : 2022-08-27
required_date : 2017-08-29
shipped_date : 2017-08-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1097:
order_id : 1097
customer_id : 1311
order_status : 4
order_date : 2022-08-27
required_date : 2017-08-30
shipped_date : 2017-08-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1098:
order_id : 1098
customer_id : 752
order_status : 4
order_date : 2022-08-28
required_date : 2017-08-30
shipped_date : 2017-08-30
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1099:
order_id : 1099
customer_id : 1128
order_status : 4
order_date : 2022-08-28
required_date : 2017-08-29
shipped_date : 2017-08-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1100:
order_id : 1100
customer_id : 1392
order_status : 4
order_date : 2022-08-28
required_date : 2017-08-29
shipped_date : 2017-08-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1101:
order_id : 1101
customer_id : 379
order_status : 4
order_date : 2022-08-29
required_date : 2017-08-30
shipped_date : 2017-08-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1102:
order_id : 1102
customer_id : 1317
order_status : 4
order_date : 2022-08-29
required_date : 2017-08-31
shipped_date : 2017-08-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1103:
order_id : 1103
customer_id : 1394
order_status : 4
order_date : 2022-08-31
required_date : 2017-09-02
shipped_date : 2017-09-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1104:
order_id : 1104
customer_id : 268
order_status : 4
order_date : 2022-09-01
required_date : 2017-09-04
shipped_date : 2017-09-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1105:
order_id : 1105
customer_id : 747
order_status : 4
order_date : 2022-09-01
required_date : 2017-09-04
shipped_date : 2017-09-03
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1106:
order_id : 1106
customer_id : 1009
order_status : 4
order_date : 2022-09-02
required_date : 2017-09-04
shipped_date : 2017-09-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1107:
order_id : 1107
customer_id : 1424
order_status : 4
order_date : 2022-09-02
required_date : 2017-09-05
shipped_date : 2017-09-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1108:
order_id : 1108
customer_id : 735
order_status : 4
order_date : 2022-09-03
required_date : 2017-09-05
shipped_date : 2017-09-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1109:
order_id : 1109
customer_id : 23
order_status : 4
order_date : 2022-09-03
required_date : 2017-09-04
shipped_date : 2017-09-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1110:
order_id : 1110
customer_id : 912
order_status : 4
order_date : 2022-09-04
required_date : 2017-09-07
shipped_date : 2017-09-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1111:
order_id : 1111
customer_id : 930
order_status : 4
order_date : 2022-09-04
required_date : 2017-09-06
shipped_date : 2017-09-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1112:
order_id : 1112
customer_id : 798
order_status : 4
order_date : 2022-09-05
required_date : 2017-09-08
shipped_date : 2017-09-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1113:
order_id : 1113
customer_id : 388
order_status : 4
order_date : 2022-09-06
required_date : 2017-09-08
shipped_date : 2017-09-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1114:
order_id : 1114
customer_id : 1036
order_status : 4
order_date : 2022-09-06
required_date : 2017-09-08
shipped_date : 2017-09-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1115:
order_id : 1115
customer_id : 1100
order_status : 4
order_date : 2022-09-07
required_date : 2017-09-09
shipped_date : 2017-09-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1116:
order_id : 1116
customer_id : 52
order_status : 4
order_date : 2022-09-08
required_date : 2017-09-10
shipped_date : 2017-09-10
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1117:
order_id : 1117
customer_id : 334
order_status : 4
order_date : 2022-09-08
required_date : 2017-09-10
shipped_date : 2017-09-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1118:
order_id : 1118
customer_id : 1023
order_status : 4
order_date : 2022-09-08
required_date : 2017-09-11
shipped_date : 2017-09-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1119:
order_id : 1119
customer_id : 749
order_status : 4
order_date : 2022-09-10
required_date : 2017-09-12
shipped_date : 2017-09-13
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1120:
order_id : 1120
customer_id : 1269
order_status : 4
order_date : 2022-09-10
required_date : 2017-09-12
shipped_date : 2017-09-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1121:
order_id : 1121
customer_id : 143
order_status : 4
order_date : 2022-09-11
required_date : 2017-09-13
shipped_date : 2017-09-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1122:
order_id : 1122
customer_id : 1132
order_status : 4
order_date : 2022-09-12
required_date : 2017-09-14
shipped_date : 2017-09-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1123:
order_id : 1123
customer_id : 598
order_status : 4
order_date : 2022-09-13
required_date : 2017-09-14
shipped_date : 2017-09-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1124:
order_id : 1124
customer_id : 275
order_status : 4
order_date : 2022-09-13
required_date : 2017-09-14
shipped_date : 2017-09-16
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1125:
order_id : 1125
customer_id : 945
order_status : 4
order_date : 2022-09-14
required_date : 2017-09-15
shipped_date : 2017-09-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1126:
order_id : 1126
customer_id : 1213
order_status : 4
order_date : 2022-09-14
required_date : 2017-09-16
shipped_date : 2017-09-15
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1127:
order_id : 1127
customer_id : 494
order_status : 4
order_date : 2022-09-15
required_date : 2017-09-16
shipped_date : 2017-09-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1128:
order_id : 1128
customer_id : 936
order_status : 4
order_date : 2022-09-15
required_date : 2017-09-17
shipped_date : 2017-09-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1129:
order_id : 1129
customer_id : 663
order_status : 4
order_date : 2022-09-17
required_date : 2017-09-18
shipped_date : 2017-09-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1130:
order_id : 1130
customer_id : 69
order_status : 4
order_date : 2022-09-18
required_date : 2017-09-20
shipped_date : 2017-09-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1131:
order_id : 1131
customer_id : 1178
order_status : 4
order_date : 2022-09-18
required_date : 2017-09-20
shipped_date : 2017-09-19
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1132:
order_id : 1132
customer_id : 351
order_status : 4
order_date : 2022-09-19
required_date : 2017-09-20
shipped_date : 2017-09-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1133:
order_id : 1133
customer_id : 517
order_status : 4
order_date : 2022-09-19
required_date : 2017-09-21
shipped_date : 2017-09-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1134:
order_id : 1134
customer_id : 978
order_status : 4
order_date : 2022-09-19
required_date : 2017-09-22
shipped_date : 2017-09-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1135:
order_id : 1135
customer_id : 1347
order_status : 4
order_date : 2022-09-19
required_date : 2017-09-21
shipped_date : 2017-09-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1136:
order_id : 1136
customer_id : 1050
order_status : 4
order_date : 2022-09-20
required_date : 2017-09-21
shipped_date : 2017-09-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1137:
order_id : 1137
customer_id : 810
order_status : 4
order_date : 2022-09-20
required_date : 2017-09-23
shipped_date : 2017-09-23
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1138:
order_id : 1138
customer_id : 254
order_status : 4
order_date : 2022-09-21
required_date : 2017-09-23
shipped_date : 2017-09-22
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1139:
order_id : 1139
customer_id : 1006
order_status : 4
order_date : 2022-09-21
required_date : 2017-09-22
shipped_date : 2017-09-23
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1140:
order_id : 1140
customer_id : 1063
order_status : 4
order_date : 2022-09-21
required_date : 2017-09-22
shipped_date : 2017-09-22
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1141:
order_id : 1141
customer_id : 1076
order_status : 4
order_date : 2022-09-22
required_date : 2017-09-23
shipped_date : 2017-09-24
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1142:
order_id : 1142
customer_id : 554
order_status : 4
order_date : 2022-09-23
required_date : 2017-09-26
shipped_date : 2017-09-26
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1143:
order_id : 1143
customer_id : 1087
order_status : 4
order_date : 2022-09-24
required_date : 2017-09-26
shipped_date : 2017-09-27
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1144:
order_id : 1144
customer_id : 1414
order_status : 4
order_date : 2022-09-24
required_date : 2017-09-27
shipped_date : 2017-09-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1145:
order_id : 1145
customer_id : 617
order_status : 4
order_date : 2022-09-25
required_date : 2017-09-27
shipped_date : 2017-09-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1146:
order_id : 1146
customer_id : 757
order_status : 4
order_date : 2022-09-25
required_date : 2017-09-26
shipped_date : 2017-09-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1147:
order_id : 1147
customer_id : 1344
order_status : 4
order_date : 2022-09-25
required_date : 2017-09-26
shipped_date : 2017-09-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1148:
order_id : 1148
customer_id : 1379
order_status : 4
order_date : 2022-09-25
required_date : 2017-09-26
shipped_date : 2017-09-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1149:
order_id : 1149
customer_id : 787
order_status : 4
order_date : 2022-09-27
required_date : 2017-09-30
shipped_date : 2017-09-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1150:
order_id : 1150
customer_id : 1183
order_status : 4
order_date : 2022-09-28
required_date : 2017-10-01
shipped_date : 2017-09-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1151:
order_id : 1151
customer_id : 708
order_status : 4
order_date : 2022-09-29
required_date : 2017-09-30
shipped_date : 2017-09-30
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1152:
order_id : 1152
customer_id : 1244
order_status : 4
order_date : 2022-09-29
required_date : 2017-10-02
shipped_date : 2017-10-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1153:
order_id : 1153
customer_id : 720
order_status : 4
order_date : 2022-09-30
required_date : 2017-10-03
shipped_date : 2017-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1154:
order_id : 1154
customer_id : 789
order_status : 4
order_date : 2022-09-30
required_date : 2017-10-03
shipped_date : 2017-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1155:
order_id : 1155
customer_id : 865
order_status : 4
order_date : 2022-09-30
required_date : 2017-10-01
shipped_date : 2017-10-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1156:
order_id : 1156
customer_id : 869
order_status : 4
order_date : 2022-09-30
required_date : 2017-10-03
shipped_date : 2017-10-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1157:
order_id : 1157
customer_id : 24
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-03
shipped_date : 2017-10-04
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1158:
order_id : 1158
customer_id : 889
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-03
shipped_date : 2017-10-02
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1159:
order_id : 1159
customer_id : 1221
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-02
shipped_date : 2017-10-03
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1160:
order_id : 1160
customer_id : 1262
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-02
shipped_date : 2017-10-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1161:
order_id : 1161
customer_id : 41
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-04
shipped_date : 2017-10-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1162:
order_id : 1162
customer_id : 888
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-03
shipped_date : 2017-10-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1163:
order_id : 1163
customer_id : 934
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-02

shipped_date : 2017-10-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1164:
order_id : 1164
customer_id : 1067
order_status : 4
order_date : 2022-10-01
required_date : 2017-10-02
shipped_date : 2017-10-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1165:
order_id : 1165
customer_id : 652
order_status : 4
order_date : 2022-10-02
required_date : 2017-10-03
shipped_date : 2017-10-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1166:
order_id : 1166
customer_id : 286
order_status : 4
order_date : 2022-10-03
required_date : 2017-10-04
shipped_date : 2017-10-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1167:
order_id : 1167
customer_id : 900
order_status : 4
order_date : 2022-10-04
required_date : 2017-10-07
shipped_date : 2017-10-06
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1168:
order_id : 1168
customer_id : 1031
order_status : 4
order_date : 2022-10-04
required_date : 2017-10-05
shipped_date : 2017-10-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1169:
order_id : 1169
customer_id : 1421
order_status : 4
order_date : 2022-10-04
required_date : 2017-10-06
shipped_date : 2017-10-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1170:
order_id : 1170
customer_id : 534
order_status : 4
order_date : 2022-10-05
required_date : 2017-10-07
shipped_date : 2017-10-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1171:
order_id : 1171
customer_id : 826
order_status : 4
order_date : 2022-10-05
required_date : 2017-10-06
shipped_date : 2017-10-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1172:
order_id : 1172
customer_id : 1339
order_status : 4
order_date : 2022-10-07
required_date : 2017-10-10
shipped_date : 2017-10-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1173:
order_id : 1173
customer_id : 548
order_status : 4
order_date : 2022-10-08
required_date : 2017-10-10
shipped_date : 2017-10-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1174:
order_id : 1174
customer_id : 1109
order_status : 4
order_date : 2022-10-08
required_date : 2017-10-10
shipped_date : 2017-10-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1175:
order_id : 1175
customer_id : 292
order_status : 4
order_date : 2022-10-09
required_date : 2017-10-11
shipped_date : 2017-10-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1176:
order_id : 1176
customer_id : 1111
order_status : 4
order_date : 2022-10-10
required_date : 2017-10-13
shipped_date : 2017-10-11
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1177:
order_id : 1177
customer_id : 21
order_status : 3
order_date : 2022-10-12
required_date : 2017-10-12
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1178:
order_id : 1178
customer_id : 771
order_status : 4
order_date : 2022-10-12
required_date : 2017-10-15
shipped_date : 2017-10-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1179:
order_id : 1179
customer_id : 1150
order_status : 4
order_date : 2022-10-12
required_date : 2017-10-15
shipped_date : 2017-10-15
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1180:
order_id : 1180
customer_id : 1065
order_status : 4
order_date : 2022-10-13
required_date : 2017-10-16
shipped_date : 2017-10-16
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1181:
order_id : 1181
customer_id : 1022
order_status : 4
order_date : 2022-10-13
required_date : 2017-10-16
shipped_date : 2017-10-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1182:
order_id : 1182
customer_id : 1422
order_status : 4
order_date : 2022-10-13
required_date : 2017-10-14
shipped_date : 2017-10-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1183:
order_id : 1183
customer_id : 216
order_status : 4
order_date : 2022-10-14
required_date : 2017-10-17
shipped_date : 2017-10-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1184:
order_id : 1184
customer_id : 369
order_status : 4
order_date : 2022-10-14
required_date : 2017-10-15
shipped_date : 2017-10-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1185:
order_id : 1185
customer_id : 960
order_status : 4
order_date : 2022-10-14
required_date : 2017-10-16
shipped_date : 2017-10-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1186:
order_id : 1186
customer_id : 1120
order_status : 4
order_date : 2022-10-14
required_date : 2017-10-16
shipped_date : 2017-10-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1187:
order_id : 1187
customer_id : 486
order_status : 4
order_date : 2022-10-15
required_date : 2017-10-18
shipped_date : 2017-10-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1188:
order_id : 1188
customer_id : 647
order_status : 4
order_date : 2022-10-15
required_date : 2017-10-18
shipped_date : 2017-10-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1189:
order_id : 1189
customer_id : 1090
order_status : 4
order_date : 2022-10-15
required_date : 2017-10-17
shipped_date : 2017-10-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1190:
order_id : 1190
customer_id : 34
order_status : 4
order_date : 2022-10-16
required_date : 2017-10-19
shipped_date : 2017-10-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1191:
order_id : 1191
customer_id : 186
order_status : 4
order_date : 2022-10-17
required_date : 2017-10-18
shipped_date : 2017-10-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1192:
order_id : 1192
customer_id : 1114
order_status : 4
order_date : 2022-10-17
required_date : 2017-10-19
shipped_date : 2017-10-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1193:
order_id : 1193
customer_id : 1412
order_status : 4
order_date : 2022-10-17
required_date : 2017-10-19
shipped_date : 2017-10-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1194:
order_id : 1194
customer_id : 192
order_status : 4
order_date : 2022-10-19
required_date : 2017-10-22
shipped_date : 2017-10-22
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1195:
order_id : 1195
customer_id : 229
order_status : 4
order_date : 2022-10-19
required_date : 2017-10-21
shipped_date : 2017-10-21
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1196:
order_id : 1196
customer_id : 508
order_status : 4
order_date : 2022-10-19
required_date : 2017-10-21
shipped_date : 2017-10-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1197:
order_id : 1197
customer_id : 269
order_status : 4
order_date : 2022-10-21
required_date : 2017-10-23
shipped_date : 2017-10-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1198:
order_id : 1198
customer_id : 1289
order_status : 4
order_date : 2022-10-22
required_date : 2017-10-24
shipped_date : 2017-10-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1199:
order_id : 1199
customer_id : 318
order_status : 4
order_date : 2022-10-23
required_date : 2017-10-24
shipped_date : 2017-10-26
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1200:
order_id : 1200
customer_id : 48
order_status : 4
order_date : 2022-10-23
required_date : 2017-10-25
shipped_date : 2017-10-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1201:
order_id : 1201
customer_id : 201
order_status : 4
order_date : 2022-10-23
required_date : 2017-10-24
shipped_date : 2017-10-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1202:
order_id : 1202
customer_id : 593
order_status : 4
order_date : 2022-10-24
required_date : 2017-10-25
shipped_date : 2017-10-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1203:
order_id : 1203
customer_id : 1191
order_status : 4
order_date : 2022-10-25
required_date : 2017-10-27
shipped_date : 2017-10-26
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1204:
order_id : 1204
customer_id : 1277
order_status : 4
order_date : 2022-10-25
required_date : 2017-10-28
shipped_date : 2017-10-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1205:
order_id : 1205
customer_id : 1091
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-28
shipped_date : 2017-10-28
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1206:
order_id : 1206
customer_id : 222
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-29
shipped_date : 2017-10-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1207:
order_id : 1207
customer_id : 1002
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-28
shipped_date : 2017-10-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1208:
order_id : 1208
customer_id : 1226
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-28
shipped_date : 2017-10-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1209:
order_id : 1209
customer_id : 1342
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-27
shipped_date : 2017-10-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1210:
order_id : 1210
customer_id : 730
order_status : 4
order_date : 2022-10-26
required_date : 2017-10-27
shipped_date : 2017-10-29
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1211:
order_id : 1211
customer_id : 19
order_status : 4
order_date : 2022-10-27
required_date : 2017-10-28
shipped_date : 2017-10-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1212:
order_id : 1212
customer_id : 213
order_status : 4
order_date : 2022-10-27
required_date : 2017-10-30
shipped_date : 2017-10-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1213:
order_id : 1213
customer_id : 669
order_status : 4
order_date : 2022-10-27
required_date : 2017-10-29
shipped_date : 2017-10-29
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1214:
order_id : 1214
customer_id : 783
order_status : 4
order_date : 2022-10-28
required_date : 2017-10-29
shipped_date : 2017-10-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1215:
order_id : 1215
customer_id : 807
order_status : 4
order_date : 2022-10-28
required_date : 2017-10-31
shipped_date : 2017-10-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1216:
order_id : 1216
customer_id : 886
order_status : 4
order_date : 2022-10-28
required_date : 2017-10-30
shipped_date : 2017-10-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1217:
order_id : 1217
customer_id : 1155
order_status : 4
order_date : 2022-10-28
required_date : 2017-10-31
shipped_date : 2017-10-30
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1218:
order_id : 1218
customer_id : 1017
order_status : 4
order_date : 2022-10-30
required_date : 2017-11-01
shipped_date : 2017-10-31
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1219:
order_id : 1219
customer_id : 840
order_status : 4
order_date : 2022-10-30
required_date : 2017-11-02
shipped_date : 2017-11-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1220:
order_id : 1220
customer_id : 803
order_status : 4
order_date : 2022-10-31
required_date : 2017-11-03
shipped_date : 2017-11-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1221:
order_id : 1221
customer_id : 1290
order_status : 4
order_date : 2022-10-31
required_date : 2017-11-02
shipped_date : 2017-11-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1222:
order_id : 1222
customer_id : 482
order_status : 4
order_date : 2022-11-01
required_date : 2017-11-04
shipped_date : 2017-11-03
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1223:
order_id : 1223
customer_id : 1207
order_status : 4
order_date : 2022-11-02
required_date : 2017-11-03
shipped_date : 2017-11-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1224:
order_id : 1224
customer_id : 544
order_status : 4
order_date : 2022-11-03
required_date : 2017-11-04
shipped_date : 2017-11-04
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1225:
order_id : 1225
customer_id : 768
order_status : 4
order_date : 2022-11-04
required_date : 2017-11-05
shipped_date : 2017-11-07
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1226:
order_id : 1226
customer_id : 226
order_status : 4
order_date : 2022-11-04
required_date : 2017-11-07
shipped_date : 2017-11-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1227:
order_id : 1227
customer_id : 702
order_status : 4
order_date : 2022-11-04
required_date : 2017-11-07
shipped_date : 2017-11-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1228:
order_id : 1228
customer_id : 1041
order_status : 4
order_date : 2022-11-04
required_date : 2017-11-06
shipped_date : 2017-11-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1229:
order_id : 1229
customer_id : 89
order_status : 4
order_date : 2022-11-05
required_date : 2017-11-08
shipped_date : 2017-11-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1230:
order_id : 1230
customer_id : 1107
order_status : 4
order_date : 2022-11-05
required_date : 2017-11-06
shipped_date : 2017-11-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1231:
order_id : 1231
customer_id : 1180
order_status : 4
order_date : 2022-11-05
required_date : 2017-11-07
shipped_date : 2017-11-06
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1232:
order_id : 1232
customer_id : 665
order_status : 4
order_date : 2022-11-06
required_date : 2017-11-07
shipped_date : 2017-11-09
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1233:
order_id : 1233
customer_id : 462
order_status : 4
order_date : 2022-11-06
required_date : 2017-11-07
shipped_date : 2017-11-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1234:
order_id : 1234
customer_id : 19
order_status : 3
order_date : 2022-11-07
required_date : 2017-11-07
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1235:
order_id : 1235
customer_id : 210
order_status : 4
order_date : 2022-11-07
required_date : 2017-11-08
shipped_date : 2017-11-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1236:
order_id : 1236
customer_id : 243
order_status : 4
order_date : 2022-11-08
required_date : 2017-11-11
shipped_date : 2017-11-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1237:
order_id : 1237
customer_id : 571
order_status : 4
order_date : 2022-11-09
required_date : 2017-11-12
shipped_date : 2017-11-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1238:
order_id : 1238
customer_id : 998
order_status : 4
order_date : 2022-11-09
required_date : 2017-11-10
shipped_date : 2017-11-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1239:
order_id : 1239
customer_id : 1197
order_status : 4
order_date : 2022-11-09
required_date : 2017-11-10
shipped_date : 2017-11-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1240:
order_id : 1240
customer_id : 903
order_status : 4
order_date : 2022-11-10
required_date : 2017-11-11
shipped_date : 2017-11-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1241:
order_id : 1241
customer_id : 1170
order_status : 4
order_date : 2022-11-10
required_date : 2017-11-12
shipped_date : 2017-11-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1242:
order_id : 1242
customer_id : 303
order_status : 4
order_date : 2022-11-11
required_date : 2017-11-12
shipped_date : 2017-11-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1243:
order_id : 1243
customer_id : 346
order_status : 4
order_date : 2022-11-11
required_date : 2017-11-13
shipped_date : 2017-11-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1244:
order_id : 1244
customer_id : 333
order_status : 4
order_date : 2022-11-12
required_date : 2017-11-14
shipped_date : 2017-11-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1245:
order_id : 1245
customer_id : 1166
order_status : 4
order_date : 2022-11-13
required_date : 2017-11-16
shipped_date : 2017-11-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1246:
order_id : 1246
customer_id : 1329
order_status : 4
order_date : 2022-11-13
required_date : 2017-11-16
shipped_date : 2017-11-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1247:
order_id : 1247
customer_id : 426
order_status : 4
order_date : 2022-11-16
required_date : 2017-11-18
shipped_date : 2017-11-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1248:
order_id : 1248
customer_id : 1367
order_status : 4
order_date : 2022-11-16
required_date : 2017-11-17
shipped_date : 2017-11-18
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1249:
order_id : 1249
customer_id : 545
order_status : 4
order_date : 2022-11-17
required_date : 2017-11-18
shipped_date : 2017-11-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1250:
order_id : 1250
customer_id : 1188
order_status : 4
order_date : 2022-11-17
required_date : 2017-11-19
shipped_date : 2017-11-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1251:
order_id : 1251
customer_id : 289
order_status : 4
order_date : 2022-11-17
required_date : 2017-11-19
shipped_date : 2017-11-19
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1252:
order_id : 1252
customer_id : 110
order_status : 4
order_date : 2022-11-18
required_date : 2017-11-20
shipped_date : 2017-11-21
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1253:
order_id : 1253
customer_id : 44
order_status : 4
order_date : 2022-11-18
required_date : 2017-11-21
shipped_date : 2017-11-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1254:
order_id : 1254
customer_id : 1098
order_status : 4
order_date : 2022-11-18
required_date : 2017-11-19
shipped_date : 2017-11-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1255:
order_id : 1255
customer_id : 375
order_status : 4
order_date : 2022-11-19
required_date : 2017-11-20
shipped_date : 2017-11-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1256:
order_id : 1256
customer_id : 458
order_status : 4
order_date : 2022-11-19
required_date : 2017-11-20
shipped_date : 2017-11-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1257:
order_id : 1257
customer_id : 1136
order_status : 4
order_date : 2022-11-19
required_date : 2017-11-22
shipped_date : 2017-11-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1258:
order_id : 1258
customer_id : 1099
order_status : 4
order_date : 2022-11-20
required_date : 2017-11-21
shipped_date : 2017-11-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1259:
order_id : 1259
customer_id : 4
order_status : 3
order_date : 2022-11-21
required_date : 2017-11-21
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1260:
order_id : 1260
customer_id : 1117
order_status : 4
order_date : 2022-11-22
required_date : 2017-11-23
shipped_date : 2017-11-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1261:
order_id : 1261
customer_id : 435
order_status : 4
order_date : 2022-11-23
required_date : 2017-11-25
shipped_date : 2017-11-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1262:
order_id : 1262
customer_id : 509
order_status : 4
order_date : 2022-11-23
required_date : 2017-11-26
shipped_date : 2017-11-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1263:
order_id : 1263
customer_id : 1408
order_status : 4
order_date : 2022-11-23
required_date : 2017-11-26
shipped_date : 2017-11-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1264:
order_id : 1264
customer_id : 113
order_status : 4
order_date : 2022-11-24
required_date : 2017-11-27
shipped_date : 2017-11-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1265:
order_id : 1265
customer_id : 950
order_status : 4
order_date : 2022-11-24
required_date : 2017-11-27
shipped_date : 2017-11-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1266:
order_id : 1266
customer_id : 387
order_status : 4
order_date : 2022-11-25
required_date : 2017-11-28
shipped_date : 2017-11-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1267:
order_id : 1267
customer_id : 467
order_status : 4
order_date : 2022-11-25
required_date : 2017-11-26
shipped_date : 2017-11-26
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1268:
order_id : 1268
customer_id : 774
order_status : 4
order_date : 2022-11-26
required_date : 2017-11-28
shipped_date : 2017-11-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1269:
order_id : 1269
customer_id : 1236
order_status : 4
order_date : 2022-11-26
required_date : 2017-11-29
shipped_date : 2017-11-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1270:
order_id : 1270
customer_id : 1388
order_status : 4
order_date : 2022-11-26
required_date : 2017-11-29
shipped_date : 2017-11-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1271:
order_id : 1271
customer_id : 734
order_status : 4
order_date : 2022-11-27
required_date : 2017-11-30
shipped_date : 2017-11-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1272:
order_id : 1272
customer_id : 935
order_status : 4
order_date : 2022-11-27
required_date : 2017-11-29
shipped_date : 2017-11-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1273:
order_id : 1273
customer_id : 1268
order_status : 4
order_date : 2022-11-27
required_date : 2017-11-29
shipped_date : 2017-11-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1274:
order_id : 1274
customer_id : 1364
order_status : 4
order_date : 2022-11-28
required_date : 2017-11-29
shipped_date : 2017-12-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1275:
order_id : 1275
customer_id : 165
order_status : 4
order_date : 2022-11-29
required_date : 2017-12-01
shipped_date : 2017-11-30
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1276:
order_id : 1276
customer_id : 893
order_status : 4
order_date : 2022-11-30
required_date : 2017-12-03
shipped_date : 2017-12-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1277:
order_id : 1277
customer_id : 227
order_status : 4
order_date : 2022-12-01
required_date : 2017-12-04
shipped_date : 2017-12-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1278:
order_id : 1278
customer_id : 980
order_status : 4
order_date : 2022-12-01
required_date : 2017-12-02
shipped_date : 2017-12-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1279:
order_id : 1279
customer_id : 1014
order_status : 4
order_date : 2022-12-01
required_date : 2017-12-04
shipped_date : 2017-12-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1280:
order_id : 1280
customer_id : 123
order_status : 4
order_date : 2022-12-01
required_date : 2017-12-03
shipped_date : 2017-12-03
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1281:
order_id : 1281
customer_id : 1060
order_status : 4
order_date : 2022-12-02
required_date : 2017-12-05
shipped_date : 2017-12-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1282:
order_id : 1282
customer_id : 320
order_status : 4
order_date : 2022-12-03
required_date : 2017-12-05
shipped_date : 2017-12-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1283:
order_id : 1283
customer_id : 85
order_status : 4
order_date : 2022-12-04
required_date : 2017-12-07
shipped_date : 2017-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1284:
order_id : 1284
customer_id : 128
order_status : 4
order_date : 2022-12-04
required_date : 2017-12-06
shipped_date : 2017-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1285:
order_id : 1285
customer_id : 262
order_status : 4
order_date : 2022-12-04
required_date : 2017-12-07
shipped_date : 2017-12-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1286:
order_id : 1286
customer_id : 1033
order_status : 4
order_date : 2022-12-04
required_date : 2017-12-07
shipped_date : 2017-12-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1287:
order_id : 1287
customer_id : 279
order_status : 4
order_date : 2022-12-07
required_date : 2017-12-10
shipped_date : 2017-12-09
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1288:
order_id : 1288
customer_id : 778
order_status : 4
order_date : 2022-12-07
required_date : 2017-12-10
shipped_date : 2017-12-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1289:
order_id : 1289
customer_id : 1292
order_status : 4
order_date : 2022-12-08
required_date : 2017-12-11
shipped_date : 2017-12-10
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1290:
order_id : 1290
customer_id : 967
order_status : 4
order_date : 2022-12-08
required_date : 2017-12-10
shipped_date : 2017-12-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1291:
order_id : 1291
customer_id : 1284
order_status : 4
order_date : 2022-12-09
required_date : 2017-12-11
shipped_date : 2017-12-12
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1292:
order_id : 1292
customer_id : 285
order_status : 4
order_date : 2022-12-10
required_date : 2017-12-13
shipped_date : 2017-12-11
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1293:
order_id : 1293
customer_id : 1401
order_status : 4
order_date : 2022-12-10
required_date : 2017-12-12
shipped_date : 2017-12-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1294:
order_id : 1294
customer_id : 947
order_status : 4
order_date : 2022-12-11
required_date : 2017-12-13
shipped_date : 2017-12-14
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1295:
order_id : 1295
customer_id : 37
order_status : 4
order_date : 2022-12-11
required_date : 2017-12-12
shipped_date : 2017-12-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1296:
order_id : 1296
customer_id : 231
order_status : 4
order_date : 2022-12-14
required_date : 2017-12-17
shipped_date : 2017-12-15
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1297:
order_id : 1297
customer_id : 108
order_status : 4
order_date : 2022-12-14
required_date : 2017-12-17
shipped_date : 2017-12-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1298:
order_id : 1298
customer_id : 533
order_status : 4
order_date : 2022-12-14
required_date : 2017-12-17
shipped_date : 2017-12-16
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1299:
order_id : 1299
customer_id : 1216
order_status : 4
order_date : 2022-12-15
required_date : 2017-12-18
shipped_date : 2017-12-16
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1300:
order_id : 1300
customer_id : 824
order_status : 4
order_date : 2022-12-15
required_date : 2017-12-17
shipped_date : 2017-12-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1301:
order_id : 1301
customer_id : 1088
order_status : 4
order_date : 2022-12-16
required_date : 2017-12-19
shipped_date : 2017-12-19
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1302:
order_id : 1302
customer_id : 322
order_status : 4
order_date : 2022-12-16
required_date : 2017-12-18
shipped_date : 2017-12-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1303:
order_id : 1303
customer_id : 878
order_status : 4
order_date : 2022-12-16
required_date : 2017-12-19
shipped_date : 2017-12-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1304:
order_id : 1304
customer_id : 1409
order_status : 4
order_date : 2022-12-16
required_date : 2017-12-17
shipped_date : 2017-12-17
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1305:
order_id : 1305
customer_id : 257
order_status : 4
order_date : 2022-12-17
required_date : 2017-12-19
shipped_date : 2017-12-18
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1306:
order_id : 1306
customer_id : 28
order_status : 4
order_date : 2022-12-20
required_date : 2017-12-21
shipped_date : 2017-12-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1307:
order_id : 1307
customer_id : 1384
order_status : 4
order_date : 2022-12-22
required_date : 2017-12-23
shipped_date : 2017-12-25
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1308:
order_id : 1308
customer_id : 713
order_status : 4
order_date : 2022-12-22
required_date : 2017-12-24
shipped_date : 2017-12-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1309:
order_id : 1309
customer_id : 821
order_status : 4
order_date : 2022-12-22
required_date : 2017-12-25
shipped_date : 2017-12-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1310:
order_id : 1310
customer_id : 444
order_status : 4
order_date : 2022-12-24
required_date : 2017-12-25
shipped_date : 2017-12-26
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1311:
order_id : 1311
customer_id : 1021
order_status : 4
order_date : 2022-12-24
required_date : 2017-12-26
shipped_date : 2017-12-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1312:
order_id : 1312
customer_id : 311
order_status : 4
order_date : 2022-12-25
required_date : 2017-12-28
shipped_date : 2017-12-26
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1313:
order_id : 1313
customer_id : 1294
order_status : 4
order_date : 2022-12-25
required_date : 2017-12-27
shipped_date : 2017-12-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1314:
order_id : 1314
customer_id : 1027
order_status : 4
order_date : 2022-12-25
required_date : 2017-12-26
shipped_date : 2017-12-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1315:
order_id : 1315
customer_id : 931
order_status : 4
order_date : 2022-12-25
required_date : 2017-12-27
shipped_date : 2017-12-28
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1316:
order_id : 1316
customer_id : 846
order_status : 4
order_date : 2022-12-26
required_date : 2017-12-29
shipped_date : 2017-12-27
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1317:
order_id : 1317
customer_id : 418
order_status : 4
order_date : 2022-12-27
required_date : 2017-12-28
shipped_date : 2017-12-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1318:
order_id : 1318
customer_id : 75
order_status : 4
order_date : 2022-12-27
required_date : 2017-12-30
shipped_date : 2017-12-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1319:
order_id : 1319
customer_id : 604
order_status : 4
order_date : 2022-12-27
required_date : 2017-12-30
shipped_date : 2017-12-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1320:
order_id : 1320
customer_id : 244
order_status : 4
order_date : 2022-12-28
required_date : 2017-12-30
shipped_date : 2017-12-29
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1321:
order_id : 1321
customer_id : 217
order_status : 4
order_date : 2022-12-30
required_date : 2017-12-31
shipped_date : 2017-12-31
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1322:
order_id : 1322
customer_id : 39
order_status : 4
order_date : 2022-12-31
required_date : 2018-01-03
shipped_date : 2018-01-02
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1323:
order_id : 1323
customer_id : 273
order_status : 4
order_date : 2022-12-31
required_date : 2018-01-01
shipped_date : 2018-01-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1324:
order_id : 1324
customer_id : 862
order_status : 4
order_date : 2023-01-01
required_date : 2018-01-04
shipped_date : 2018-01-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1325:
order_id : 1325
customer_id : 68
order_status : 4
order_date : 2023-01-01
required_date : 2018-01-02
shipped_date : 2018-01-03
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1326:
order_id : 1326
customer_id : 567
order_status : 4
order_date : 2023-01-01
required_date : 2018-01-03
shipped_date : 2018-01-02
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1327:
order_id : 1327
customer_id : 1026
order_status : 4
order_date : 2023-01-02
required_date : 2018-01-03
shipped_date : 2018-01-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1328:
order_id : 1328
customer_id : 1083
order_status : 4
order_date : 2023-01-02
required_date : 2018-01-03
shipped_date : 2018-01-03
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1329:
order_id : 1329
customer_id : 443
order_status : 4
order_date : 2023-01-04
required_date : 2018-01-05
shipped_date : 2018-01-06
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1330:
order_id : 1330
customer_id : 761
order_status : 4
order_date : 2023-01-04
required_date : 2018-01-05
shipped_date : 2018-01-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1331:
order_id : 1331
customer_id : 1122
order_status : 4
order_date : 2023-01-05
required_date : 2018-01-06
shipped_date : 2018-01-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1332:
order_id : 1332
customer_id : 256
order_status : 4
order_date : 2023-01-06
required_date : 2018-01-07
shipped_date : 2018-01-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1333:
order_id : 1333
customer_id : 203
order_status : 4
order_date : 2023-01-06
required_date : 2018-01-07
shipped_date : 2018-01-07
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1334:
order_id : 1334
customer_id : 425
order_status : 4
order_date : 2023-01-07
required_date : 2018-01-09
shipped_date : 2018-01-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1335:
order_id : 1335
customer_id : 955
order_status : 4
order_date : 2023-01-07
required_date : 2018-01-08
shipped_date : 2018-01-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1336:
order_id : 1336
customer_id : 904
order_status : 4
order_date : 2023-01-09
required_date : 2018-01-10
shipped_date : 2018-01-12
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1337:
order_id : 1337
customer_id : 970
order_status : 4
order_date : 2023-01-09
required_date : 2018-01-12
shipped_date : 2018-01-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1338:
order_id : 1338
customer_id : 905
order_status : 4
order_date : 2023-01-10
required_date : 2018-01-11
shipped_date : 2018-01-13
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1339:
order_id : 1339
customer_id : 580
order_status : 4
order_date : 2023-01-11
required_date : 2018-01-14
shipped_date : 2018-01-13
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1340:
order_id : 1340
customer_id : 1066
order_status : 4
order_date : 2023-01-12
required_date : 2018-01-13
shipped_date : 2018-01-13
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1341:
order_id : 1341
customer_id : 1258
order_status : 4
order_date : 2023-01-12
required_date : 2018-01-13
shipped_date : 2018-01-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1342:
order_id : 1342
customer_id : 1393
order_status : 4
order_date : 2023-01-12
required_date : 2018-01-13
shipped_date : 2018-01-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1343:
order_id : 1343
customer_id : 594
order_status : 4
order_date : 2023-01-13
required_date : 2018-01-15
shipped_date : 2018-01-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1344:
order_id : 1344
customer_id : 916
order_status : 4
order_date : 2023-01-13
required_date : 2018-01-16
shipped_date : 2018-01-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1345:
order_id : 1345
customer_id : 1037
order_status : 4
order_date : 2023-01-14
required_date : 2018-01-15
shipped_date : 2018-01-15
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1346:
order_id : 1346
customer_id : 136
order_status : 4
order_date : 2023-01-14
required_date : 2018-01-15
shipped_date : 2018-01-15
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1347:
order_id : 1347
customer_id : 247
order_status : 4
order_date : 2023-01-15
required_date : 2018-01-18
shipped_date : 2018-01-18
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1348:
order_id : 1348
customer_id : 1214
order_status : 4
order_date : 2023-01-15
required_date : 2018-01-17
shipped_date : 2018-01-17
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1349:
order_id : 1349
customer_id : 464
order_status : 4
order_date : 2023-01-15
required_date : 2018-01-17
shipped_date : 2018-01-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1350:
order_id : 1350
customer_id : 637
order_status : 4
order_date : 2023-01-15
required_date : 2018-01-18
shipped_date : 2018-01-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1351:
order_id : 1351
customer_id : 1016
order_status : 4
order_date : 2023-01-16
required_date : 2018-01-19
shipped_date : 2018-01-19
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1352:
order_id : 1352
customer_id : 1433
order_status : 4
order_date : 2023-01-16
required_date : 2018-01-18
shipped_date : 2018-01-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1353:
order_id : 1353
customer_id : 502
order_status : 4
order_date : 2023-01-17
required_date : 2018-01-19
shipped_date : 2018-01-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1354:
order_id : 1354
customer_id : 476
order_status : 4
order_date : 2023-01-19
required_date : 2018-01-20
shipped_date : 2018-01-21
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1355:
order_id : 1355
customer_id : 1010
order_status : 4
order_date : 2023-01-19
required_date : 2018-01-21
shipped_date : 2018-01-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1356:
order_id : 1356
customer_id : 1161
order_status : 4
order_date : 2023-01-19
required_date : 2018-01-21
shipped_date : 2018-01-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1357:
order_id : 1357
customer_id : 440
order_status : 4
order_date : 2023-01-20
required_date : 2018-01-23
shipped_date : 2018-01-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1358:
order_id : 1358
customer_id : 253
order_status : 4
order_date : 2023-01-21
required_date : 2018-01-23
shipped_date : 2018-01-24
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1359:
order_id : 1359
customer_id : 1008
order_status : 4
order_date : 2023-01-21
required_date : 2018-01-22
shipped_date : 2018-01-22
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1360:
order_id : 1360
customer_id : 71
order_status : 4
order_date : 2023-01-22
required_date : 2018-01-25
shipped_date : 2018-01-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1361:
order_id : 1361
customer_id : 1084
order_status : 4
order_date : 2023-01-22
required_date : 2018-01-24
shipped_date : 2018-01-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1362:
order_id : 1362
customer_id : 310
order_status : 4
order_date : 2023-01-23
required_date : 2018-01-24
shipped_date : 2018-01-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1363:
order_id : 1363
customer_id : 860
order_status : 4
order_date : 2023-01-24
required_date : 2018-01-25
shipped_date : 2018-01-25
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1364:
order_id : 1364
customer_id : 122
order_status : 4
order_date : 2023-01-25
required_date : 2018-01-28
shipped_date : 2018-01-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1365:
order_id : 1365
customer_id : 689
order_status : 4
order_date : 2023-01-25
required_date : 2018-01-28
shipped_date : 2018-01-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1366:
order_id : 1366
customer_id : 1441
order_status : 4
order_date : 2023-01-26
required_date : 2018-01-27
shipped_date : 2018-01-28
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1367:
order_id : 1367
customer_id : 1118
order_status : 4
order_date : 2023-01-27
required_date : 2018-01-28
shipped_date : 2018-01-28
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1368:
order_id : 1368
customer_id : 765
order_status : 4
order_date : 2023-01-27
required_date : 2018-01-28
shipped_date : 2018-01-29
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1369:
order_id : 1369
customer_id : 92
order_status : 4
order_date : 2023-01-28
required_date : 2018-01-30
shipped_date : 2018-01-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1370:
order_id : 1370
customer_id : 115
order_status : 4
order_date : 2023-01-28
required_date : 2018-01-29
shipped_date : 2018-01-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1371:
order_id : 1371
customer_id : 937
order_status : 4
order_date : 2023-01-29
required_date : 2018-01-30
shipped_date : 2018-02-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1372:
order_id : 1372
customer_id : 1013
order_status : 4
order_date : 2023-01-29
required_date : 2018-02-01
shipped_date : 2018-01-30
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1373:
order_id : 1373
customer_id : 427
order_status : 4
order_date : 2023-01-29
required_date : 2018-01-31
shipped_date : 2018-01-31
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1374:
order_id : 1374
customer_id : 1330
order_status : 4
order_date : 2023-01-30
required_date : 2018-02-01
shipped_date : 2018-02-01
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1375:
order_id : 1375
customer_id : 312
order_status : 4
order_date : 2023-01-30
required_date : 2018-02-01
shipped_date : 2018-02-01
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1376:
order_id : 1376
customer_id : 1186
order_status : 4
order_date : 2023-02-01
required_date : 2018-02-02
shipped_date : 2018-02-03
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1377:
order_id : 1377
customer_id : 1007
order_status : 4
order_date : 2023-02-01
required_date : 2018-02-03
shipped_date : 2018-02-03
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1378:
order_id : 1378
customer_id : 983
order_status : 4
order_date : 2023-02-02
required_date : 2018-02-05
shipped_date : 2018-02-04
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1379:
order_id : 1379
customer_id : 1256
order_status : 4
order_date : 2023-02-02
required_date : 2018-02-05
shipped_date : 2018-02-05
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1380:
order_id : 1380
customer_id : 818
order_status : 4
order_date : 2023-02-05
required_date : 2018-02-08
shipped_date : 2018-02-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1381:
order_id : 1381
customer_id : 680
order_status : 4
order_date : 2023-02-05
required_date : 2018-02-06
shipped_date : 2018-02-08
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1382:
order_id : 1382
customer_id : 1303
order_status : 4
order_date : 2023-02-06
required_date : 2018-02-09
shipped_date : 2018-02-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1383:
order_id : 1383
customer_id : 488
order_status : 4
order_date : 2023-02-07
required_date : 2018-02-08
shipped_date : 2018-02-08
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1384:
order_id : 1384
customer_id : 1126
order_status : 4
order_date : 2023-02-08
required_date : 2018-02-10
shipped_date : 2018-02-09
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1385:
order_id : 1385
customer_id : 866
order_status : 4
order_date : 2023-02-08
required_date : 2018-02-11
shipped_date : 2018-02-09
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1386:
order_id : 1386
customer_id : 1254
order_status : 4
order_date : 2023-02-09
required_date : 2018-02-10
shipped_date : 2018-02-11
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1387:
order_id : 1387
customer_id : 11
order_status : 4
order_date : 2023-02-09
required_date : 2018-02-11
shipped_date : 2018-02-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1388:
order_id : 1388
customer_id : 323
order_status : 4
order_date : 2023-02-09
required_date : 2018-02-12
shipped_date : 2018-02-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1389:
order_id : 1389
customer_id : 491
order_status : 4
order_date : 2023-02-11
required_date : 2018-02-12
shipped_date : 2018-02-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1390:
order_id : 1390
customer_id : 63
order_status : 4
order_date : 2023-02-12
required_date : 2018-02-13
shipped_date : 2018-02-13
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1391:
order_id : 1391
customer_id : 914
order_status : 4
order_date : 2023-02-13
required_date : 2018-02-14
shipped_date : 2018-02-14
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1392:
order_id : 1392
customer_id : 1187
order_status : 4
order_date : 2023-02-13
required_date : 2018-02-14
shipped_date : 2018-02-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1393:
order_id : 1393
customer_id : 547
order_status : 4
order_date : 2023-02-14
required_date : 2018-02-15
shipped_date : 2018-02-15
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1394:
order_id : 1394
customer_id : 906
order_status : 4
order_date : 2023-02-14
required_date : 2018-02-16
shipped_date : 2018-02-16
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1395:
order_id : 1395
customer_id : 1052
order_status : 4
order_date : 2023-02-15
required_date : 2018-02-18
shipped_date : 2018-02-16
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1396:
order_id : 1396
customer_id : 856
order_status : 4
order_date : 2023-02-15
required_date : 2018-02-18
shipped_date : 2018-02-16
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1397:
order_id : 1397
customer_id : 920
order_status : 4
order_date : 2023-02-15
required_date : 2018-02-17
shipped_date : 2018-02-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1398:
order_id : 1398
customer_id : 1383
order_status : 4
order_date : 2023-02-16
required_date : 2018-02-19
shipped_date : 2018-02-19
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1399:
order_id : 1399
customer_id : 146
order_status : 4
order_date : 2023-02-16
required_date : 2018-02-18
shipped_date : 2018-02-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1400:
order_id : 1400
customer_id : 987
order_status : 4
order_date : 2023-02-17
required_date : 2018-02-18
shipped_date : 2018-02-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1401:
order_id : 1401
customer_id : 15
order_status : 4
order_date : 2023-02-18
required_date : 2018-02-19
shipped_date : 2018-02-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1402:
order_id : 1402
customer_id : 1171
order_status : 4
order_date : 2023-02-19
required_date : 2018-02-21
shipped_date : 2018-02-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1403:
order_id : 1403
customer_id : 452
order_status : 4
order_date : 2023-02-21
required_date : 2018-02-22
shipped_date : 2018-02-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1404:
order_id : 1404
customer_id : 1240
order_status : 4
order_date : 2023-02-23
required_date : 2018-02-26
shipped_date : 2018-02-24
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1405:
order_id : 1405
customer_id : 100
order_status : 4
order_date : 2023-02-25
required_date : 2018-02-28
shipped_date : 2018-02-27
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1406:
order_id : 1406
customer_id : 1053
order_status : 4
order_date : 2023-02-25
required_date : 2018-02-27
shipped_date : 2018-02-27
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1407:
order_id : 1407
customer_id : 18
order_status : 3
order_date : 2023-02-26
required_date : 2018-02-26
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1408:
order_id : 1408
customer_id : 1172
order_status : 4
order_date : 2023-02-26
required_date : 2018-02-27
shipped_date : 2018-03-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1409:
order_id : 1409
customer_id : 21
order_status : 4
order_date : 2023-02-26
required_date : 2018-02-28
shipped_date : 2018-02-28
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1410:
order_id : 1410
customer_id : 1005
order_status : 4
order_date : 2023-02-27
required_date : 2018-02-28
shipped_date : 2018-02-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1411:
order_id : 1411
customer_id : 109
order_status : 4
order_date : 2023-03-01
required_date : 2018-03-02
shipped_date : 2018-03-02
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1412:
order_id : 1412
customer_id : 1043
order_status : 4
order_date : 2023-03-01
required_date : 2018-03-02
shipped_date : 2018-03-04
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1413:
order_id : 1413
customer_id : 56
order_status : 4
order_date : 2023-03-01
required_date : 2018-03-03
shipped_date : 2018-03-04
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1414:
order_id : 1414
customer_id : 293
order_status : 4
order_date : 2023-03-03
required_date : 2018-03-05
shipped_date : 2018-03-06
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1415:
order_id : 1415
customer_id : 839
order_status : 4
order_date : 2023-03-03
required_date : 2018-03-04
shipped_date : 2018-03-05
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1416:
order_id : 1416
customer_id : 566
order_status : 4
order_date : 2023-03-03
required_date : 2018-03-04
shipped_date : 2018-03-06
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1417:
order_id : 1417
customer_id : 300
order_status : 4
order_date : 2023-03-04
required_date : 2018-03-06
shipped_date : 2018-03-07
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1418:
order_id : 1418
customer_id : 364
order_status : 4
order_date : 2023-03-04
required_date : 2018-03-05
shipped_date : 2018-03-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1419:
order_id : 1419
customer_id : 474
order_status : 4
order_date : 2023-03-04
required_date : 2018-03-07
shipped_date : 2018-03-07
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1420:
order_id : 1420
customer_id : 838
order_status : 4
order_date : 2023-03-04
required_date : 2018-03-05
shipped_date : 2018-03-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1421:
order_id : 1421
customer_id : 1176
order_status : 4
order_date : 2023-03-05
required_date : 2018-03-07
shipped_date : 2018-03-07
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1422:
order_id : 1422
customer_id : 599
order_status : 4
order_date : 2023-03-05
required_date : 2018-03-06
shipped_date : 2018-03-08
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1423:
order_id : 1423
customer_id : 1231
order_status : 4
order_date : 2023-03-06
required_date : 2018-03-07
shipped_date : 2018-03-07
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1424:
order_id : 1424
customer_id : 1445
order_status : 4
order_date : 2023-03-07
required_date : 2018-03-10
shipped_date : 2018-03-10
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1425:
order_id : 1425
customer_id : 126
order_status : 4
order_date : 2023-03-07
required_date : 2018-03-09
shipped_date : 2018-03-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1426:
order_id : 1426
customer_id : 938
order_status : 4
order_date : 2023-03-07
required_date : 2018-03-08
shipped_date : 2018-03-10
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1427:
order_id : 1427
customer_id : 999
order_status : 4
order_date : 2023-03-07
required_date : 2018-03-08
shipped_date : 2018-03-08
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1428:
order_id : 1428
customer_id : 195
order_status : 4
order_date : 2023-03-08
required_date : 2018-03-10
shipped_date : 2018-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1429:
order_id : 1429
customer_id : 1116
order_status : 4
order_date : 2023-03-08
required_date : 2018-03-09
shipped_date : 2018-03-09
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1430:
order_id : 1430
customer_id : 1239
order_status : 4
order_date : 2023-03-10
required_date : 2018-03-13
shipped_date : 2018-03-11
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1431:
order_id : 1431
customer_id : 308
order_status : 4
order_date : 2023-03-11
required_date : 2018-03-12
shipped_date : 2018-03-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1432:
order_id : 1432
customer_id : 483
order_status : 4
order_date : 2023-03-11
required_date : 2018-03-12
shipped_date : 2018-03-14
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1433:
order_id : 1433
customer_id : 1142
order_status : 4
order_date : 2023-03-11
required_date : 2018-03-13
shipped_date : 2018-03-12
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1434:
order_id : 1434
customer_id : 595
order_status : 4
order_date : 2023-03-14
required_date : 2018-03-16
shipped_date : 2018-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1435:
order_id : 1435
customer_id : 744
order_status : 4
order_date : 2023-03-14
required_date : 2018-03-15
shipped_date : 2018-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1436:
order_id : 1436
customer_id : 1044
order_status : 4
order_date : 2023-03-14
required_date : 2018-03-17
shipped_date : 2018-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1437:
order_id : 1437
customer_id : 518
order_status : 4
order_date : 2023-03-15
required_date : 2018-03-16
shipped_date : 2018-03-16
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1438:
order_id : 1438
customer_id : 263
order_status : 4
order_date : 2023-03-15
required_date : 2018-03-17
shipped_date : 2018-03-16
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1439:
order_id : 1439
customer_id : 463
order_status : 4
order_date : 2023-03-15
required_date : 2018-03-16
shipped_date : 2018-03-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1440:
order_id : 1440
customer_id : 859
order_status : 4
order_date : 2023-03-15
required_date : 2018-03-18
shipped_date : 2018-03-16
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1441:
order_id : 1441
customer_id : 982
order_status : 4
order_date : 2023-03-15
required_date : 2018-03-16
shipped_date : 2018-03-18
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'

Error in row 1442:
order_id : 1442
customer_id : 478
order_status : 4
order_date : 2023-03-16
required_date : 2018-03-17
shipped_date : 2018-03-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1443:
order_id : 1443
customer_id : 972
order_status : 4
order_date : 2023-03-16
required_date : 2018-03-17
shipped_date : 2018-03-17
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1444:
order_id : 1444
customer_id : 1154
order_status : 4
order_date : 2023-03-16
required_date : 2018-03-17
shipped_date : 2018-03-19
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1445:
order_id : 1445
customer_id : 515
order_status : 4
order_date : 2023-03-17
required_date : 2018-03-18
shipped_date : 2018-03-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1446:
order_id : 1446
customer_id : 820
order_status : 4
order_date : 2023-03-17
required_date : 2018-03-18
shipped_date : 2018-03-18
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1447:
order_id : 1447
customer_id : 1419
order_status : 4
order_date : 2023-03-18
required_date : 2018-03-20
shipped_date : 2018-03-20
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1448:
order_id : 1448
customer_id : 228
order_status : 4
order_date : 2023-03-18
required_date : 2018-03-19
shipped_date : 2018-03-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1449:
order_id : 1449
customer_id : 330
order_status : 4
order_date : 2023-03-18
required_date : 2018-03-19
shipped_date : 2018-03-20
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1450:
order_id : 1450
customer_id : 296
order_status : 4
order_date : 2023-03-19
required_date : 2018-03-20
shipped_date : 2018-03-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1451:
order_id : 1451
customer_id : 822
order_status : 4
order_date : 2023-03-19
required_date : 2018-03-22
shipped_date : 2018-03-20
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1452:
order_id : 1452
customer_id : 287
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-23
shipped_date : 2018-03-23
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1453:
order_id : 1453
customer_id : 601
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-23
shipped_date : 2018-03-22
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1454:
order_id : 1454
customer_id : 395
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-21
shipped_date : 2018-03-22
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1455:
order_id : 1455
customer_id : 405
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-22
shipped_date : 2018-03-21
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1456:
order_id : 1456
customer_id : 754
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-21
shipped_date : 2018-03-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1457:
order_id : 1457
customer_id : 1411
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-23
shipped_date : 2018-03-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1458:
order_id : 1458
customer_id : 1029
order_status : 4
order_date : 2023-03-20
required_date : 2018-03-22
shipped_date : 2018-03-21
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1459:
order_id : 1459
customer_id : 9
order_status : 4
order_date : 2023-03-21
required_date : 2018-03-22
shipped_date : 2018-03-22
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1460:
order_id : 1460
customer_id : 1131
order_status : 4
order_date : 2023-03-21
required_date : 2018-03-23
shipped_date : 2018-03-23
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1461:
order_id : 1461
customer_id : 139
order_status : 4
order_date : 2023-03-22
required_date : 2018-03-25
shipped_date : 2018-03-23
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1462:
order_id : 1462
customer_id : 1101
order_status : 4
order_date : 2023-03-22
required_date : 2018-03-24
shipped_date : 2018-03-24
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1463:
order_id : 1463
customer_id : 692
order_status : 4
order_date : 2023-03-23
required_date : 2018-03-24
shipped_date : 2018-03-24
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1464:
order_id : 1464
customer_id : 1279
order_status : 4
order_date : 2023-03-24
required_date : 2018-03-25
shipped_date : 2018-03-25
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1465:
order_id : 1465
customer_id : 623
order_status : 4
order_date : 2023-03-25
required_date : 2018-03-28
shipped_date : 2018-03-28
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1466:
order_id : 1466
customer_id : 738
order_status : 4
order_date : 2023-03-26
required_date : 2018-03-29
shipped_date : 2018-03-28
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1467:
order_id : 1467
customer_id : 152
order_status : 4
order_date : 2023-03-26
required_date : 2018-03-27
shipped_date : 2018-03-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1468:
order_id : 1468
customer_id : 3
order_status : 4
order_date : 2023-03-27
required_date : 2018-03-30
shipped_date : 2018-03-29
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1469:
order_id : 1469
customer_id : 1135
order_status : 4
order_date : 2023-03-27
required_date : 2018-03-28
shipped_date : 2018-03-30
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1470:
order_id : 1470
customer_id : 505
order_status : 4
order_date : 2023-03-28
required_date : 2018-03-31
shipped_date : 2018-03-31
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1471:
order_id : 1471
customer_id : 1310
order_status : 4
order_date : 2023-03-28
required_date : 2018-03-30
shipped_date : 2018-03-29
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1472:
order_id : 1472
customer_id : 114
order_status : 4
order_date : 2023-03-29
required_date : 2018-03-30
shipped_date : 2018-03-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1473:
order_id : 1473
customer_id : 302
order_status : 4
order_date : 2023-03-30
required_date : 2018-04-01
shipped_date : 2018-04-02
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1474:
order_id : 1474
customer_id : 816
order_status : 4
order_date : 2023-03-30
required_date : 2018-04-01
shipped_date : 2018-04-02
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1475:
order_id : 1475
customer_id : 112
order_status : 4
order_date : 2023-03-30
required_date : 2018-04-01
shipped_date : 2018-03-31
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1476:
order_id : 1476
customer_id : 35
order_status : 4
order_date : 2023-03-31
required_date : 2018-04-01
shipped_date : 2018-04-01
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1477:
order_id : 1477
customer_id : 180
order_status : 4
order_date : 2023-03-31
required_date : 2018-04-03
shipped_date : 2018-04-01
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1478:
order_id : 1478
customer_id : 392
order_status : 4
order_date : 2023-03-31
required_date : 2018-04-02
shipped_date : 2018-04-02
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1479:
order_id : 1479
customer_id : 23
order_status : 2
order_date : 2023-04-01
required_date : 2018-04-01
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1480:
order_id : 1480
customer_id : 27
order_status : 2
order_date : 2023-04-01
required_date : 2018-04-01
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1481:
order_id : 1481
customer_id : 62
order_status : 1
order_date : 2023-04-01
required_date : 2018-04-01
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1482:
order_id : 1482
customer_id : 94
order_status : 1
order_date : 2023-04-01
required_date : 2018-04-01
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1483:
order_id : 1483
customer_id : 15
order_status : 1
order_date : 2023-04-02
required_date : 2018-04-02
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1484:
order_id : 1484
customer_id : 35
order_status : 2
order_date : 2023-04-02
required_date : 2018-04-02
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1485:
order_id : 1485
customer_id : 51
order_status : 2
order_date : 2023-04-02
required_date : 2018-04-02
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1486:
order_id : 1486
customer_id : 84
order_status : 2
order_date : 2023-04-02
required_date : 2018-04-02
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1487:
order_id : 1487
customer_id : 33
order_status : 1
order_date : 2023-04-03
required_date : 2018-04-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1488:
order_id : 1488
customer_id : 181
order_status : 2
order_date : 2023-04-03
required_date : 2018-04-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1489:
order_id : 1489
customer_id : 194
order_status : 1
order_date : 2023-04-03
required_date : 2018-04-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1490:
order_id : 1490
customer_id : 217
order_status : 2
order_date : 2023-04-03
required_date : 2018-04-03
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1491:
order_id : 1491
customer_id : 82
order_status : 1
order_date : 2023-04-04
required_date : 2018-04-04
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1492:
order_id : 1492
customer_id : 41
order_status : 1
order_date : 2023-04-04
required_date : 2018-04-04
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1493:
order_id : 1493
customer_id : 64
order_status : 2
order_date : 2023-04-04
required_date : 2018-04-04
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1494:
order_id : 1494
customer_id : 69
order_status : 2
order_date : 2023-04-05
required_date : 2018-04-05
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1495:
order_id : 1495
customer_id : 86
order_status : 2
order_date : 2023-04-05
required_date : 2018-04-05
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1496:
order_id : 1496
customer_id : 3
order_status : 1
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1497:
order_id : 1497
customer_id : 31
order_status : 2
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1498:
order_id : 1498
customer_id : 81
order_status : 1
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1499:
order_id : 1499
customer_id : 120
order_status : 2
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1500:
order_id : 1500
customer_id : 151
order_status : 2
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1501:
order_id : 1501
customer_id : 52
order_status : 1
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1502:
order_id : 1502
customer_id : 83
order_status : 2
order_date : 2023-04-06
required_date : 2018-04-06
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1503:
order_id : 1503
customer_id : 208
order_status : 2
order_date : 2023-04-07
required_date : 2018-04-07
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1504:
order_id : 1504
customer_id : 237
order_status : 2
order_date : 2023-04-08
required_date : 2018-04-08
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1505:
order_id : 1505
customer_id : 22
order_status : 1
order_date : 2023-04-08
required_date : 2018-04-08
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1506:
order_id : 1506
customer_id : 75
order_status : 1
order_date : 2023-04-08
required_date : 2018-04-08
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1507:
order_id : 1507
customer_id : 85
order_status : 2
order_date : 2023-04-08
required_date : 2018-04-08
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1508:
order_id : 1508
customer_id : 92
order_status : 2
order_date : 2023-04-08
required_date : 2018-04-08
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1509:
order_id : 1509
customer_id : 2
order_status : 1
order_date : 2023-04-09
required_date : 2018-04-09
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1510:
order_id : 1510
customer_id : 16
order_status : 2
order_date : 2023-04-09
required_date : 2018-04-09
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1511:
order_id : 1511
customer_id : 25
order_status : 1
order_date : 2023-04-09
required_date : 2018-04-09
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1512:
order_id : 1512
customer_id : 68
order_status : 1
order_date : 2023-04-09
required_date : 2018-04-09
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1513:
order_id : 1513
customer_id : 32
order_status : 2
order_date : 2023-04-10
required_date : 2018-04-10
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1514:
order_id : 1514
customer_id : 87
order_status : 2
order_date : 2023-04-10
required_date : 2018-04-10
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1515:
order_id : 1515
customer_id : 61
order_status : 1
order_date : 2023-04-10
required_date : 2018-04-10
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1516:
order_id : 1516
customer_id : 47
order_status : 2
order_date : 2023-04-11
required_date : 2018-04-11
shipped_date : None

store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1517:
order_id : 1517
customer_id : 97
order_status : 1
order_date : 2023-04-11
required_date : 2018-04-11
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1518:
order_id : 1518
customer_id : 175
order_status : 1
order_date : 2023-04-11
required_date : 2018-04-11
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1519:
order_id : 1519
customer_id : 26
order_status : 2
order_date : 2023-04-11
required_date : 2018-04-11
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1520:
order_id : 1520
customer_id : 66
order_status : 2
order_date : 2023-04-11
required_date : 2018-04-11
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1521:
order_id : 1521
customer_id : 53
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1522:
order_id : 1522
customer_id : 78
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1523:
order_id : 1523
customer_id : 8
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1524:
order_id : 1524
customer_id : 37
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1525:
order_id : 1525
customer_id : 38
order_status : 2
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1526:
order_id : 1526
customer_id : 59
order_status : 2
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1527:
order_id : 1527
customer_id : 13
order_status : 2
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1528:
order_id : 1528
customer_id : 20
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1529:
order_id : 1529
customer_id : 50
order_status : 1
order_date : 2023-04-12
required_date : 2018-04-12
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1530:
order_id : 1530
customer_id : 110
order_status : 1
order_date : 2023-04-13
required_date : 2018-04-13
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1531:
order_id : 1531
customer_id : 233
order_status : 1
order_date : 2023-04-13
required_date : 2018-04-13
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1532:
order_id : 1532
customer_id : 7
order_status : 2
order_date : 2023-04-13
required_date : 2018-04-13
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1533:
order_id : 1533
customer_id : 28
order_status : 2
order_date : 2023-04-13
required_date : 2018-04-13
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1534:
order_id : 1534
customer_id : 18
order_status : 2
order_date : 2023-04-14
required_date : 2018-04-14
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1535:
order_id : 1535
customer_id : 19
order_status : 2
order_date : 2023-04-14
required_date : 2018-04-14
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1536:
order_id : 1536
customer_id : 34
order_status : 2
order_date : 2023-04-14
required_date : 2018-04-14
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1537:
order_id : 1537
customer_id : 36
order_status : 1
order_date : 2023-04-15
required_date : 2018-04-15
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1538:
order_id : 1538
customer_id : 79
order_status : 2
order_date : 2023-04-15
required_date : 2018-04-15
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1539:
order_id : 1539
customer_id : 116
order_status : 1
order_date : 2023-04-15
required_date : 2018-04-15
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1540:
order_id : 1540
customer_id : 187
order_status : 1
order_date : 2023-04-16
required_date : 2018-04-16
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1541:
order_id : 1541
customer_id : 10
order_status : 2
order_date : 2023-04-16
required_date : 2018-04-16
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1542:
order_id : 1542
customer_id : 58
order_status : 2
order_date : 2023-04-16
required_date : 2018-04-16
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1543:
order_id : 1543
customer_id : 76
order_status : 1
order_date : 2023-04-16
required_date : 2018-04-16
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1544:
order_id : 1544
customer_id : 5
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1545:
order_id : 1545
customer_id : 67
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1546:
order_id : 1546
customer_id : 91
order_status : 2
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1547:
order_id : 1547
customer_id : 169
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1548:
order_id : 1548
customer_id : 170
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1549:
order_id : 1549
customer_id : 17
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1550:
order_id : 1550
customer_id : 39
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1551:
order_id : 1551
customer_id : 70
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1552:
order_id : 1552
customer_id : 73
order_status : 1
order_date : 2023-04-17
required_date : 2018-04-17
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1553:
order_id : 1553
customer_id : 30
order_status : 2
order_date : 2023-04-18
required_date : 2018-04-18
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1554:
order_id : 1554
customer_id : 172
order_status : 1
order_date : 2023-04-18
required_date : 2018-04-18
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1555:
order_id : 1555
customer_id : 1
order_status : 1
order_date : 2023-04-18
required_date : 2018-04-18
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1556:
order_id : 1556
customer_id : 4
order_status : 2
order_date : 2023-04-18
required_date : 2018-04-18
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1557:
order_id : 1557
customer_id : 121
order_status : 2
order_date : 2023-04-19
required_date : 2018-04-19
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1558:
order_id : 1558
customer_id : 63
order_status : 1
order_date : 2023-04-19
required_date : 2018-04-19
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1559:
order_id : 1559
customer_id : 42
order_status : 2
order_date : 2023-04-20
required_date : 2018-04-20
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1560:
order_id : 1560
customer_id : 57
order_status : 1
order_date : 2023-04-20
required_date : 2018-04-20
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1561:
order_id : 1561
customer_id : 65
order_status : 2
order_date : 2023-04-20
required_date : 2018-04-20
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1562:
order_id : 1562
customer_id : 88
order_status : 1
order_date : 2023-04-20
required_date : 2018-04-20
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1563:
order_id : 1563
customer_id : 77
order_status : 2
order_date : 2023-04-20
required_date : 2018-04-20
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1564:
order_id : 1564
customer_id : 46
order_status : 1
order_date : 2023-04-21
required_date : 2018-04-21
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1565:
order_id : 1565
customer_id : 60
order_status : 2
order_date : 2023-04-21
required_date : 2018-04-21
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1566:
order_id : 1566
customer_id : 72
order_status : 1
order_date : 2023-04-21
required_date : 2018-04-21
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1567:
order_id : 1567
customer_id : 89
order_status : 2
order_date : 2023-04-21
required_date : 2018-04-21

shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1568:
order_id : 1568
customer_id : 192
order_status : 2
order_date : 2023-04-21
required_date : 2018-04-21
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1569:
order_id : 1569
customer_id : 29
order_status : 2
order_date : 2023-04-22
required_date : 2018-04-22
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1570:
order_id : 1570
customer_id : 54
order_status : 2
order_date : 2023-04-22
required_date : 2018-04-22
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1571:
order_id : 1571
customer_id : 80
order_status : 1
order_date : 2023-04-22
required_date : 2018-04-22
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1572:
order_id : 1572
customer_id : 14
order_status : 1
order_date : 2023-04-22
required_date : 2018-04-22
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1573:
order_id : 1573
customer_id : 24
order_status : 2
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1574:
order_id : 1574
customer_id : 124
order_status : 1
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1575:
order_id : 1575
customer_id : 224
order_status : 2
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1576:
order_id : 1576
customer_id : 12
order_status : 2
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1577:
order_id : 1577
customer_id : 48
order_status : 1
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1578:
order_id : 1578
customer_id : 93
order_status : 2
order_date : 2023-04-23
required_date : 2018-04-23
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1579:
order_id : 1579
customer_id : 104
order_status : 2
order_date : 2023-04-24
required_date : 2018-04-24
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1580:
order_id : 1580
customer_id : 191
order_status : 2
order_date : 2023-04-24
required_date : 2018-04-24
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1581:
order_id : 1581
customer_id : 188
order_status : 2
order_date : 2023-04-25
required_date : 2018-04-25
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1582:
order_id : 1582
customer_id : 240
order_status : 1
order_date : 2023-04-25
required_date : 2018-04-25
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1583:
order_id : 1583
customer_id : 44
order_status : 1
order_date : 2023-04-25
required_date : 2018-04-25
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1584:
order_id : 1584
customer_id : 109
order_status : 2
order_date : 2023-04-26
required_date : 2018-04-26
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1585:
order_id : 1585
customer_id : 157
order_status : 1
order_date : 2023-04-26
required_date : 2018-04-26
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1586:
order_id : 1586
customer_id : 176
order_status : 1
order_date : 2023-04-26
required_date : 2018-04-26
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1587:
order_id : 1587
customer_id : 231
order_status : 2
order_date : 2023-04-26
required_date : 2018-04-26
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1588:
order_id : 1588
customer_id : 11
order_status : 1
order_date : 2023-04-26
required_date : 2018-04-26
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1589:
order_id : 1589
customer_id : 40
order_status : 2
order_date : 2023-04-27
required_date : 2018-04-27
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1590:
order_id : 1590
customer_id : 138
order_status : 1
order_date : 2023-04-27
required_date : 2018-04-27
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1591:
order_id : 1591
customer_id : 165
order_status : 2
order_date : 2023-04-27
required_date : 2018-04-27
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1592:
order_id : 1592
customer_id : 6
order_status : 2
order_date : 2023-04-27
required_date : 2018-04-27
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1593:
order_id : 1593
customer_id : 9
order_status : 1
order_date : 2023-04-27
required_date : 2018-04-27
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1594:
order_id : 1594
customer_id : 45
order_status : 1
order_date : 2023-04-28
required_date : 2018-04-28
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1595:
order_id : 1595
customer_id : 71
order_status : 2
order_date : 2023-04-28
required_date : 2018-04-28
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1596:
order_id : 1596
customer_id : 21
order_status : 2
order_date : 2023-04-28
required_date : 2018-04-28
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1597:
order_id : 1597
customer_id : 56
order_status : 1
order_date : 2023-04-28
required_date : 2018-04-28
shipped_date : None
store_id : 3
staff_id : 9
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1598:
order_id : 1598
customer_id : 239
order_status : 2
order_date : 2023-04-29
required_date : 2018-04-29
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1599:
order_id : 1599
customer_id : 49
order_status : 1
order_date : 2023-04-29
required_date : 2018-04-29
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1600:
order_id : 1600
customer_id : 90
order_status : 1
order_date : 2023-04-29
required_date : 2018-04-29
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1601:
order_id : 1601
customer_id : 43
order_status : 1
order_date : 2023-04-29
required_date : 2018-04-29
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1602:
order_id : 1602
customer_id : 55
order_status : 1
order_date : 2023-04-30
required_date : 2018-04-30
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1603:
order_id : 1603
customer_id : 74
order_status : 2
order_date : 2023-04-30
required_date : 2018-04-30
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1604:
order_id : 1604
customer_id : 7
order_status : 3
order_date : 2023-06-17
required_date : 2018-06-17
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1605:
order_id : 1605
customer_id : 123
order_status : 3
order_date : 2023-07-01
required_date : 2018-07-01
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1606:
order_id : 1606
customer_id : 119
order_status : 3
order_date : 2023-07-10
required_date : 2018-07-10
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1607:
order_id : 1607
customer_id : 33
order_status : 3
order_date : 2023-07-11
required_date : 2018-07-11
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1608:
order_id : 1608
customer_id : 53
order_status : 3
order_date : 2023-07-12
required_date : 2018-07-12
shipped_date : None
store_id : 1
staff_id : 2
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1609:
order_id : 1609
customer_id : 10
order_status : 3
order_date : 2023-08-23
required_date : 2018-08-23
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1610:
order_id : 1610
customer_id : 15
order_status : 3
order_date : 2023-08-25
required_date : 2018-08-25
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1611:
order_id : 1611
customer_id : 6
order_status : 3
order_date : 2023-09-06
required_date : 2018-09-06
shipped_date : None
store_id : 2
staff_id : 7
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1612:
order_id : 1612
customer_id : 3
order_status : 3
order_date : 2023-10-21
required_date : 2018-10-21
shipped_date : None
store_id : 1
staff_id : 3
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1613:
order_id : 1613
customer_id : 1
order_status : 3
order_date : 2023-11-18
required_date : 2018-11-18
shipped_date : None
store_id : 2
staff_id : 6
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1614:
order_id : 1614
customer_id : 135
order_status : 3
order_date : 2023-11-28
required_date : 2018-11-28
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1615:
order_id : 1615
customer_id : 136
order_status : 3
order_date : 2023-12-28
required_date : 2018-12-28
shipped_date : None
store_id : 3
staff_id : 8
Error: 1054 (42S22): Unknown column 'order_status' in 'field list'
Error in row 1:
customer_id : 1
first_name : Debra
last_name : Burks
phone : None
email : debra.burks@yahoo.com
street : 9273 Thorne Ave.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 2:
customer_id : 2
first_name : Kasha
last_name : Todd
phone : None
email : kasha.todd@yahoo.com
street : 910 Vine Street
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 3:
customer_id : 3
first_name : Tameka
last_name : Fisher
phone : None
email : tameka.fisher@aol.com
street : 769C Honey Creek St.
city : Redondo Beach
state : CA
zip_code : 90278
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 4:
customer_id : 4
first_name : Daryl
last_name : Spence
phone : None
email : daryl.spence@aol.com
street : 988 Pearl Lane
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 5:
customer_id : 5
first_name : Charolette
last_name : Rice
phone : (916) 381-6003
email : charolette.rice@msn.com
street : 107 River Dr.
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 6:
customer_id : 6
first_name : Lyndsey
last_name : Bean
phone : None
email : lyndsey.bean@hotmail.com
street : 769 West Road
city : Fairport
state : NY
zip_code : 14450
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 7:
customer_id : 7
first_name : Latasha
last_name : Hays
phone : (716) 986-3359
email : latasha.hays@hotmail.com
street : 7014 Manor Station Rd.
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 8:
customer_id : 8
first_name : Jacquline
last_name : Duncan
phone : None
email : jacquline.duncan@yahoo.com
street : 15 Brown St.
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 9:
customer_id : 9
first_name : Genoveva
last_name : Baldwin
phone : None
email : genoveva.baldwin@msn.com
street : 8550 Spruce Drive
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 10:
customer_id : 10
first_name : Pamelia
last_name : Newman
phone : None
email : pamelia.newman@gmail.com
street : 476 Chestnut Ave.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 11:
customer_id : 11
first_name : Deshawn
last_name : Mendoza
phone : None
email : deshawn.mendoza@yahoo.com
street : 8790 Cobblestone Street
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 12:
customer_id : 12
first_name : Robby
last_name : Sykes
phone : (516) 583-7761
email : robby.sykes@hotmail.com
street : 486 Rock Maple Street
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 13:
customer_id : 13
first_name : Lashawn
last_name : Ortiz
phone : None
email : lashawn.ortiz@msn.com
street : 27 Washington Rd.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 14:
customer_id : 14
first_name : Garry
last_name : Espinoza
phone : None
email : garry.espinoza@hotmail.com
street : 7858 Rockaway Court
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 15:
customer_id : 15
first_name : Linnie
last_name : Branch
phone : None
email : linnie.branch@gmail.com
street : 314 South Columbia Ave.
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 16:
customer_id : 16
first_name : Emmitt
last_name : Sanchez
phone : (212) 945-8823
email : emmitt.sanchez@hotmail.com
street : 461 Squaw Creek Road
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 17:
customer_id : 17
first_name : Caren
last_name : Stephens
phone : None
email : caren.stephens@msn.com
street : 914 Brook St.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 18:
customer_id : 18
first_name : Georgetta
last_name : Hardin
phone : None
email : georgetta.hardin@aol.com
street : 474 Chapel Dr.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 19:
customer_id : 19
first_name : Lizzette
last_name : Stein
phone : None
email : lizzette.stein@yahoo.com
street : 19 Green Hill Lane
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 20:
customer_id : 20
first_name : Aleta
last_name : Shepard
phone : None
email : aleta.shepard@aol.com
street : 684 Howard St.
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 21:
customer_id : 21
first_name : Tobie
last_name : Little
phone : None
email : tobie.little@gmail.com
street : 10 Silver Spear Dr.
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 22:
customer_id : 22
first_name : Adelle
last_name : Larsen
phone : None
email : adelle.larsen@gmail.com
street : 683 West Kirkland Dr.
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 23:
customer_id : 23
first_name : Kaylee
last_name : English
phone : None
email : kaylee.english@msn.com
street : 8786 Fulton Rd.
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 24:
customer_id : 24
first_name : Corene
last_name : Wall
phone : None
email : corene.wall@msn.com
street : 9601 Ocean Rd.
city : Atwater
state : CA
zip_code : 95301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 25:
customer_id : 25
first_name : Regenia
last_name : Vaughan
phone : None
email : regenia.vaughan@gmail.com
street : 44 Stonybrook Street
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 26:
customer_id : 26
first_name : Theo
last_name : Reese
phone : (562) 215-2907
email : theo.reese@gmail.com
street : 8755 W. Wild Horse St.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 27:
customer_id : 27
first_name : Santos
last_name : Valencia
phone : None
email : santos.valencia@yahoo.com
street : 7479 Carpenter Street
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 28:
customer_id : 28
first_name : Jeanice
last_name : Frost
phone : None
email : jeanice.frost@hotmail.com
street : 76 Devon Lane
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 29:
customer_id : 29
first_name : Syreeta
last_name : Hendricks
phone : None
email : syreeta.hendricks@msn.com
street : 193 Spruce Road
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 30:
customer_id : 30
first_name : Jamaal
last_name : Albert
phone : None
email : jamaal.albert@gmail.com
street : 853 Stonybrook Street
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 31:
customer_id : 31
first_name : Williemae
last_name : Holloway
phone : (510) 246-8375
email : williemae.holloway@msn.com
street : 69 Cypress St.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 32:
customer_id : 32
first_name : Araceli
last_name : Golden
phone : None
email : araceli.golden@msn.com
street : 12 Ridgeview Ave.
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 33:
customer_id : 33
first_name : Deloris
last_name : Burke
phone : None
email : deloris.burke@hotmail.com
street : 895 Edgemont Drive
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 34:
customer_id : 34
first_name : Brittney
last_name : Woodward
phone : None
email : brittney.woodward@aol.com
street : 960 River St.
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 35:
customer_id : 35
first_name : Guillermina
last_name : Noble
phone : None
email : guillermina.noble@msn.com
street : 6 Del Monte Lane
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 36:
customer_id : 36
first_name : Bernita
last_name : Mcdaniel
phone : None
email : bernita.mcdaniel@hotmail.com
street : 2 Peg Shop Ave.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 37:
customer_id : 37
first_name : Melia
last_name : Brady
phone : None
email : melia.brady@gmail.com
street : 907 Shirley Rd.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 38:
customer_id : 38
first_name : Zelma
last_name : Browning
phone : None
email : zelma.browning@aol.com
street : 296 Second Street
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 39:
customer_id : 39
first_name : Janetta
last_name : Aguirre
phone : (717) 670-2634
email : janetta.aguirre@aol.com
street : 214 Second Court
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 40:
customer_id : 40
first_name : Ronna
last_name : Butler
phone : None
email : ronna.butler@gmail.com
street : 9438 Plymouth Court
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 41:
customer_id : 41
first_name : Kathie
last_name : Freeman
phone : None
email : kathie.freeman@msn.com
street : 667 Temple Dr.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 42:
customer_id : 42
first_name : Tangela
last_name : Quinn
phone : None
email : tangela.quinn@aol.com
street : 4 S. Purple Finch Road
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 43:
customer_id : 43
first_name : Mozelle
last_name : Carter
phone : (281) 489-9656
email : mozelle.carter@aol.com
street : 895 Chestnut Ave.
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 44:
customer_id : 44
first_name : Onita
last_name : Johns
phone : None
email : onita.johns@msn.com
street : 32 Glen Creek Lane
city : Elmont
state : NY
zip_code : 11003
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 45:
customer_id : 45
first_name : Bennett
last_name : Armstrong
phone : None
email : bennett.armstrong@aol.com
street : 688 Walnut Street
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 46:
customer_id : 46
first_name : Monika
last_name : Berg
phone : None
email : monika.berg@gmail.com
street : 369 Vernon Dr.
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 47:
customer_id : 47
first_name : Bridgette
last_name : Guerra
phone : None
email : bridgette.guerra@hotmail.com
street : 9982 Manor Drive
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 48:
customer_id : 48
first_name : Cesar
last_name : Jackson
phone : None
email : cesar.jackson@gmail.com
street : 8068 N. Griffin Ave.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 49:
customer_id : 49
first_name : Caroll
last_name : Hays
phone : None
email : caroll.hays@yahoo.com
street : 9381 Wrangler St.
city : Fairport
state : NY
zip_code : 14450
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 50:
customer_id : 50
first_name : Cleotilde
last_name : Booth
phone : None
email : cleotilde.booth@gmail.com
street : 17 Corona St.
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 51:
customer_id : 51
first_name : Gertrud
last_name : Rhodes
phone : None
email : gertrud.rhodes@aol.com
street : 9961 Meadowbrook Street
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 52:
customer_id : 52
first_name : Tu
last_name : Ramirez
phone : None
email : tu.ramirez@hotmail.com
street : 24 W. Courtland Street
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 53:
customer_id : 53
first_name : Saturnina
last_name : Garner
phone : None
email : saturnina.garner@gmail.com
street : 8538 Fairground St.
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 54:
customer_id : 54
first_name : Fran
last_name : Yang
phone : None
email : fran.yang@hotmail.com
street : 440 Pearl St.
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 55:
customer_id : 55
first_name : Diana
last_name : Guerra
phone : None
email : diana.guerra@hotmail.com
street : 45 Chapel Ave.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 56:
customer_id : 56
first_name : Lolita
last_name : Mosley
phone : (281) 363-3309
email : lolita.mosley@hotmail.com
street : 376 S. High Ridge St.
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 57:
customer_id : 57
first_name : Pamala
last_name : Henry
phone : None
email : pamala.henry@aol.com
street : 197 Bridgeton Ave.
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 58:
customer_id : 58
first_name : Damien
last_name : Dorsey
phone : None
email : damien.dorsey@yahoo.com
street : 161 Old York Street
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 59:
customer_id : 59
first_name : Latasha
last_name : Stanley
phone : None
email : latasha.stanley@gmail.com
street : 8068 Fordham Drive
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 60:
customer_id : 60
first_name : Neil
last_name : Mccall
phone : None
email : neil.mccall@gmail.com
street : 7476 Oakland Dr.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 61:
customer_id : 61
first_name : Elinore
last_name : Aguilar
phone : None
email : elinore.aguilar@msn.com
street : 9766 Rockcrest Ave.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 62:
customer_id : 62
first_name : Alica
last_name : Hunter
phone : None
email : alica.hunter@hotmail.com
street : 8 San Juan Drive
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 63:
customer_id : 63
first_name : Tenisha
last_name : Lyons
phone : None
email : tenisha.lyons@aol.com
street : 78 E. Rock Creek Street
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 64:
customer_id : 64
first_name : Bobbie
last_name : Foster
phone : None
email : bobbie.foster@yahoo.com
street : 988 Pineknoll Ave.
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 65:
customer_id : 65
first_name : Kanesha
last_name : Vega
phone : None
email : kanesha.vega@gmail.com
street : 771 E. Oxford Drive
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 66:
customer_id : 66
first_name : Lorrie
last_name : Becker
phone : None
email : lorrie.becker@yahoo.com
street : 19 North Court
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 67:
customer_id : 67
first_name : Tommie
last_name : Melton
phone : (916) 802-2952
email : tommie.melton@gmail.com
street : 8 West Old York St.
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 68:
customer_id : 68
first_name : Jayne
last_name : Kirkland
phone : None
email : jayne.kirkland@hotmail.com
street : 7800 Second Lane
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 69:
customer_id : 69
first_name : Katelin
last_name : Kennedy
phone : None
email : katelin.kennedy@gmail.com
street : 286 Myrtle Lane
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 70:
customer_id : 70
first_name : Tomasa
last_name : Carson
phone : None
email : tomasa.carson@aol.com

street : 10 Clark Avenue
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 71:
customer_id : 71
first_name : Takako
last_name : Casey
phone : None
email : takako.casey@aol.com
street : 7548 Court Lane
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 72:
customer_id : 72
first_name : Petronila
last_name : Norris
phone : None
email : petronila.norris@aol.com
street : 72 South Marshall Lane
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 73:
customer_id : 73
first_name : Melanie
last_name : Hayes
phone : None
email : melanie.hayes@msn.com
street : 5 N. Hall Dr.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 74:
customer_id : 74
first_name : Georgeann
last_name : Waller
phone : None
email : georgeann.waller@yahoo.com
street : 9797 Bald Hill Ave.
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 75:
customer_id : 75
first_name : Abby
last_name : Gamble
phone : None
email : abby.gamble@aol.com
street : 60 Myers Dr.
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 76:
customer_id : 76
first_name : Parker
last_name : Prince
phone : None
email : parker.prince@hotmail.com
street : 21 Sulphur Springs Drive
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 77:
customer_id : 77
first_name : Keri
last_name : Bridges
phone : None
email : keri.bridges@gmail.com
street : 8504 Brickell Ave.
city : Richardson
state : TX
zip_code : 75080
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 78:
customer_id : 78
first_name : Chi
last_name : Goff
phone : None
email : chi.goff@aol.com
street : 3 W. Glen Ridge Avenue
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 79:
customer_id : 79
first_name : Ashanti
last_name : Parks
phone : None
email : ashanti.parks@hotmail.com
street : 846 N. Helen St.
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 80:
customer_id : 80
first_name : Sarai
last_name : Mckee
phone : (716) 912-8110
email : sarai.mckee@msn.com
street : 641 Glenwood Avenue
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 81:
customer_id : 81
first_name : Zina
last_name : Bonner
phone : None
email : zina.bonner@hotmail.com
street : 9312 8th Street
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 82:
customer_id : 82
first_name : Lizzie
last_name : Joyner
phone : None
email : lizzie.joyner@msn.com
street : 8541 Roberts St.
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 83:
customer_id : 83
first_name : Tiesha
last_name : Daniel
phone : None
email : tiesha.daniel@yahoo.com
street : 6 West Bohemia Lane
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 84:
customer_id : 84
first_name : Armand
last_name : Whitehead
phone : None
email : armand.whitehead@hotmail.com
street : 639 Harvey St.
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 85:
customer_id : 85
first_name : Teofila
last_name : Fischer
phone : None
email : teofila.fischer@aol.com
street : 1 West Brickyard St.
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 86:
customer_id : 86
first_name : Lissa
last_name : Vargas
phone : None
email : lissa.vargas@yahoo.com
street : 517 Victoria Ave.
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 87:
customer_id : 87
first_name : Yan
last_name : Mcgowan
phone : None
email : yan.mcgowan@msn.com
street : 8960 Newport Ave.
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 88:
customer_id : 88
first_name : Titus
last_name : Bullock
phone : None
email : titus.bullock@gmail.com
street : 29 Oxford Avenue
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 89:
customer_id : 89
first_name : Arvilla
last_name : Osborn
phone : None
email : arvilla.osborn@gmail.com
street : 60 Acacia Lane
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 90:
customer_id : 90
first_name : Marjorie
last_name : Logan
phone : None
email : marjorie.logan@msn.com
street : 95 Grandrose St.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 91:
customer_id : 91
first_name : Marvin
last_name : Mullins
phone : (619) 635-2027
email : marvin.mullins@aol.com
street : 7489 Redwood Drive
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 92:
customer_id : 92
first_name : Tena
last_name : Cruz
phone : None
email : tena.cruz@yahoo.com
street : 1 South St.
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 93:
customer_id : 93
first_name : Corrina
last_name : Sawyer
phone : (248) 370-1364
email : corrina.sawyer@yahoo.com
street : 95 Briarwood Lane
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 94:
customer_id : 94
first_name : Sharyn
last_name : Hopkins
phone : None
email : sharyn.hopkins@hotmail.com
street : 4 South Temple Ave.
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 95:
customer_id : 95
first_name : Letitia
last_name : Franco
phone : None
email : letitia.franco@aol.com
street : 607 Lakeview Drive
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 96:
customer_id : 96
first_name : Floretta
last_name : Higgins
phone : None
email : floretta.higgins@hotmail.com
street : 870 Lilac Dr.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 97:
customer_id : 97
first_name : Louanne
last_name : Martin
phone : None
email : louanne.martin@hotmail.com
street : 1 Campfire Ave.
city : Yuba City
state : CA
zip_code : 95993
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 98:
customer_id : 98
first_name : Violet
last_name : Valenzuela
phone : None
email : violet.valenzuela@msn.com
street : 8668 Piper Street
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 99:
customer_id : 99
first_name : Carie
last_name : Kidd
phone : None
email : carie.kidd@yahoo.com
street : 6 East Clinton Street
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 100:
customer_id : 100
first_name : Kellie
last_name : Franco
phone : None
email : kellie.franco@yahoo.com
street : 444 South Walnut Rd.
city : Commack
state : NY
zip_code : 11725
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 101:
customer_id : 101
first_name : Nichelle
last_name : Howell
phone : None
email : nichelle.howell@aol.com
street : 7670 Forest St.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 102:
customer_id : 102
first_name : Marisol
last_name : Goodman
phone : None
email : marisol.goodman@gmail.com
street : 864 East Cherry St.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 103:
customer_id : 103
first_name : Sylvie
last_name : Wilkerson
phone : None
email : sylvie.wilkerson@yahoo.com
street : 750 Central Ave.
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 104:
customer_id : 104
first_name : Katharina
last_name : Bates
phone : None
email : katharina.bates@gmail.com
street : 54 South Greenview Drive
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 105:
customer_id : 105
first_name : Marget
last_name : Hodge
phone : None
email : marget.hodge@msn.com
street : 7199 Selby Lane
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 106:
customer_id : 106
first_name : Raul
last_name : Melendez
phone : None
email : raul.melendez@hotmail.com
street : 9772 Manhattan St.
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 107:
customer_id : 107
first_name : Cecil
last_name : Hopper
phone : None
email : cecil.hopper@yahoo.com
street : 471 Glenlake Ave.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 108:
customer_id : 108
first_name : Shae
last_name : Hickman
phone : None
email : shae.hickman@hotmail.com
street : 740 Pin Oak Street
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 109:
customer_id : 109
first_name : Monica
last_name : Sears
phone : (408) 704-8863
email : monica.sears@aol.com
street : 57 Glenholme St.
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 110:
customer_id : 110
first_name : Ollie
last_name : Zimmerman
phone : (657) 648-2863
email : ollie.zimmerman@yahoo.com
street : 69 Wood Rd.
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 111:
customer_id : 111
first_name : Shila
last_name : White
phone : None
email : shila.white@msn.com
street : 94 Lakeshore Street
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 112:
customer_id : 112
first_name : Yuk
last_name : Vega
phone : None
email : yuk.vega@yahoo.com
street : 413 Wood St.
city : West Hempstead
state : NY
zip_code : 11552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 113:
customer_id : 113
first_name : Eliana
last_name : Silva
phone : None
email : eliana.silva@gmail.com
street : 7119 Summer Rd.
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 114:
customer_id : 114
first_name : Thalia
last_name : Horne
phone : None
email : thalia.horne@yahoo.com
street : 9312 Harvard Street
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 115:
customer_id : 115
first_name : Rey
last_name : Lindsay
phone : None
email : rey.lindsay@gmail.com
street : 16 Philmont St.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 116:
customer_id : 116
first_name : Merlene
last_name : Vinson
phone : None
email : merlene.vinson@gmail.com
street : 431 Vine Dr.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 117:
customer_id : 117
first_name : Dacia
last_name : William
phone : None
email : dacia.william@msn.com
street : 62 Cypress Drive
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 118:
customer_id : 118
first_name : Le
last_name : Wood
phone : None
email : le.wood@yahoo.com
street : 90 Primrose Dr.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 119:
customer_id : 119
first_name : Thalia
last_name : Dillard
phone : None
email : thalia.dillard@yahoo.com
street : 987 NE. Gates Street
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 120:
customer_id : 120
first_name : Luz
last_name : House
phone : (559) 114-2580
email : luz.house@gmail.com
street : 491 Railroad Street
city : Fresno
state : CA
zip_code : 93706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 121:
customer_id : 121
first_name : Lucy
last_name : Woods
phone : None
email : lucy.woods@gmail.com
street : 8437 West Rockaway St.
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 122:
customer_id : 122
first_name : Shena
last_name : Carter
phone : None
email : shena.carter@yahoo.com
street : 72 University Road
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 123:
customer_id : 123
first_name : Robena
last_name : Hill
phone : (361) 598-4414
email : robena.hill@hotmail.com
street : 263 Cross St.
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 124:
customer_id : 124
first_name : Jeni
last_name : Booker
phone : None
email : jeni.booker@gmail.com
street : 546 Railroad Dr.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 125:
customer_id : 125
first_name : Herlinda
last_name : Stone
phone : None
email : herlinda.stone@msn.com
street : 725 Gulf St.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 126:
customer_id : 126
first_name : Lavina
last_name : Dejesus
phone : None
email : lavina.dejesus@msn.com
street : 59 E. Valley Avenue
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 127:
customer_id : 127
first_name : Erlinda
last_name : Nielsen
phone : None
email : erlinda.nielsen@aol.com
street : 728 Oxford Lane
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 128:
customer_id : 128
first_name : Terrance
last_name : Lynn
phone : None
email : terrance.lynn@yahoo.com
street : 91 East Buckingham Drive
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 129:
customer_id : 129
first_name : Walton
last_name : Dejesus
phone : None
email : walton.dejesus@yahoo.com
street : 15 Washington Rd.
city : Lockport
state : NY
zip_code : 14094
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 130:
customer_id : 130
first_name : Wes
last_name : Stanton
phone : (248) 247-5074
email : wes.stanton@msn.com
street : 8662 Tunnel Street
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 131:
customer_id : 131
first_name : Tanesha
last_name : Hampton
phone : None
email : tanesha.hampton@hotmail.com
street : 19 Belmont Ave.
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 132:
customer_id : 132
first_name : Boyd
last_name : Irwin
phone : None
email : boyd.irwin@hotmail.com
street : 221 Whitemarsh St.
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 133:
customer_id : 133
first_name : Delbert
last_name : Wilkins
phone : None
email : delbert.wilkins@aol.com
street : 420 Greenview St.
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 134:
customer_id : 134
first_name : Brianna
last_name : Moss
phone : (516) 156-8031
email : brianna.moss@msn.com
street : 4 Longfellow St.
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 135:
customer_id : 135
first_name : Dorthey
last_name : Jackson
phone : (281) 926-8010
email : dorthey.jackson@msn.com
street : 9768 Brookside St.
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 136:
customer_id : 136
first_name : Sarita
last_name : Parks
phone : None
email : sarita.parks@msn.com
street : 7809 Second Lane
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 137:
customer_id : 137
first_name : Shonta
last_name : Mercer
phone : None
email : shonta.mercer@aol.com
street : 319 NE. La Sierra Avenue
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 138:
customer_id : 138
first_name : Jone
last_name : Bernard
phone : (657) 536-5165
email : jone.bernard@hotmail.com
street : 99 Longbranch Court
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 139:
customer_id : 139
first_name : Wanita
last_name : Davenport
phone : None
email : wanita.davenport@aol.com
street : 525 Dogwood Ave.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 140:
customer_id : 140
first_name : Cleopatra
last_name : Tate
phone : None
email : cleopatra.tate@aol.com
street : 97 N. Glenwood St.
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 141:
customer_id : 141
first_name : Ramiro
last_name : Byers
phone : None
email : ramiro.byers@gmail.com
street : 16 Pleasant St.
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 142:
customer_id : 142
first_name : Nicholas
last_name : Vazquez
phone : None
email : nicholas.vazquez@hotmail.com
street : 9 Roosevelt Street
city : West Hempstead
state : NY
zip_code : 11552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 143:
customer_id : 143
first_name : Janae
last_name : Doyle
phone : None
email : janae.doyle@gmail.com
street : 760 Rose Ave.
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 144:
customer_id : 144
first_name : Hans
last_name : Price
phone : None
email : hans.price@hotmail.com
street : 51 Glendale Road
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 145:
customer_id : 145
first_name : Miquel
last_name : Neal
phone : None
email : miquel.neal@hotmail.com
street : 9564 Deerfield Lane
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 146:
customer_id : 146
first_name : Stefany
last_name : Potter
phone : None
email : stefany.potter@gmail.com
street : 256 South Academy St.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 147:
customer_id : 147
first_name : Bernetta
last_name : Marquez
phone : None
email : bernetta.marquez@hotmail.com
street : 626 E. Dunbar Street
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 148:
customer_id : 148
first_name : Julee
last_name : Woodard
phone : None
email : julee.woodard@yahoo.com
street : 869 Summerhouse Dr.
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 149:
customer_id : 149
first_name : Meredith
last_name : Bryan
phone : None
email : meredith.bryan@hotmail.com
street : 8935 E. Oxford St.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 150:
customer_id : 150
first_name : Weldon
last_name : Michael
phone : None
email : weldon.michael@hotmail.com
street : 9952 Nut Swamp St.
city : Huntington
state : NY
zip_code : 11743
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 151:
customer_id : 151
first_name : Joesph
last_name : Delacruz
phone : None
email : joesph.delacruz@aol.com
street : 184 Cypress Street
city : Atwater
state : CA
zip_code : 95301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 152:
customer_id : 152
first_name : Katherina
last_name : Odom
phone : None
email : katherina.odom@yahoo.com
street : 897 N. Oak Drive
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 153:
customer_id : 153
first_name : Laraine
last_name : Robbins
phone : None
email : laraine.robbins@yahoo.com
street : 8214 E. Pin Oak Lane
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 154:
customer_id : 154
first_name : Jenise
last_name : Preston
phone : None
email : jenise.preston@yahoo.com
street : 9 Littleton Drive
city : Helotes
state : TX
zip_code : 78023
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 155:
customer_id : 155
first_name : Lory
last_name : Page
phone : None
email : lory.page@hotmail.com
street : 58 Summerhouse Street
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 156:
customer_id : 156
first_name : Charlyn
last_name : Cantrell
phone : None
email : charlyn.cantrell@yahoo.com
street : 8756 Euclid St.
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 157:
customer_id : 157
first_name : Carola
last_name : Rodriquez
phone : None
email : carola.rodriquez@hotmail.com
street : 9433 Heritage Lane
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 158:
customer_id : 158
first_name : Alane
last_name : Kennedy
phone : None
email : alane.kennedy@yahoo.com
street : 34 Green Lake Street
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 159:
customer_id : 159
first_name : Regina
last_name : Burns
phone : None
email : regina.burns@aol.com
street : 713 Buckingham St.
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 160:
customer_id : 160
first_name : Omer
last_name : Estrada
phone : None
email : omer.estrada@gmail.com
street : 9 Honey Creek Street
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 161:
customer_id : 161
first_name : Crystle
last_name : Gilliam
phone : None
email : crystle.gilliam@yahoo.com
street : 86 Edgewater Road
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 162:
customer_id : 162
first_name : Kam
last_name : Wilder
phone : None
email : kam.wilder@hotmail.com
street : 500 West Clay Ave.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 163:
customer_id : 163
first_name : Margert
last_name : Stevens
phone : None
email : margert.stevens@aol.com
street : 502 North Poplar St.
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 164:
customer_id : 164
first_name : Tomika
last_name : Larson
phone : None
email : tomika.larson@yahoo.com
street : 254 Canal St.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 165:
customer_id : 165
first_name : Jeromy
last_name : Burch
phone : (408) 955-8238
email : jeromy.burch@msn.com
street : 889 Mulberry Street
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 166:
customer_id : 166
first_name : Lena
last_name : Mills
phone : None
email : lena.mills@yahoo.com
street : 42 Homestead St.
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 167:
customer_id : 167
first_name : Loreta
last_name : Johnston
phone : None
email : loreta.johnston@yahoo.com
street : 39 Lafayette Dr.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 168:
customer_id : 168
first_name : Nettie
last_name : Mcdaniel
phone : None
email : nettie.mcdaniel@hotmail.com
street : 7004 E. Wakehurst St.
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 169:
customer_id : 169
first_name : Karla
last_name : Kirk
phone : None
email : karla.kirk@yahoo.com
street : 9718 Harvard Rd.
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 170:
customer_id : 170
first_name : Regine
last_name : Gonzales
phone : (805) 763-4045
email : regine.gonzales@gmail.com
street : 798 Court Drive
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 171:
customer_id : 171
first_name : Miriam
last_name : Baker
phone : None
email : miriam.baker@hotmail.com
street : 90 Studebaker St.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 172:
customer_id : 172
first_name : Jeanie
last_name : Kirkland
phone : None
email : jeanie.kirkland@aol.com
street : 7643 Old Theatre St.
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 173:
customer_id : 173
first_name : Marquerite
last_name : Dawson
phone : None
email : marquerite.dawson@gmail.com
street : 37 Hamilton Court
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 174:
customer_id : 174
first_name : Babara
last_name : Ochoa
phone : None
email : babara.ochoa@aol.com
street : 872 Smith Store St.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 175:
customer_id : 175
first_name : Nova
last_name : Hess
phone : None
email : nova.hess@msn.com
street : 773 South Lafayette St.
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 176:
customer_id : 176
first_name : Carley
last_name : Reynolds
phone : None
email : carley.reynolds@gmail.com
street : 2 Snake Hill Drive
city : South El Monte
state : CA
zip_code : 91733

Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 177:
customer_id : 177
first_name : Carissa
last_name : Foreman
phone : None
email : carissa.foreman@msn.com
street : 69C N. Ridge Rd.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 178:
customer_id : 178
first_name : Genoveva
last_name : Tyler
phone : (212) 152-6381
email : genoveva.tyler@gmail.com
street : 8121 Windfall Ave.
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 179:
customer_id : 179
first_name : Deane
last_name : Sears
phone : None
email : deane.sears@hotmail.com
street : 3 Bradford Court
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 180:
customer_id : 180
first_name : Karey
last_name : Steele
phone : None
email : karey.steele@gmail.com
street : 8879 Kent Lane
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 181:
customer_id : 181
first_name : Olevia
last_name : Pitts
phone : None
email : olevia.pitts@gmail.com
street : 39 Fieldstone Drive
city : Redondo Beach
state : CA
zip_code : 90278
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 182:
customer_id : 182
first_name : Jenniffer
last_name : Bullock
phone : None
email : jenniffer.bullock@msn.com
street : 38 Oxford Avenue
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 183:
customer_id : 183
first_name : Jeniffer
last_name : Ratliff
phone : None
email : jeniffer.ratliff@gmail.com
street : 510 Rocky River Court
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 184:
customer_id : 184
first_name : Klara
last_name : Stanley
phone : None
email : klara.stanley@aol.com
street : 603 Mechanic St.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 185:
customer_id : 185
first_name : Morton
last_name : Lee
phone : None
email : morton.lee@yahoo.com
street : 313 Ridge St.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 186:
customer_id : 186
first_name : Ken
last_name : Charles
phone : None
email : ken.charles@msn.com
street : 9124 W. Piper Lane
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 187:
customer_id : 187
first_name : Hedwig
last_name : Paul
phone : None
email : hedwig.paul@msn.com
street : 422 Manor Ave.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 188:
customer_id : 188
first_name : Sharla
last_name : Flynn
phone : (805) 478-7724
email : sharla.flynn@hotmail.com
street : 7 Brown Drive
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 189:
customer_id : 189
first_name : Damian
last_name : Dawson
phone : None
email : damian.dawson@hotmail.com
street : 528 St Margarets Street
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 190:
customer_id : 190
first_name : Toya
last_name : Pratt
phone : (562) 218-6405
email : toya.pratt@yahoo.com
street : 485 San Pablo Drive
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 191:
customer_id : 191
first_name : Graciela
last_name : Barber
phone : (805) 656-6987
email : graciela.barber@hotmail.com
street : 1 E. Young St.
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 192:
customer_id : 192
first_name : Bong
last_name : Hebert
phone : None
email : bong.hebert@gmail.com
street : 545 Brook St.
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 193:
customer_id : 193
first_name : Ayanna
last_name : Rhodes
phone : None
email : ayanna.rhodes@msn.com
street : 7425 Pheasant St.
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 194:
customer_id : 194
first_name : Dorine
last_name : Roberson
phone : None
email : dorine.roberson@msn.com
street : 396 Meadowbrook Lane
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 195:
customer_id : 195
first_name : Addie
last_name : Hahn
phone : None
email : addie.hahn@hotmail.com
street : 8165 Baker Ave.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 196:
customer_id : 196
first_name : Edythe
last_name : Valencia
phone : None
email : edythe.valencia@yahoo.com
street : 9346 Wall St.
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 197:
customer_id : 197
first_name : Andy
last_name : O'neill
phone : None
email : andy.o'neill@msn.com
street : 9544 Mulberry Drive
city : Rego Park
state : NY
zip_code : 11374
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 198:
customer_id : 198
first_name : Luis
last_name : Tyler
phone : None
email : luis.tyler@gmail.com
street : 9568 Campfire Circle
city : Amarillo
state : TX
zip_code : 79106
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 199:
customer_id : 199
first_name : Clelia
last_name : Workman
phone : None
email : clelia.workman@yahoo.com
street : 620 North Somerset St.
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 200:
customer_id : 200
first_name : Ashely
last_name : Holmes
phone : None
email : ashely.holmes@aol.com
street : 45 High Ridge Ave.
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 201:
customer_id : 201
first_name : Candis
last_name : Harding
phone : None
email : candis.harding@gmail.com
street : 33 NW. Cambridge Ave.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 202:
customer_id : 202
first_name : Marni
last_name : Bolton
phone : (717) 670-6268
email : marni.bolton@msn.com
street : 7469 Plymouth Ave.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 203:
customer_id : 203
first_name : Minerva
last_name : Decker
phone : (281) 271-6390
email : minerva.decker@yahoo.com
street : 794 Greenrose Street
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 204:
customer_id : 204
first_name : Alpha
last_name : King
phone : None
email : alpha.king@hotmail.com
street : 14 Henry Smith St.
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 205:
customer_id : 205
first_name : Harris
last_name : Pittman
phone : None
email : harris.pittman@yahoo.com
street : 404 Cherry Hill Road
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 206:
customer_id : 206
first_name : Stephaine
last_name : Riddle
phone : None
email : stephaine.riddle@hotmail.com
street : 199 Vermont Court
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 207:
customer_id : 207
first_name : Michel
last_name : Blankenship
phone : None
email : michel.blankenship@msn.com
street : 382 West Hill Dr.
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 208:
customer_id : 208
first_name : Denis
last_name : Logan
phone : None
email : denis.logan@msn.com
street : 121 Rockcrest Street
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 209:
customer_id : 209
first_name : Jutta
last_name : Everett
phone : None
email : jutta.everett@gmail.com
street : 27 Taylor Ave.
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 210:
customer_id : 210
first_name : Priscilla
last_name : Wilkins
phone : (229) 322-2269
email : priscilla.wilkins@aol.com
street : 653 Pawnee Rd.
city : Albany
state : NY
zip_code : 12203
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 211:
customer_id : 211
first_name : Gilma
last_name : Dejesus
phone : None
email : gilma.dejesus@yahoo.com
street : 777 Thompson Ave.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 212:
customer_id : 212
first_name : Buford
last_name : Bridges
phone : (248) 604-7346
email : buford.bridges@msn.com
street : 239 Oak Valley Court
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 213:
customer_id : 213
first_name : Elenore
last_name : Hensley
phone : None
email : elenore.hensley@hotmail.com
street : 7037 Aspen St.
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 214:
customer_id : 214
first_name : Ross
last_name : Pugh
phone : None
email : ross.pugh@msn.com
street : 8598 Saxon St.
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 215:
customer_id : 215
first_name : Judith
last_name : Finley
phone : None
email : judith.finley@hotmail.com
street : 474 West Bank Road
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 216:
customer_id : 216
first_name : Wai
last_name : Soto
phone : None
email : wai.soto@msn.com
street : 30 Arch Drive
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 217:
customer_id : 217
first_name : Carline
last_name : Collier
phone : (559) 810-6070
email : carline.collier@msn.com
street : 28 Trenton Lane
city : Fresno
state : CA
zip_code : 93706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 218:
customer_id : 218
first_name : Casey
last_name : Gill
phone : None
email : casey.gill@gmail.com
street : 636 Prospect Avenue
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 219:
customer_id : 219
first_name : Darcie
last_name : Morgan
phone : (442) 618-7068
email : darcie.morgan@aol.com
street : 476 East Adams Ave.
city : Oceanside
state : NY
zip_code : 11572
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 220:
customer_id : 220
first_name : Lucio
last_name : Sherman
phone : None
email : lucio.sherman@gmail.com
street : 842 Corona Ave.
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 221:
customer_id : 221
first_name : Clementine
last_name : Mooney
phone : None
email : clementine.mooney@yahoo.com
street : 678 Charles Court
city : Mcallen
state : TX
zip_code : 78501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 222:
customer_id : 222
first_name : Anya
last_name : Contreras
phone : None
email : anya.contreras@msn.com
street : 38 Old Fairground St.
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 223:
customer_id : 223
first_name : Scarlet
last_name : Yates
phone : None
email : scarlet.yates@hotmail.com
street : 687 Shirley St.
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 224:
customer_id : 224
first_name : Moses
last_name : Pope
phone : None
email : moses.pope@yahoo.com
street : 654 Theatre Street
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 225:
customer_id : 225
first_name : Barbera
last_name : Riggs
phone : None
email : barbera.riggs@aol.com
street : 12 Gartner Drive
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 226:
customer_id : 226
first_name : Kiana
last_name : Rivera
phone : None
email : kiana.rivera@gmail.com
street : 9 Sheffield Dr.
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 227:
customer_id : 227
first_name : Danielle
last_name : Bond
phone : None
email : danielle.bond@msn.com
street : 8589 Shub Farm Street
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 228:
customer_id : 228
first_name : Whitney
last_name : Estes
phone : (631) 315-4020
email : whitney.estes@gmail.com
street : 454 Bear Hill Street
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 229:
customer_id : 229
first_name : Molly
last_name : Langley
phone : None
email : molly.langley@aol.com
street : 63 Bridgeton Street
city : Holbrook
state : NY
zip_code : 11741
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 230:
customer_id : 230
first_name : Chelsey
last_name : Hardin
phone : None
email : chelsey.hardin@hotmail.com
street : 13 Brickyard Street
city : Deer Park
state : NY
zip_code : 11729
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 231:
customer_id : 231
first_name : Jenee
last_name : Rasmussen
phone : (916) 219-1774
email : jenee.rasmussen@hotmail.com
street : 19 George Lane
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 232:
customer_id : 232
first_name : Freddie
last_name : Mathis
phone : None
email : freddie.mathis@hotmail.com
street : 31 Shady St.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 233:
customer_id : 233
first_name : Mariana
last_name : Strong
phone : None
email : mariana.strong@msn.com
street : 972 Dunbar Dr.
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 234:
customer_id : 234
first_name : Winfred
last_name : Harris
phone : None
email : winfred.harris@msn.com
street : 734 Glen Eagles St.
city : East Meadow
state : NY
zip_code : 11554
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 235:
customer_id : 235
first_name : Jeromy
last_name : Elliott
phone : None
email : jeromy.elliott@gmail.com
street : 7112 Laurel Street
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 236:
customer_id : 236
first_name : Verona
last_name : O'neill
phone : None
email : verona.o'neill@hotmail.com
street : 8279 W. Sussex St.
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 237:
customer_id : 237
first_name : Elvera
last_name : Peck
phone : None
email : elvera.peck@yahoo.com
street : 759 Lakewood Street
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 238:
customer_id : 238
first_name : Cindi
last_name : Larson
phone : None
email : cindi.larson@msn.com
street : 896 Golden Star Rd.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 239:
customer_id : 239
first_name : Felice
last_name : Guzman
phone : None
email : felice.guzman@hotmail.com
street : 7 Creekside Lane
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 240:
customer_id : 240
first_name : Le
last_name : Deleon
phone : None
email : le.deleon@msn.com
street : 58 Clark Court
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 241:
customer_id : 241
first_name : Manie
last_name : Sanchez
phone : None
email : manie.sanchez@hotmail.com
street : 471 Illinois Ave.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 242:
customer_id : 242
first_name : Rutha
last_name : Howell
phone : None
email : rutha.howell@gmail.com
street : 9247 Jones Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 243:
customer_id : 243
first_name : Natosha
last_name : Rowland
phone : None
email : natosha.rowland@aol.com
street : 51 Elmwood St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 244:
customer_id : 244
first_name : Jessika
last_name : Bray
phone : None
email : jessika.bray@yahoo.com
street : 37 East Greystone St.
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 245:
customer_id : 245
first_name : Delila
last_name : Hamilton
phone : None
email : delila.hamilton@yahoo.com
street : 7451 East James Ave.
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 246:
customer_id : 246
first_name : Dionne
last_name : Norris
phone : None
email : dionne.norris@yahoo.com
street : 9993 Greenview Circle
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 247:
customer_id : 247
first_name : Muriel
last_name : Juarez
phone : None
email : muriel.juarez@gmail.com
street : 8073 Cemetery Drive
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 248:
customer_id : 248
first_name : Cecelia
last_name : Gill
phone : None
email : cecelia.gill@aol.com
street : 372 Silver Spear Dr.
city : Mcallen
state : TX
zip_code : 78501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 249:
customer_id : 249
first_name : Magda
last_name : Eaton
phone : None
email : magda.eaton@aol.com
street : 860 Middle River Street
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 250:
customer_id : 250
first_name : Ivonne
last_name : Yang
phone : (915) 181-1950
email : ivonne.yang@gmail.com
street : 7359 North Lake View St.
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 251:
customer_id : 251
first_name : Kasie
last_name : Rodriquez
phone : None
email : kasie.rodriquez@aol.com
street : 7 North Beech St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 252:
customer_id : 252
first_name : Eleni
last_name : Gordon
phone : None
email : eleni.gordon@hotmail.com
street : 583 W. San Carlos Street
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 253:
customer_id : 253
first_name : Maurice
last_name : Norton
phone : None
email : maurice.norton@hotmail.com
street : 32 Mayflower Dr.
city : Atwater
state : CA
zip_code : 95301

street : 347 Sheffield St.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 257:
customer_id : 257
first_name : Earl
last_name : Stanley
phone : None
email : earl.stanley@gmail.com
street : 569 Lake Lane
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 258:
customer_id : 258
first_name : Maribel
last_name : William
phone : None
email : maribel.william@aol.com
street : 65 Magnolia Ave.
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 259:
customer_id : 259
first_name : Johnathan
last_name : Velazquez
phone : None
email : johnathan.velazquez@hotmail.com
street : 9680 E. Somerset Street
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 260:
customer_id : 260
first_name : Rodrick
last_name : Shelton
phone : None
email : rodrick.shelton@hotmail.com
street : 7157 Addison Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 261:
customer_id : 261
first_name : Ferne
last_name : Kline
phone : None
email : ferne.kline@hotmail.com
street : 303 Shady St.
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 262:
customer_id : 262
first_name : Rubin
last_name : Decker
phone : (716) 950-9835
email : rubin.decker@gmail.com
street : 9875 Shady Ave.
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 263:
customer_id : 263
first_name : Dortha
last_name : Jarvis
phone : (442) 919-8256
email : dortha.jarvis@yahoo.com
street : 76 Prince Drive
city : Oceanside
state : NY
zip_code : 11572
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 264:
customer_id : 264
first_name : Mariela
last_name : Huffman
phone : None
email : mariela.huffman@gmail.com
street : 531 Fieldstone Road
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 265:
customer_id : 265
first_name : Mellisa
last_name : Farley
phone : None
email : mellisa.farley@yahoo.com
street : 21 West Princess St.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 266:
customer_id : 266
first_name : Myung
last_name : Hooper
phone : None
email : myung.hooper@gmail.com
street : 951 Mill Road
city : Elmont
state : NY
zip_code : 11003
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 267:
customer_id : 267
first_name : Angelina
last_name : Lloyd
phone : None
email : angelina.lloyd@yahoo.com
street : 9593 North Sherman Dr.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 268:
customer_id : 268
first_name : Trinity
last_name : Riddle
phone : None
email : trinity.riddle@aol.com
street : 23 Oakland Lane
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 269:
customer_id : 269
first_name : Barton
last_name : Crosby
phone : None
email : barton.crosby@msn.com
street : 896 Edgewater St.
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 270:
customer_id : 270
first_name : Claudio
last_name : Wise
phone : None
email : claudio.wise@hotmail.com
street : 810 Oxford Ave.
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 271:
customer_id : 271
first_name : Katheleen
last_name : Marks
phone : None
email : katheleen.marks@yahoo.com
street : 69 North Tower St.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 272:
customer_id : 272
first_name : Deja
last_name : Chaney
phone : None
email : deja.chaney@hotmail.com
street : 52 Woodside Ave.
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 273:
customer_id : 273
first_name : Queenie
last_name : Vance
phone : None
email : queenie.vance@gmail.com
street : 172 Arcadia Ave.
city : Ozone Park
state : NY
zip_code : 11417
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 274:
customer_id : 274
first_name : Josh
last_name : Shaw
phone : None
email : josh.shaw@gmail.com
street : 212 North Leeton Ridge Street
city : Hopewell Junction
state : NY
zip_code : 12533
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 275:
customer_id : 275
first_name : Pinkie
last_name : Kirkland
phone : None
email : pinkie.kirkland@yahoo.com
street : 18 Myers St.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 276:
customer_id : 276
first_name : Lavette
last_name : Wright
phone : None
email : lavette.wright@msn.com
street : 6 Windsor Street
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 277:
customer_id : 277
first_name : Mark
last_name : Garrett
phone : None
email : mark.garrett@msn.com
street : 285 Rosewood Dr.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 278:
customer_id : 278
first_name : Myesha
last_name : Burgess
phone : None
email : myesha.burgess@gmail.com
street : 306 Trenton Rd.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 279:
customer_id : 279
first_name : Justina
last_name : Long
phone : None
email : justina.long@aol.com
street : 39 Littleton Ave.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 280:
customer_id : 280
first_name : Brenda
last_name : Tate
phone : None
email : brenda.tate@msn.com
street : 36 Hilltop Street
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 281:
customer_id : 281
first_name : Rayna
last_name : Perry
phone : None
email : rayna.perry@hotmail.com
street : 7238 Oakland St.
city : Ozone Park
state : NY
zip_code : 11417
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 282:
customer_id : 282
first_name : Randolph
last_name : Chase
phone : None
email : randolph.chase@yahoo.com
street : 828 Bridle Ave.
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 283:
customer_id : 283
first_name : Jaimee
last_name : Day
phone : None
email : jaimee.day@aol.com
street : 7534 Whitemarsh Ave.
city : Poughkeepsie
state : NY
zip_code : 12601
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 284:
customer_id : 284
first_name : Susann
last_name : Bass
phone : None
email : susann.bass@msn.com
street : 21 Old Rock Maple Ave.
city : Commack
state : NY
zip_code : 11725
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 285:
customer_id : 285
first_name : Leola
last_name : Gould
phone : None
email : leola.gould@gmail.com
street : 8 Kirkland St.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 286:
customer_id : 286
first_name : Virgil
last_name : Frost
phone : None
email : virgil.frost@gmail.com
street : 9798 Beacon St.
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 287:
customer_id : 287
first_name : Mireille
last_name : Puckett
phone : (805) 961-9909
email : mireille.puckett@hotmail.com
street : 378 Purple Finch Drive
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 288:
customer_id : 288
first_name : Keturah
last_name : Massey
phone : None
email : keturah.massey@msn.com
street : 189 Arnold Drive
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 289:
customer_id : 289
first_name : Charmain
last_name : Webster
phone : None
email : charmain.webster@hotmail.com
street : 36 East Stonybrook Rd.
city : Richardson
state : TX
zip_code : 75080
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 290:
customer_id : 290
first_name : Barry
last_name : Buckner
phone : None
email : barry.buckner@gmail.com
street : 8779 High Noon Rd.
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 291:
customer_id : 291
first_name : Boyce
last_name : Burks
phone : None
email : boyce.burks@gmail.com
street : 879 Harvey Dr.
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 292:
customer_id : 292
first_name : Monty
last_name : Frost
phone : (516) 460-5396
email : monty.frost@aol.com
street : 76 Foxrun Dr.
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 293:
customer_id : 293
first_name : Tiny
last_name : French
phone : None
email : tiny.french@hotmail.com
street : 7163 Hall St.
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 294:
customer_id : 294
first_name : Clementina
last_name : Sargent
phone : None
email : clementina.sargent@hotmail.com
street : 9853 Catherine Road
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 295:
customer_id : 295
first_name : Danny
last_name : Kim
phone : None
email : danny.kim@msn.com
street : 74 Essex Drive
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 296:
customer_id : 296
first_name : Sophia
last_name : Mcmillan
phone : None
email : sophia.mcmillan@msn.com
street : 8541 S. Pleasant Street
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 297:
customer_id : 297
first_name : Christia
last_name : Carson
phone : None
email : christia.carson@gmail.com
street : 220 Orchard Street
city : Helotes
state : TX
zip_code : 78023
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 298:
customer_id : 298
first_name : Jennie
last_name : Middleton
phone : None
email : jennie.middleton@gmail.com
street : 95 High Noon Dr.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 299:
customer_id : 299
first_name : Jame
last_name : Riggs
phone : None
email : jame.riggs@hotmail.com
street : 9237 Hudson Drive
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 300:
customer_id : 300
first_name : Rayford
last_name : Simon
phone : None
email : rayford.simon@msn.com
street : 998 Whitemarsh Road
city : Mountain View
state : CA
zip_code : 94043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 301:
customer_id : 301
first_name : Annett
last_name : Garrett
phone : None
email : annett.garrett@yahoo.com
street : 19 Euclid Lane
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 302:
customer_id : 302
first_name : Hayden
last_name : Cross
phone : None
email : hayden.cross@gmail.com
street : 90 Pumpkin Hill St.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 303:
customer_id : 303
first_name : Rolanda
last_name : Larsen
phone : None
email : rolanda.larsen@yahoo.com
street : 5 West University Court
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 304:
customer_id : 304
first_name : Jayme
last_name : Zamora
phone : None
email : jayme.zamora@gmail.com
street : 2 Ridge Lane
city : Springfield Gardens
state : NY
zip_code : 11413
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 305:
customer_id : 305
first_name : Hope
last_name : Cotton
phone : None
email : hope.cotton@aol.com
street : 9092 Blue Spring Dr.
city : Redondo Beach
state : CA
zip_code : 90278
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 306:
customer_id : 306
first_name : Vikki
last_name : Erickson
phone : None
email : vikki.erickson@yahoo.com
street : 24 Jones Street
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 307:
customer_id : 307
first_name : Fransisca
last_name : Nicholson
phone : None
email : fransisca.nicholson@aol.com
street : 945 Schoolhouse Street
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 308:
customer_id : 308
first_name : Mazie
last_name : Fernandez
phone : None
email : mazie.fernandez@hotmail.com
street : 583 Harvard Ave.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 309:
customer_id : 309
first_name : Anderson
last_name : Martin
phone : None
email : anderson.martin@hotmail.com
street : 9051 Hillside Dr.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 310:
customer_id : 310
first_name : Gilberto
last_name : Parsons
phone : None
email : gilberto.parsons@gmail.com
street : 8115 North Edgewater Drive
city : Middle Village
state : NY
zip_code : 11379
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 311:
customer_id : 311
first_name : Charise
last_name : Burt
phone : (559) 888-2229
email : charise.burt@aol.com
street : 582 Creek St.
city : Fresno
state : CA
zip_code : 93706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 312:
customer_id : 312
first_name : Cameron
last_name : Carroll
phone : None
email : cameron.carroll@yahoo.com
street : 9133 South Halifax Ave.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 313:
customer_id : 313
first_name : Melani
last_name : Jarvis
phone : None
email : melani.jarvis@hotmail.com
street : 8 Tunnel St.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 314:
customer_id : 314
first_name : Javier
last_name : Nichols
phone : None
email : javier.nichols@msn.com
street : 8944 Marconi St.
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 315:
customer_id : 315
first_name : Justina
last_name : Jenkins
phone : None
email : justina.jenkins@yahoo.com
street : 8236 Creek St.
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 316:
customer_id : 316
first_name : Hortencia
last_name : Graham
phone : None
email : hortencia.graham@aol.com
street : 7764 Greenrose Street
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 317:
customer_id : 317
first_name : Christia
last_name : Wilkins
phone : None
email : christia.wilkins@msn.com
street : 7062 Willow Court
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 318:
customer_id : 318
first_name : Eliz
last_name : Whitney
phone : None
email : eliz.whitney@msn.com
street : 523 Crescent Court
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 319:
customer_id : 319
first_name : Justin
last_name : Newton
phone : None
email : justin.newton@hotmail.com
street : 93 Shore Rd.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 320:
customer_id : 320
first_name : Aron
last_name : Wiggins
phone : (442) 497-3353
email : aron.wiggins@aol.com
street : 6 Bradford St.
city : Oceanside
state : NY
zip_code : 11572
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 321:
customer_id : 321
first_name : Chere
last_name : Hardin
phone : None
email : chere.hardin@yahoo.com
street : 763 Fulton Road
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 322:
customer_id : 322
first_name : Merideth
last_name : Preston
phone : None
email : merideth.preston@yahoo.com
street : 794 Rockaway St.
city : Poughkeepsie
state : NY
zip_code : 12601
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 323:
customer_id : 323
first_name : Jeniffer
last_name : Slater
phone : None
email : jeniffer.slater@aol.com
street : 30 Old Orange Lane
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 324:
customer_id : 324
first_name : Laureen
last_name : Paul
phone : None
email : laureen.paul@yahoo.com
street : 617 Squaw Creek Rd.
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 325:
customer_id : 325
first_name : Berna
last_name : Moore
phone : None
email : berna.moore@hotmail.com
street : 7230 Lafayette Drive
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 326:
customer_id : 326
first_name : Shiela
last_name : Calderon
phone : None
email : shiela.calderon@msn.com
street : 844 Albany St.
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 327:
customer_id : 327
first_name : Sharie
last_name : Alvarez
phone : (212) 211-7621
email : sharie.alvarez@msn.com
street : 987 West Leatherwood Dr.
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 328:
customer_id : 328
first_name : Bettie
last_name : Glover
phone : None
email : bettie.glover@gmail.com
street : 9083 Addison Dr.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 329:
customer_id : 329
first_name : Marilyn
last_name : Frank
phone : None
email : marilyn.frank@aol.com
street : 8878 Branch Street
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 330:
customer_id : 330
first_name : Sheba
last_name : Knapp
phone : None
email : sheba.knapp@aol.com
street : 86 Gates Street
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 331:
customer_id : 331
first_name : Aleta
last_name : Mack
phone : None
email : aleta.mack@yahoo.com
street : 8869 W. Edgemont Lane
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 332:
customer_id : 332
first_name : Reena
last_name : Higgins
phone : None
email : reena.higgins@gmail.com
street : 900 South Columbia Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 333:
customer_id : 333
first_name : Ami
last_name : Mcmahon
phone : None
email : ami.mcmahon@aol.com
street : 566 Hilldale Drive
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 334:
customer_id : 334
first_name : Somer
last_name : Jordan
phone : None
email : somer.jordan@msn.com
street : 7046 Helen Avenue
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 335:
customer_id : 335
first_name : Scarlet
last_name : Reed
phone : None
email : scarlet.reed@hotmail.com
street : 151 S. Myers Court
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 336:
customer_id : 336
first_name : Trisha
last_name : Johnson
phone : (717) 126-8787
email : trisha.johnson@msn.com
street : 59 Wild Horse St.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 337:
customer_id : 337
first_name : Majorie
last_name : Wyatt
phone : None
email : majorie.wyatt@yahoo.com
street : 8507 Miller St.
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 338:
customer_id : 338
first_name : Abbey
last_name : Pugh
phone : None
email : abbey.pugh@gmail.com
street : 26 Market Drive
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 339:
customer_id : 339
first_name : Tamela
last_name : Harrell
phone : None
email : tamela.harrell@aol.com
street : 7316 Cypress Rd.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 340:
customer_id : 340
first_name : Yanira
last_name : Bradshaw
phone : None
email : yanira.bradshaw@gmail.com
street : 7484 Ann Court
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 341:
customer_id : 341
first_name : Delana
last_name : Scott
phone : None
email : delana.scott@yahoo.com
street : 7372 Ridgeview St.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 342:
customer_id : 342
first_name : Cassondra
last_name : Pruitt
phone : None
email : cassondra.pruitt@aol.com
street : 4 Alderwood Circle
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 343:
customer_id : 343
first_name : Jesica
last_name : Fields
phone : None
email : jesica.fields@yahoo.com
street : 318 Country Dr.
city : Commack
state : NY
zip_code : 11725
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 344:
customer_id : 344
first_name : Herta
last_name : Rollins
phone : None
email : herta.rollins@msn.com
street : 287 1st Drive
city : Mountain View
state : CA
zip_code : 94043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 345:
customer_id : 345
first_name : Mi
last_name : Gray
phone : (229) 813-2130
email : mi.gray@aol.com
street : 27 Roehampton Dr.
city : Albany
state : NY
zip_code : 12203
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 346:
customer_id : 346
first_name : Jacalyn
last_name : Barnett
phone : None
email : jacalyn.barnett@gmail.com
street : 7537 Swanson Street
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 347:
customer_id : 347
first_name : Kanesha
last_name : Hudson
phone : (510) 788-7298
email : kanesha.hudson@gmail.com
street : 8293 Gartner Drive
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 348:
customer_id : 348
first_name : Darren
last_name : Witt
phone : None
email : darren.witt@aol.com
street : 916 Hillcrest Ave.
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 349:
customer_id : 349
first_name : Mable
last_name : Pratt
phone : None
email : mable.pratt@gmail.com
street : 254 SW. Temple Street
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 350:
customer_id : 350
first_name : Christoper
last_name : Mccall
phone : None
email : christoper.mccall@msn.com
street : 72 Summit St.
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 351:
customer_id : 351
first_name : Margorie
last_name : Wynn
phone : None
email : margorie.wynn@gmail.com
street : 707 Schoolhouse St.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 352:
customer_id : 352
first_name : Josef
last_name : Greer
phone : None
email : josef.greer@gmail.com
street : 92 Summer Court
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 353:
customer_id : 353
first_name : Tisa
last_name : Whitney
phone : None
email : tisa.whitney@yahoo.com
street : 549 Newbridge Dr.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 354:
customer_id : 354
first_name : Tonda
last_name : Armstrong
phone : None
email : tonda.armstrong@aol.com
street : 19 Forest Rd.
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 355:
customer_id : 355
first_name : Arvilla
last_name : Weiss
phone : None
email : arvilla.weiss@msn.com
street : 477 Blue Spring St.
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 356:
customer_id : 356
first_name : Vashti
last_name : Rosario
phone : None
email : vashti.rosario@yahoo.com
street : 623 Johnson Circle
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 357:
customer_id : 357
first_name : Sheri
last_name : Cole
phone : (408) 658-2285
email : sheri.cole@aol.com
street : 479 Chapel Court
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 358:
customer_id : 358
first_name : Kandace
last_name : Giles
phone : None
email : kandace.giles@msn.com
street : 30 NE. Walt Whitman Drive
city : Wantagh
state : NY
zip_code : 11793
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 359:
customer_id : 359
first_name : Angie
last_name : Powers
phone : None
email : angie.powers@aol.com
street : 6 Rockland Dr.
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 360:
customer_id : 360
first_name : Van
last_name : Peters
phone : (281) 658-7772
email : van.peters@yahoo.com
street : 45 Fifth Dr.
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 361:
customer_id : 361
first_name : Virgina
last_name : Berg
phone : None
email : virgina.berg@yahoo.com
street : 804 South Purple Finch Drive
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 362:
customer_id : 362
first_name : Olevia
last_name : Noel
phone : None
email : olevia.noel@yahoo.com
street : 39 N. Rosewood Dr.
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 363:
customer_id : 363
first_name : Kaci
last_name : Gallegos
phone : None
email : kaci.gallegos@gmail.com
street : 8573 Halifax St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 364:
customer_id : 364
first_name : Bev
last_name : Chang
phone : None
email : bev.chang@yahoo.com
street : 104 Rockville St.
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 365:
customer_id : 365
first_name : Rodger
last_name : Rojas
phone : None
email : rodger.rojas@yahoo.com
street : 8442 Cooper Ave.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 366:
customer_id : 366
first_name : Lavonne
last_name : Anderson
phone : None
email : lavonne.anderson@aol.com
street : 9420 Wintergreen Court
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 367:
customer_id : 367
first_name : Blanca
last_name : Hooper
phone : None
email : blanca.hooper@msn.com
street : 340 Bald Hill St.
city : Ozone Park
state : NY
zip_code : 11417
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 368:
customer_id : 368
first_name : Alysha
last_name : Powers
phone : None
email : alysha.powers@msn.com
street : 39 West Marshall Ave.
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 369:
customer_id : 369
first_name : Mary
last_name : Singleton
phone : None
email : mary.singleton@hotmail.com
street : 474 Amerige Ave.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 370:
customer_id : 370
first_name : Jina
last_name : Cooper
phone : None
email : jina.cooper@aol.com
street : 8947 W. Lexington Rd.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 371:
customer_id : 371
first_name : Loni
last_name : Duncan
phone : None
email : loni.duncan@gmail.com
street : 80 Saxton Lane
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 372:
customer_id : 372
first_name : Collene
last_name : Roman
phone : None
email : collene.roman@aol.com

Error in row 373:
customer_id : 373
first_name : Mariette
last_name : Trevino
phone : None
email : mariette.trevino@aol.com
street : 4 Border Court
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 374:
customer_id : 374
first_name : Candelaria
last_name : Coffey
phone : None
email : candelaria.coffey@aol.com
street : 45 Newport Lane
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 375:
customer_id : 375
first_name : Yan
last_name : Trevino
phone : None
email : yan.trevino@gmail.com
street : 796 Jefferson Rd.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 376:
customer_id : 376
first_name : Elanor
last_name : Patrick
phone : None
email : elanor.patrick@aol.com
street : 51 Howard Ave.
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 377:
customer_id : 377
first_name : Klara
last_name : Mosley
phone : None
email : klara.mosley@gmail.com
street : 518 Devon Court
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 378:
customer_id : 378
first_name : Rosalba
last_name : O'neal
phone : None
email : rosalba.o'neal@yahoo.com
street : 7517 Pennsylvania St.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 379:
customer_id : 379
first_name : Mina
last_name : Carrillo
phone : None
email : mina.carrillo@aol.com
street : 8659 Trenton Lane
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 380:
customer_id : 380
first_name : Alesia
last_name : Horne
phone : None
email : alesia.horne@aol.com
street : 9229 Amherst Lane
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 381:
customer_id : 381
first_name : Kristen
last_name : Alvarez
phone : None
email : kristen.alvarez@aol.com
street : 9778 North River St.
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 382:
customer_id : 382
first_name : Collin
last_name : Webster
phone : None
email : collin.webster@aol.com
street : 475 Cottage Rd.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 383:
customer_id : 383
first_name : Ashlee
last_name : Pena
phone : None
email : ashlee.pena@aol.com
street : 966 Highland St.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 384:
customer_id : 384
first_name : Aimee
last_name : Merritt
phone : None
email : aimee.merritt@yahoo.com
street : 537 East Meadowbrook St.
city : Flushing
state : NY
zip_code : 11354
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 385:
customer_id : 385
first_name : Rochelle
last_name : Ward
phone : None
email : rochelle.ward@yahoo.com
street : 7855 La Sierra Street
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 386:
customer_id : 386
first_name : Nelle
last_name : Beck
phone : None
email : nelle.beck@aol.com
street : 8998 Wakehurst Drive
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 387:
customer_id : 387
first_name : Kaila
last_name : Walters
phone : None
email : kaila.walters@msn.com
street : 57 Gates Drive
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 388:
customer_id : 388
first_name : Aleta
last_name : Stone
phone : None
email : aleta.stone@aol.com
street : 8 Elm Dr.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 389:
customer_id : 389
first_name : Leif
last_name : Short
phone : None
email : leif.short@gmail.com
street : 962 Carpenter Ave.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 390:
customer_id : 390
first_name : Lorrie
last_name : Pollard
phone : None
email : lorrie.pollard@yahoo.com
street : 7834 Shore Ave.
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 391:
customer_id : 391
first_name : Vernita
last_name : Ball
phone : None
email : vernita.ball@gmail.com
street : 126 Arnold Dr.
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 392:
customer_id : 392
first_name : Cyndi
last_name : Bush
phone : None
email : cyndi.bush@gmail.com
street : 18 Smoky Hollow Drive
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 393:
customer_id : 393
first_name : Gertrude
last_name : Terry
phone : None
email : gertrude.terry@hotmail.com
street : 34 Airport Dr.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 394:
customer_id : 394
first_name : Virgen
last_name : Clemons
phone : None
email : virgen.clemons@gmail.com
street : 354 Cactus Drive
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 395:
customer_id : 395
first_name : Fairy
last_name : Robinson
phone : None
email : fairy.robinson@msn.com
street : 8837 Joy Ridge St.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 396:
customer_id : 396
first_name : Laverna
last_name : Hernandez
phone : None
email : laverna.hernandez@hotmail.com
street : 34 South Longfellow St.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 397:
customer_id : 397
first_name : Jeannie
last_name : Wilcox
phone : None
email : jeannie.wilcox@yahoo.com
street : 7744 Miles Dr.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 398:
customer_id : 398
first_name : Suellen
last_name : Mercado
phone : None
email : suellen.mercado@yahoo.com
street : 3 Taylor Drive
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 399:
customer_id : 399
first_name : Bart
last_name : Hess
phone : None
email : bart.hess@aol.com
street : 799 N. Maiden Street
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 400:
customer_id : 400
first_name : Alfredo
last_name : Dodson
phone : None
email : alfredo.dodson@hotmail.com
street : 8960 Glenholme Dr.
city : Depew
state : NY
zip_code : 14043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 401:
customer_id : 401
first_name : Shaunda
last_name : Barnett
phone : None
email : shaunda.barnett@gmail.com
street : 9366 San Carlos Lane
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 402:
customer_id : 402
first_name : Kerrie
last_name : Morton
phone : None
email : kerrie.morton@hotmail.com
street : 8772 State St.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 403:
customer_id : 403
first_name : Elouise
last_name : Fry
phone : None
email : elouise.fry@aol.com
street : 49 Bohemia Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 404:
customer_id : 404
first_name : Augustus
last_name : Steele
phone : None
email : augustus.steele@aol.com
street : 7474 N. Orchard St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 405:
customer_id : 405
first_name : Greta
last_name : Page
phone : None
email : greta.page@hotmail.com
street : 8316 Augusta Drive
city : Commack
state : NY
zip_code : 11725
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 406:
customer_id : 406
first_name : Kerrie
last_name : O'neill
phone : None
email : kerrie.o'neill@gmail.com
street : 69 Wellington Ave.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 407:
customer_id : 407
first_name : Dannette
last_name : Guerrero
phone : None
email : dannette.guerrero@gmail.com
street : 68 Carriage Street
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 408:
customer_id : 408
first_name : Edra
last_name : Fitzgerald
phone : None
email : edra.fitzgerald@msn.com
street : 8892 Birchwood St.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 409:
customer_id : 409
first_name : Jerome
last_name : Bolton
phone : None
email : jerome.bolton@msn.com
street : 9921 Argyle Street
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 410:
customer_id : 410
first_name : Conception
last_name : Slater
phone : None
email : conception.slater@gmail.com
street : 5 Sunset Street
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 411:
customer_id : 411
first_name : Octavia
last_name : Case
phone : (212) 171-1335
email : octavia.case@aol.com
street : 40 Charles Road
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 412:
customer_id : 412
first_name : Dexter
last_name : Roberts
phone : None
email : dexter.roberts@gmail.com
street : 84 Thatcher Court
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 413:
customer_id : 413
first_name : Ginette
last_name : Edwards
phone : None
email : ginette.edwards@hotmail.com
street : 9262 NW. Center Ave.
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 414:
customer_id : 414
first_name : Romaine
last_name : Haley
phone : None
email : romaine.haley@aol.com
street : 737 Edgefield Drive
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 415:
customer_id : 415
first_name : Gwendolyn
last_name : Miller
phone : None
email : gwendolyn.miller@msn.com
street : 90 Fordham Ave.
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 416:
customer_id : 416
first_name : Luke
last_name : Fuller
phone : (516) 363-2253
email : luke.fuller@hotmail.com
street : 576 Cleveland Lane
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 417:
customer_id : 417
first_name : Zoraida
last_name : Patton
phone : None
email : zoraida.patton@aol.com
street : 95 Grand Dr.
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 418:
customer_id : 418
first_name : Georgeanna
last_name : Webster
phone : (805) 885-8830
email : georgeanna.webster@msn.com
street : 40 Creekside Circle
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 419:
customer_id : 419
first_name : Krystin
last_name : Marshall
phone : None
email : krystin.marshall@hotmail.com
street : 10 Old Proctor Lane
city : Poughkeepsie
state : NY
zip_code : 12601
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 420:
customer_id : 420
first_name : Vince
last_name : Schneider
phone : None
email : vince.schneider@hotmail.com
street : 473 Corona Ave.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 421:
customer_id : 421
first_name : Iola
last_name : Rasmussen
phone : None
email : iola.rasmussen@yahoo.com
street : 283 N. Manor Station Dr.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 422:
customer_id : 422
first_name : Valery
last_name : Saunders
phone : None
email : valery.saunders@msn.com
street : 42 Marlborough St.
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 423:
customer_id : 423
first_name : Johna
last_name : Powers
phone : None
email : johna.powers@hotmail.com
street : 379 Central Ave.
city : Deer Park
state : NY
zip_code : 11729
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 424:
customer_id : 424
first_name : Charleen
last_name : Hurst
phone : None
email : charleen.hurst@yahoo.com
street : 87 Country Avenue
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 425:
customer_id : 425
first_name : Augustina
last_name : Joyner
phone : None
email : augustina.joyner@aol.com
street : 7931 Honey Creek Court
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 426:
customer_id : 426
first_name : Daisy
last_name : Ward
phone : None
email : daisy.ward@msn.com
street : 45 Silver Spear Ave.
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 427:
customer_id : 427
first_name : Latonya
last_name : Dixon
phone : None
email : latonya.dixon@hotmail.com
street : 9399 Evergreen Street
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 428:
customer_id : 428
first_name : Hipolito
last_name : Padilla
phone : None
email : hipolito.padilla@hotmail.com
street : 311 E. Rose Avenue
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 429:
customer_id : 429
first_name : Emmett
last_name : Casey
phone : None
email : emmett.casey@yahoo.com
street : 893 Logan St.
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 430:
customer_id : 430
first_name : Kandi
last_name : Mcneil
phone : None
email : kandi.mcneil@msn.com
street : 402 Border Street
city : Massapequa Park
state : NY
zip_code : 11762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 431:
customer_id : 431
first_name : Luciano
last_name : Marsh
phone : None
email : luciano.marsh@aol.com
street : 7685 South Willow Drive
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 432:
customer_id : 432
first_name : Julius
last_name : Holt
phone : None
email : julius.holt@aol.com
street : 386 Lower River Street
city : East Meadow
state : NY
zip_code : 11554
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 433:
customer_id : 433
first_name : Holly
last_name : Nieves
phone : None
email : holly.nieves@aol.com
street : 60 Cleveland St.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 434:
customer_id : 434
first_name : Douglass
last_name : Little
phone : None
email : douglass.little@hotmail.com
street : 294 Harvey Drive
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 435:
customer_id : 435
first_name : Izola
last_name : Hobbs
phone : None
email : izola.hobbs@gmail.com
street : 685 Beacon Dr.
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 436:
customer_id : 436
first_name : Honey
last_name : Camacho
phone : None
email : honey.camacho@gmail.com
street : 934 2nd St.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 437:
customer_id : 437
first_name : Laureen
last_name : Barry
phone : None
email : laureen.barry@yahoo.com
street : 909 Ridge St.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 438:
customer_id : 438
first_name : Katharine
last_name : Herrera
phone : None
email : katharine.herrera@hotmail.com
street : 395 SE. Branch St.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 439:
customer_id : 439
first_name : Sunshine
last_name : Rosario
phone : None
email : sunshine.rosario@aol.com
street : 1 Chestnut Lane
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 440:
customer_id : 440
first_name : Yevette
last_name : Todd
phone : None
email : yevette.todd@aol.com
street : 119 Lakewood Rd.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 441:
customer_id : 441
first_name : Dorthea
last_name : Walker
phone : None
email : dorthea.walker@aol.com
street : 11 Third St.
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 442:
customer_id : 442
first_name : Alane
last_name : Munoz
phone : (914) 706-7576
email : alane.munoz@gmail.com
street : 8 Strawberry Dr.
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 443:
customer_id : 443
first_name : Ayana
last_name : Keith
phone : (805) 230-2101
email : ayana.keith@hotmail.com
street : 182 Thorne Road
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 444:
customer_id : 444
first_name : Caridad
last_name : Compton
phone : None
email : caridad.compton@aol.com
street : 9575 SW. Kingston Court
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 445:
customer_id : 445
first_name : Earline
last_name : Ballard
phone : None
email : earline.ballard@hotmail.com
street : 939 Lyme Road
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 446:
customer_id : 446
first_name : Nathanael
last_name : Bradley
phone : None
email : nathanael.bradley@aol.com
street : 58 Third St.
city : Amsterdam
state : NY
zip_code : 12010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 447:
customer_id : 447
first_name : Chasidy
last_name : Tran
phone : None
email : chasidy.tran@msn.com
street : 9286 Anderson Street
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 448:
customer_id : 448
first_name : Janella
last_name : Bright
phone : (507) 616-2958
email : janella.bright@aol.com
street : 7317 Tower Dr.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 449:
customer_id : 449
first_name : Josie
last_name : Schultz
phone : None
email : josie.schultz@hotmail.com
street : 225 Mammoth Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 450:
customer_id : 450
first_name : Ellsworth
last_name : Michael
phone : None
email : ellsworth.michael@yahoo.com
street : 9982 White St.
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 451:
customer_id : 451
first_name : Jennette
last_name : Wooten
phone : None
email : jennette.wooten@msn.com
street : 8221 Bow Ridge Lane
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 452:
customer_id : 452
first_name : Cassandra
last_name : Nichols
phone : None
email : cassandra.nichols@yahoo.com
street : 4 Glenwood Circle
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 453:
customer_id : 453
first_name : Courtney
last_name : Wyatt
phone : None
email : courtney.wyatt@gmail.com
street : 369 Arrowhead St.
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 454:
customer_id : 454
first_name : Terese
last_name : Palmer
phone : None
email : terese.palmer@hotmail.com
street : 8 Sugar Drive
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 455:
customer_id : 455
first_name : Sherita
last_name : Cherry
phone : None
email : sherita.cherry@gmail.com
street : 9636 Old Cedarwood Street
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 456:
customer_id : 456
first_name : Serina
last_name : Hensley
phone : None
email : serina.hensley@yahoo.com
street : 53 Proctor Drive
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 457:
customer_id : 457
first_name : Jeni
last_name : Farley
phone : None
email : jeni.farley@aol.com
street : 4 Mill Lane
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 458:
customer_id : 458
first_name : Everett
last_name : Vega
phone : None
email : everett.vega@yahoo.com
street : 7859 James Ave.
city : Holbrook
state : NY
zip_code : 11741
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 459:
customer_id : 459
first_name : Latosha
last_name : Dalton
phone : (661) 529-4501
email : latosha.dalton@yahoo.com
street : 59 E. Wintergreen Ave.
city : Bakersfield
state : CA
zip_code : 93306
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 460:
customer_id : 460
first_name : Romelia
last_name : Myers
phone : None
email : romelia.myers@msn.com
street : 8630 Brook St.
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 461:
customer_id : 461
first_name : Effie
last_name : Jenkins
phone : (631) 477-1277
email : effie.jenkins@msn.com
street : 75 South Glen Eagles Court
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 462:
customer_id : 462
first_name : Efren
last_name : Oliver
phone : None
email : efren.oliver@gmail.com
street : 9343 1st Rd.
city : Nanuet
state : NY
zip_code : 10954
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 463:
customer_id : 463
first_name : Jerlene
last_name : Rios
phone : None
email : jerlene.rios@yahoo.com
street : 32 Griffin St.
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 464:
customer_id : 464
first_name : Bess
last_name : Mcbride
phone : None
email : bess.mcbride@yahoo.com
street : 9832 Winchester St.
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 465:
customer_id : 465
first_name : Birdie
last_name : Kramer
phone : (248) 725-2174
email : birdie.kramer@hotmail.com
street : 311 Newcastle Dr.
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 466:
customer_id : 466
first_name : Collen
last_name : Hayes
phone : None
email : collen.hayes@yahoo.com
street : 117 Eagle St.
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 467:
customer_id : 467
first_name : Clare
last_name : Neal
phone : None
email : clare.neal@msn.com
street : 8922 Shady Ave.
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 468:
customer_id : 468
first_name : Jeanett
last_name : Herman
phone : None
email : jeanett.herman@hotmail.com
street : 839 East Arch Street
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 469:
customer_id : 469
first_name : Micki
last_name : Rutledge
phone : None
email : micki.rutledge@aol.com
street : 9868 Marvon Street
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 470:
customer_id : 470
first_name : Loise
last_name : Walker
phone : None
email : loise.walker@aol.com
street : 201 Glen Eagles St.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 471:
customer_id : 471
first_name : Burma
last_name : Summers
phone : None
email : burma.summers@yahoo.com
street : 890 East Elmwood Street
city : Freeport
state : NY
zip_code : 11520
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 472:
customer_id : 472
first_name : Myron
last_name : Ruiz
phone : None
email : myron.ruiz@gmail.com
street : 45 Shadow Brook Lane
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 473:
customer_id : 473
first_name : Lashawna
last_name : Richardson
phone : None
email : lashawna.richardson@hotmail.com
street : 9920 Purple Finch St.
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 474:
customer_id : 474
first_name : Lavern
last_name : Orr
phone : None
email : lavern.orr@hotmail.com
street : 913 N. Young Street
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 475:
customer_id : 475
first_name : Alec
last_name : Peck
phone : None
email : alec.peck@hotmail.com
street : 4 W. Belmont St.
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 476:
customer_id : 476
first_name : Christopher
last_name : Richardson
phone : None
email : christopher.richardson@gmail.com
street : 7846 Windfall Dr.
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 477:
customer_id : 477
first_name : Arminda
last_name : Weber
phone : None
email : arminda.weber@yahoo.com
street : 6 Hill Field St.
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 478:
customer_id : 478
first_name : Emmett
last_name : Hahn
phone : None
email : emmett.hahn@hotmail.com
street : 7727 6th St.
city : Freeport
state : NY
zip_code : 11520
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 479:
customer_id : 479
first_name : Gertha
last_name : Mejia
phone : None
email : gertha.mejia@yahoo.com
street : 518 Orchard St.
city : Flushing
state : NY
zip_code : 11354
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 480:
customer_id : 480
first_name : Garland
last_name : Weaver
phone : None
email : garland.weaver@gmail.com
street : 7161 Goldfield Court
city : Amsterdam
state : NY
zip_code : 12010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 481:
customer_id : 481
first_name : Jayson
last_name : Rutledge
phone : None
email : jayson.rutledge@yahoo.com
street : 8672 Coffee St.
city : Lake Jackson
state : TX
zip_code : 77566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 482:
customer_id : 482
first_name : Narcisa
last_name : Knapp
phone : None
email : narcisa.knapp@aol.com
street : 435 Dogwood Dr.
city : Amarillo
state : TX
zip_code : 79106
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 483:
customer_id : 483
first_name : Gayla
last_name : Sims
phone : None
email : gayla.sims@gmail.com
street : 98 Hall Street
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 484:
customer_id : 484
first_name : Chelsey
last_name : Boyd
phone : None
email : chelsey.boyd@yahoo.com
street : 9569 Birchpond Ave.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 485:
customer_id : 485
first_name : Catherine
last_name : Miles
phone : None
email : catherine.miles@msn.com
street : 7189 Elm Dr.
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 486:
customer_id : 486
first_name : Valeri
last_name : Marshall
phone : None
email : valeri.marshall@hotmail.com
street : 494 East Brewery Dr.
city : East Meadow
state : NY
zip_code : 11554
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 487:
customer_id : 487
first_name : Grace
last_name : Madden
phone : None
email : grace.madden@gmail.com
street : 606 East Rocky River St.
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 488:
customer_id : 488
first_name : Joaquin
last_name : Hawkins
phone : (657) 557-1746
email : joaquin.hawkins@aol.com
street : 3 Oklahoma Lane
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 489:
customer_id : 489
first_name : Kirstie
last_name : Vazquez
phone : None
email : kirstie.vazquez@gmail.com
street : 8006 Rockland Ave.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 490:
customer_id : 490
first_name : Yu
last_name : Mcdonald
phone : None
email : yu.mcdonald@aol.com
street : 784 Pheasant Rd.
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 491:
customer_id : 491
first_name : Celestine
last_name : Jacobs
phone : None
email : celestine.jacobs@gmail.com
street : 87 Hanover Rd.
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 492:
customer_id : 492
first_name : Justa
last_name : Thompson
phone : None
email : justa.thompson@aol.com
street : 43 Manor Ave.
city : Corona
state : NY
zip_code : 11368
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 493:
customer_id : 493
first_name : Lise
last_name : Alvarado
phone : None
email : lise.alvarado@gmail.com
street : 9816 Newcastle Dr.
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 494:
customer_id : 494
first_name : Pearl
last_name : Fox
phone : None
email : pearl.fox@yahoo.com
street : 9415 Honey Creek Dr.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 495:
customer_id : 495
first_name : Travis
last_name : Goodman
phone : None
email : travis.goodman@yahoo.com
street : 65 Rockcrest Dr.
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 496:
customer_id : 496
first_name : Shu
last_name : Mays
phone : None
email : shu.mays@gmail.com
street : 996 St Margarets Lane
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 497:
customer_id : 497
first_name : Ezra
last_name : Fowler
phone : None
email : ezra.fowler@hotmail.com
street : 16 Pearl St.
city : Nanuet
state : NY
zip_code : 10954
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 498:
customer_id : 498
first_name : Edda
last_name : Young
phone : None
email : edda.young@gmail.com
street : 50 S. Airport Street
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 499:
customer_id : 499
first_name : Lidia
last_name : Ashley
phone : None
email : lidia.ashley@hotmail.com
street : 8436 Meadow St.
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 500:
customer_id : 500
first_name : Moira
last_name : Lester
phone : None
email : moira.lester@msn.com
street : 496 Greystone Court
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 501:
customer_id : 501
first_name : Tony
last_name : Hicks
phone : (657) 260-6783
email : tony.hicks@gmail.com
street : 226 Carriage Street
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 502:
customer_id : 502
first_name : Malinda
last_name : Baxter
phone : None
email : malinda.baxter@yahoo.com
street : 7698 Briarwood Ave.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 503:
customer_id : 503
first_name : Marlo
last_name : Jefferson
phone : None
email : marlo.jefferson@gmail.com
street : 39 Trenton Rd.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 504:
customer_id : 504
first_name : Tiana
last_name : Henderson
phone : None
email : tiana.henderson@aol.com
street : 62 Orange St.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 505:
customer_id : 505
first_name : Wilda
last_name : Petersen
phone : None
email : wilda.petersen@aol.com
street : 899 Helen St.
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 506:
customer_id : 506
first_name : Irving
last_name : Pitts
phone : None
email : irving.pitts@msn.com
street : 346 College Court
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 507:
customer_id : 507
first_name : Sheree
last_name : Pena
phone : None
email : sheree.pena@yahoo.com
street : 822 Virginia Court
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 508:
customer_id : 508
first_name : Vance
last_name : Taylor
phone : (717) 218-5607
email : vance.taylor@msn.com
street : 8279 Military Dr.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 509:
customer_id : 509
first_name : Terra
last_name : Pickett
phone : None
email : terra.pickett@aol.com
street : 7822 Depot Avenue
city : Amsterdam
state : NY
zip_code : 12010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 510:
customer_id : 510
first_name : Faustino
last_name : Delacruz
phone : None
email : faustino.delacruz@msn.com
street : 88 West Greenview Street
city : South Richmond Hill
state : NY
zip_code : 11419
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 511:
customer_id : 511
first_name : Julienne
last_name : Moody
phone : (682) 841-4643
email : julienne.moody@hotmail.com
street : 35 South Oxford Rd.
city : Fort Worth
state : TX
zip_code : 76110
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 512:
customer_id : 512
first_name : Hee
last_name : Greer
phone : None
email : hee.greer@hotmail.com
street : 41 North Garfield Ave.
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 513:
customer_id : 513
first_name : Whitney
last_name : Cash
phone : None
email : whitney.cash@gmail.com
street : 8 Surrey Street
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 514:
customer_id : 514
first_name : Clarita
last_name : Curry
phone : None
email : clarita.curry@hotmail.com
street : 661 Tanglewood Street
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 515:
customer_id : 515
first_name : Reita
last_name : Dickson
phone : None
email : reita.dickson@hotmail.com
street : 7506 Mechanic Dr.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 516:
customer_id : 516
first_name : Rosa
last_name : Kinney
phone : None
email : rosa.kinney@yahoo.com
street : 330 Highland Drive
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 517:
customer_id : 517
first_name : Buford
last_name : Gilbert
phone : None
email : buford.gilbert@yahoo.com
street : 9 East Ketch Harbour Street
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 518:
customer_id : 518
first_name : Homer
last_name : Powers
phone : None
email : homer.powers@msn.com
street : 8207 East El Dorado Ave.
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 519:
customer_id : 519
first_name : Rudolf
last_name : Gilliam
phone : None
email : rudolf.gilliam@aol.com
street : 17 Marlborough Circle
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 520:
customer_id : 520
first_name : Andreas
last_name : Herman
phone : None
email : andreas.herman@msn.com
street : 456 Rock Creek Street
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 521:
customer_id : 521
first_name : Max
last_name : Charles
phone : None
email : max.charles@gmail.com
street : 695 St Paul Street
city : Glen Cove
state : NY
zip_code : 11542
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 522:
customer_id : 522
first_name : Tammera
last_name : Fischer
phone : (510) 534-8845
email : tammera.fischer@hotmail.com
street : 405 Olive St.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 523:
customer_id : 523
first_name : Joshua
last_name : Robertson
phone : None
email : joshua.robertson@gmail.com
street : 81 Campfire Court
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 524:
customer_id : 524
first_name : Larraine
last_name : Horn
phone : None
email : larraine.horn@msn.com
street : 368 South Summerhouse Dr.
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 525:
customer_id : 525
first_name : Andreas
last_name : Mayer
phone : None
email : andreas.mayer@hotmail.com
street : 8577 Galvin Circle
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 526:
customer_id : 526
first_name : Lazaro
last_name : Moran
phone : None
email : lazaro.moran@gmail.com
street : 83 E. Buttonwood Street
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 527:
customer_id : 527
first_name : Afton
last_name : Juarez
phone : None
email : afton.juarez@gmail.com
street : 8330 Riverview Drive
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 528:
customer_id : 528
first_name : Angele
last_name : Schroeder
phone : (845) 804-6312
email : angele.schroeder@yahoo.com
street : 33 S. Shadow Brook Street
city : New City
state : NY
zip_code : 10956
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 529:
customer_id : 529
first_name : Ellena
last_name : Clements
phone : None
email : ellena.clements@aol.com
street : 7918 Mulberry Street
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 530:
customer_id : 530
first_name : Selene
last_name : Austin
phone : None
email : selene.austin@msn.com
street : 9042 Linda Circle
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 531:
customer_id : 531
first_name : Kimberely
last_name : Bowen
phone : (248) 199-2582
email : kimberely.bowen@hotmail.com
street : 88 Belmont Street
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 532:
customer_id : 532
first_name : Mia
last_name : Delgado
phone : None
email : mia.delgado@yahoo.com
street : 850 Wakehurst Drive
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 533:
customer_id : 533
first_name : Garret
last_name : Clay
phone : (361) 687-9477
email : garret.clay@yahoo.com
street : 9516 College Drive
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 534:
customer_id : 534
first_name : Alejandro
last_name : Haney
phone : None
email : alejandro.haney@msn.com
street : 3 Griffin Street
city : Wantagh
state : NY
zip_code : 11793
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 535:
customer_id : 535
first_name : Inge
last_name : Olsen
phone : (562) 719-5041
email : inge.olsen@msn.com
street : 295 Iroquois Rd.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 536:
customer_id : 536
first_name : Christiane
last_name : Bradford
phone : None
email : christiane.bradford@gmail.com
street : 9043 Woodland Ave.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 537:
customer_id : 537
first_name : Carter
last_name : Bentley
phone : None
email : carter.bentley@yahoo.com
street : 145 North Bridle Ave.
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 538:
customer_id : 538
first_name : Sherie
last_name : Ayala
phone : None
email : sherie.ayala@msn.com
street : 5 Beech Ave.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 539:
customer_id : 539
first_name : Jamika
last_name : Acevedo
phone : None
email : jamika.acevedo@yahoo.com
street : 8027 NW. Poplar St.
city : Ozone Park
state : NY
zip_code : 11417
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 540:
customer_id : 540
first_name : Shery
last_name : Randolph
phone : None
email : shery.randolph@hotmail.com
street : 602 Laurel Street
city : Ontario
state : CA
zip_code : 91762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 541:
customer_id : 541
first_name : Lanita
last_name : Burton
phone : None
email : lanita.burton@msn.com
street : 8980 Aspen Avenue
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 542:
customer_id : 542
first_name : Timothy
last_name : Byers
phone : None
email : timothy.byers@msn.com
street : 8645 Devonshire Lane
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 543:
customer_id : 543
first_name : Jasmin
last_name : Young
phone : None
email : jasmin.young@gmail.com
street : 337 Beach Street
city : Helotes
state : TX
zip_code : 78023
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 544:
customer_id : 544
first_name : Catarina
last_name : Mendez
phone : None
email : catarina.mendez@hotmail.com
street : 444 Hanover Court
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 545:
customer_id : 545
first_name : Tajuana
last_name : Rollins
phone : None
email : tajuana.rollins@msn.com
street : 724 N. Glen Creek Street
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 546:
customer_id : 546
first_name : Thad
last_name : Castro
phone : (631) 943-1407
email : thad.castro@msn.com
street : 71 Surrey Ave.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 547:
customer_id : 547
first_name : Tena
last_name : Huber
phone : None
email : tena.huber@gmail.com
street : 185 East Littleton St.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 548:
customer_id : 548
first_name : Dori
last_name : Alvarez
phone : None
email : dori.alvarez@msn.com
street : 8208 Brandywine St.
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 549:
customer_id : 549
first_name : Elmo
last_name : Arnold
phone : (562) 841-9339
email : elmo.arnold@aol.com
street : 7616 Lyme Rd.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 550:
customer_id : 550
first_name : Felicidad
last_name : Golden
phone : None
email : felicidad.golden@yahoo.com
street : 9712 Coffee Ave.
city : Lockport
state : NY
zip_code : 14094
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 551:
customer_id : 551
first_name : Jenine
last_name : Crane
phone : (682) 183-6555
email : jenine.crane@msn.com
street : 7381 Alderwood Drive
city : Fort Worth
state : TX
zip_code : 76110
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 552:
customer_id : 552
first_name : Lea
last_name : Key
phone : None
email : lea.key@yahoo.com
street : 7 Ocean St.
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 553:
customer_id : 553
first_name : Rory
last_name : Cooper
phone : None
email : rory.cooper@gmail.com
street : 459 West Street
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 554:
customer_id : 554
first_name : Hilde
last_name : Nieves
phone : None
email : hilde.nieves@gmail.com
street : 9437 Fordham Lane
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 555:
customer_id : 555
first_name : Marry
last_name : Benjamin
phone : None
email : marry.benjamin@yahoo.com
street : 33 Amerige Street
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 556:
customer_id : 556
first_name : Vernell
last_name : Goff
phone : None
email : vernell.goff@msn.com
street : 77 Cobblestone St.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 557:
customer_id : 557
first_name : Erlene
last_name : Cook
phone : None
email : erlene.cook@gmail.com
street : 89 Blue Spring Street
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 558:
customer_id : 558
first_name : Carroll
last_name : Kelly
phone : None
email : carroll.kelly@yahoo.com
street : 346 Grant Circle
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 559:
customer_id : 559
first_name : Basilia
last_name : Thornton
phone : (631) 592-9548
email : basilia.thornton@hotmail.com
street : 9033 Pine Dr.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 560:
customer_id : 560
first_name : Tricia
last_name : Daniels
phone : None
email : tricia.daniels@gmail.com
street : 8628 Crescent Court
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 561:
customer_id : 561
first_name : Kandace
last_name : Hughes
phone : None
email : kandace.hughes@hotmail.com
street : 482 Ryan Ave.
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 562:
customer_id : 562
first_name : Alejandro
last_name : Norman
phone : None
email : alejandro.norman@yahoo.com
street : 8918 Marsh Lane
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 563:
customer_id : 563
first_name : Rodney
last_name : Odom
phone : None
email : rodney.odom@yahoo.com
street : 7782 North Deerfield Lane
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 564:
customer_id : 564
first_name : Bettie
last_name : Pierce
phone : None
email : bettie.pierce@gmail.com
street : 787 North Vernon Lane
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 565:
customer_id : 565
first_name : Dagny
last_name : Owen
phone : None
email : dagny.owen@hotmail.com
street : 8028 Thompson Drive
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 566:
customer_id : 566
first_name : Cinthia
last_name : Poole
phone : None
email : cinthia.poole@aol.com
street : 7 Central Ave.
city : Lake Jackson
state : TX
zip_code : 77566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 567:
customer_id : 567
first_name : Sheila
last_name : Travis
phone : None
email : sheila.travis@yahoo.com
street : 9285 Front St.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 568:
customer_id : 568
first_name : Arcelia
last_name : Vinson
phone : None
email : arcelia.vinson@gmail.com
street : 40 Dogwood St.
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 569:
customer_id : 569
first_name : Lucas
last_name : Estes
phone : None
email : lucas.estes@yahoo.com
street : 99 Old Church St.
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 570:
customer_id : 570
first_name : Marissa
last_name : Summers
phone : None
email : marissa.summers@msn.com
street : 81 Carpenter St.
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 571:
customer_id : 571
first_name : Kaley
last_name : Blanchard
phone : None
email : kaley.blanchard@msn.com
street : 74 Evergreen Court
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 572:
customer_id : 572
first_name : Wm
last_name : Pope
phone : None
email : wm.pope@msn.com
street : 212 Marsh Court
city : Auburn
state : NY
zip_code : 13021
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 573:
customer_id : 573
first_name : Rubye
last_name : Mccall
phone : (248) 764-3359
email : rubye.mccall@hotmail.com
street : 71 Sherwood Dr.
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 574:
customer_id : 574
first_name : Adriene
last_name : Rivera
phone : None
email : adriene.rivera@hotmail.com
street : 973 Yukon Avenue
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 575:
customer_id : 575
first_name : Laurence
last_name : Christian
phone : None
email : laurence.christian@gmail.com
street : 2 Maple St.
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 576:
customer_id : 576
first_name : Shirely
last_name : Stanley
phone : (915) 437-6113
email : shirely.stanley@gmail.com
street : 73 White Avenue
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 577:
customer_id : 577
first_name : Danille
last_name : Mcfarland
phone : None
email : danille.mcfarland@msn.com
street : 14 Tailwater St.
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 578:
customer_id : 578
first_name : Salena
last_name : Day
phone : None
email : salena.day@msn.com
street : 8067 Park Court
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 579:
customer_id : 579
first_name : Matilda
last_name : Larson
phone : None
email : matilda.larson@hotmail.com
street : 336 Saxon Court
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 580:
customer_id : 580
first_name : Mellisa
last_name : Kim
phone : (424) 151-6481
email : mellisa.kim@aol.com
street : 17 Lyme Dr.
city : Los Angeles
state : CA
zip_code : 90008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 581:
customer_id : 581
first_name : Vonda
last_name : Berger
phone : None
email : vonda.berger@yahoo.com
street : 615 S. Proctor Ave.
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 582:
customer_id : 582
first_name : Soledad
last_name : Moses
phone : None
email : soledad.moses@yahoo.com
street : 85 Hickory Ave.
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 583:
customer_id : 583
first_name : Lashandra
last_name : Turner
phone : (562) 327-9469
email : lashandra.turner@hotmail.com
street : 11 Marlborough Rd.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 584:
customer_id : 584
first_name : Lynne
last_name : Anderson
phone : (915) 789-6666
email : lynne.anderson@msn.com
street : 325 Inverness St.
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 585:
customer_id : 585
first_name : Chasidy
last_name : Webster
phone : None
email : chasidy.webster@msn.com
street : 8296 S. Lookout Lane
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 586:
customer_id : 586
first_name : Ulysses
last_name : Gaines
phone : None
email : ulysses.gaines@aol.com
street : 22 Gregory Lane
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 587:
customer_id : 587
first_name : Euna
last_name : Lopez
phone : None
email : euna.lopez@gmail.com
street : 7979 South Mountainview Ave.
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 588:
customer_id : 588
first_name : Cherelle
last_name : Key
phone : None
email : cherelle.key@msn.com
street : 7739 Snake Hill Lane
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 589:
customer_id : 589
first_name : Jeffry
last_name : Church
phone : None
email : jeffry.church@msn.com
street : 426 Grandrose Ave.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 590:
customer_id : 590
first_name : Cyndi
last_name : Dyer
phone : None
email : cyndi.dyer@msn.com
street : 313 West Argyle Ave.
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 591:
customer_id : 591
first_name : Danilo
last_name : Holmes
phone : None
email : danilo.holmes@gmail.com
street : 657 Manor Station Dr.
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 592:
customer_id : 592
first_name : Joni
last_name : Lee
phone : None
email : joni.lee@gmail.com
street : 8573 Proctor Street
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 593:
customer_id : 593
first_name : Antony
last_name : Atkinson
phone : None
email : antony.atkinson@msn.com
street : 680 East Birchwood Lane
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 594:
customer_id : 594
first_name : Deanne
last_name : Parsons
phone : None
email : deanne.parsons@aol.com
street : 76 Amherst Drive
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 595:
customer_id : 595
first_name : Frederica
last_name : Rojas
phone : None
email : frederica.rojas@yahoo.com
street : 7835 West Jockey Hollow Rd.
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 596:
customer_id : 596
first_name : Emelda
last_name : Dickerson
phone : None
email : emelda.dickerson@aol.com
street : 7457 6th St.
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 597:
customer_id : 597
first_name : Rudolf
last_name : Moran
phone : None
email : rudolf.moran@gmail.com
street : 5 Birchwood Rd.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 598:
customer_id : 598
first_name : Benito
last_name : Hendrix
phone : None
email : benito.hendrix@gmail.com
street : 676 S. Bowman Lane
city : Depew
state : NY
zip_code : 14043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 599:
customer_id : 599
first_name : Jonell
last_name : Rivas
phone : None
email : jonell.rivas@msn.com
street : 8415 East High Point St.
city : Amarillo
state : TX
zip_code : 79106
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 600:
customer_id : 600
first_name : Joi
last_name : Reeves
phone : (619) 952-9613
email : joi.reeves@msn.com
street : 9101 Williams Court
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 601:
customer_id : 601
first_name : Leland
last_name : Mcdowell
phone : None
email : leland.mcdowell@gmail.com
street : 8034 E. Washington Lane
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 602:
customer_id : 602
first_name : Delaine
last_name : Estes
phone : None
email : delaine.estes@yahoo.com
street : 8916 Hartford Rd.
city : Amarillo
state : TX
zip_code : 79106
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 603:
customer_id : 603
first_name : Genevieve
last_name : Juarez
phone : None
email : genevieve.juarez@gmail.com
street : 93 Goldfield Drive
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 604:
customer_id : 604
first_name : Kylee
last_name : Dickson
phone : None
email : kylee.dickson@gmail.com
street : 7908 Sherwood Street
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 605:
customer_id : 605
first_name : Renita
last_name : Henry
phone : None
email : renita.henry@msn.com
street : 474 Woodland Ave.
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 606:
customer_id : 606
first_name : Sarah
last_name : Kirkland
phone : None
email : sarah.kirkland@aol.com
street : 42 N. Glendale Avenue
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 607:
customer_id : 607
first_name : Paul
last_name : Lester
phone : None
email : paul.lester@gmail.com
street : 275 Clay St.
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 608:
customer_id : 608
first_name : Taisha
last_name : Vang
phone : None
email : taisha.vang@yahoo.com
street : 660 East Foster Lane
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 609:
customer_id : 609
first_name : Eliana
last_name : Reese
phone : None
email : eliana.reese@hotmail.com
street : 7079 NE. Cross Drive
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 610:
customer_id : 610
first_name : Leonore
last_name : Dorsey
phone : None
email : leonore.dorsey@yahoo.com
street : 8213 South Branch Avenue
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 611:
customer_id : 611
first_name : Ashleigh
last_name : Frank
phone : None
email : ashleigh.frank@gmail.com
street : 9008 Plymouth Street
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 612:
customer_id : 612
first_name : Gabriel
last_name : Wagner
phone : None
email : gabriel.wagner@msn.com
street : 7921 Manhattan Ave.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 613:
customer_id : 613
first_name : Margene
last_name : Eaton
phone : None
email : margene.eaton@yahoo.com
street : 43 Sugar Street
city : Wantagh
state : NY
zip_code : 11793
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 614:
customer_id : 614
first_name : Toshia
last_name : Cardenas
phone : None
email : toshia.cardenas@gmail.com
street : 878 Bayberry Street
city : Amsterdam
state : NY
zip_code : 12010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 615:
customer_id : 615
first_name : Jamika
last_name : Blanchard
phone : None
email : jamika.blanchard@gmail.com
street : 420 Cambridge Street
city : Fresh Meadows
state : NY
zip_code : 11365
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 616:
customer_id : 616
first_name : Shery
last_name : Acosta
phone : None
email : shery.acosta@yahoo.com
street : 17 Canal Ave.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 617:
customer_id : 617
first_name : Jenna
last_name : Saunders
phone : None
email : jenna.saunders@aol.com
street : 4 Young St.
city : Yorktown Heights
state : NY
zip_code : 10598
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 618:
customer_id : 618
first_name : Skye
last_name : Pope
phone : None
email : skye.pope@yahoo.com
street : 121 S. Bay Meadows Ave.
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 619:
customer_id : 619
first_name : Ana
last_name : Palmer
phone : (657) 323-8684
email : ana.palmer@yahoo.com
street : 7 Buckingham St.
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 620:
customer_id : 620
first_name : Eric
last_name : Hardin
phone : None
email : eric.hardin@gmail.com
street : 39 S. Parker Drive
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 621:
customer_id : 621
first_name : Basil
last_name : Ballard
phone : None
email : basil.ballard@yahoo.com
street : 7477 Belmont Ave.
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 622:
customer_id : 622
first_name : Gabriel
last_name : Pitts
phone : None
email : gabriel.pitts@gmail.com
street : 8462 Marshall Drive
city : Clifton Park
state : NY
zip_code : 12065
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 623:
customer_id : 623
first_name : Cayla
last_name : Johnson
phone : None
email : cayla.johnson@msn.com
street : 7091 Rockaway Avenue
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 624:
customer_id : 624
first_name : Sharika
last_name : Colon
phone : (562) 452-6136
email : sharika.colon@gmail.com
street : 509 Henry Smith St.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 625:
customer_id : 625
first_name : Donnetta
last_name : Henson
phone : None
email : donnetta.henson@hotmail.com
street : 2 Tallwood Drive
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 626:
customer_id : 626
first_name : Leigh
last_name : Burke
phone : None
email : leigh.burke@hotmail.com
street : 7651 Creek St.
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 627:
customer_id : 627
first_name : Deloris
last_name : Larson
phone : None
email : deloris.larson@aol.com
street : 242 Branch Street
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 628:
customer_id : 628
first_name : Ehtel
last_name : Cobb
phone : None
email : ehtel.cobb@hotmail.com
street : 741 Rockville Drive
city : Lockport
state : NY
zip_code : 14094
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 629:
customer_id : 629
first_name : Evelina
last_name : Byrd
phone : (716) 601-7704
email : evelina.byrd@msn.com
street : 628 S. Church St.
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 630:
customer_id : 630
first_name : Zulema
last_name : Browning
phone : None
email : zulema.browning@gmail.com
street : 12 NW. Lafayette St.
city : Amsterdam
state : NY
zip_code : 12010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 631:
customer_id : 631
first_name : Tressa
last_name : Weiss
phone : None
email : tressa.weiss@msn.com
street : 52 Wild Rose Avenue
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 632:
customer_id : 632
first_name : Yvette
last_name : Rogers
phone : None
email : yvette.rogers@aol.com
street : 3 SE. Oklahoma Drive
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 633:
customer_id : 633
first_name : Kiara
last_name : Deleon
phone : (657) 378-8011
email : kiara.deleon@gmail.com
street : 164 Addison Drive
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 634:
customer_id : 634
first_name : Taylor
last_name : Cole
phone : None
email : taylor.cole@gmail.com
street : 9408 Holly Lane
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 635:
customer_id : 635
first_name : Myrtie
last_name : James
phone : None
email : myrtie.james@yahoo.com
street : 566 North Livingston Ave.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 636:
customer_id : 636
first_name : Ashton
last_name : Lott
phone : None
email : ashton.lott@hotmail.com
street : 609 Windfall Lane
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 637:
customer_id : 637
first_name : Kara
last_name : Higgins
phone : None
email : kara.higgins@aol.com
street : 758 Jennings Street
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 638:
customer_id : 638
first_name : Tomeka
last_name : Higgins
phone : None
email : tomeka.higgins@msn.com
street : 591 W. Corona St.
city : Poughkeepsie
state : NY
zip_code : 12601
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 639:
customer_id : 639
first_name : Ronald
last_name : Parsons
phone : None
email : ronald.parsons@msn.com
street : 268 Pin Oak Rd.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 640:
customer_id : 640
first_name : Allison
last_name : Nolan
phone : (845) 276-5729
email : allison.nolan@gmail.com
street : 7421 Victoria St.
city : New City
state : NY
zip_code : 10956
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 641:
customer_id : 641
first_name : Derrick
last_name : Marks
phone : None
email : derrick.marks@yahoo.com
street : 7247 East Prairie Lane
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 642:
customer_id : 642
first_name : Yang
last_name : Roth
phone : None
email : yang.roth@aol.com
street : 234 E. Shub Farm Ave.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 643:
customer_id : 643
first_name : Melba
last_name : Wilkinson
phone : None
email : melba.wilkinson@gmail.com
street : 255 Harvard Dr.
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 644:
customer_id : 644
first_name : Valentin
last_name : Mclaughlin
phone : None
email : valentin.mclaughlin@hotmail.com
street : 56 Squaw Creek Street
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 645:
customer_id : 645
first_name : Lewis
last_name : Garner
phone : (631) 871-2512
email : lewis.garner@gmail.com
street : 9550 East Greenrose St.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 646:
customer_id : 646
first_name : Ann
last_name : Heath
phone : None
email : ann.heath@msn.com
street : 413 East St.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 647:
customer_id : 647
first_name : Janelle
last_name : Maldonado
phone : None
email : janelle.maldonado@gmail.com
street : 34 Mammoth Street
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 648:
customer_id : 648
first_name : Catrice
last_name : Hicks
phone : None
email : catrice.hicks@yahoo.com
street : 403 Inverness Street
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 649:
customer_id : 649
first_name : Eli
last_name : Contreras
phone : None
email : eli.contreras@hotmail.com
street : 35 Highland Ave.
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 650:
customer_id : 650
first_name : Rita
last_name : Bailey
phone : None
email : rita.bailey@hotmail.com
street : 69 Glenwood Street
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 651:
customer_id : 651
first_name : Laure
last_name : Pena
phone : None
email : laure.pena@yahoo.com
street : 9849 West Elmwood St.
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 652:
customer_id : 652
first_name : Tilda
last_name : Melton
phone : (248) 767-4165
email : tilda.melton@msn.com
street : 237 Elmwood Drive
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 653:
customer_id : 653
first_name : Florencio
last_name : Davenport
phone : None
email : florencio.davenport@yahoo.com
street : 8759 Brookside Ave.
city : Jamestown
state : NY
zip_code : 14701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 654:
customer_id : 654
first_name : Eun
last_name : Harris
phone : (619) 378-2432
email : eun.harris@gmail.com
street : 623 Jones St.
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 655:
customer_id : 655
first_name : Marylyn
last_name : Browning
phone : None
email : marylyn.browning@msn.com
street : 915 Lakeshore Street
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 656:
customer_id : 656
first_name : Romana
last_name : Barnes
phone : None
email : romana.barnes@yahoo.com
street : 9776 Shipley Rd.
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 657:
customer_id : 657
first_name : Sam
last_name : Lester
phone : None
email : sam.lester@gmail.com
street : 563 South Beacon Lane
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 658:
customer_id : 658
first_name : Nicki
last_name : Larson
phone : None
email : nicki.larson@yahoo.com
street : 8317 West Leatherwood Dr.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 659:
customer_id : 659
first_name : Antonetta
last_name : Rocha
phone : None
email : antonetta.rocha@yahoo.com
street : 9858 Newcastle St.
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 660:
customer_id : 660
first_name : Shara
last_name : Pope
phone : None
email : shara.pope@msn.com
street : 194 Amherst Dr.
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 661:
customer_id : 661
first_name : Trena
last_name : Hudson
phone : None
email : trena.hudson@hotmail.com
street : 135 Grand Ave.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 662:
customer_id : 662
first_name : Loraine
last_name : Sykes
phone : None
email : loraine.sykes@yahoo.com
street : 9239 Windsor Ave.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 663:
customer_id : 663
first_name : Alissa
last_name : Hood
phone : None
email : alissa.hood@gmail.com
street : 8032 Maple Drive
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 664:
customer_id : 664
first_name : Augustus
last_name : Schmidt
phone : None
email : augustus.schmidt@msn.com
street : 624 Jones Dr.
city : Corona
state : NY
zip_code : 11368
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 665:
customer_id : 665
first_name : Stacie
last_name : Sims
phone : (510) 194-5117
email : stacie.sims@hotmail.com
street : 47 Orange Ave.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 666:
customer_id : 666
first_name : Brittni
last_name : Green
phone : None
email : brittni.green@msn.com
street : 842 El Dorado Lane
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 667:
customer_id : 667
first_name : Etsuko
last_name : Garrison
phone : None
email : etsuko.garrison@yahoo.com
street : 1 Arrowhead Street
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 668:
customer_id : 668
first_name : Calandra
last_name : Stanton
phone : None
email : calandra.stanton@aol.com
street : 36 Livingston Dr.
city : Lake Jackson
state : TX
zip_code : 77566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 669:
customer_id : 669
first_name : Willis
last_name : Randolph
phone : None
email : willis.randolph@yahoo.com
street : 332 Constitution St.
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 670:
customer_id : 670
first_name : Shawnda
last_name : Glover
phone : None
email : shawnda.glover@gmail.com
street : 138 Belmont Ave.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 671:
customer_id : 671
first_name : Jennette
last_name : Baker
phone : None
email : jennette.baker@gmail.com
street : 798 Marvon St.
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 672:
customer_id : 672
first_name : Elma
last_name : Molina
phone : None
email : elma.molina@msn.com
street : 8565 Devon Ave.
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 673:
customer_id : 673
first_name : Adam
last_name : Henderson
phone : None
email : adam.henderson@hotmail.com
street : 167 James St.
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 674:
customer_id : 674
first_name : Ira
last_name : Moore
phone : None
email : ira.moore@gmail.com
street : 1 Pineknoll Court
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 675:
customer_id : 675
first_name : Kermit
last_name : Bowman
phone : (915) 996-5952
email : kermit.bowman@gmail.com
street : 3 Airport Street
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 676:
customer_id : 676
first_name : Gayle
last_name : Wilkinson
phone : None
email : gayle.wilkinson@yahoo.com
street : 4 Riverside Ave.
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 677:
customer_id : 677
first_name : Launa
last_name : Hull
phone : None
email : launa.hull@yahoo.com
street : 936 Grove Street
city : Helotes
state : TX
zip_code : 78023
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 678:
customer_id : 678
first_name : Myron
last_name : Johns
phone : None
email : myron.johns@msn.com
street : 5 N. Woodsman Rd.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 679:
customer_id : 679
first_name : Tuan
last_name : Wolfe
phone : None
email : tuan.wolfe@aol.com
street : 7641 Oak Meadow Dr.
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 680:
customer_id : 680
first_name : Mathilda
last_name : Pennington
phone : (845) 407-9524
email : mathilda.pennington@gmail.com
street : 14 S. Argyle Ave.
city : New City
state : NY
zip_code : 10956
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 681:
customer_id : 681
first_name : Reatha
last_name : Perez
phone : None
email : reatha.perez@aol.com
street : 9917 1st St.
city : Holbrook
state : NY
zip_code : 11741
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 682:
customer_id : 682
first_name : Arnita
last_name : Thomas
phone : None
email : arnita.thomas@gmail.com
street : 154 2nd St.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 683:
customer_id : 683
first_name : Amparo
last_name : Burks
phone : None
email : amparo.burks@aol.com
street : 7781 Augusta St.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 684:
customer_id : 684
first_name : Jenny
last_name : Bell
phone : None
email : jenny.bell@hotmail.com
street : 38 Crescent St.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 685:
customer_id : 685
first_name : Laverne
last_name : Craft
phone : None
email : laverne.craft@aol.com
street : 829 N. Pierce Street
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 686:
customer_id : 686
first_name : Darcel
last_name : Harmon
phone : None
email : darcel.harmon@msn.com
street : 966 Hickory Street
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 687:
customer_id : 687
first_name : Cecilia
last_name : Camacho
phone : None
email : cecilia.camacho@yahoo.com
street : 682 Mountainview Rd.
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 688:
customer_id : 688
first_name : Pearlie
last_name : Cochran
phone : None
email : pearlie.cochran@msn.com
street : 23 Homewood Rd.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 689:
customer_id : 689
first_name : Deirdre
last_name : Ryan
phone : None
email : deirdre.ryan@yahoo.com
street : 83 Jefferson Lane
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 690:
customer_id : 690
first_name : Yevette
last_name : Elliott
phone : None
email : yevette.elliott@aol.com
street : 182 Euclid Street
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 691:
customer_id : 691
first_name : Ladawn
last_name : Downs
phone : (281) 165-2090
email : ladawn.downs@yahoo.com
street : 7452 S. Airport Court
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 692:
customer_id : 692
first_name : Dorothea
last_name : Chang
phone : None
email : dorothea.chang@gmail.com
street : 75 Oak Ave.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 693:
customer_id : 693
first_name : Merlin
last_name : Foreman
phone : (516) 150-1321
email : merlin.foreman@msn.com
street : 8198 North Rockaway St.
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 694:
customer_id : 694
first_name : Lanie
last_name : Dunn
phone : None
email : lanie.dunn@gmail.com
street : 7583 Pilgrim Ave.
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 695:
customer_id : 695
first_name : Christoper
last_name : Gould
phone : None
email : christoper.gould@aol.com
street : 8718 South Constitution St.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 696:
customer_id : 696
first_name : Norine
last_name : Huffman
phone : None
email : norine.huffman@aol.com
street : 363 Dunbar Drive
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 697:
customer_id : 697
first_name : Alane
last_name : Mccarty
phone : (619) 377-8586
email : alane.mccarty@hotmail.com
street : 8254 Hilldale Street
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 698:
customer_id : 698
first_name : Charleen
last_name : Joyner
phone : None
email : charleen.joyner@aol.com
street : 735 N. John Dr.
city : Corona
state : NY
zip_code : 11368
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 699:
customer_id : 699
first_name : Zella
last_name : Fernandez
phone : None
email : zella.fernandez@yahoo.com
street : 8 Marshall Dr.
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 700:
customer_id : 700
first_name : Collene
last_name : Knox
phone : (361) 760-1523
email : collene.knox@msn.com
street : 7 North Branch Lane
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 701:
customer_id : 701
first_name : Alysia
last_name : Nicholson
phone : (805) 493-7311
email : alysia.nicholson@hotmail.com
street : 868 Trusel St.
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 702:
customer_id : 702
first_name : Sharie
last_name : Whitaker
phone : None
email : sharie.whitaker@hotmail.com
street : 7 Bayport Lane
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 703:
customer_id : 703
first_name : Diana
last_name : Cobb
phone : None
email : diana.cobb@hotmail.com
street : 558 Vale St.
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 704:
customer_id : 704
first_name : Morton
last_name : Barron
phone : (661) 386-4884
email : morton.barron@msn.com
street : 542 Circle Rd.
city : Bakersfield
state : CA
zip_code : 93306
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 705:
customer_id : 705
first_name : Camille
last_name : Harvey
phone : None
email : camille.harvey@hotmail.com
street : 859 Beaver Ridge Ave.
city : Huntington
state : NY
zip_code : 11743
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 706:
customer_id : 706
first_name : Lolita
last_name : O'neill
phone : None
email : lolita.o'neill@aol.com
street : 36 Prairie Dr.
city : Massapequa Park
state : NY
zip_code : 11762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 707:
customer_id : 707
first_name : Terese
last_name : Briggs
phone : None
email : terese.briggs@msn.com
street : 16 N. Oak Valley St.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 708:
customer_id : 708
first_name : Majorie
last_name : Glover
phone : None
email : majorie.glover@msn.com
street : 4 Garden Ave.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 709:
customer_id : 709
first_name : Vinnie
last_name : Chan
phone : None
email : vinnie.chan@aol.com
street : 8750 Surrey St.
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 710:
customer_id : 710
first_name : Ezra
last_name : Silva
phone : None
email : ezra.silva@msn.com
street : 8629 Catherine Rd.
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 711:
customer_id : 711
first_name : Jovita
last_name : Bishop
phone : None
email : jovita.bishop@aol.com
street : 8123 Wild Horse St.
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 712:
customer_id : 712
first_name : Kecia
last_name : Olsen
phone : None
email : kecia.olsen@msn.com
street : 8389 Central St.
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 713:
customer_id : 713
first_name : Ilona
last_name : Spears
phone : None
email : ilona.spears@gmail.com
street : 984 Canterbury Lane
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 714:
customer_id : 714
first_name : Senaida
last_name : Thompson
phone : None
email : senaida.thompson@msn.com
street : 578 Golf Drive
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 715:
customer_id : 715
first_name : Larae
last_name : Carney
phone : None
email : larae.carney@msn.com
street : 9322 Glen Ridge Dr.
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 716:
customer_id : 716
first_name : Sebrina
last_name : Hart
phone : None
email : sebrina.hart@yahoo.com
street : 7679 Pacific St.
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 717:
customer_id : 717
first_name : Kristofer
last_name : Craig
phone : None
email : kristofer.craig@yahoo.com
street : 6 Delaware Lane
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 718:
customer_id : 718
first_name : Luciana
last_name : Mcgee
phone : None
email : luciana.mcgee@msn.com
street : 8002 Cross St.
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 719:
customer_id : 719
first_name : Nicki
last_name : Fry
phone : None
email : nicki.fry@hotmail.com
street : 950 Snake Hill Lane
city : Endicott
state : NY
zip_code : 13760
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 720:
customer_id : 720
first_name : Devin
last_name : Shaffer
phone : (507) 557-2191
email : devin.shaffer@gmail.com
street : 382 Third Ave.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 721:
customer_id : 721
first_name : Erlinda
last_name : Osborne
phone : None
email : erlinda.osborne@yahoo.com
street : 148 Elm St.
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 722:
customer_id : 722
first_name : Camila
last_name : Carroll
phone : (210) 436-8676
email : camila.carroll@yahoo.com
street : 72 Shub Farm Avenue
city : San Antonio
state : TX
zip_code : 78213
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 723:
customer_id : 723
first_name : Vicki
last_name : Wiggins
phone : None
email : vicki.wiggins@hotmail.com
street : 71 Broad Ave.
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 724:
customer_id : 724
first_name : Lois
last_name : Steele
phone : None
email : lois.steele@yahoo.com
street : 7501 South Marlborough Street
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 725:
customer_id : 725
first_name : Carola
last_name : Mcpherson
phone : None
email : carola.mcpherson@hotmail.com
street : 578 Shirley Dr.
city : Rego Park
state : NY
zip_code : 11374
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 726:
customer_id : 726
first_name : Rochell
last_name : Cantrell
phone : None
email : rochell.cantrell@yahoo.com
street : 437 Water Dr.
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 727:
customer_id : 727
first_name : Kasha
last_name : Sullivan
phone : None
email : kasha.sullivan@hotmail.com
street : 48 Foster Rd.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 728:
customer_id : 728
first_name : Viva
last_name : Dawson
phone : None
email : viva.dawson@yahoo.com
street : 446 Princess Ave.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 729:
customer_id : 729
first_name : Hue
last_name : Dalton
phone : None
email : hue.dalton@hotmail.com
street : 7940 Oakwood Street
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 730:
customer_id : 730
first_name : Andria
last_name : Rivers
phone : None
email : andria.rivers@aol.com
street : 183 Ohio Ave.
city : Amarillo
state : TX
zip_code : 79106
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 731:
customer_id : 731
first_name : Hilary
last_name : Savage
phone : (805) 753-6881
email : hilary.savage@yahoo.com
street : 696 Howard Court
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 732:
customer_id : 732
first_name : Lavona
last_name : Austin
phone : None
email : lavona.austin@yahoo.com
street : 926 South Euclid St.
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 733:
customer_id : 733
first_name : Doreatha
last_name : Ford
phone : None
email : doreatha.ford@yahoo.com
street : 9413 Ryan Ave.
city : Huntington
state : NY
zip_code : 11743
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 734:
customer_id : 734
first_name : Alina
last_name : Mcleod
phone : None
email : alina.mcleod@msn.com
street : 20 Winchester Street
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 735:
customer_id : 735
first_name : Aide
last_name : Franco
phone : None
email : aide.franco@msn.com
street : 8017 Lake Forest St.
city : Atwater
state : CA
zip_code : 95301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 736:
customer_id : 736
first_name : Genny
last_name : Hensley
phone : None
email : genny.hensley@yahoo.com
street : 8849 Marconi Ave.
city : Redondo Beach
state : CA
zip_code : 90278
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 737:
customer_id : 737
first_name : Melita
last_name : Dominguez
phone : None
email : melita.dominguez@msn.com
street : 9903 Santa Clara Lane
city : Auburn
state : NY
zip_code : 13021
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 738:
customer_id : 738
first_name : Fannie
last_name : Jenkins
phone : (805) 774-5696
email : fannie.jenkins@msn.com
street : 7858 E. Pawnee Dr.
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 739:
customer_id : 739
first_name : Bobbi
last_name : Banks
phone : None
email : bobbi.banks@yahoo.com
street : 396 Wagon Rd.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 740:
customer_id : 740
first_name : Gwenn
last_name : Melton
phone : None
email : gwenn.melton@yahoo.com
street : 9545 Wakehurst Drive
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 741:
customer_id : 741
first_name : Laci
last_name : Castro
phone : None
email : laci.castro@hotmail.com
street : 130 Birchpond Street
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 742:
customer_id : 742
first_name : Evelina
last_name : Manning
phone : None
email : evelina.manning@aol.com
street : 7515 Spring St.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 743:
customer_id : 743
first_name : Tania
last_name : Swanson
phone : None
email : tania.swanson@yahoo.com
street : 8646 Glen Eagles Ave.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 744:
customer_id : 744
first_name : Laurel
last_name : Schultz
phone : None
email : laurel.schultz@hotmail.com
street : 812 E. 1st Lane
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 745:
customer_id : 745
first_name : Carolyne
last_name : Conley
phone : None
email : carolyne.conley@gmail.com
street : 431 Lees Creek Drive
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 746:
customer_id : 746
first_name : Eldridge
last_name : Greer
phone : None
email : eldridge.greer@aol.com
street : 131 E. Madison St.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 747:
customer_id : 747
first_name : Margret
last_name : Barnett
phone : None
email : margret.barnett@gmail.com
street : 7509 Depot Rd.
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 748:
customer_id : 748
first_name : Oliva
last_name : Blackwell
phone : None
email : oliva.blackwell@hotmail.com
street : 54 Ramblewood St.
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 749:
customer_id : 749
first_name : Oralia
last_name : Farley
phone : None
email : oralia.farley@hotmail.com
street : 747B E. Coffee Street
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 750:
customer_id : 750
first_name : Romaine
last_name : Salazar
phone : None
email : romaine.salazar@yahoo.com
street : 7700 Wentworth Rd.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 751:
customer_id : 751
first_name : Hermila
last_name : Mckay
phone : None
email : hermila.mckay@yahoo.com
street : 23 Garfield Dr.
city : Coachella
state : CA
zip_code : 92236
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 752:
customer_id : 752
first_name : Lloyd
last_name : Miranda
phone : None
email : lloyd.miranda@hotmail.com
street : 9098 Jennings St.
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 753:
customer_id : 753
first_name : Mandi
last_name : Gibbs
phone : None
email : mandi.gibbs@gmail.com
street : 80 Sycamore Drive
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 754:
customer_id : 754
first_name : Hue
last_name : May
phone : None
email : hue.may@aol.com
street : 19 S. Lawrence Dr.
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 755:
customer_id : 755
first_name : Tomika
last_name : Wilder
phone : None
email : tomika.wilder@aol.com
street : 142 South Ocean St.
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 756:
customer_id : 756
first_name : Graig
last_name : Roth
phone : None
email : graig.roth@aol.com
street : 7516 Wrangler Street
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 757:
customer_id : 757
first_name : Lamar
last_name : Greer
phone : None
email : lamar.greer@gmail.com
street : 7909 Golden Star Ave.
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 758:
customer_id : 758
first_name : Raymonde
last_name : Garcia
phone : None
email : raymonde.garcia@aol.com
street : 55 NE. North St.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 759:
customer_id : 759
first_name : Cira
last_name : Downs
phone : (510) 788-4456
email : cira.downs@gmail.com
street : 672 Sussex Ave.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 760:
customer_id : 760
first_name : Marisa
last_name : Chambers
phone : None
email : marisa.chambers@msn.com
street : 15 E. Rock Creek Ave.
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 761:
customer_id : 761
first_name : Rod
last_name : Hatfield
phone : None
email : rod.hatfield@hotmail.com
street : 7090 Bridge Dr.
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 762:
customer_id : 762
first_name : Quyen
last_name : Houston
phone : None
email : quyen.houston@gmail.com
street : 7758 Homewood Dr.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 763:
customer_id : 763
first_name : Han
last_name : Schneider
phone : None
email : han.schneider@gmail.com
street : 40 Holly Street
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 764:
customer_id : 764
first_name : Terrell
last_name : Mathis
phone : None
email : terrell.mathis@aol.com
street : 9320 Center Ave.
city : Selden
state : NY
zip_code : 11784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 765:
customer_id : 765
first_name : Spring
last_name : Hayes
phone : None
email : spring.hayes@hotmail.com
street : 8591 Wentworth St.
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 766:
customer_id : 766
first_name : Lecia
last_name : Hancock
phone : None
email : lecia.hancock@hotmail.com
street : 9167 Pineknoll St.
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 767:
customer_id : 767
first_name : Twana
last_name : Arnold
phone : (657) 988-1904
email : twana.arnold@msn.com
street : 47 North Fairground Lane
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 768:
customer_id : 768
first_name : Yvone
last_name : Yates
phone : None
email : yvone.yates@gmail.com
street : 9269 Blue Spring Ave.
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 769:
customer_id : 769
first_name : Agatha
last_name : Melton
phone : None
email : agatha.melton@yahoo.com
street : 89 East Illinois Street
city : Springfield Gardens
state : NY
zip_code : 11413
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 770:
customer_id : 770
first_name : Lavonda
last_name : Stephenson
phone : None
email : lavonda.stephenson@gmail.com
street : 37 Birchwood Dr.
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 771:
customer_id : 771
first_name : Agnes
last_name : Sims
phone : (716) 780-9901
email : agnes.sims@aol.com
street : 170 Queen Lane
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 772:
customer_id : 772
first_name : Latricia
last_name : Lindsey
phone : None
email : latricia.lindsey@hotmail.com
street : 288 Campfire Dr.
city : Yorktown Heights
state : NY
zip_code : 10598
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 773:
customer_id : 773
first_name : Yolando
last_name : Wade
phone : None
email : yolando.wade@hotmail.com
street : 310 Wilson Ave.
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 774:
customer_id : 774
first_name : Nenita
last_name : Mooney
phone : None
email : nenita.mooney@hotmail.com
street : 10 W. Bishop Street
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 775:
customer_id : 775
first_name : Kermit
last_name : Hyde
phone : None
email : kermit.hyde@hotmail.com
street : 87 SE. Carson St.
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 776:
customer_id : 776
first_name : Angelique
last_name : Merrill
phone : None
email : angelique.merrill@gmail.com
street : 8490 West High Noon Ave.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 777:
customer_id : 777
first_name : Ilda
last_name : Roberson
phone : None
email : ilda.roberson@aol.com
street : 8853 Lake St.
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 778:
customer_id : 778
first_name : Corrinne
last_name : Garrison
phone : None
email : corrinne.garrison@yahoo.com
street : 81 East Glenwood Ave.
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 779:
customer_id : 779
first_name : Major
last_name : Merrill
phone : None
email : major.merrill@aol.com
street : 78 Thatcher Court
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 780:
customer_id : 780
first_name : Ouida
last_name : Gregory
phone : None
email : ouida.gregory@aol.com
street : 7984 8th Street
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 781:
customer_id : 781
first_name : Tajuana
last_name : Riddle
phone : None
email : tajuana.riddle@hotmail.com
street : 24 St Margarets Ave.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 782:
customer_id : 782
first_name : Ricki
last_name : Bullock
phone : None
email : ricki.bullock@hotmail.com
street : 79 Pennington Rd.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 783:
customer_id : 783
first_name : Celestine
last_name : Kent
phone : (717) 890-4260
email : celestine.kent@aol.com
street : 697 Fordham Street
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 784:
customer_id : 784
first_name : Debbra
last_name : Jacobson
phone : None
email : debbra.jacobson@yahoo.com
street : 8316 West Bedford Ave.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 785:
customer_id : 785
first_name : Kandis
last_name : Mills
phone : None
email : kandis.mills@hotmail.com
street : 64 Beechwood Drive
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 786:
customer_id : 786
first_name : Wallace
last_name : Lane
phone : None
email : wallace.lane@aol.com
street : 901 Liberty St.
city : South Richmond Hill
state : NY
zip_code : 11419
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 787:
customer_id : 787
first_name : Malisa
last_name : Mitchell
phone : None
email : malisa.mitchell@msn.com
street : 87 Ridgewood Court
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 788:
customer_id : 788
first_name : Lilliam
last_name : Nolan
phone : None
email : lilliam.nolan@msn.com
street : 8976 Berkshire Court
city : Copperas Cove
state : TX
zip_code : 76522
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 789:
customer_id : 789
first_name : Tad
last_name : Gardner
phone : None
email : tad.gardner@hotmail.com
street : 9745 E. Wilson St.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 790:
customer_id : 790
first_name : Petronila
last_name : Gallegos
phone : None
email : petronila.gallegos@gmail.com
street : 8053 Aspen St.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 791:
customer_id : 791
first_name : Yun
last_name : Nelson
phone : None
email : yun.nelson@hotmail.com
street : 529 Durham Street
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 792:
customer_id : 792
first_name : Edgar
last_name : Horn
phone : None
email : edgar.horn@aol.com
street : 7270 W. Cherry Hill Lane
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 793:
customer_id : 793
first_name : Chantay
last_name : Maynard
phone : None
email : chantay.maynard@gmail.com
street : 7483 1st Ave.
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 794:
customer_id : 794
first_name : Donette
last_name : Mccarthy
phone : None
email : donette.mccarthy@yahoo.com
street : 500 NW. Maiden Dr.
city : Redondo Beach
state : CA
zip_code : 90278
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 795:
customer_id : 795
first_name : Mariam
last_name : Miranda
phone : None
email : mariam.miranda@aol.com
street : 18 East Washington Avenue
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 796:
customer_id : 796
first_name : Rosalie
last_name : Coffey
phone : None
email : rosalie.coffey@gmail.com
street : 789 Amerige Dr.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 797:
customer_id : 797
first_name : Cathey
last_name : Lamb
phone : None
email : cathey.lamb@msn.com
street : 9621 Ryan Drive
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 798:
customer_id : 798
first_name : Alyse
last_name : Jacobson
phone : None
email : alyse.jacobson@yahoo.com
street : 10 West Devon Lane
city : Massapequa Park
state : NY
zip_code : 11762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 799:
customer_id : 799
first_name : India
last_name : Barron
phone : None
email : india.barron@msn.com
street : 834 W. Pleasant Rd.
city : Huntington
state : NY
zip_code : 11743
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 800:
customer_id : 800
first_name : Cris
last_name : Dunn
phone : None
email : cris.dunn@yahoo.com
street : 1 Pawnee Street
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 801:
customer_id : 801
first_name : Ophelia
last_name : Rodgers
phone : None
email : ophelia.rodgers@gmail.com
street : 133 Joy Ridge Drive
city : Hopewell Junction
state : NY
zip_code : 12533
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 802:
customer_id : 802
first_name : Barrett
last_name : Sanders
phone : None
email : barrett.sanders@aol.com
street : 32 Hawthorne St.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 803:
customer_id : 803
first_name : Bernardina
last_name : Cooper
phone : None
email : bernardina.cooper@msn.com
street : 223 Glen Creek Ave.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 804:
customer_id : 804
first_name : Douglas
last_name : Richards
phone : None
email : douglas.richards@hotmail.com
street : 221 Arcadia Lane
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 805:
customer_id : 805
first_name : Phillis
last_name : Fowler
phone : None
email : phillis.fowler@aol.com
street : 8976 N. Hall Street
city : Clifton Park
state : NY
zip_code : 12065
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 806:
customer_id : 806
first_name : Reyes
last_name : Merritt
phone : None
email : reyes.merritt@yahoo.com
street : 48 Lexington Rd.
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 807:
customer_id : 807
first_name : Nathalie
last_name : Knowles
phone : None
email : nathalie.knowles@aol.com
street : 4 Cactus Street
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 808:
customer_id : 808
first_name : Vallie
last_name : Dixon
phone : None
email : vallie.dixon@yahoo.com
street : 85 E. Ann Drive
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 809:
customer_id : 809
first_name : Elnora
last_name : Simpson
phone : None
email : elnora.simpson@yahoo.com
street : 7157 Shore Ave.
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 810:
customer_id : 810
first_name : Ivelisse
last_name : Nixon
phone : (281) 941-4933
email : ivelisse.nixon@aol.com
street : 782 Boston Ave.
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 811:
customer_id : 811
first_name : Shanti
last_name : Johnston
phone : None
email : shanti.johnston@gmail.com
street : 722 Alderwood Drive
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 812:
customer_id : 812
first_name : Martha
last_name : Burgess
phone : None
email : martha.burgess@msn.com
street : 9631 St Margarets Lane
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 813:
customer_id : 813
first_name : Neville
last_name : Mcclain
phone : None
email : neville.mcclain@yahoo.com
street : 781 Buttonwood Ave.
city : West Hempstead
state : NY
zip_code : 11552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 814:
customer_id : 814
first_name : Ghislaine
last_name : Compton
phone : None
email : ghislaine.compton@aol.com
street : 8930 Princess St.
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 815:
customer_id : 815
first_name : Leanna
last_name : Manning
phone : None
email : leanna.manning@yahoo.com
street : 39 E. Stillwater Ave.
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 816:
customer_id : 816
first_name : Marshall
last_name : Johnson
phone : None
email : marshall.johnson@yahoo.com
street : 44 Greenview St.
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 817:
customer_id : 817
first_name : Zelda
last_name : Pratt
phone : (717) 428-4018
email : zelda.pratt@gmail.com
street : 74 Trusel Drive
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 818:
customer_id : 818
first_name : Joel
last_name : Wynn
phone : (619) 210-6032
email : joel.wynn@aol.com
street : 7 North Oak Ave.
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 819:
customer_id : 819
first_name : Yahaira
last_name : Robertson
phone : None
email : yahaira.robertson@yahoo.com
street : 142 Roehampton Dr.
city : Endicott
state : NY
zip_code : 13760
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 820:
customer_id : 820
first_name : Sandy
last_name : Mills
phone : None
email : sandy.mills@gmail.com
street : 333 Olive Ave.
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 821:
customer_id : 821
first_name : Cassidy
last_name : Clark
phone : None
email : cassidy.clark@hotmail.com
street : 9879 Old Kingston Road
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 822:
customer_id : 822
first_name : Kristy
last_name : Watkins
phone : None
email : kristy.watkins@gmail.com
street : 977 South Brook Ave.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 823:
customer_id : 823
first_name : Tina
last_name : Bush
phone : None
email : tina.bush@aol.com
street : 8038 Bellevue Street
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 824:
customer_id : 824
first_name : Veronika
last_name : Rollins
phone : None
email : veronika.rollins@yahoo.com
street : 94 Arnold Ave.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 825:
customer_id : 825
first_name : Kristel
last_name : Byrd
phone : None
email : kristel.byrd@hotmail.com
street : 9967 Piper Street
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 826:
customer_id : 826
first_name : Shay
last_name : Stephenson
phone : None
email : shay.stephenson@aol.com
street : 9569 4th Lane
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 827:
customer_id : 827
first_name : George
last_name : Pickett
phone : None
email : george.pickett@msn.com
street : 691 Rocky River St.
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 828:
customer_id : 828
first_name : Renato
last_name : Morton
phone : None
email : renato.morton@msn.com
street : 8526 Sherwood Street
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 829:
customer_id : 829
first_name : Marcy
last_name : Rodriguez
phone : None
email : marcy.rodriguez@gmail.com
street : 97 Trusel Drive
city : Lockport
state : NY
zip_code : 14094
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 830:
customer_id : 830
first_name : Edmund
last_name : Gaines
phone : None
email : edmund.gaines@gmail.com
street : 8643 Gartner St.
city : Copperas Cove
state : TX
zip_code : 76522
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 831:
customer_id : 831
first_name : Lory
last_name : Berg
phone : None
email : lory.berg@aol.com
street : 64 Vine Drive
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 832:
customer_id : 832
first_name : Pamala
last_name : Fowler
phone : None
email : pamala.fowler@gmail.com
street : 399 Leatherwood St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 833:
customer_id : 833
first_name : Leone
last_name : Emerson
phone : None
email : leone.emerson@msn.com
street : 460 Smith Store Ave.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 834:
customer_id : 834
first_name : Brain
last_name : Skinner
phone : None
email : brain.skinner@hotmail.com
street : 8676 Ketch Harbour Ave.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 835:
customer_id : 835
first_name : Roseanne
last_name : Maynard
phone : None
email : roseanne.maynard@yahoo.com
street : 219 Old Paris Hill Dr.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 836:
customer_id : 836
first_name : Corinna
last_name : Adams
phone : None
email : corinna.adams@msn.com
street : 38 Trenton Court
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 837:
customer_id : 837
first_name : Kellye
last_name : Campbell
phone : None
email : kellye.campbell@gmail.com
street : 75 Marsh St.
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 838:
customer_id : 838
first_name : Erna
last_name : Sloan
phone : None
email : erna.sloan@aol.com
street : 9449 Fifth Avenue
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 839:
customer_id : 839
first_name : Carolann
last_name : Russell
phone : None
email : carolann.russell@hotmail.com
street : 9308 Selby Ave.
city : Glen Cove
state : NY
zip_code : 11542
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 840:
customer_id : 840
first_name : Gilbert
last_name : Calhoun
phone : None
email : gilbert.calhoun@msn.com
street : 7339 Summer Drive
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 841:
customer_id : 841
first_name : Manie
last_name : Maxwell
phone : None
email : manie.maxwell@gmail.com
street : 85 Brickell Ave.
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 842:
customer_id : 842
first_name : Giselle
last_name : Robles
phone : None
email : giselle.robles@hotmail.com
street : 9747 N. El Dorado Dr.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 843:
customer_id : 843
first_name : Tessie
last_name : Farmer
phone : None
email : tessie.farmer@msn.com
street : 870 Cottage Ave.
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 844:
customer_id : 844
first_name : Felica
last_name : Munoz
phone : None
email : felica.munoz@aol.com
street : 24 West Rockwell Dr.
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 845:
customer_id : 845
first_name : Kathyrn
last_name : Bush
phone : None
email : kathyrn.bush@gmail.com
street : 90 Devon St.
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 846:
customer_id : 846
first_name : Sylvester
last_name : Chan
phone : None
email : sylvester.chan@hotmail.com
street : 659 Arcadia Street
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 847:
customer_id : 847
first_name : Lizette
last_name : Ellison
phone : None
email : lizette.ellison@hotmail.com
street : 865 Sunbeam Street
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 848:
customer_id : 848
first_name : Ernestina
last_name : Skinner
phone : None
email : ernestina.skinner@hotmail.com
street : 52 Spring Drive
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 849:
customer_id : 849
first_name : Phyllis
last_name : Hill
phone : None
email : phyllis.hill@yahoo.com
street : 576 Devon Ave.
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 850:
customer_id : 850
first_name : Stephanie
last_name : Browning
phone : None
email : stephanie.browning@yahoo.com
street : 9156 Lantern St.
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 851:
customer_id : 851
first_name : Arlena
last_name : Buckner
phone : None
email : arlena.buckner@hotmail.com
street : 629 Locust Ave.
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 852:
customer_id : 852
first_name : Lezlie
last_name : Thompson
phone : None
email : lezlie.thompson@yahoo.com
street : 73 Vernon St.
city : Freeport
state : NY
zip_code : 11520
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 853:
customer_id : 853
first_name : Brittney
last_name : Rojas
phone : None
email : brittney.rojas@aol.com
street : 2 E. Overlook Ave.
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 854:
customer_id : 854
first_name : Phylis
last_name : Adkins
phone : (212) 325-9145
email : phylis.adkins@msn.com
street : 7781 James Ave.
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 855:
customer_id : 855
first_name : Lean
last_name : Stark
phone : None
email : lean.stark@msn.com
street : 215 Old Pumpkin Hill St.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 856:
customer_id : 856
first_name : Lara
last_name : Guy
phone : None
email : lara.guy@aol.com
street : 9809 E. Walnut Drive
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 857:
customer_id : 857
first_name : Inga
last_name : Koch
phone : None
email : inga.koch@msn.com
street : 8445 South New Court
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 858:
customer_id : 858
first_name : Klara
last_name : Kim
phone : None
email : klara.kim@gmail.com
street : 9660 Sherman Lane
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 859:
customer_id : 859
first_name : Julianne
last_name : Shannon
phone : None
email : julianne.shannon@hotmail.com
street : 28 Applegate Street
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 860:
customer_id : 860
first_name : Loni
last_name : Mullen
phone : None
email : loni.mullen@msn.com
street : 55 Thompson Avenue
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 861:
customer_id : 861
first_name : Olympia
last_name : Figueroa
phone : None
email : olympia.figueroa@hotmail.com
street : 587 Surrey St.
city : Hopewell Junction
state : NY
zip_code : 12533
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 862:
customer_id : 862
first_name : Mellie
last_name : Puckett
phone : None
email : mellie.puckett@yahoo.com
street : 64 Van Dyke St.
city : Fresh Meadows
state : NY
zip_code : 11365
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 863:
customer_id : 863
first_name : Shonta
last_name : Preston
phone : None
email : shonta.preston@msn.com
street : 74 Division St.
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 864:
customer_id : 864
first_name : Lore
last_name : Sykes
phone : (716) 382-5169
email : lore.sykes@aol.com
street : 7050 Beach Drive
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 865:
customer_id : 865
first_name : Julia
last_name : Joyner
phone : None
email : julia.joyner@msn.com
street : 2 Valley View Dr.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 866:
customer_id : 866
first_name : Lynwood
last_name : Jackson
phone : None
email : lynwood.jackson@aol.com
street : 9449 Linda Street
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 867:
customer_id : 867
first_name : Rosalva
last_name : Hamilton
phone : None
email : rosalva.hamilton@aol.com
street : 9883 Cedar Dr.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 868:
customer_id : 868
first_name : Domingo
last_name : Casey
phone : (408) 761-9212
email : domingo.casey@msn.com
street : 8665 Cypress Street
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 869:
customer_id : 869
first_name : Rodrigo
last_name : Durham
phone : None
email : rodrigo.durham@aol.com
street : 82 Old Church Road
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 870:
customer_id : 870
first_name : Dwain
last_name : Carlson
phone : None
email : dwain.carlson@gmail.com
street : 951 North Trusel Ave.
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 871:
customer_id : 871
first_name : Erlinda
last_name : Humphrey
phone : None
email : erlinda.humphrey@hotmail.com
street : 532 South Victoria St.
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 872:
customer_id : 872
first_name : Silas
last_name : Tate
phone : (361) 219-2149
email : silas.tate@yahoo.com
street : 9754 53rd Court
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 873:
customer_id : 873
first_name : Patience
last_name : Clayton
phone : None
email : patience.clayton@hotmail.com
street : 68 Chestnut Dr.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 874:
customer_id : 874
first_name : Mila
last_name : Good
phone : None
email : mila.good@yahoo.com
street : 812 East Longbranch Ave.
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 875:
customer_id : 875
first_name : Tanesha
last_name : Sawyer
phone : None
email : tanesha.sawyer@aol.com
street : 9B Kingston Lane
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 876:
customer_id : 876
first_name : Onita
last_name : Macdonald
phone : None
email : onita.macdonald@yahoo.com
street : 94 Wood St.
city : Glen Cove
state : NY
zip_code : 11542
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 877:
customer_id : 877
first_name : Janine
last_name : Manning
phone : None
email : janine.manning@gmail.com
street : 9118B Campfire St.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 878:
customer_id : 878
first_name : Melodie
last_name : Melton
phone : None
email : melodie.melton@yahoo.com
street : 12 S. 8th Road
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 879:
customer_id : 879
first_name : Ethelyn
last_name : Ray
phone : None
email : ethelyn.ray@yahoo.com
street : 80 South Sutor Lane
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 880:
customer_id : 880
first_name : Phebe
last_name : Turner
phone : None
email : phebe.turner@aol.com
street : 4 West York Street
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 881:
customer_id : 881
first_name : Chloe
last_name : Patel
phone : None
email : chloe.patel@yahoo.com
street : 407 Homewood Street
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 882:
customer_id : 882
first_name : Hilda
last_name : Harvey
phone : None
email : hilda.harvey@gmail.com
street : 9808 W. Cleveland Ave.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 883:
customer_id : 883
first_name : Gilberte
last_name : Duke
phone : (915) 903-7860
email : gilberte.duke@gmail.com
street : 12 Birchwood Dr.
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 884:
customer_id : 884
first_name : Willian
last_name : Hardin
phone : None
email : willian.hardin@msn.com
street : 836 West Street
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 885:
customer_id : 885
first_name : Janna
last_name : Hayden
phone : None
email : janna.hayden@msn.com
street : 32 Hilldale Street
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 886:
customer_id : 886
first_name : Letisha
last_name : May
phone : None
email : letisha.may@yahoo.com
street : 9965 Princeton Lane
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 887:
customer_id : 887
first_name : Graig
last_name : Cannon
phone : None
email : graig.cannon@gmail.com
street : 36 Oklahoma Ave.
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 888:
customer_id : 888
first_name : Coleen
last_name : Navarro
phone : None
email : coleen.navarro@aol.com
street : 990 Broad Rd.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 889:
customer_id : 889
first_name : Lucilla
last_name : Williams
phone : None
email : lucilla.williams@hotmail.com
street : 42 Cedar Street
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 890:
customer_id : 890
first_name : Rosanne
last_name : George
phone : None
email : rosanne.george@yahoo.com
street : 38 Pleasant St.
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 891:
customer_id : 891
first_name : Ashlie
last_name : Parrish
phone : None
email : ashlie.parrish@hotmail.com
street : 48 Mill Drive
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 892:
customer_id : 892
first_name : Alissa
last_name : Craft
phone : None
email : alissa.craft@hotmail.com
street : 249 Maple Street
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 893:
customer_id : 893
first_name : Letty
last_name : Cobb
phone : None
email : letty.cobb@msn.com
street : 8652 Wellington Street
city : Depew
state : NY
zip_code : 14043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 894:
customer_id : 894
first_name : Nathaniel
last_name : Richard
phone : None
email : nathaniel.richard@gmail.com
street : 3 Nicolls Lane
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 895:
customer_id : 895
first_name : Elaina
last_name : Key
phone : None
email : elaina.key@msn.com
street : 1 Main St.
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 896:
customer_id : 896
first_name : Stefani
last_name : Gamble
phone : (845) 724-2996
email : stefani.gamble@aol.com
street : 9119 W. Victoria St.
city : New City
state : NY
zip_code : 10956
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 897:
customer_id : 897
first_name : Bettyann
last_name : Acosta
phone : (717) 746-6658
email : bettyann.acosta@gmail.com
street : 7949 Chapel St.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 898:
customer_id : 898
first_name : Crysta
last_name : Velez
phone : (281) 529-3469
email : crysta.velez@yahoo.com
street : 64 South Front Street
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 899:
customer_id : 899
first_name : Carisa
last_name : Carpenter
phone : None
email : carisa.carpenter@hotmail.com
street : 551 Belmont Lane
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 900:
customer_id : 900
first_name : Jule
last_name : Davenport
phone : None
email : jule.davenport@aol.com
street : 19 River St.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 901:
customer_id : 901
first_name : Lonna
last_name : Franks
phone : None
email : lonna.franks@yahoo.com
street : 667 Brickyard Street
city : Ontario
state : CA
zip_code : 91762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 902:
customer_id : 902
first_name : Elease
last_name : Dejesus
phone : None
email : elease.dejesus@gmail.com
street : 7800 Magnolia Street
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 903:
customer_id : 903
first_name : Maira
last_name : Long
phone : None
email : maira.long@msn.com
street : 7587 Bear Hill Street
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 904:
customer_id : 904
first_name : Jana
last_name : Thomas
phone : (408) 624-8137
email : jana.thomas@yahoo.com
street : 283 E. Spring Dr.
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 905:
customer_id : 905
first_name : Hae
last_name : Ramirez
phone : None
email : hae.ramirez@hotmail.com
street : 9367 Lake Street
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 906:
customer_id : 906
first_name : Erik
last_name : Leblanc
phone : None
email : erik.leblanc@aol.com
street : 7 East Nut Swamp Street
city : Sugar Land
state : TX
zip_code : 77478
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 907:
customer_id : 907
first_name : Daina
last_name : Sampson
phone : None
email : daina.sampson@msn.com
street : 556 Wellington St.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 908:
customer_id : 908
first_name : Delmar
last_name : Wise
phone : None
email : delmar.wise@yahoo.com
street : 8355 Kingston Avenue
city : Lockport
state : NY
zip_code : 14094
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 909:
customer_id : 909
first_name : Alita
last_name : Salinas
phone : None
email : alita.salinas@hotmail.com
street : 8550 Bear Hill Ave.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 910:
customer_id : 910
first_name : Elenore
last_name : William
phone : None
email : elenore.william@msn.com
street : 23 Rockland St.
city : Mcallen
state : TX
zip_code : 78501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 911:
customer_id : 911
first_name : Nikita
last_name : Roy
phone : None
email : nikita.roy@aol.com
street : 9703 N. Snake Hill St.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 912:
customer_id : 912
first_name : Inocencia
last_name : Key
phone : None
email : inocencia.key@hotmail.com
street : 36 Wild Rose Ave.
city : Massapequa Park
state : NY
zip_code : 11762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 913:
customer_id : 913
first_name : Liliana
last_name : Kerr
phone : None
email : liliana.kerr@yahoo.com
street : 3 Cherry Drive
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 914:
customer_id : 914
first_name : Hortencia
last_name : O'neil
phone : None
email : hortencia.o'neil@hotmail.com
street : 1 Gulf Rd.
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 915:
customer_id : 915
first_name : Beryl
last_name : Bennett
phone : (916) 422-6956
email : beryl.bennett@aol.com
street : 9563 Edgemont St.
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 916:
customer_id : 916
first_name : Alishia
last_name : Elliott
phone : None
email : alishia.elliott@aol.com
street : 8905 Courtland Ave.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 917:
customer_id : 917
first_name : Vernia
last_name : Madden
phone : (248) 206-3697
email : vernia.madden@aol.com
street : 5 Iroquois Street
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 918:
customer_id : 918
first_name : Kristel
last_name : Bullock
phone : None
email : kristel.bullock@yahoo.com
street : 7292 Armstrong Drive
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 919:
customer_id : 919
first_name : Ruthanne
last_name : Hoover
phone : None
email : ruthanne.hoover@aol.com
street : 835 Paris Hill Road
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 920:
customer_id : 920
first_name : James
last_name : Robles
phone : None
email : james.robles@aol.com
street : 9 Chapel Lane
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 921:
customer_id : 921
first_name : Evelin
last_name : Vargas
phone : None
email : evelin.vargas@msn.com
street : 7049 Pin Oak Ave.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 922:
customer_id : 922
first_name : Elvia
last_name : Cardenas
phone : None
email : elvia.cardenas@hotmail.com
street : 8 Paris Hill St.
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 923:
customer_id : 923
first_name : Randee
last_name : Pitts
phone : None
email : randee.pitts@msn.com
street : 7371B Essex Street
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 924:
customer_id : 924
first_name : Lea
last_name : Irwin
phone : None
email : lea.irwin@gmail.com
street : 845 Adams Lane
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 925:
customer_id : 925
first_name : Bryce
last_name : Monroe
phone : None
email : bryce.monroe@aol.com
street : 52 Cooper Lane
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 926:
customer_id : 926
first_name : Katina
last_name : Mcintosh
phone : (661) 464-1523
email : katina.mcintosh@yahoo.com
street : 263 Swanson Dr.
city : Bakersfield
state : CA
zip_code : 93306
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 927:
customer_id : 927
first_name : Guillermo
last_name : Hart
phone : (212) 652-7198
email : guillermo.hart@hotmail.com
street : 81 Indian Summer Drive
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 928:
customer_id : 928
first_name : Joann
last_name : Barber
phone : None
email : joann.barber@gmail.com
street : 8945 Courtland Street
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 929:
customer_id : 929
first_name : Thurman
last_name : Ellis
phone : None
email : thurman.ellis@gmail.com
street : 20 Augusta Road
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 930:
customer_id : 930
first_name : Delana
last_name : Wagner
phone : None
email : delana.wagner@aol.com
street : 8499 Mill Pond Road
city : Clifton Park
state : NY
zip_code : 12065
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 931:
customer_id : 931
first_name : Porter
last_name : Bass
phone : None
email : porter.bass@hotmail.com
street : 370 North Alderwood Dr.
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 932:
customer_id : 932
first_name : Yvonne
last_name : Bean
phone : None
email : yvonne.bean@yahoo.com
street : 20 W. Marsh Ave.
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 933:
customer_id : 933
first_name : Lurline
last_name : Rivers
phone : None
email : lurline.rivers@msn.com
street : 69 Pine Street
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 934:
customer_id : 934
first_name : Ocie
last_name : Slater
phone : None
email : ocie.slater@msn.com
street : 7799 W. Bohemia Dr.
city : Hamburg
state : NY
zip_code : 14075
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 935:
customer_id : 935
first_name : Genevie
last_name : Miles
phone : None
email : genevie.miles@aol.com
street : 45 West Sulphur Springs Ave.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 936:
customer_id : 936
first_name : Sherilyn
last_name : Wilcox
phone : None
email : sherilyn.wilcox@gmail.com
street : 905 North Buckingham Lane
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 937:
customer_id : 937
first_name : Aida
last_name : Koch
phone : None
email : aida.koch@gmail.com
street : 9778 3rd Drive
city : West Hempstead
state : NY
zip_code : 11552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 938:
customer_id : 938
first_name : Emory
last_name : O'connor
phone : (507) 606-2192
email : emory.o'connor@gmail.com
street : 34 Foxrun Street
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 939:
customer_id : 939
first_name : Maximina
last_name : Hutchinson
phone : (361) 164-3098
email : maximina.hutchinson@hotmail.com
street : 53 Stillwater Avenue
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 940:
customer_id : 940
first_name : Marina
last_name : Hinton
phone : None
email : marina.hinton@yahoo.com
street : 7440 North Oxford St.
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 941:
customer_id : 941
first_name : Danyell
last_name : Dickerson
phone : None
email : danyell.dickerson@msn.com
street : 8306 Fieldstone Dr.
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 942:
customer_id : 942
first_name : Davis
last_name : Long
phone : (717) 653-1755
email : davis.long@msn.com
street : 929 Elmwood Dr.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 943:
customer_id : 943
first_name : Lynn
last_name : Mcmahon
phone : None
email : lynn.mcmahon@msn.com
street : 9 Surrey St.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 944:
customer_id : 944
first_name : Tonja
last_name : Henderson
phone : None
email : tonja.henderson@aol.com
street : 82 Alton St.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 945:
customer_id : 945
first_name : Krissy
last_name : Ochoa
phone : None
email : krissy.ochoa@msn.com
street : 80 Queen Ave.
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 946:
customer_id : 946
first_name : Angella
last_name : Bridges
phone : None
email : angella.bridges@yahoo.com
street : 8708 Sycamore St.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 947:
customer_id : 947
first_name : Angele
last_name : Castro
phone : None
email : angele.castro@yahoo.com
street : 15 Acacia Drive
city : Palos Verdes Peninsula
state : CA
zip_code : 90274
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 948:
customer_id : 948
first_name : Siobhan
last_name : Lang
phone : None
email : siobhan.lang@gmail.com
street : 3 Monroe Lane
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 949:
customer_id : 949
first_name : Venessa
last_name : Frost
phone : None
email : venessa.frost@msn.com
street : 621 West School Rd.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 950:
customer_id : 950
first_name : Verna
last_name : Solis
phone : (507) 115-1633
email : verna.solis@yahoo.com
street : 7 Lincoln Lane
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 951:
customer_id : 951
first_name : Steve
last_name : Bender
phone : None
email : steve.bender@gmail.com
street : 908 N. Pennington Dr.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 952:
customer_id : 952
first_name : Aileen
last_name : Marquez
phone : None
email : aileen.marquez@msn.com
street : 8899 Newbridge Street
city : Torrance
state : CA
zip_code : 90505
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 953:
customer_id : 953
first_name : Kattie
last_name : Stevenson
phone : None
email : kattie.stevenson@aol.com
street : 52 Carson Street
city : Helotes
state : TX
zip_code : 78023
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 954:
customer_id : 954
first_name : Hassan
last_name : Nash
phone : None
email : hassan.nash@yahoo.com
street : 8105 University Lane
city : Hicksville
state : NY
zip_code : 11801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 955:
customer_id : 955
first_name : Delfina
last_name : Gilliam
phone : None
email : delfina.gilliam@hotmail.com
street : 9463 Bayberry Rd.
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 956:
customer_id : 956
first_name : Venus
last_name : Hewitt
phone : None
email : venus.hewitt@msn.com
street : 9835 Old Cemetery Lane
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 957:
customer_id : 957
first_name : Stephen
last_name : Vega
phone : (657) 288-3778
email : stephen.vega@msn.com
street : 5 Briarwood St.
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 958:

customer_id : 958
first_name : Ciera
last_name : Koch
phone : None
email : ciera.koch@gmail.com
street : 881 Lawrence Drive
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 959:
customer_id : 959
first_name : Christel
last_name : Barber
phone : (916) 679-3547
email : christel.barber@hotmail.com
street : 320 Briarwood Lane
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 960:
customer_id : 960
first_name : Arline
last_name : Lawson
phone : (516) 792-3395
email : arline.lawson@gmail.com
street : 48 Whitemarsh Lane
city : Hempstead
state : NY
zip_code : 11550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 961:
customer_id : 961
first_name : Iva
last_name : Wilcox
phone : None
email : iva.wilcox@aol.com
street : 452 South Mayflower Drive
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 962:
customer_id : 962
first_name : Maple
last_name : Griffin
phone : None
email : maple.griffin@gmail.com
street : 20 Glendale Drive
city : Copperas Cove
state : TX
zip_code : 76522
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 963:
customer_id : 963
first_name : Anisha
last_name : Lang
phone : None
email : anisha.lang@aol.com
street : 265 Peachtree St.
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 964:
customer_id : 964
first_name : Brent
last_name : Calderon
phone : (361) 981-8725
email : brent.calderon@aol.com
street : 3 Thomas St.
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 965:
customer_id : 965
first_name : Margit
last_name : Osborn
phone : None
email : margit.osborn@yahoo.com
street : 909 Gulf Drive
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 966:
customer_id : 966
first_name : Novella
last_name : Patel
phone : None
email : novella.patel@gmail.com
street : 500 Livingston Street
city : Glen Cove
state : NY
zip_code : 11542
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 967:
customer_id : 967
first_name : Laurette
last_name : Hebert
phone : None
email : laurette.hebert@msn.com
street : 18 South Constitution Court
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 968:
customer_id : 968
first_name : Jonna
last_name : Brown
phone : None
email : jonna.brown@aol.com
street : 1 Spring Drive
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 969:
customer_id : 969
first_name : Jennell
last_name : Solis
phone : (507) 421-7354
email : jennell.solis@hotmail.com
street : 194 2nd Rd.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 970:
customer_id : 970
first_name : Ruth
last_name : Horton
phone : None
email : ruth.horton@gmail.com
street : 488 Mulberry Ave.
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 971:
customer_id : 971
first_name : Samual
last_name : Warner
phone : (631) 151-4988
email : samual.warner@gmail.com
street : 8735 Thatcher Dr.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 972:
customer_id : 972
first_name : Damian
last_name : Mills
phone : (562) 924-3079
email : damian.mills@yahoo.com
street : 7747 Elm Dr.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 973:
customer_id : 973
first_name : Margaretta
last_name : Clayton
phone : None
email : margaretta.clayton@yahoo.com
street : 524 San Pablo Ave.
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 974:
customer_id : 974
first_name : Marcell
last_name : Barrett
phone : None
email : marcell.barrett@gmail.com
street : 266 Elm Drive
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 975:
customer_id : 975
first_name : Annis
last_name : Sanchez
phone : (424) 352-6275
email : annis.sanchez@aol.com
street : 4 Edgewater Road
city : Los Angeles
state : CA
zip_code : 90008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 976:
customer_id : 976
first_name : Ayanna
last_name : Cherry
phone : None
email : ayanna.cherry@yahoo.com
street : 8829 Galvin Rd.
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 977:
customer_id : 977
first_name : Barton
last_name : Cox
phone : None
email : barton.cox@yahoo.com
street : 8220 Creekside Street
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 978:
customer_id : 978
first_name : Diana
last_name : Reyes
phone : None
email : diana.reyes@msn.com
street : 7415 Annadale St.
city : Bronx
state : NY
zip_code : 10451
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 979:
customer_id : 979
first_name : Ingeborg
last_name : Ellison
phone : None
email : ingeborg.ellison@yahoo.com
street : 360 Trusel St.
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 980:
customer_id : 980
first_name : Carter
last_name : Booth
phone : None
email : carter.booth@msn.com
street : 82 Beech Drive
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 981:
customer_id : 981
first_name : Christel
last_name : Cardenas
phone : (562) 342-8083
email : christel.cardenas@aol.com
street : 428 S. Swanson Drive
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 982:
customer_id : 982
first_name : Orval
last_name : Hunter
phone : None
email : orval.hunter@aol.com
street : 35 Wagon Drive
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 983:
customer_id : 983
first_name : Marguerite
last_name : Berger
phone : None
email : marguerite.berger@aol.com
street : 875 Arch Lane
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 984:
customer_id : 984
first_name : Ivette
last_name : Warren
phone : None
email : ivette.warren@gmail.com
street : 8408 Thomas Street
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 985:
customer_id : 985
first_name : Milagros
last_name : Weber
phone : None
email : milagros.weber@hotmail.com
street : 7591 Glendale Ave.
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 986:
customer_id : 986
first_name : Marcel
last_name : Lindsay
phone : None
email : marcel.lindsay@hotmail.com
street : 249 Peninsula St.
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 987:
customer_id : 987
first_name : Louis
last_name : Powell
phone : None
email : louis.powell@aol.com
street : 368 Sugar Rd.
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 988:
customer_id : 988
first_name : Vanda
last_name : Holmes
phone : None
email : vanda.holmes@aol.com
street : 9835 Wild Rose Drive
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 989:
customer_id : 989
first_name : Loreen
last_name : Byers
phone : None
email : loreen.byers@yahoo.com
street : 83 S. Rockledge Circle
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 990:
customer_id : 990
first_name : Casimira
last_name : Chapman
phone : None
email : casimira.chapman@yahoo.com
street : 67 Snake Hill St.
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 991:
customer_id : 991
first_name : Brigida
last_name : Larson
phone : None
email : brigida.larson@hotmail.com
street : 8789 Sycamore Lane
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 992:
customer_id : 992
first_name : Chere
last_name : Alston
phone : None
email : chere.alston@gmail.com
street : 16 Lower River Street
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 993:
customer_id : 993
first_name : Giovanna
last_name : Jefferson
phone : None
email : giovanna.jefferson@gmail.com
street : 9394 Riverside St.
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 994:
customer_id : 994
first_name : Demarcus
last_name : Reese
phone : None
email : demarcus.reese@gmail.com
street : 8087 Armstrong Dr.
city : Yorktown Heights
state : NY
zip_code : 10598
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 995:
customer_id : 995
first_name : Amina
last_name : Salazar
phone : None
email : amina.salazar@aol.com
street : 944 Wellington Street
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 996:
customer_id : 996
first_name : Serafina
last_name : Clemons
phone : None
email : serafina.clemons@gmail.com
street : 851 Brown Ave.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 997:
customer_id : 997
first_name : Trinidad
last_name : Mcclain
phone : None
email : trinidad.mcclain@msn.com
street : 98 Tunnel Drive
city : Baldwin
state : NY
zip_code : 11510
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 998:
customer_id : 998
first_name : Heather
last_name : Chaney
phone : None
email : heather.chaney@yahoo.com
street : 4 Morris Dr.
city : Jamestown
state : NY
zip_code : 14701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 999:
customer_id : 999
first_name : Latoya
last_name : Johns
phone : None
email : latoya.johns@hotmail.com
street : 7914 W. Woodsman St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1000:
customer_id : 1000
first_name : Shiloh
last_name : Reeves
phone : None
email : shiloh.reeves@msn.com
street : 818 Kirkland Lane
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1001:
customer_id : 1001
first_name : Lee
last_name : Roman
phone : (631) 913-6967
email : lee.roman@gmail.com
street : 4 Canal Ave.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1002:
customer_id : 1002
first_name : Cami
last_name : Williamson
phone : None
email : cami.williamson@hotmail.com
street : 9511A Windsor Drive
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1003:
customer_id : 1003
first_name : Sharell
last_name : Ross
phone : None
email : sharell.ross@msn.com
street : 7830 Devonshire Ave.
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1004:
customer_id : 1004
first_name : Jerald
last_name : Blackwell
phone : None
email : jerald.blackwell@hotmail.com
street : 8364 South Wakehurst Ave.
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1005:
customer_id : 1005
first_name : Ruthanne
last_name : Franco
phone : None
email : ruthanne.franco@yahoo.com
street : 61 Applegate St.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1006:
customer_id : 1006
first_name : Marjory
last_name : Leonard
phone : None
email : marjory.leonard@msn.com
street : 800 Greystone Lane
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1007:
customer_id : 1007
first_name : Jimmy
last_name : Russell
phone : None
email : jimmy.russell@hotmail.com
street : 33 Iroquois Ave.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1008:
customer_id : 1008
first_name : Berneice
last_name : Pollard
phone : None
email : berneice.pollard@hotmail.com
street : 607 Bohemia Street
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1009:
customer_id : 1009
first_name : Deangelo
last_name : Cooley
phone : None
email : deangelo.cooley@aol.com
street : 3 NE. Edgewood Rd.
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1010:
customer_id : 1010
first_name : Katia
last_name : Henry
phone : None
email : katia.henry@msn.com
street : 69 E. Columbia Ave.
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1011:
customer_id : 1011
first_name : Sebrina
last_name : Gross
phone : None
email : sebrina.gross@yahoo.com
street : 993 Glendale Drive
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1012:
customer_id : 1012
first_name : Josephine
last_name : Dale
phone : None
email : josephine.dale@aol.com
street : 8214 West Drive
city : Baldwinsville
state : NY
zip_code : 13027
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1013:
customer_id : 1013
first_name : Alma
last_name : Peck
phone : None
email : alma.peck@aol.com
street : 298 South Bay Meadows Drive
city : Corona
state : NY
zip_code : 11368
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1014:
customer_id : 1014
first_name : Ling
last_name : Newman
phone : None
email : ling.newman@msn.com
street : 832 Spring Road
city : South Richmond Hill
state : NY
zip_code : 11419
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1015:
customer_id : 1015
first_name : Nichelle
last_name : Rosario
phone : None
email : nichelle.rosario@hotmail.com
street : 709 Dunbar Ave.
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1016:
customer_id : 1016
first_name : Shenna
last_name : Benton
phone : (212) 578-2912
email : shenna.benton@msn.com
street : 57 Shadow Brook Road
city : New York
state : NY
zip_code : 10002
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1017:
customer_id : 1017
first_name : Philip
last_name : Bryan
phone : (510) 533-4262
email : philip.bryan@hotmail.com
street : 914 Devonshire Court
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1018:
customer_id : 1018
first_name : Carita
last_name : Salinas
phone : None
email : carita.salinas@yahoo.com
street : 90 Griffin Street
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1019:
customer_id : 1019
first_name : Janie
last_name : Herrera
phone : None
email : janie.herrera@gmail.com
street : 652 Westport Street
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1020:
customer_id : 1020
first_name : Lorraine
last_name : Marks
phone : None
email : lorraine.marks@msn.com
street : 160 North Pearl Street
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1021:
customer_id : 1021
first_name : Nicolas
last_name : Carlson
phone : None
email : nicolas.carlson@yahoo.com
street : 7899 Spruce Street
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1022:
customer_id : 1022
first_name : Hye
last_name : Mercer
phone : None
email : hye.mercer@gmail.com
street : 9681 Redwood St.
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1023:
customer_id : 1023
first_name : Adena
last_name : Blake
phone : None
email : adena.blake@hotmail.com
street : 684 Westport Drive
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1024:
customer_id : 1024
first_name : Coleman
last_name : Boyd
phone : (915) 607-6336
email : coleman.boyd@yahoo.com
street : 9740 Bay Meadows Drive
city : El Paso
state : TX
zip_code : 79930
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1025:
customer_id : 1025
first_name : Daphine
last_name : Willis
phone : None
email : daphine.willis@msn.com
street : 152 Shady St.
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1026:
customer_id : 1026
first_name : Jenine
last_name : Dawson
phone : None
email : jenine.dawson@msn.com
street : 17 Park Street
city : Endicott
state : NY
zip_code : 13760
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1027:
customer_id : 1027
first_name : Shanita
last_name : Wiley
phone : None
email : shanita.wiley@yahoo.com
street : 121 Bridge Lane
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1028:
customer_id : 1028
first_name : Shanna
last_name : Bonner
phone : None
email : shanna.bonner@msn.com
street : 386 Lafayette Road
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1029:
customer_id : 1029
first_name : Ping
last_name : Quinn
phone : None
email : ping.quinn@gmail.com
street : 9051 Hanover Dr.
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1030:
customer_id : 1030
first_name : Saran
last_name : Moses
phone : None
email : saran.moses@yahoo.com
street : 94 Hall Dr.
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1031:
customer_id : 1031
first_name : Tonja
last_name : Bean
phone : None
email : tonja.bean@aol.com
street : 9 Middle River St.
city : Fairport
state : NY
zip_code : 14450
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1032:
customer_id : 1032
first_name : Vernon
last_name : Knowles
phone : None
email : vernon.knowles@yahoo.com
street : 5 Olive Lane
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1033:
customer_id : 1033
first_name : Jeannette
last_name : Skinner
phone : None
email : jeannette.skinner@yahoo.com
street : 8886 High Point Drive
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1034:
customer_id : 1034
first_name : Rico
last_name : Salas
phone : None
email : rico.salas@msn.com
street : 8041 Walt Whitman St.
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1035:
customer_id : 1035
first_name : Tangela
last_name : Hurley
phone : None
email : tangela.hurley@msn.com
street : 49 North Cross St.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1036:
customer_id : 1036
first_name : Randee
last_name : Lester
phone : None
email : randee.lester@gmail.com
street : 81 Bear Hill Street
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1037:
customer_id : 1037
first_name : Ashanti
last_name : Hammond
phone : None
email : ashanti.hammond@msn.com
street : 9202 W. Lyme Ave.
city : Nanuet
state : NY
zip_code : 10954
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1038:
customer_id : 1038
first_name : Garry
last_name : Juarez
phone : None
email : garry.juarez@hotmail.com
street : 670 Nut Swamp Drive
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1039:
customer_id : 1039
first_name : Bee
last_name : Baker
phone : None
email : bee.baker@aol.com
street : 307 E. Magnolia St.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1040:
customer_id : 1040
first_name : Shantae
last_name : Hammond
phone : None
email : shantae.hammond@hotmail.com
street : 526 Harvard Drive
city : Victoria
state : TX
zip_code : 77904
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1041:
customer_id : 1041
first_name : Bettye
last_name : Espinoza
phone : None
email : bettye.espinoza@yahoo.com
street : 76 Rockwell Street
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1042:
customer_id : 1042
first_name : Larissa
last_name : Hays
phone : None
email : larissa.hays@aol.com
street : 66 2nd Drive
city : Elmont
state : NY
zip_code : 11003
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1043:
customer_id : 1043
first_name : Diane
last_name : Jones
phone : None
email : diane.jones@gmail.com
street : 859 Prince St.
city : Fresh Meadows
state : NY
zip_code : 11365
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1044:
customer_id : 1044
first_name : Zenia
last_name : Bruce
phone : None
email : zenia.bruce@aol.com
street : 349 James Road
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1045:
customer_id : 1045
first_name : Pasquale
last_name : Hogan
phone : None
email : pasquale.hogan@aol.com
street : 403 Bank St.
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1046:
customer_id : 1046
first_name : Dane
last_name : Mcdaniel
phone : None
email : dane.mcdaniel@hotmail.com
street : 891 Court Ave.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1047:
customer_id : 1047
first_name : Jamaal
last_name : Baker
phone : None
email : jamaal.baker@hotmail.com
street : 186 Big Rock Cove Ave.
city : Elmhurst
state : NY
zip_code : 11373
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1048:
customer_id : 1048
first_name : Ji
last_name : Burt
phone : None
email : ji.burt@hotmail.com
street : 40 S. Roberts Street
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1049:
customer_id : 1049
first_name : Marcelino
last_name : Mcbride
phone : None
email : marcelino.mcbride@hotmail.com
street : 29 Oxford Ave.
city : Clifton Park
state : NY
zip_code : 12065
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1050:
customer_id : 1050
first_name : Rozella
last_name : Fitzgerald
phone : None
email : rozella.fitzgerald@yahoo.com
street : 7795 Myers Ave.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1051:
customer_id : 1051
first_name : Tonisha
last_name : Fowler
phone : None
email : tonisha.fowler@msn.com
street : 9270 Valley View Lane
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1052:
customer_id : 1052
first_name : Zora
last_name : Ford
phone : (916) 192-3196
email : zora.ford@gmail.com
street : 7416 La Sierra Dr.
city : Sacramento
state : CA
zip_code : 95820
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1053:
customer_id : 1053
first_name : Parthenia
last_name : Figueroa
phone : None
email : parthenia.figueroa@msn.com
street : 550 Theatre Dr.
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1054:
customer_id : 1054
first_name : Arielle
last_name : Levine
phone : None
email : arielle.levine@yahoo.com
street : 7100 High Ridge St.
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1055:
customer_id : 1055
first_name : Hildegarde
last_name : Christensen
phone : None
email : hildegarde.christensen@hotmail.com
street : 488 East Mill Pond Ave.
city : Maspeth
state : NY
zip_code : 11378
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1056:
customer_id : 1056
first_name : Rebbecca
last_name : Espinoza
phone : None
email : rebbecca.espinoza@hotmail.com
street : 8266 Valley Farms Road
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1057:
customer_id : 1057
first_name : Conchita
last_name : Boone
phone : None
email : conchita.boone@gmail.com
street : 814 Birchpond Lane
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1058:
customer_id : 1058
first_name : Aisha
last_name : Woods
phone : None
email : aisha.woods@gmail.com
street : 9292 Bear Hill Ave.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1059:
customer_id : 1059
first_name : Season
last_name : Harvey
phone : None
email : season.harvey@yahoo.com
street : 388 Arnold Court
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1060:
customer_id : 1060
first_name : Tommie
last_name : Cooley
phone : (717) 634-4113
email : tommie.cooley@yahoo.com
street : 92 Hickory St.
city : Lancaster
state : NY
zip_code : 14086
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1061:
customer_id : 1061
first_name : Alanna
last_name : Barry
phone : None
email : alanna.barry@yahoo.com
street : 33 Laurel Avenue
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1062:
customer_id : 1062
first_name : Jerri
last_name : Guthrie
phone : None
email : jerri.guthrie@msn.com
street : 95 Sugar Dr.
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1063:
customer_id : 1063
first_name : Tammy
last_name : Austin
phone : None
email : tammy.austin@yahoo.com
street : 182 Stillwater Ave.
city : Lake Jackson
state : TX
zip_code : 77566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1064:
customer_id : 1064
first_name : Patsy
last_name : Russo
phone : None
email : patsy.russo@gmail.com
street : 8438 Fairway Avenue
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1065:
customer_id : 1065
first_name : Desiree
last_name : Branch
phone : None
email : desiree.branch@msn.com
street : 67 Bayport Drive
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1066:
customer_id : 1066
first_name : Raeann
last_name : Duncan
phone : (657) 256-2008
email : raeann.duncan@aol.com
street : 126 Edgewood St.
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1067:
customer_id : 1067
first_name : Lillia
last_name : Gillespie
phone : None
email : lillia.gillespie@hotmail.com
street : 382 Cardinal Dr.
city : Rego Park
state : NY
zip_code : 11374
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1068:
customer_id : 1068
first_name : Doris
last_name : Kaufman
phone : None
email : doris.kaufman@gmail.com
street : 69 Fairground Dr.
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1069:
customer_id : 1069
first_name : Rodolfo
last_name : Buck
phone : None
email : rodolfo.buck@gmail.com
street : 8359 Brewery Street
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1070:
customer_id : 1070
first_name : Olimpia
last_name : Mays
phone : None
email : olimpia.mays@aol.com
street : 42 Nichols Lane
city : Oakland Gardens
state : NY
zip_code : 11364
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1071:
customer_id : 1071
first_name : Shemeka
last_name : Lyons
phone : None
email : shemeka.lyons@msn.com
street : 97 South Jockey Hollow St.
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1072:
customer_id : 1072
first_name : Maryalice
last_name : Henry
phone : None
email : maryalice.henry@msn.com
street : 85 Prince Street
city : Richardson
state : TX
zip_code : 75080
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1073:
customer_id : 1073
first_name : Leeanne
last_name : Cross
phone : None
email : leeanne.cross@yahoo.com
street : 424 Newcastle Road
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1074:
customer_id : 1074
first_name : Lanelle
last_name : Guerra
phone : None
email : lanelle.guerra@yahoo.com
street : 989 Wrangler St.
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1075:
customer_id : 1075
first_name : Dann
last_name : Huff
phone : None
email : dann.huff@gmail.com
street : 475 S. Rockville St.
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1076:
customer_id : 1076
first_name : Sherise
last_name : Mercer
phone : None
email : sherise.mercer@gmail.com
street : 9401 Catherine Dr.
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1077:
customer_id : 1077
first_name : Heather
last_name : Perry
phone : None
email : heather.perry@gmail.com
street : 982 Durham Street
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1078:
customer_id : 1078
first_name : Theresia
last_name : Barron
phone : None
email : theresia.barron@aol.com
street : 951 Wild Rose Street
city : Forest Hills
state : NY
zip_code : 11375
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1079:
customer_id : 1079
first_name : Cindi
last_name : Ellis
phone : None
email : cindi.ellis@yahoo.com
street : 6 Cypress Lane
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1080:
customer_id : 1080
first_name : Mirella
last_name : Duffy
phone : None
email : mirella.duffy@yahoo.com
street : 43 University Ave.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1081:
customer_id : 1081
first_name : Carson
last_name : Macias
phone : None
email : carson.macias@gmail.com
street : 7 Pennington St.
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1082:
customer_id : 1082
first_name : Divina
last_name : Madden
phone : (562) 264-3998
email : divina.madden@gmail.com
street : 7314 Armstrong St.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1083:
customer_id : 1083
first_name : Cher
last_name : Alston
phone : None
email : cher.alston@msn.com
street : 38 Wild Horse Road
city : Wantagh
state : NY
zip_code : 11793
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1084:
customer_id : 1084
first_name : Regine
last_name : Odom
phone : None
email : regine.odom@msn.com
street : 684 N. Mayfield Ave.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1085:
customer_id : 1085
first_name : Adam
last_name : Thornton
phone : None
email : adam.thornton@hotmail.com
street : 755 East Henry Lane
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1086:
customer_id : 1086
first_name : Cori
last_name : Schwartz
phone : None
email : cori.schwartz@msn.com
street : 43 Lancaster Lane
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1087:
customer_id : 1087
first_name : Willow
last_name : Gardner
phone : None
email : willow.gardner@gmail.com
street : 57 S. Lakewood Dr.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1088:
customer_id : 1088
first_name : Jane
last_name : Henderson
phone : None
email : jane.henderson@hotmail.com
street : 46 Carson Drive
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1089:
customer_id : 1089
first_name : Chere
last_name : Mcfadden
phone : None
email : chere.mcfadden@yahoo.com
street : 695 San Pablo Drive
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1090:
customer_id : 1090
first_name : Ira
last_name : Erickson
phone : None
email : ira.erickson@aol.com
street : 6 Lake Forest St.
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1091:
customer_id : 1091
first_name : Risa
last_name : Gallagher
phone : None
email : risa.gallagher@yahoo.com
street : 8281 Edgefield Drive
city : Rocklin
state : CA
zip_code : 95677
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1092:
customer_id : 1092
first_name : Lavinia
last_name : Cotton
phone : None
email : lavinia.cotton@yahoo.com
street : 7485 Bridle Street
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1093:
customer_id : 1093
first_name : Alejandrina
last_name : Hodges
phone : None
email : alejandrina.hodges@msn.com
street : 7598 Shadow Brook St.
city : Deer Park
state : NY
zip_code : 11729
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1094:
customer_id : 1094
first_name : Keitha
last_name : Black
phone : None
email : keitha.black@yahoo.com
street : 7670 Hilldale Ave.
city : Lindenhurst
state : NY

Error in row 1103:
customer_id : 1103
first_name : Ardelia
last_name : Cooley
phone : None
email : ardelia.cooley@aol.com
street : 59 Henry Smith St.
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1104:
customer_id : 1104
first_name : Khalilah
last_name : Robertson
phone : None
email : khalilah.robertson@aol.com
street : 22 Longbranch Rd.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1105:
customer_id : 1105
first_name : Armando
last_name : Black
phone : None
email : armando.black@gmail.com
street : 8611 N. Poor House St.
city : Richardson
state : TX
zip_code : 75080
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1106:
customer_id : 1106
first_name : Jerri
last_name : Henry
phone : None
email : jerri.henry@msn.com
street : 141 N. Purple Finch Avenue
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1107:
customer_id : 1107
first_name : Lynda
last_name : Newman
phone : None
email : lynda.newman@msn.com
street : 44 SW. Thomas Ave.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1108:
customer_id : 1108
first_name : Bao
last_name : Wade
phone : None
email : bao.wade@gmail.com
street : 7587 Church St.
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1109:
customer_id : 1109
first_name : Gussie
last_name : Harding
phone : None
email : gussie.harding@gmail.com
street : 41 Edgefield Avenue
city : Deer Park
state : NY
zip_code : 11729
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1110:
customer_id : 1110
first_name : Shirely
last_name : Cantrell
phone : None
email : shirely.cantrell@aol.com
street : 6 Kent Street
city : West Hempstead
state : NY
zip_code : 11552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1111:
customer_id : 1111
first_name : Caroline
last_name : Jenkins
phone : None
email : caroline.jenkins@msn.com
street : 86 River Lane
city : Richardson
state : TX
zip_code : 75080
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1112:
customer_id : 1112
first_name : Hollis
last_name : Rasmussen
phone : None
email : hollis.rasmussen@yahoo.com
street : 8949 S. Gates Road
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1113:
customer_id : 1113
first_name : Kendra
last_name : Harrington
phone : None
email : kendra.harrington@yahoo.com
street : 768 Cooper Street
city : Jamestown
state : NY
zip_code : 14701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1114:
customer_id : 1114
first_name : Douglass
last_name : Blankenship
phone : (229) 891-2087
email : douglass.blankenship@hotmail.com
street : 409 W. Rock Maple Lane
city : Albany
state : NY
zip_code : 12203
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1115:
customer_id : 1115
first_name : Lina
last_name : Meadows
phone : None
email : lina.meadows@aol.com
street : 7020 Ashley Rd.
city : Glen Cove
state : NY
zip_code : 11542
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1116:
customer_id : 1116
first_name : Patria
last_name : Harper
phone : None
email : patria.harper@msn.com
street : 90 Arlington St.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1117:
customer_id : 1117
first_name : Jeffrey
last_name : Hill
phone : None
email : jeffrey.hill@gmail.com
street : 2 Shub Farm St.
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1118:
customer_id : 1118
first_name : Ja
last_name : Dillard
phone : None
email : ja.dillard@yahoo.com
street : 25 Orchard St.
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1119:
customer_id : 1119
first_name : Tora
last_name : Dunlap
phone : None
email : tora.dunlap@hotmail.com
street : 9903 North Halifax Ave.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1120:
customer_id : 1120
first_name : Karole
last_name : Alvarez
phone : None
email : karole.alvarez@gmail.com
street : 69 Woodland St.
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1121:
customer_id : 1121
first_name : Shasta
last_name : Combs
phone : None
email : shasta.combs@yahoo.com
street : 726 James Dr.
city : Yorktown Heights
state : NY
zip_code : 10598
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1122:
customer_id : 1122
first_name : Cicely
last_name : Deleon
phone : None
email : cicely.deleon@yahoo.com
street : 751 Newbridge Ave.
city : Massapequa Park
state : NY
zip_code : 11762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1123:
customer_id : 1123
first_name : Raphael
last_name : O'neil
phone : None
email : raphael.o'neil@aol.com
street : 762 East Lantern Dr.
city : Fairport
state : NY
zip_code : 14450
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1124:
customer_id : 1124
first_name : Hubert
last_name : Reilly
phone : None
email : hubert.reilly@hotmail.com
street : 9004 N. Lake Rd.
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1125:
customer_id : 1125
first_name : Caleb
last_name : England
phone : None
email : caleb.england@gmail.com
street : 649 Marvon St.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1126:
customer_id : 1126
first_name : Elmira
last_name : Levy
phone : None
email : elmira.levy@gmail.com
street : 6 Columbia Dr.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1127:
customer_id : 1127
first_name : Waldo
last_name : Hart
phone : None
email : waldo.hart@yahoo.com
street : 9782 Pineknoll Lane
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1128:
customer_id : 1128
first_name : Bea
last_name : Kane
phone : None
email : bea.kane@aol.com
street : 398 Green Lake Ave.
city : Mahopac
state : NY
zip_code : 10541
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1129:
customer_id : 1129
first_name : Gilberto
last_name : Sanders
phone : None
email : gilberto.sanders@hotmail.com
street : 186 Roehampton Ave.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1130:
customer_id : 1130
first_name : Benny
last_name : Bender
phone : None
email : benny.bender@aol.com
street : 520 W. Hamilton St.
city : Elmont
state : NY
zip_code : 11003
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1131:
customer_id : 1131
first_name : Desmond
last_name : Rose
phone : None
email : desmond.rose@hotmail.com
street : 9956 Lexington Rd.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1132:
customer_id : 1132
first_name : Parthenia
last_name : Holman
phone : None
email : parthenia.holman@gmail.com
street : 17 Orange Court
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1133:
customer_id : 1133
first_name : Dung
last_name : King
phone : None
email : dung.king@aol.com
street : 523 Prairie St.
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1134:
customer_id : 1134
first_name : Sherril
last_name : Alvarado
phone : None
email : sherril.alvarado@hotmail.com
street : 9434 Cypress Court
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1135:
customer_id : 1135
first_name : Alisia
last_name : Albert
phone : None
email : alisia.albert@gmail.com
street : 9490 Coffee St.
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1136:
customer_id : 1136
first_name : Kallie
last_name : Best
phone : (507) 997-4112
email : kallie.best@aol.com
street : 9842 Fairview St.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1137:
customer_id : 1137
first_name : Dottie
last_name : Roberts
phone : None
email : dottie.roberts@aol.com
street : 8252 Theatre St.
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1138:
customer_id : 1138
first_name : Hubert
last_name : Stone
phone : None
email : hubert.stone@hotmail.com
street : 203 Penn St.
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1139:
customer_id : 1139
first_name : Gabriella
last_name : Jones
phone : None
email : gabriella.jones@hotmail.com
street : 9100 Gates Ave.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1140:
customer_id : 1140
first_name : Penney
last_name : Hall
phone : None
email : penney.hall@msn.com
street : 8306 Jockey Hollow Street
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1141:
customer_id : 1141
first_name : Mallie
last_name : Osborn
phone : None
email : mallie.osborn@gmail.com
street : 9022 Bridgeton St.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1142:
customer_id : 1142
first_name : Britteny
last_name : Schroeder
phone : None
email : britteny.schroeder@aol.com
street : 855 Bohemia Dr.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1143:
customer_id : 1143
first_name : Sommer
last_name : Hopkins
phone : None
email : sommer.hopkins@gmail.com
street : 827 Laurel Ave.
city : Tonawanda
state : NY
zip_code : 14150
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1144:
customer_id : 1144
first_name : Jewel
last_name : Sparks
phone : None
email : jewel.sparks@aol.com
street : 12 Vine Road
city : Oakland Gardens
state : NY
zip_code : 11364
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1145:
customer_id : 1145
first_name : Deandrea
last_name : Vega
phone : (914) 818-7312
email : deandrea.vega@gmail.com
street : 613 Mill Pond St.
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1146:
customer_id : 1146
first_name : Charlsie
last_name : Carson
phone : None
email : charlsie.carson@hotmail.com
street : 3 South Grant Avenue
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1147:
customer_id : 1147
first_name : Kandace
last_name : Ayers
phone : None
email : kandace.ayers@gmail.com
street : 9005 Lookout Lane
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1148:
customer_id : 1148
first_name : Lenore
last_name : Valdez
phone : None
email : lenore.valdez@msn.com
street : 829 Birchpond Street
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1149:
customer_id : 1149
first_name : Drucilla
last_name : Gilliam
phone : None
email : drucilla.gilliam@hotmail.com
street : 8257 E. Westminster Ave.
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1150:
customer_id : 1150
first_name : Keturah
last_name : Reid
phone : (361) 394-2024
email : keturah.reid@yahoo.com
street : 747 SE. Beech Ave.
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1151:
customer_id : 1151
first_name : Herminia
last_name : Reyes
phone : None
email : herminia.reyes@gmail.com
street : 782 Stonybrook Street
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1152:
customer_id : 1152
first_name : Tuyet
last_name : Rosa
phone : None
email : tuyet.rosa@aol.com
street : 9038 Golden Star Street
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1153:
customer_id : 1153
first_name : Ara
last_name : Vazquez
phone : None
email : ara.vazquez@msn.com
street : 343 2nd Court
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1154:
customer_id : 1154
first_name : Barry
last_name : Albert
phone : None
email : barry.albert@gmail.com
street : 13 Grand St.
city : Auburn
state : NY
zip_code : 13021
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1155:
customer_id : 1155
first_name : Verdell
last_name : Joyner
phone : None
email : verdell.joyner@aol.com
street : 9191 Sierra St.
city : Far Rockaway
state : NY
zip_code : 11691
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1156:
customer_id : 1156
first_name : Han
last_name : Wade
phone : None
email : han.wade@hotmail.com
street : 587 Sulphur Springs St.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1157:
customer_id : 1157
first_name : Anton
last_name : Barton
phone : (716) 472-3707
email : anton.barton@msn.com
street : 7284 East Indian Spring Rd.
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1158:
customer_id : 1158
first_name : Vito
last_name : Pickett
phone : None
email : vito.pickett@hotmail.com
street : 93 High Point Street
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1159:
customer_id : 1159
first_name : Charlene
last_name : Norris
phone : None
email : charlene.norris@msn.com
street : 972 South Sierra Drive
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1160:
customer_id : 1160
first_name : Efren
last_name : Whitfield
phone : None
email : efren.whitfield@gmail.com
street : 139 Union Rd.
city : Euless
state : TX
zip_code : 76039
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1161:
customer_id : 1161
first_name : Santa
last_name : Larson
phone : None
email : santa.larson@gmail.com
street : 5 Bellevue Dr.
city : Valley Stream
state : NY
zip_code : 11580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1162:
customer_id : 1162
first_name : Carmelina
last_name : Sellers
phone : None
email : carmelina.sellers@hotmail.com
street : 12 Race St.
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1163:
customer_id : 1163
first_name : Carmela
last_name : Hays
phone : None
email : carmela.hays@aol.com
street : 149 Pennington Ave.
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1164:
customer_id : 1164
first_name : Patrina
last_name : Tanner
phone : None
email : patrina.tanner@gmail.com
street : 7136 Selby Road
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1165:
customer_id : 1165
first_name : Rikki
last_name : Morrow
phone : (682) 936-1482
email : rikki.morrow@hotmail.com
street : 7096 Plumb Branch Road
city : Fort Worth
state : TX
zip_code : 76110
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1166:
customer_id : 1166
first_name : Junita
last_name : Reese
phone : None
email : junita.reese@gmail.com
street : 8773 North Walt Whitman Court
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1167:
customer_id : 1167
first_name : Ryan
last_name : Carter
phone : None
email : ryan.carter@yahoo.com
street : 8684 Studebaker Road
city : Nanuet
state : NY
zip_code : 10954
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1168:
customer_id : 1168
first_name : Almeta
last_name : Benjamin
phone : None
email : almeta.benjamin@aol.com
street : 8456 Oakwood St.
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1169:
customer_id : 1169
first_name : Beatris
last_name : Joyner
phone : None
email : beatris.joyner@gmail.com
street : 7463 Gonzales Rd.
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1170:
customer_id : 1170
first_name : Mechelle
last_name : Chan
phone : None
email : mechelle.chan@gmail.com
street : 458 Overlook Street
city : Richmond Hill
state : NY
zip_code : 11418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1171:
customer_id : 1171
first_name : Earlean
last_name : Pena
phone : None
email : earlean.pena@yahoo.com
street : 7698 Fulton St.
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1172:
customer_id : 1172
first_name : Katherin
last_name : Clark
phone : None
email : katherin.clark@yahoo.com
street : 996 Iroquois Street
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1173:
customer_id : 1173
first_name : Chanel
last_name : May
phone : None
email : chanel.may@msn.com
street : 806 Saxton Court
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1174:
customer_id : 1174
first_name : Aaron
last_name : Knapp
phone : (914) 402-4335
email : aaron.knapp@yahoo.com
street : 807 Grandrose Ave.
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1175:
customer_id : 1175
first_name : Sindy
last_name : Anderson
phone : None
email : sindy.anderson@gmail.com
street : 543 Halifax Ave.
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1176:
customer_id : 1176
first_name : Sheree
last_name : Blanchard
phone : None
email : sheree.blanchard@gmail.com
street : 41 Glenwood Ave.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1177:
customer_id : 1177
first_name : Charlesetta
last_name : Soto
phone : None
email : charlesetta.soto@yahoo.com
street : 25 South Colonial Drive
city : Poughkeepsie
state : NY
zip_code : 12601
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1178:
customer_id : 1178
first_name : Wendie
last_name : Nash
phone : (805) 389-2549
email : wendie.nash@hotmail.com
street : 9 South Road
city : Oxnard
state : CA
zip_code : 93035
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1179:
customer_id : 1179
first_name : Vernetta
last_name : Banks
phone : None
email : vernetta.banks@aol.com
street : 7633 Albany St.
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1180:
customer_id : 1180
first_name : Myrtle
last_name : Gardner
phone : None
email : myrtle.gardner@aol.com
street : 303 Creekside Street
city : Farmingdale
state : NY
zip_code : 11735
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1181:
customer_id : 1181
first_name : Agustina
last_name : Lawrence
phone : None
email : agustina.lawrence@yahoo.com
street : 9347 Delaware Ave.
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1182:
customer_id : 1182
first_name : Trinidad
last_name : Chapman
phone : None
email : trinidad.chapman@aol.com
street : 7371 Glen Eagles Street
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1183:
customer_id : 1183
first_name : Kim
last_name : Clark
phone : None
email : kim.clark@msn.com
street : 19 Liberty St.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1184:
customer_id : 1184
first_name : Annabelle
last_name : Hebert
phone : None
email : annabelle.hebert@aol.com
street : 9745 Nicolls Lane
city : Spring Valley
state : NY
zip_code : 10977
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1185:
customer_id : 1185
first_name : Corine
last_name : Stuart
phone : None
email : corine.stuart@msn.com
street : 5 Penn Street
city : Clifton Park
state : NY
zip_code : 12065
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1186:
customer_id : 1186
first_name : Kiesha
last_name : Bond
phone : None
email : kiesha.bond@aol.com
street : 29 Marvon St.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1187:
customer_id : 1187
first_name : Kenyetta
last_name : Mason
phone : None
email : kenyetta.mason@msn.com
street : 98 Poplar Ave.
city : Flushing
state : NY
zip_code : 11354
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1188:
customer_id : 1188
first_name : Marcene
last_name : Curtis
phone : (914) 361-6045
email : marcene.curtis@msn.com
street : 7699 Illinois Lane
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1189:
customer_id : 1189
first_name : Sheila
last_name : Goodman
phone : None
email : sheila.goodman@msn.com
street : 9586 Chestnut St.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1190:
customer_id : 1190
first_name : Romeo
last_name : Steele
phone : None
email : romeo.steele@msn.com
street : 162 Crescent Lane
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1191:
customer_id : 1191
first_name : Tam
last_name : Fisher
phone : (507) 351-9375
email : tam.fisher@aol.com
street : 8000 Woodsman Lane
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1192:
customer_id : 1192
first_name : Gena
last_name : Owens
phone : None
email : gena.owens@gmail.com
street : 43 Buckingham St.
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1193:
customer_id : 1193
first_name : Phebe
last_name : Soto
phone : None
email : phebe.soto@hotmail.com
street : 9239 Leatherwood Rd.
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1194:
customer_id : 1194
first_name : Leticia
last_name : Snyder
phone : None
email : leticia.snyder@yahoo.com
street : 173 Lyme Dr.
city : Pittsford
state : NY
zip_code : 14534
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1195:
customer_id : 1195
first_name : Chantell
last_name : Bridges
phone : (716) 941-6072
email : chantell.bridges@yahoo.com
street : 8478 N. Wrangler Dr.
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1196:
customer_id : 1196
first_name : Ileana
last_name : Holt
phone : None
email : ileana.holt@msn.com
street : 817 Adams St.
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1197:
customer_id : 1197
first_name : Nakisha
last_name : Clay
phone : None
email : nakisha.clay@gmail.com
street : 8996 Beechwood Ave.
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1198:
customer_id : 1198
first_name : Cheryll
last_name : Snyder
phone : None
email : cheryll.snyder@yahoo.com
street : 77 E. Liberty St.
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1199:
customer_id : 1199
first_name : Consuela
last_name : Collier
phone : None
email : consuela.collier@msn.com
street : 338 S. Holly Avenue
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1200:
customer_id : 1200
first_name : Aubrey
last_name : Durham
phone : None
email : aubrey.durham@aol.com
street : 14 Foster Ave.
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1201:
customer_id : 1201
first_name : Nita
last_name : Guy
phone : None
email : nita.guy@hotmail.com
street : 75 Academy Street
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1202:

customer_id : 1202
first_name : Carmina
last_name : Emerson
phone : None
email : carmina.emerson@hotmail.com
street : 7137 Monroe Road
city : Banning
state : CA
zip_code : 92220
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1203:
customer_id : 1203
first_name : Georgeann
last_name : Rojas
phone : None
email : georgeann.rojas@msn.com
street : 691 Devon Ave.
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1204:
customer_id : 1204
first_name : Leslie
last_name : Higgins
phone : None
email : leslie.higgins@hotmail.com
street : 805 Logan Ave.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1205:
customer_id : 1205
first_name : Emmaline
last_name : Huber
phone : None
email : emmaline.huber@gmail.com
street : 7975 Harrison Rd.
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1206:
customer_id : 1206
first_name : Mercy
last_name : Brown
phone : None
email : mercy.brown@msn.com
street : 8207 Central Street
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1207:
customer_id : 1207
first_name : Jenell
last_name : Crosby
phone : (631) 544-4772
email : jenell.crosby@hotmail.com
street : 507 Fulton Street
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1208:
customer_id : 1208
first_name : Leila
last_name : Barr
phone : None
email : leila.barr@yahoo.com
street : 120 Fremont Rd.
city : Carmel
state : NY
zip_code : 10512
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1209:
customer_id : 1209
first_name : Deandrea
last_name : Cox
phone : None
email : deandrea.cox@msn.com
street : 617 Sycamore Street
city : Huntington
state : NY
zip_code : 11743
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1210:
customer_id : 1210
first_name : Shawnna
last_name : Frank
phone : None
email : shawnna.frank@hotmail.com
street : 17 NW. Cottage Lane
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1211:
customer_id : 1211
first_name : Brenton
last_name : Whitaker
phone : None
email : brenton.whitaker@gmail.com
street : 25 Elmwood Rd.
city : Niagara Falls
state : NY
zip_code : 14304
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1212:
customer_id : 1212
first_name : Jaqueline
last_name : Cummings
phone : None
email : jaqueline.cummings@hotmail.com
street : 478 Wrangler St.
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1213:
customer_id : 1213
first_name : Yang
last_name : Giles
phone : None
email : yang.giles@gmail.com
street : 25 Bridle Lane
city : San Angelo
state : TX
zip_code : 76901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1214:
customer_id : 1214
first_name : Brigid
last_name : Sharp
phone : None
email : brigid.sharp@hotmail.com
street : 495 Sleepy Hollow Court
city : Santa Clara
state : CA
zip_code : 95050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1215:
customer_id : 1215
first_name : Karl
last_name : Stephens
phone : None
email : karl.stephens@gmail.com
street : 208 Thatcher Rd.
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1216:
customer_id : 1216
first_name : Elvina
last_name : Gates
phone : None
email : elvina.gates@hotmail.com
street : 112 Smith St.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1217:
customer_id : 1217
first_name : Carlie
last_name : Terrell
phone : (914) 517-8036
email : carlie.terrell@yahoo.com
street : 7437 Snake Hill Road
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1218:
customer_id : 1218
first_name : Donovan
last_name : Cantrell
phone : (510) 624-3824
email : donovan.cantrell@msn.com
street : 601 Winchester Dr.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1219:
customer_id : 1219
first_name : Alden
last_name : Atkinson
phone : None
email : alden.atkinson@gmail.com
street : 46 Valley St.
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1220:
customer_id : 1220
first_name : Carissa
last_name : Cross
phone : None
email : carissa.cross@yahoo.com
street : 9335 West Main Dr.
city : Huntington Station
state : NY
zip_code : 11746
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1221:
customer_id : 1221
first_name : Joy
last_name : Underwood
phone : None
email : joy.underwood@gmail.com
street : 7297 Armstrong Dr.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1222:
customer_id : 1222
first_name : Geraldine
last_name : O'donnell
phone : None
email : geraldine.o'donnell@hotmail.com
street : 8241 Lookout Rd.
city : Flushing
state : NY
zip_code : 11354
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1223:
customer_id : 1223
first_name : Bronwyn
last_name : Vargas
phone : None
email : bronwyn.vargas@msn.com
street : 35 James Street
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1224:
customer_id : 1224
first_name : Abram
last_name : Copeland
phone : None
email : abram.copeland@gmail.com
street : 9782 Indian Spring Lane
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1225:
customer_id : 1225
first_name : Mellisa
last_name : Griffin
phone : None
email : mellisa.griffin@msn.com
street : 49 Alton Circle
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1226:
customer_id : 1226
first_name : Qiana
last_name : Jackson
phone : None
email : qiana.jackson@gmail.com
street : 56 Galvin Street
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1227:
customer_id : 1227
first_name : Magali
last_name : Dixon
phone : (248) 279-5331
email : magali.dixon@msn.com
street : 815 Del Monte Court
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1228:
customer_id : 1228
first_name : Zulema
last_name : Clemons
phone : (510) 565-8496
email : zulema.clemons@aol.com
street : 75 W. Howard St.
city : Oakland
state : CA
zip_code : 94603
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1229:
customer_id : 1229
first_name : Carina
last_name : Lynch
phone : None
email : carina.lynch@gmail.com
street : 64 Jennings Road
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1230:
customer_id : 1230
first_name : Jesus
last_name : Burch
phone : None
email : jesus.burch@hotmail.com
street : 7024 Squaw Creek Street
city : Desoto
state : TX
zip_code : 75115
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1231:
customer_id : 1231
first_name : Selene
last_name : Vega
phone : None
email : selene.vega@gmail.com
street : 11 Sierra St.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1232:
customer_id : 1232
first_name : Jong
last_name : Guthrie
phone : None
email : jong.guthrie@hotmail.com
street : 889 Leatherwood Drive
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1233:
customer_id : 1233
first_name : Lise
last_name : Hebert
phone : None
email : lise.hebert@gmail.com
street : 140 East Broad Lane
city : Vista
state : CA
zip_code : 92083
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1234:
customer_id : 1234
first_name : Joshua
last_name : Berg
phone : None
email : joshua.berg@hotmail.com
street : 16 East St.
city : Ossining
state : NY
zip_code : 10562
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1235:
customer_id : 1235
first_name : Georgina
last_name : Gonzales
phone : None
email : georgina.gonzales@yahoo.com
street : 307 Chapel St.
city : Endicott
state : NY
zip_code : 13760
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1236:
customer_id : 1236
first_name : Rudolph
last_name : Velez
phone : None
email : rudolph.velez@yahoo.com
street : 9397 Pleasant Drive
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1237:
customer_id : 1237
first_name : Luke
last_name : Kramer
phone : None
email : luke.kramer@hotmail.com
street : 7955 Delaware Drive
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1238:
customer_id : 1238
first_name : Edgar
last_name : Quinn
phone : None
email : edgar.quinn@aol.com
street : 556 Dogwood Ave.
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1239:
customer_id : 1239
first_name : Tara
last_name : Maynard
phone : None
email : tara.maynard@hotmail.com
street : 9375 Fordham Street
city : Lindenhurst
state : NY
zip_code : 11757
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1240:
customer_id : 1240
first_name : Bella
last_name : Perez
phone : None
email : bella.perez@msn.com
street : 43 Green Lake Street
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1241:
customer_id : 1241
first_name : Nathaniel
last_name : Davidson
phone : None
email : nathaniel.davidson@hotmail.com
street : 7476 Henry Smith Street
city : Rome
state : NY
zip_code : 13440
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1242:
customer_id : 1242
first_name : Chauncey
last_name : Donaldson
phone : None
email : chauncey.donaldson@aol.com
street : 7412 Golf Ave.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1243:
customer_id : 1243
first_name : Heide
last_name : Reed
phone : None
email : heide.reed@yahoo.com
street : 9174 Coffee Drive
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1244:
customer_id : 1244
first_name : Trang
last_name : Hardin
phone : None
email : trang.hardin@yahoo.com
street : 9255 Myers Drive
city : Depew
state : NY
zip_code : 14043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1245:
customer_id : 1245
first_name : Gabriela
last_name : Warren
phone : (562) 986-2247
email : gabriela.warren@aol.com
street : 9947 Brewery Ave.
city : Long Beach
state : NY
zip_code : 11561
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1246:
customer_id : 1246
first_name : Dale
last_name : Rasmussen
phone : None
email : dale.rasmussen@aol.com
street : 8590 Adams Street
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1247:
customer_id : 1247
first_name : Tammie
last_name : Cherry
phone : None
email : tammie.cherry@hotmail.com
street : 791 Wakehurst Dr.
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1248:
customer_id : 1248
first_name : Bethany
last_name : Herring
phone : None
email : bethany.herring@yahoo.com
street : 7563 High Point Street
city : Port Jefferson Station
state : NY
zip_code : 11776
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1249:
customer_id : 1249
first_name : Barbra
last_name : Dickerson
phone : None
email : barbra.dickerson@gmail.com
street : 8424 E. Rockcrest Dr.
city : Ridgecrest
state : CA
zip_code : 93555
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1250:
customer_id : 1250
first_name : Neoma
last_name : Daugherty
phone : None
email : neoma.daugherty@gmail.com
street : 80 Spring Street
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1251:
customer_id : 1251
first_name : Nanette
last_name : Roman
phone : None
email : nanette.roman@yahoo.com
street : 8254 North Riverview Street
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1252:
customer_id : 1252
first_name : Adriene
last_name : Rollins
phone : None
email : adriene.rollins@msn.com
street : 55 Cambridge Street
city : Plainview
state : NY
zip_code : 11803
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1253:
customer_id : 1253
first_name : Susannah
last_name : Fields
phone : None
email : susannah.fields@hotmail.com
street : 17 Railroad Street
city : Far Rockaway
state : NY
zip_code : 11691
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1254:
customer_id : 1254
first_name : Dung
last_name : Reid
phone : None
email : dung.reid@msn.com
street : 468 West Washington Ave.
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1255:
customer_id : 1255
first_name : Ben
last_name : Stone
phone : None
email : ben.stone@gmail.com
street : 8855 University St.
city : Ithaca
state : NY
zip_code : 14850
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1256:
customer_id : 1256
first_name : Nubia
last_name : Anderson
phone : None
email : nubia.anderson@aol.com
street : 584 NW. Hilldale Drive
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1257:
customer_id : 1257
first_name : Rosamaria
last_name : Meyer
phone : None
email : rosamaria.meyer@yahoo.com
street : 446 Elizabeth St.
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1258:
customer_id : 1258
first_name : Todd
last_name : Waters
phone : None
email : todd.waters@yahoo.com
street : 92 Cedar Swamp Street
city : Bay Shore
state : NY
zip_code : 11706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1259:
customer_id : 1259
first_name : Kimbery
last_name : Nieves
phone : None
email : kimbery.nieves@msn.com
street : 768 Roehampton St.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1260:
customer_id : 1260
first_name : Phuong
last_name : Wolf
phone : None
email : phuong.wolf@yahoo.com
street : 7765 N. Annadale Dr.
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1261:
customer_id : 1261
first_name : Adelaida
last_name : Hancock
phone : None
email : adelaida.hancock@aol.com
street : 669 S. Gartner Street
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1262:
customer_id : 1262
first_name : Brianne
last_name : Hays
phone : None
email : brianne.hays@gmail.com
street : 88 Tailwater Ave.
city : San Pablo
state : CA
zip_code : 94806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1263:
customer_id : 1263
first_name : Rufina
last_name : Chandler
phone : None
email : rufina.chandler@aol.com
street : 7985 Alderwood Street
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1264:
customer_id : 1264
first_name : Devin
last_name : Velazquez
phone : (631) 254-8497
email : devin.velazquez@aol.com
street : 61 Redwood St.
city : Brentwood
state : NY
zip_code : 11717
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1265:
customer_id : 1265
first_name : Bonita
last_name : Marshall
phone : None
email : bonita.marshall@msn.com
street : 48 Bald Hill Drive
city : Endicott
state : NY
zip_code : 13760
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1266:
customer_id : 1266
first_name : Myrl
last_name : Gay
phone : None
email : myrl.gay@hotmail.com
street : 8708 Taylor Lane
city : Garland
state : TX
zip_code : 75043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1267:
customer_id : 1267
first_name : Earline
last_name : Gordon
phone : None
email : earline.gordon@gmail.com
street : 81 Railroad Drive
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1268:
customer_id : 1268
first_name : Sung
last_name : Chambers
phone : None
email : sung.chambers@gmail.com
street : 369 N. Virginia Street
city : Kingston
state : NY
zip_code : 12401
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1269:
customer_id : 1269
first_name : Gustavo
last_name : Gamble
phone : None
email : gustavo.gamble@msn.com
street : 8054 W. Meadowbrook Street
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1270:
customer_id : 1270
first_name : Ciera
last_name : Webb
phone : None
email : ciera.webb@yahoo.com
street : 958 Anderson Ave.
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1271:
customer_id : 1271
first_name : Roy
last_name : Chan
phone : None
email : roy.chan@hotmail.com
street : 7578 Middle River St.
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1272:
customer_id : 1272
first_name : Houston
last_name : Vasquez
phone : None
email : houston.vasquez@msn.com
street : 845 Aspen Street
city : Fullerton
state : CA
zip_code : 92831
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1273:
customer_id : 1273
first_name : Cheree
last_name : Hale
phone : None
email : cheree.hale@yahoo.com
street : 95 Lyme Avenue
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1274:
customer_id : 1274
first_name : Odette
last_name : Moses
phone : None
email : odette.moses@gmail.com
street : 899 Overlook Lane
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1275:
customer_id : 1275
first_name : Lenita
last_name : Bonner
phone : None
email : lenita.bonner@aol.com
street : 7286 Swanson Drive
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1276:
customer_id : 1276
first_name : Shona
last_name : Mcmillan
phone : None
email : shona.mcmillan@msn.com
street : 57 West Maple Dr.
city : Apple Valley
state : CA
zip_code : 92307
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1277:
customer_id : 1277
first_name : Piedad
last_name : Irwin
phone : None
email : piedad.irwin@hotmail.com
street : 581 Garden St.
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1278:
customer_id : 1278
first_name : Loan
last_name : Graham
phone : None
email : loan.graham@yahoo.com
street : 57 Glen Eagles St.
city : Jackson Heights
state : NY
zip_code : 11372
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1279:
customer_id : 1279
first_name : Stan
last_name : Saunders
phone : None
email : stan.saunders@yahoo.com
street : 407 Essex Dr.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1280:
customer_id : 1280
first_name : Jackeline
last_name : Colon
phone : None
email : jackeline.colon@msn.com
street : 9916 Cedarwood Drive
city : Wappingers Falls
state : NY
zip_code : 12590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1281:
customer_id : 1281
first_name : Marlen
last_name : Dawson
phone : None
email : marlen.dawson@msn.com
street : 67 Oak Valley Street
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1282:
customer_id : 1282
first_name : Alexis
last_name : Mack
phone : (845) 707-6088
email : alexis.mack@aol.com
street : 7767 Sutor Ave.
city : New City
state : NY
zip_code : 10956
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1283:
customer_id : 1283
first_name : Mica
last_name : Barry
phone : None
email : mica.barry@yahoo.com
street : 3 SE. Sugar St.
city : Hopewell Junction
state : NY
zip_code : 12533
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1284:
customer_id : 1284
first_name : Shanice
last_name : Spears
phone : None
email : shanice.spears@msn.com
street : 5 Piper Ave.
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1285:
customer_id : 1285
first_name : Garth
last_name : Huff
phone : None
email : garth.huff@yahoo.com
street : 794 East University St.
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1286:
customer_id : 1286
first_name : Dione
last_name : Pratt
phone : None
email : dione.pratt@msn.com
street : 864 Winding Way St.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1287:
customer_id : 1287
first_name : Victor
last_name : Pittman
phone : None
email : victor.pittman@aol.com
street : 9294 Devon Dr.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1288:
customer_id : 1288
first_name : Allie
last_name : Conley
phone : None
email : allie.conley@msn.com
street : 96 High Point Road
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1289:
customer_id : 1289
first_name : Shanelle
last_name : Anderson
phone : None
email : shanelle.anderson@yahoo.com
street : 646 Surrey Street
city : Bethpage
state : NY
zip_code : 11714
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1290:
customer_id : 1290
first_name : Minnie
last_name : Compton
phone : None
email : minnie.compton@gmail.com
street : 185 Hudson Street
city : South Richmond Hill
state : NY
zip_code : 11419
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1291:
customer_id : 1291
first_name : Shiloh
last_name : Bates
phone : None
email : shiloh.bates@msn.com
street : 15 Wellington Dr.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1292:
customer_id : 1292
first_name : Lakenya
last_name : Oliver
phone : None
email : lakenya.oliver@yahoo.com
street : 82 Bayport Court
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1293:
customer_id : 1293
first_name : Sally
last_name : Kinney
phone : None
email : sally.kinney@msn.com
street : 7565 High Dr.
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1294:
customer_id : 1294
first_name : Edith
last_name : Davenport
phone : None
email : edith.davenport@gmail.com
street : 685 Alton Road
city : Ontario
state : CA
zip_code : 91762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1295:
customer_id : 1295
first_name : Alline
last_name : Beasley
phone : None
email : alline.beasley@yahoo.com
street : 8704 NE. Olive Ave.
city : North Tonawanda
state : NY
zip_code : 14120
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1296:
customer_id : 1296
first_name : Travis
last_name : Whitley
phone : None
email : travis.whitley@aol.com
street : 60 Euclid Ave.
city : Saint Albans
state : NY
zip_code : 11412
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1297:
customer_id : 1297
first_name : Vanessa
last_name : West
phone : None
email : vanessa.west@gmail.com
street : 34 Prairie Lane
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1298:
customer_id : 1298
first_name : Trudy
last_name : Riddle
phone : None
email : trudy.riddle@aol.com
street : 8943 Johnson Street
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1299:
customer_id : 1299
first_name : Shauna
last_name : Edwards
phone : None
email : shauna.edwards@msn.com
street : 8 Dogwood Ave.
city : Yorktown Heights
state : NY
zip_code : 10598
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1300:
customer_id : 1300
first_name : Clorinda
last_name : Donovan
phone : None
email : clorinda.donovan@msn.com
street : 9690 E. Morris Ave.
city : Jamestown
state : NY
zip_code : 14701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1301:
customer_id : 1301
first_name : Raven
last_name : Curtis
phone : None
email : raven.curtis@aol.com
street : 18 Summit Lane
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1302:
customer_id : 1302
first_name : Verda
last_name : Gilbert
phone : None
email : verda.gilbert@gmail.com
street : 54 Hillcrest Drive
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1303:
customer_id : 1303
first_name : Renay
last_name : Atkins
phone : None
email : renay.atkins@aol.com
street : 7146 Leeton Ridge Ave.
city : Woodside
state : NY
zip_code : 11377
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1304:
customer_id : 1304
first_name : Tama
last_name : Berg
phone : None
email : tama.berg@hotmail.com
street : 3 Cardinal Avenue
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1305:
customer_id : 1305
first_name : Dalia
last_name : Carson
phone : (507) 186-2004
email : dalia.carson@aol.com
street : 7175 Galvin St.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1306:
customer_id : 1306
first_name : America
last_name : Swanson
phone : None
email : america.swanson@msn.com
street : 83 South Arlington Lane
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1307:
customer_id : 1307
first_name : Cinda
last_name : Rocha
phone : None
email : cinda.rocha@hotmail.com
street : 926 North Oklahoma Dr.
city : Los Banos
state : CA
zip_code : 93635
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1308:
customer_id : 1308
first_name : Shea
last_name : Howell
phone : None
email : shea.howell@msn.com
street : 67 Arch Rd.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1309:
customer_id : 1309
first_name : Kimberli
last_name : Cline
phone : None
email : kimberli.cline@yahoo.com
street : 7115 Stonybrook Court
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1310:
customer_id : 1310
first_name : Emanuel
last_name : Mckee
phone : None
email : emanuel.mckee@yahoo.com
street : 9411 Lake Dr.
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1311:
customer_id : 1311
first_name : Whitley
last_name : Cannon
phone : None
email : whitley.cannon@msn.com
street : 614 High Point Lane
city : Coram
state : NY
zip_code : 11727
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1312:
customer_id : 1312
first_name : Tereasa
last_name : Bird
phone : None
email : tereasa.bird@aol.com
street : 7526 Vine Drive
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1313:
customer_id : 1313
first_name : Dante
last_name : Grimes
phone : None
email : dante.grimes@yahoo.com
street : 23 Shore St.
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1314:
customer_id : 1314
first_name : Joeann
last_name : Garrison
phone : None
email : joeann.garrison@yahoo.com
street : 1 Harrison St.
city : Ontario
state : CA
zip_code : 91762
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1315:
customer_id : 1315
first_name : Omega
last_name : Johnston
phone : None
email : omega.johnston@gmail.com
street : 9935 Tarkiln Hill St.
city : Canyon Country
state : CA
zip_code : 91387
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1316:
customer_id : 1316
first_name : Conrad
last_name : Mueller
phone : None
email : conrad.mueller@yahoo.com
street : 3 Myrtle St.
city : Massapequa
state : NY
zip_code : 11758
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1317:
customer_id : 1317
first_name : Glady
last_name : Wells
phone : None
email : glady.wells@gmail.com
street : 627 Ramblewood Ave.
city : Syosset
state : NY
zip_code : 11791
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1318:
customer_id : 1318
first_name : Tisha
last_name : Petty
phone : (210) 851-3122
email : tisha.petty@msn.com
street : 9083 Lake View Ave.
city : San Antonio
state : TX
zip_code : 78213
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1319:
customer_id : 1319
first_name : Claris
last_name : Santiago
phone : None
email : claris.santiago@msn.com
street : 763 Mountainview Dr.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1320:
customer_id : 1320
first_name : Obdulia
last_name : Barber
phone : None
email : obdulia.barber@gmail.com
street : 878 Lexington Rd.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1321:
customer_id : 1321
first_name : Shantel
last_name : Gregory
phone : None
email : shantel.gregory@yahoo.com
street : 7722 Second Lane
city : West Islip
state : NY
zip_code : 11795
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1322:
customer_id : 1322
first_name : Ai
last_name : Forbes
phone : None
email : ai.forbes@yahoo.com
street : 254 Central St.
city : Franklin Square
state : NY
zip_code : 11010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1323:
customer_id : 1323
first_name : Ebony
last_name : Cotton
phone : None
email : ebony.cotton@yahoo.com
street : 8979 Miller St.
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1324:
customer_id : 1324
first_name : Arla
last_name : Ellis
phone : None
email : arla.ellis@yahoo.com
street : 127 Crescent Ave.
city : Utica
state : NY
zip_code : 13501
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1325:
customer_id : 1325
first_name : Magdalena
last_name : Sherman
phone : None
email : magdalena.sherman@gmail.com
street : 176 Sunbeam St.
city : Oswego
state : NY
zip_code : 13126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1326:
customer_id : 1326
first_name : Tarra
last_name : Guerrero
phone : None
email : tarra.guerrero@aol.com
street : 10 Baker St.
city : Auburn
state : NY
zip_code : 13021
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1327:
customer_id : 1327
first_name : Consuela
last_name : Romero
phone : None
email : consuela.romero@hotmail.com
street : 54 Elm Court
city : Monroe
state : NY
zip_code : 10950
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1328:
customer_id : 1328
first_name : Cindie
last_name : Franklin
phone : None
email : cindie.franklin@yahoo.com
street : 7249 Franklin St.
city : Lawndale
state : CA
zip_code : 90260
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1329:
customer_id : 1329
first_name : Sharyn
last_name : Brewer
phone : None
email : sharyn.brewer@aol.com
street : 70 Columbia Ave.
city : Hollis
state : NY
zip_code : 11423
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1330:
customer_id : 1330
first_name : Karren
last_name : Stevenson
phone : None
email : karren.stevenson@aol.com
street : 155 Old York St.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1331:
customer_id : 1331
first_name : Divina
last_name : Reeves
phone : None
email : divina.reeves@hotmail.com
street : 767 Bradford Dr.
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1332:
customer_id : 1332
first_name : Novella
last_name : Ross
phone : None
email : novella.ross@gmail.com
street : 9418 Acacia Drive
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1333:
customer_id : 1333
first_name : Omega
last_name : Huff
phone : None
email : omega.huff@aol.com
street : 63 Devon St.
city : Santa Monica
state : CA
zip_code : 90403
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1334:
customer_id : 1334
first_name : Ashleigh
last_name : Finch
phone : None
email : ashleigh.finch@yahoo.com
street : 82 Hudson Court
city : Newburgh
state : NY
zip_code : 12550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1335:
customer_id : 1335
first_name : Corina
last_name : Lynch
phone : None
email : corina.lynch@msn.com
street : 44 Sunbeam Dr.
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1336:
customer_id : 1336
first_name : Joe
last_name : Melton
phone : None
email : joe.melton@gmail.com
street : 8998 Hartford Street
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1337:
customer_id : 1337
first_name : Bernetta
last_name : Summers
phone : None
email : bernetta.summers@aol.com
street : 1 Young Ave.
city : Longview
state : TX
zip_code : 75604
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1338:
customer_id : 1338
first_name : Inez
last_name : Snider
phone : None
email : inez.snider@gmail.com
street : 837 Catherine Lane
city : Ronkonkoma
state : NY
zip_code : 11779
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1339:
customer_id : 1339
first_name : Neida
last_name : King
phone : (442) 778-1121
email : neida.king@aol.com
street : 137 Bohemia St.
city : Oceanside
state : NY
zip_code : 11572
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1340:
customer_id : 1340
first_name : Tona
last_name : Velasquez
phone : None
email : tona.velasquez@msn.com
street : 9166 Trout St.
city : Whitestone
state : NY
zip_code : 11357
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1341:
customer_id : 1341
first_name : Rozanne
last_name : Reyes
phone : None
email : rozanne.reyes@aol.com
street : 11 W. Surrey Drive
city : Garden City
state : NY
zip_code : 11530
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1342:
customer_id : 1342
first_name : Lekisha
last_name : Pope
phone : None
email : lekisha.pope@msn.com
street : 390 Livingston Avenue
city : Freeport
state : NY
zip_code : 11520
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1343:
customer_id : 1343
first_name : Jama
last_name : Rodriquez
phone : None
email : jama.rodriquez@msn.com
street : 681 Smith Dr.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1344:
customer_id : 1344
first_name : Eloisa
last_name : Tucker
phone : None
email : eloisa.tucker@hotmail.com
street : 7268 Leatherwood Ave.
city : Howard Beach
state : NY
zip_code : 11414
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1345:
customer_id : 1345
first_name : Arie
last_name : Hunter
phone : None
email : arie.hunter@msn.com
street : 66 Old State Rd.
city : Flushing
state : NY
zip_code : 11354
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1346:
customer_id : 1346
first_name : Sanora
last_name : Webster
phone : (424) 464-7290
email : sanora.webster@msn.com
street : 74 Beach St.
city : Los Angeles
state : CA
zip_code : 90008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1347:
customer_id : 1347
first_name : Kate
last_name : Barber
phone : None
email : kate.barber@hotmail.com
street : 46 W. Oak Valley Ave.
city : Saratoga Springs
state : NY
zip_code : 12866
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1348:
customer_id : 1348
first_name : Yvone
last_name : Guerrero
phone : None
email : yvone.guerrero@aol.com
street : 8548 Jackson Ave.
city : Merrick
state : NY
zip_code : 11566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1349:
customer_id : 1349
first_name : Kami
last_name : Rios
phone : None
email : kami.rios@yahoo.com
street : 8400 8th Dr.
city : Encino
state : CA
zip_code : 91316
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1350:
customer_id : 1350
first_name : Annett
last_name : Rush
phone : None
email : annett.rush@hotmail.com
street : 758 Fordham Lane
city : Rosedale
state : NY
zip_code : 11422
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1351:
customer_id : 1351
first_name : Carman
last_name : Hardy
phone : None
email : carman.hardy@yahoo.com
street : 800 Whitemarsh St.
city : Jamestown
state : NY
zip_code : 14701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1352:
customer_id : 1352
first_name : Dorothea
last_name : Miranda
phone : None
email : dorothea.miranda@aol.com
street : 7882 Parker St.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1353:
customer_id : 1353
first_name : Agatha
last_name : Daniels
phone : None
email : agatha.daniels@yahoo.com
street : 125 Canal St.
city : South El Monte
state : CA
zip_code : 91733
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1354:
customer_id : 1354
first_name : Alexandria
last_name : Zamora
phone : None
email : alexandria.zamora@yahoo.com
street : 95 Cherry Circle
city : Schenectady
state : NY
zip_code : 12302
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1355:
customer_id : 1355
first_name : Thad
last_name : Gilliam
phone : None
email : thad.gilliam@hotmail.com
street : 8844 Gonzales Court
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1356:
customer_id : 1356
first_name : Inger
last_name : Jennings
phone : None
email : inger.jennings@yahoo.com
street : 38 NW. Shore Lane
city : Patchogue
state : NY
zip_code : 11772
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1357:
customer_id : 1357
first_name : Karren
last_name : Lamb
phone : (559) 628-2239
email : karren.lamb@aol.com
street : 35 N. Chapel St.
city : Fresno
state : CA
zip_code : 93706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1358:
customer_id : 1358
first_name : Noble
last_name : Glover
phone : None
email : noble.glover@gmail.com
street : 728 W. Rocky River Street
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1359:
customer_id : 1359
first_name : Octavia
last_name : Donaldson
phone : None
email : octavia.donaldson@hotmail.com
street : 8095 Wayne Ave.
city : Levittown
state : NY
zip_code : 11756
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1360:
customer_id : 1360
first_name : Latashia
last_name : Travis
phone : None
email : latashia.travis@yahoo.com
street : 7877 King Rd.
city : Upland
state : CA
zip_code : 91784
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1361:
customer_id : 1361
first_name : Destiny
last_name : Goodman
phone : None
email : destiny.goodman@msn.com
street : 29 Smoky Hollow St.
city : Westbury
state : NY
zip_code : 11590
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1362:
customer_id : 1362
first_name : Christiana
last_name : Gross
phone : None
email : christiana.gross@yahoo.com
street : 645 North Richardson Road
city : Orchard Park
state : NY
zip_code : 14127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1363:
customer_id : 1363
first_name : Nestor
last_name : Haynes
phone : (281) 969-4579
email : nestor.haynes@msn.com
street : 27 Nut Swamp Street
city : Houston
state : TX
zip_code : 77016
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1364:
customer_id : 1364
first_name : Grisel
last_name : Maynard
phone : None
email : grisel.maynard@msn.com
street : 353 North Arch St.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1365:
customer_id : 1365
first_name : Shenna
last_name : Espinoza
phone : None
email : shenna.espinoza@gmail.com
street : 202 North George Street
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1366:
customer_id : 1366
first_name : Trena
last_name : Rogers
phone : None
email : trena.rogers@aol.com
street : 502 Sherwood St.
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1367:
customer_id : 1367
first_name : Lucile
last_name : Manning
phone : None
email : lucile.manning@yahoo.com
street : 511 Livingston Lane
city : Campbell
state : CA
zip_code : 95008
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1368:
customer_id : 1368
first_name : Veronique
last_name : Fulton
phone : None
email : veronique.fulton@yahoo.com
street : 81 Hilldale Ave.
city : Ballston Spa
state : NY
zip_code : 12020
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1369:
customer_id : 1369
first_name : Starr
last_name : Schneider
phone : None
email : starr.schneider@aol.com
street : 77 Mulberry Street
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1370:
customer_id : 1370
first_name : Rona
last_name : Rojas
phone : (408) 611-3553
email : rona.rojas@gmail.com
street : 815 Riverview St.
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1371:
customer_id : 1371
first_name : Pandora
last_name : Estes
phone : None
email : pandora.estes@aol.com
street : 228 Shadow Brook Drive
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1372:
customer_id : 1372
first_name : Renna
last_name : Williams
phone : None
email : renna.williams@hotmail.com
street : 7398 SW. Glen Ridge Road
city : South Ozone Park
state : NY
zip_code : 11420
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1373:
customer_id : 1373
first_name : Lanora
last_name : Robbins
phone : None
email : lanora.robbins@hotmail.com
street : 31 W. Maiden Lane
city : West Babylon
state : NY
zip_code : 11704
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1374:
customer_id : 1374
first_name : Juliane
last_name : Dillard
phone : None
email : juliane.dillard@aol.com
street : 63 Birchwood Court
city : Glendora
state : CA
zip_code : 91740
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1375:
customer_id : 1375
first_name : Carlena
last_name : Salinas
phone : None
email : carlena.salinas@gmail.com
street : 1 Wagon Street
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1376:
customer_id : 1376
first_name : Kimberley
last_name : Reynolds
phone : None
email : kimberley.reynolds@aol.com
street : 8475 Homewood Street
city : Port Washington
state : NY
zip_code : 11050
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1377:
customer_id : 1377
first_name : Johana
last_name : Jacobson
phone : (507) 407-9384
email : johana.jacobson@gmail.com
street : 29 San Juan St.
city : Rochester
state : NY
zip_code : 14606
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1378:
customer_id : 1378
first_name : Enoch
last_name : Rosario
phone : (559) 329-7615
email : enoch.rosario@hotmail.com
street : 186 Arlington St.
city : Fresno
state : CA
zip_code : 93706
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1379:
customer_id : 1379
first_name : Dorine
last_name : Thornton
phone : None
email : dorine.thornton@gmail.com
street : 8730 N. Atlantic Street
city : Sunnyside
state : NY
zip_code : 11104
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1380:
customer_id : 1380
first_name : Eliz
last_name : Lynch
phone : None
email : eliz.lynch@hotmail.com
street : 717 West Deerfield Ave.
city : Uniondale
state : NY
zip_code : 11553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1381:
customer_id : 1381
first_name : Mercedez
last_name : Brooks
phone : None
email : mercedez.brooks@hotmail.com
street : 7483 Ann St.
city : Duarte
state : CA
zip_code : 91010
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1382:
customer_id : 1382
first_name : Wynona
last_name : Douglas
phone : None
email : wynona.douglas@msn.com
street : 6 Country Ave.
city : Harlingen
state : TX
zip_code : 78552
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1383:
customer_id : 1383
first_name : Desire
last_name : Mcgowan
phone : (661) 800-8091
email : desire.mcgowan@msn.com
street : 942 North Ohio Road
city : Bakersfield
state : CA
zip_code : 93306
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1384:
customer_id : 1384
first_name : Elmo
last_name : Sweeney
phone : None
email : elmo.sweeney@yahoo.com
street : 43 Arch Ave.
city : San Carlos
state : CA
zip_code : 94070
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1385:
customer_id : 1385
first_name : Kenton
last_name : Hughes
phone : None
email : kenton.hughes@gmail.com
street : 632 Sleepy Hollow Drive
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1386:
customer_id : 1386
first_name : Cesar
last_name : Wilkins
phone : (619) 685-5786
email : cesar.wilkins@hotmail.com
street : 7 Inverness St.
city : San Diego
state : CA
zip_code : 92111
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1387:
customer_id : 1387
first_name : Phylicia
last_name : Stout
phone : None
email : phylicia.stout@aol.com
street : 8842 Littleton Lane
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1388:
customer_id : 1388
first_name : Nanette
last_name : Harris
phone : None
email : nanette.harris@hotmail.com
street : 26 Pin Oak Lane
city : East Meadow
state : NY
zip_code : 11554
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1389:
customer_id : 1389
first_name : Ulrike
last_name : Chan
phone : None
email : ulrike.chan@aol.com
street : 7949 Lancaster St.
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1390:
customer_id : 1390
first_name : Genoveva
last_name : Lloyd
phone : None
email : genoveva.lloyd@aol.com
street : 706 Devonshire St.
city : Bayside
state : NY
zip_code : 11361
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1391:
customer_id : 1391
first_name : Sheryl
last_name : Chase
phone : None
email : sheryl.chase@gmail.com
street : 388 Cedar Avenue
city : Floral Park
state : NY
zip_code : 11001
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1392:
customer_id : 1392
first_name : Trista
last_name : Lambert
phone : None
email : trista.lambert@gmail.com
street : 79 River Street
city : Fairport
state : NY
zip_code : 14450
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1393:
customer_id : 1393
first_name : Vivian
last_name : Deleon
phone : None
email : vivian.deleon@msn.com
street : 9925 Hamilton Street
city : Jamaica
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1394:
customer_id : 1394
first_name : Genny
last_name : Fields
phone : None
email : genny.fields@msn.com
street : 9145 San Juan Dr.
city : Amityville
state : NY
zip_code : 11701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1395:
customer_id : 1395
first_name : Eliseo
last_name : Knight
phone : None
email : eliseo.knight@msn.com
street : 693 Holly Street
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1396:
customer_id : 1396
first_name : Delma
last_name : Bailey
phone : (657) 454-8493
email : delma.bailey@gmail.com
street : 9883 West King Lane
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1397:
customer_id : 1397
first_name : Dewayne
last_name : Herring
phone : None
email : dewayne.herring@aol.com
street : 9015 Willow Lane
city : Webster
state : NY
zip_code : 14580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1398:
customer_id : 1398
first_name : Nevada
last_name : Hood
phone : None
email : nevada.hood@aol.com
street : 515 Bank Rd.
city : Hopewell Junction
state : NY
zip_code : 12533
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1399:
customer_id : 1399
first_name : Angelika
last_name : Perry
phone : None
email : angelika.perry@msn.com
street : 7684 South Branch Drive
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1400:
customer_id : 1400
first_name : Shayla
last_name : Hart
phone : None
email : shayla.hart@msn.com
street : 9092 Aspen St.
city : Woodhaven
state : NY
zip_code : 11421
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1401:
customer_id : 1401
first_name : Willetta
last_name : Murphy
phone : None
email : willetta.murphy@msn.com
street : 436 Devonshire Street
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1402:
customer_id : 1402
first_name : Sandee
last_name : Alvarado
phone : None
email : sandee.alvarado@aol.com
street : 69 Bowman Street
city : Depew
state : NY
zip_code : 14043
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1403:
customer_id : 1403
first_name : Mila
last_name : Moody
phone : (248) 234-5902
email : mila.moody@gmail.com
street : 675 Williams St.
city : Troy
state : NY
zip_code : 12180
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1404:
customer_id : 1404
first_name : Loyce
last_name : Conway
phone : None
email : loyce.conway@aol.com
street : 729 State Lane
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1405:
customer_id : 1405
first_name : Thanh
last_name : Figueroa
phone : None
email : thanh.figueroa@yahoo.com
street : 6 Roberts Drive
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1406:
customer_id : 1406
first_name : Farrah
last_name : Orr
phone : None
email : farrah.orr@msn.com
street : 8711 W. Ashley St.
city : New Hyde Park
state : NY
zip_code : 11040
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1407:
customer_id : 1407
first_name : Hugh
last_name : Craft
phone : None
email : hugh.craft@msn.com
street : 8716 Homewood Court
city : Centereach
state : NY
zip_code : 11720
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1408:
customer_id : 1408
first_name : Eleanor
last_name : Mendez
phone : None
email : eleanor.mendez@yahoo.com
street : 4 West St.
city : Port Chester
state : NY
zip_code : 10573
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1409:
customer_id : 1409
first_name : Lamar
last_name : Bush
phone : (716) 294-7174
email : lamar.bush@msn.com
street : 76 Lilac Drive
city : Buffalo
state : NY
zip_code : 14215
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1410:
customer_id : 1410
first_name : Lurlene
last_name : Finch
phone : (914) 367-7691
email : lurlene.finch@msn.com
street : 849 Magnolia St.
city : Yonkers
state : NY
zip_code : 10701
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1411:
customer_id : 1411
first_name : Shanda
last_name : Stevenson
phone : None
email : shanda.stevenson@yahoo.com
street : 9547 N. Courtland St.
city : Freeport
state : NY
zip_code : 11520
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1412:
customer_id : 1412
first_name : Adrien
last_name : Hunter
phone : None
email : adrien.hunter@yahoo.com
street : 720 Thompson Lane
city : Rego Park
state : NY
zip_code : 11374
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1413:
customer_id : 1413
first_name : Ophelia
last_name : Decker
phone : None
email : ophelia.decker@yahoo.com
street : 69 Rockwell Court
city : New Windsor
state : NY
zip_code : 12553
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1414:
customer_id : 1414
first_name : Sonja
last_name : Walls
phone : None
email : sonja.walls@aol.com
street : 30 Marshall Dr.
city : Queensbury
state : NY
zip_code : 12804
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1415:
customer_id : 1415
first_name : Harold
last_name : O'connor
phone : None
email : harold.o'connor@gmail.com
street : 9530 Summerhouse Street
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1416:
customer_id : 1416
first_name : Miranda
last_name : Kennedy
phone : None
email : miranda.kennedy@gmail.com
street : 726 East High St.
city : Astoria
state : NY
zip_code : 11102
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1417:
customer_id : 1417
first_name : Jasper
last_name : Castro
phone : None
email : jasper.castro@aol.com
street : 977 SE. Railroad Road
city : Forney
state : TX
zip_code : 75126
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1418:
customer_id : 1418
first_name : Penni
last_name : Best
phone : (657) 611-2991
email : penni.best@msn.com
street : 875 Second Drive
city : Anaheim
state : CA
zip_code : 92806
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1419:
customer_id : 1419
first_name : Lurlene
last_name : Cotton
phone : None
email : lurlene.cotton@yahoo.com
street : 8218 George St.
city : Pleasanton
state : CA
zip_code : 94566
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1420:
customer_id : 1420
first_name : Kelsey
last_name : Noble
phone : None
email : kelsey.noble@hotmail.com
street : 36 Pearl Court
city : Mount Vernon
state : NY
zip_code : 10550
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1421:
customer_id : 1421
first_name : Edris
last_name : Barrett
phone : None
email : edris.barrett@hotmail.com
street : 36 Pulaski Drive
city : Plattsburgh
state : NY
zip_code : 12901
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1422:
customer_id : 1422
first_name : Tempie
last_name : Jacobson
phone : None
email : tempie.jacobson@hotmail.com
street : 136 Old Fairview St.
city : Smithtown
state : NY
zip_code : 11787
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1423:
customer_id : 1423
first_name : Dollie
last_name : Cervantes
phone : (682) 362-7457
email : dollie.cervantes@aol.com
street : 8828 Applegate Drive
city : Fort Worth
state : TX
zip_code : 76110
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1424:
customer_id : 1424
first_name : Lashunda
last_name : Cole
phone : None
email : lashunda.cole@hotmail.com
street : 783 Baker St.
city : Monsey
state : NY
zip_code : 10952
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1425:
customer_id : 1425
first_name : Justina
last_name : Jenkins
phone : None
email : justina.jenkins@msn.com
street : 345 SE. Green Lane
city : Shirley
state : NY
zip_code : 11967
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1426:
customer_id : 1426
first_name : Londa
last_name : Gould
phone : (361) 206-5550
email : londa.gould@aol.com
street : 9169 Beech Lane
city : Corpus Christi
state : TX
zip_code : 78418
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1427:
customer_id : 1427
first_name : Mikel
last_name : Wilkerson
phone : None
email : mikel.wilkerson@msn.com
street : 9233 Clinton St.
city : Atwater
state : CA
zip_code : 95301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1428:
customer_id : 1428
first_name : Carola
last_name : Johns
phone : None
email : carola.johns@msn.com
street : 7077 Fordham Rd.
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1429:
customer_id : 1429
first_name : Lorrie
last_name : Justice
phone : None
email : lorrie.justice@gmail.com
street : 8396 Brook Drive
city : Pomona
state : CA
zip_code : 91768
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1430:
customer_id : 1430
first_name : Tayna
last_name : Wade
phone : (661) 858-1224
email : tayna.wade@hotmail.com
street : 65 Smith Store Dr.
city : Bakersfield
state : CA
zip_code : 93306
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1431:
customer_id : 1431
first_name : Mark
last_name : Benton
phone : None
email : mark.benton@aol.com
street : 83 Eagle St.
city : East Elmhurst
state : NY
zip_code : 11369
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1432:
customer_id : 1432
first_name : Zona
last_name : Cameron
phone : None
email : zona.cameron@aol.com
street : 42 Bridle Court
city : East Northport
state : NY
zip_code : 11731
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1433:
customer_id : 1433
first_name : Nicola
last_name : Knight
phone : None
email : nicola.knight@aol.com
street : 25 SE. Miles Lane
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1434:
customer_id : 1434
first_name : Elana
last_name : Miles
phone : None
email : elana.miles@yahoo.com
street : 7077 Euclid Ave.
city : Liverpool
state : NY
zip_code : 13090
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1435:
customer_id : 1435
first_name : Merrie
last_name : Fowler
phone : None
email : merrie.fowler@aol.com
street : 532 Leatherwood Ave.
city : Scarsdale
state : NY
zip_code : 10583
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1436:
customer_id : 1436
first_name : Macie
last_name : Ayers
phone : None
email : macie.ayers@msn.com
street : 8730 Longfellow St.
city : Bellmore
state : NY
zip_code : 11710
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1437:
customer_id : 1437
first_name : Son
last_name : Warner
phone : None
email : son.warner@hotmail.com
street : 20 W. Rosewood Ave.
city : Rockville Centre
state : NY
zip_code : 11570
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1438:
customer_id : 1438
first_name : Lee
last_name : Dunn
phone : (408) 807-6157
email : lee.dunn@aol.com
street : 8626 Grand Ave.
city : San Jose
state : CA
zip_code : 95127
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1439:
customer_id : 1439
first_name : Florrie
last_name : Little
phone : None
email : florrie.little@yahoo.com
street : 8330 Marsh St.
city : New Rochelle
state : NY
zip_code : 10801
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1440:
customer_id : 1440
first_name : Ernest
last_name : Rollins
phone : None
email : ernest.rollins@yahoo.com
street : 4 West Ridge Dr.
city : Oakland Gardens
state : NY
zip_code : 11364
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1441:
customer_id : 1441
first_name : Jamaal
last_name : Morrison
phone : None
email : jamaal.morrison@msn.com
street : 796 SE. Nut Swamp St.
city : Staten Island
state : NY
zip_code : 10301
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1442:
customer_id : 1442
first_name : Cassie
last_name : Cline
phone : None
email : cassie.cline@gmail.com
street : 947 Lafayette Drive
city : Brooklyn
state : NY
zip_code : 11201
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1443:
customer_id : 1443
first_name : Lezlie
last_name : Lamb
phone : None
email : lezlie.lamb@gmail.com
street : 401 Brandywine Street
city : Central Islip
state : NY
zip_code : 11722
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1444:
customer_id : 1444
first_name : Ivette
last_name : Estes
phone : None
email : ivette.estes@gmail.com
street : 88 N. Canterbury Ave.
city : Canandaigua
state : NY
zip_code : 14424
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'
Error in row 1445:
customer_id : 1445
first_name : Ester
last_name : Acevedo
phone : None
email : ester.acevedo@gmail.com
street : 671 Miles Court
city : San Lorenzo
state : CA
zip_code : 94580
Error: 1054 (42S22): Unknown column 'first_name' in 'field list'

Error in row 1:
store_id : 1
store_name : Santa Cruz Bikes
phone : (831) 476-4321
email : santacruz@bikes.shop
street : 3700 Portola Drive
city : Santa Cruz
state : CA
zip_code : 95060
Error: 1054 (42S22): Unknown column 'phone' in 'field list'
Error in row 2:
store_id : 2
store_name : Baldwin Bikes
phone : (516) 379-8888
email : baldwin@bikes.shop
street : 4200 Chestnut Lane
city : Baldwin
state : NY
zip_code : 11432
Error: 1054 (42S22): Unknown column 'phone' in 'field list'
Error in row 3:
store_id : 3
store_name : Rowlett Bikes
phone : (972) 530-5555
email : rowlett@bikes.shop
street : 8000 Fairway Avenue
city : Rowlett
state : TX
zip_code : 75088
Error: 1054 (42S22): Unknown column 'phone' in 'field list'
Error in row 1:
order_id : 1.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2:
order_id : 1.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3:
order_id : 1.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4:
order_id : 1.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 5:
order_id : 1.0
item_id : 5.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 6:
order_id : 2.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 7:
order_id : 2.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 8:
order_id : 3.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 9:
order_id : 3.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 10:
order_id : 4.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 11:
order_id : 5.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 12:
order_id : 5.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 13:
order_id : 5.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 14:
order_id : 6.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 15:
order_id : 6.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 16:
order_id : 6.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 17:
order_id : 6.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 18:
order_id : 6.0
item_id : 5.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 19:
order_id : 7.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 20:
order_id : 7.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 21:
order_id : 7.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 22:
order_id : 8.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 23:
order_id : 8.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 24:
order_id : 9.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 25:
order_id : 10.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 26:
order_id : 11.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 27:
order_id : 11.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 28:
order_id : 11.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 29:
order_id : 12.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 30:
order_id : 12.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 31:
order_id : 13.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 32:
order_id : 13.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 33:
order_id : 13.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 34:
order_id : 13.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 35:
order_id : 14.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 36:
order_id : 15.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 37:
order_id : 15.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 38:
order_id : 15.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 39:
order_id : 15.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 40:
order_id : 16.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 41:
order_id : 16.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 42:
order_id : 16.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 43:
order_id : 16.0
item_id : 4.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 44:
order_id : 17.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 45:
order_id : 17.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 46:
order_id : 17.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 47:
order_id : 17.0
item_id : 4.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 48:
order_id : 18.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 49:
order_id : 18.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 50:
order_id : 18.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 51:
order_id : 18.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 52:
order_id : 18.0
item_id : 5.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 53:
order_id : 19.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 54:
order_id : 19.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 55:
order_id : 20.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 56:
order_id : 20.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 57:
order_id : 21.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 58:
order_id : 21.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 59:
order_id : 21.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 60:
order_id : 22.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 61:
order_id : 22.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 62:
order_id : 23.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 63:
order_id : 23.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 64:
order_id : 23.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 65:
order_id : 24.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 66:
order_id : 24.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 67:
order_id : 25.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 68:
order_id : 25.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 69:
order_id : 25.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 70:
order_id : 25.0
item_id : 4.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 71:
order_id : 25.0
item_id : 5.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 72:
order_id : 26.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 73:
order_id : 26.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 74:
order_id : 26.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 75:
order_id : 26.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 76:
order_id : 27.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 77:
order_id : 27.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 78:
order_id : 27.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 79:
order_id : 27.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 80:
order_id : 28.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 81:
order_id : 28.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 82:
order_id : 28.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 83:
order_id : 28.0
item_id : 4.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 84:
order_id : 29.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 85:
order_id : 29.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 86:
order_id : 29.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 87:
order_id : 29.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 88:
order_id : 29.0
item_id : 5.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 89:
order_id : 30.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 90:
order_id : 30.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 91:
order_id : 30.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 92:
order_id : 30.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 93:
order_id : 30.0
item_id : 5.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 94:
order_id : 31.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 95:
order_id : 31.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 96:
order_id : 32.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 97:
order_id : 32.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 98:
order_id : 32.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 99:
order_id : 33.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 100:
order_id : 33.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 101:
order_id : 34.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 102:
order_id : 34.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 103:
order_id : 34.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 104:
order_id : 35.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 105:
order_id : 35.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 106:
order_id : 35.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 107:
order_id : 35.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 108:
order_id : 35.0
item_id : 5.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 109:
order_id : 36.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07

discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 112:
order_id : 37.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 113:
order_id : 38.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 114:
order_id : 38.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 115:
order_id : 38.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 116:
order_id : 38.0
item_id : 4.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 117:
order_id : 38.0
item_id : 5.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 118:
order_id : 39.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 119:
order_id : 39.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 120:
order_id : 39.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 121:
order_id : 39.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 122:
order_id : 40.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 123:
order_id : 40.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 124:
order_id : 41.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 125:
order_id : 41.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 126:
order_id : 41.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 127:
order_id : 42.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 128:
order_id : 43.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 129:
order_id : 43.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 130:
order_id : 44.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 131:
order_id : 44.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 132:
order_id : 45.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 133:
order_id : 45.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 134:
order_id : 45.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 135:
order_id : 46.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 136:
order_id : 47.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 137:
order_id : 47.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 138:
order_id : 47.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 139:
order_id : 47.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 140:
order_id : 48.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 141:
order_id : 48.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 142:
order_id : 48.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 143:
order_id : 48.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 144:
order_id : 49.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 145:
order_id : 50.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 146:
order_id : 50.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 147:
order_id : 50.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 148:
order_id : 51.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 149:
order_id : 51.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 150:
order_id : 51.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 151:
order_id : 52.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 152:
order_id : 53.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 153:
order_id : 53.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 154:
order_id : 53.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 155:
order_id : 53.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 156:
order_id : 54.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 157:
order_id : 54.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 158:
order_id : 55.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 159:
order_id : 55.0
item_id : 2.0

product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 160:
order_id : 55.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 161:
order_id : 56.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 162:
order_id : 57.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 163:
order_id : 57.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 164:
order_id : 57.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 165:
order_id : 58.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 166:
order_id : 58.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 167:
order_id : 58.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 168:
order_id : 59.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 169:
order_id : 59.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 170:
order_id : 59.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 171:
order_id : 60.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 172:
order_id : 60.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 173:
order_id : 60.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 174:
order_id : 60.0
item_id : 4.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 175:
order_id : 61.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 176:
order_id : 61.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 177:
order_id : 61.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 178:
order_id : 62.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 179:
order_id : 62.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 180:
order_id : 62.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 181:
order_id : 63.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 182:
order_id : 63.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 183:
order_id : 63.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 184:
order_id : 64.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 185:
order_id : 64.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 186:
order_id : 64.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 187:
order_id : 64.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 188:
order_id : 65.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 189:
order_id : 66.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 190:
order_id : 66.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 191:
order_id : 66.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 192:
order_id : 67.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 193:
order_id : 67.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 194:
order_id : 67.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 195:
order_id : 67.0
item_id : 4.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 196:
order_id : 67.0
item_id : 5.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 197:
order_id : 68.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 198:
order_id : 68.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 199:
order_id : 69.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 200:
order_id : 69.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 201:
order_id : 69.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 202:
order_id : 70.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 203:
order_id : 70.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 204:
order_id : 70.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 205:
order_id : 71.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 206:
order_id : 71.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 207:
order_id : 71.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 208:
order_id : 72.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 209:
order_id : 72.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 210:
order_id : 72.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 211:
order_id : 73.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 212:
order_id : 73.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 213:
order_id : 73.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 214:
order_id : 73.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 215:
order_id : 73.0
item_id : 5.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 216:
order_id : 74.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 217:
order_id : 74.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 218:
order_id : 75.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 219:
order_id : 75.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 220:
order_id : 75.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 221:
order_id : 76.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 222:
order_id : 76.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 223:
order_id : 76.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 224:
order_id : 77.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 225:
order_id : 77.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 226:
order_id : 77.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 227:
order_id : 77.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 228:
order_id : 78.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 229:
order_id : 78.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 230:
order_id : 78.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 231:
order_id : 78.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 232:
order_id : 79.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 233:
order_id : 79.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 234:
order_id : 79.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 235:
order_id : 79.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 236:
order_id : 80.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 237:
order_id : 80.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 238:
order_id : 80.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 239:
order_id : 81.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 240:
order_id : 81.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 241:
order_id : 81.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 242:
order_id : 82.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 243:
order_id : 82.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 244:
order_id : 83.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 245:
order_id : 83.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 246:
order_id : 84.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 247:
order_id : 84.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 248:
order_id : 85.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 249:
order_id : 85.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 250:
order_id : 86.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 251:
order_id : 86.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 252:
order_id : 86.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 253:
order_id : 86.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 254:
order_id : 87.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 255:
order_id : 87.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 256:
order_id : 88.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 257:
order_id : 88.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 258:
order_id : 88.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 259:
order_id : 89.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 260:
order_id : 89.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 261:
order_id : 90.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 262:
order_id : 90.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 263:
order_id : 91.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 264:
order_id : 91.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 265:
order_id : 91.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 266:
order_id : 91.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 267:
order_id : 92.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 268:
order_id : 93.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 269:
order_id : 93.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 270:
order_id : 93.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 271:
order_id : 93.0
item_id : 4.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 272:
order_id : 93.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 273:
order_id : 94.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 274:
order_id : 94.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 275:
order_id : 94.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 276:
order_id : 94.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 277:
order_id : 95.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 278:
order_id : 95.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 279:
order_id : 95.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 280:
order_id : 95.0
item_id : 4.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 281:
order_id : 96.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 282:
order_id : 96.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 283:
order_id : 97.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 284:
order_id : 97.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 285:
order_id : 97.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 286:
order_id : 97.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 287:
order_id : 98.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 288:
order_id : 98.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 289:
order_id : 98.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 290:
order_id : 98.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 291:
order_id : 99.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2

Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 292:
order_id : 99.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 293:
order_id : 99.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 294:
order_id : 99.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 295:
order_id : 99.0
item_id : 5.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 296:
order_id : 100.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 297:
order_id : 100.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 298:
order_id : 100.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 299:
order_id : 100.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 300:
order_id : 100.0
item_id : 5.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 301:
order_id : 101.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 302:
order_id : 102.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 303:
order_id : 102.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 304:
order_id : 103.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 305:
order_id : 103.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 306:
order_id : 103.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 307:
order_id : 103.0
item_id : 4.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 308:
order_id : 103.0
item_id : 5.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 309:
order_id : 104.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 310:
order_id : 104.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 311:
order_id : 105.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 312:
order_id : 105.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 313:
order_id : 105.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 314:
order_id : 106.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 315:
order_id : 106.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 316:
order_id : 107.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 317:
order_id : 107.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 318:
order_id : 108.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 319:
order_id : 108.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 320:
order_id : 108.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 321:
order_id : 109.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 322:
order_id : 109.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 323:
order_id : 110.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 324:
order_id : 111.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 325:
order_id : 111.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 326:
order_id : 112.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 327:
order_id : 112.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 328:
order_id : 112.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 329:
order_id : 112.0
item_id : 4.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 330:
order_id : 113.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 331:
order_id : 113.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 332:
order_id : 113.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 333:
order_id : 113.0
item_id : 4.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 334:
order_id : 113.0
item_id : 5.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 335:
order_id : 114.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 336:
order_id : 114.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 337:
order_id : 114.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 338:
order_id : 115.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 339:
order_id : 115.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 340:
order_id : 116.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 341:
order_id : 117.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 342:
order_id : 117.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 343:
order_id : 117.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 344:
order_id : 117.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 345:
order_id : 118.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 346:
order_id : 118.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 347:
order_id : 118.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 348:
order_id : 118.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 349:
order_id : 118.0
item_id : 5.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 350:
order_id : 119.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 351:
order_id : 120.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 352:
order_id : 120.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 353:
order_id : 120.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 354:
order_id : 120.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 355:
order_id : 120.0
item_id : 5.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 356:
order_id : 121.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 357:
order_id : 121.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 358:
order_id : 121.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 359:
order_id : 121.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 360:
order_id : 121.0
item_id : 5.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 361:
order_id : 122.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 362:
order_id : 123.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 363:
order_id : 124.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 364:
order_id : 124.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 365:
order_id : 124.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 366:
order_id : 125.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 367:
order_id : 126.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 368:
order_id : 127.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 369:
order_id : 127.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 370:
order_id : 127.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 371:
order_id : 128.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 372:
order_id : 128.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 373:
order_id : 128.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 374:
order_id : 128.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 375:
order_id : 129.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 376:
order_id : 129.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 377:
order_id : 130.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 378:
order_id : 130.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 379:
order_id : 131.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 380:
order_id : 131.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 381:
order_id : 131.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 382:
order_id : 132.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 383:
order_id : 132.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 384:
order_id : 132.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 385:
order_id : 133.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 386:
order_id : 133.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 387:
order_id : 134.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 388:
order_id : 134.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 389:
order_id : 134.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 390:
order_id : 135.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 391:
order_id : 135.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 392:
order_id : 135.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 393:
order_id : 135.0
item_id : 4.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 394:
order_id : 136.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 395:
order_id : 136.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 396:
order_id : 137.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 397:
order_id : 137.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 398:
order_id : 138.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 399:
order_id : 138.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 400:
order_id : 139.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 401:
order_id : 139.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 402:
order_id : 140.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 403:
order_id : 140.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 404:
order_id : 140.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 405:
order_id : 140.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 406:
order_id : 141.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 407:
order_id : 142.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 408:
order_id : 142.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 409:
order_id : 142.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 410:
order_id : 143.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 411:
order_id : 144.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 412:
order_id : 145.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 413:
order_id : 145.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 414:
order_id : 146.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 415:
order_id : 146.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 416:
order_id : 146.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 417:
order_id : 146.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 418:
order_id : 146.0
item_id : 5.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 419:
order_id : 147.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 420:
order_id : 148.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 421:
order_id : 149.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 422:
order_id : 149.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 423:
order_id : 150.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 424:
order_id : 150.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 425:
order_id : 150.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 426:
order_id : 150.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 427:
order_id : 151.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 428:
order_id : 151.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 429:
order_id : 152.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 430:
order_id : 152.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 431:
order_id : 152.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 432:
order_id : 153.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 433:
order_id : 153.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 434:
order_id : 153.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 435:
order_id : 154.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 436:
order_id : 155.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 437:
order_id : 156.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 438:
order_id : 156.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 439:
order_id : 156.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 440:
order_id : 157.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 441:
order_id : 157.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 442:
order_id : 158.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 443:
order_id : 159.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 444:
order_id : 160.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 445:
order_id : 160.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 446:
order_id : 160.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 447:
order_id : 160.0
item_id : 4.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 448:
order_id : 161.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 449:
order_id : 161.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 450:
order_id : 161.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 451:
order_id : 162.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 452:
order_id : 162.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 453:
order_id : 162.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 454:
order_id : 163.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 455:
order_id : 163.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 456:
order_id : 164.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 457:
order_id : 164.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 458:
order_id : 164.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 459:
order_id : 165.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 460:
order_id : 165.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 461:
order_id : 165.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 462:
order_id : 166.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 463:
order_id : 166.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 464:
order_id : 167.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 465:
order_id : 167.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 466:
order_id : 167.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 467:
order_id : 167.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 468:
order_id : 168.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 469:
order_id : 168.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 470:
order_id : 168.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 471:
order_id : 168.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 472:
order_id : 169.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 473:
order_id : 169.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 474:
order_id : 169.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 475:
order_id : 169.0
item_id : 4.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 476:
order_id : 169.0
item_id : 5.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 477:
order_id : 170.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 478:
order_id : 170.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 479:
order_id : 170.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 480:
order_id : 170.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 481:
order_id : 171.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 482:
order_id : 172.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 483:
order_id : 172.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 484:
order_id : 173.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 485:
order_id : 173.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 486:
order_id : 173.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 487:
order_id : 174.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 488:
order_id : 174.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 489:
order_id : 175.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 490:
order_id : 175.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 491:
order_id : 175.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 492:
order_id : 175.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 493:
order_id : 176.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 494:
order_id : 176.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 495:
order_id : 176.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 496:
order_id : 177.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 497:
order_id : 178.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 498:
order_id : 178.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 499:
order_id : 178.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 500:
order_id : 178.0
item_id : 4.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 501:
order_id : 179.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 502:
order_id : 179.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 503:
order_id : 179.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 504:
order_id : 179.0
item_id : 4.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 505:
order_id : 179.0
item_id : 5.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 506:
order_id : 180.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 507:
order_id : 181.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 508:
order_id : 181.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 509:
order_id : 181.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 510:
order_id : 181.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 511:
order_id : 182.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 512:
order_id : 182.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 513:
order_id : 183.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 514:
order_id : 183.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 515:
order_id : 183.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 516:
order_id : 183.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 517:
order_id : 184.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 518:
order_id : 184.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 519:
order_id : 184.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 520:
order_id : 185.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 521:
order_id : 185.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 522:
order_id : 186.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 523:
order_id : 186.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 524:
order_id : 187.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 525:
order_id : 188.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 526:
order_id : 189.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 527:
order_id : 190.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 528:
order_id : 190.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 529:
order_id : 190.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 530:
order_id : 191.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 531:
order_id : 191.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 532:
order_id : 191.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 533:
order_id : 191.0
item_id : 4.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 534:
order_id : 191.0
item_id : 5.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 535:
order_id : 192.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 536:
order_id : 192.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 537:
order_id : 192.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 538:
order_id : 192.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 539:
order_id : 192.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 540:
order_id : 193.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 541:
order_id : 194.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 542:
order_id : 195.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 543:
order_id : 195.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 544:
order_id : 195.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 545:
order_id : 195.0
item_id : 4.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 546:
order_id : 195.0
item_id : 5.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 547:
order_id : 196.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 548:
order_id : 196.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 549:
order_id : 196.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 550:
order_id : 196.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 551:
order_id : 196.0
item_id : 5.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 552:
order_id : 197.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 553:
order_id : 197.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 554:
order_id : 198.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 555:
order_id : 198.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 556:
order_id : 198.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 557:
order_id : 198.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 558:
order_id : 198.0
item_id : 5.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 559:
order_id : 199.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 560:
order_id : 199.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 561:
order_id : 199.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 562:
order_id : 200.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 563:
order_id : 200.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 564:
order_id : 201.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 565:
order_id : 201.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 566:
order_id : 201.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 567:
order_id : 201.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 568:
order_id : 202.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 569:
order_id : 202.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 570:
order_id : 202.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 571:
order_id : 202.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 572:
order_id : 203.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 573:
order_id : 203.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 574:
order_id : 203.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 575:
order_id : 203.0
item_id : 4.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 576:
order_id : 204.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 577:
order_id : 204.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 578:
order_id : 205.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 579:
order_id : 205.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 580:
order_id : 206.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 581:
order_id : 206.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 582:
order_id : 207.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 583:
order_id : 207.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 584:
order_id : 207.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 585:
order_id : 207.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 586:
order_id : 208.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 587:
order_id : 208.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 588:
order_id : 208.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 589:
order_id : 208.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 590:
order_id : 208.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 591:
order_id : 209.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 592:
order_id : 210.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 593:
order_id : 210.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 594:
order_id : 211.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 595:
order_id : 211.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 596:
order_id : 212.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 597:
order_id : 212.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 598:
order_id : 212.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 599:
order_id : 212.0
item_id : 4.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 600:
order_id : 213.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 601:
order_id : 214.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 602:
order_id : 215.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 603:
order_id : 215.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 604:
order_id : 216.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 605:
order_id : 216.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 606:
order_id : 217.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 607:
order_id : 217.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 608:
order_id : 217.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 609:
order_id : 218.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 610:
order_id : 218.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 611:
order_id : 218.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 612:
order_id : 219.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 613:
order_id : 219.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 614:
order_id : 220.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 615:
order_id : 220.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 616:
order_id : 220.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 617:
order_id : 220.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 618:
order_id : 221.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 619:
order_id : 222.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 620:
order_id : 222.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 621:
order_id : 223.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 622:
order_id : 223.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 623:
order_id : 223.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 624:
order_id : 223.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 625:
order_id : 223.0
item_id : 5.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 626:
order_id : 224.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 627:
order_id : 224.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 628:
order_id : 224.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 629:
order_id : 224.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 630:
order_id : 225.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 631:
order_id : 225.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 632:
order_id : 226.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 633:
order_id : 227.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 634:
order_id : 227.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 635:
order_id : 228.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 636:
order_id : 228.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 637:
order_id : 228.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 638:
order_id : 228.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 639:
order_id : 228.0
item_id : 5.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 640:
order_id : 229.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 641:
order_id : 229.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 642:
order_id : 229.0
item_id : 3.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 643:
order_id : 230.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 644:
order_id : 231.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 645:
order_id : 231.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 646:
order_id : 231.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 647:
order_id : 232.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 648:
order_id : 232.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 649:
order_id : 232.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 650:
order_id : 232.0
item_id : 4.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 651:
order_id : 233.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 652:
order_id : 233.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 653:
order_id : 233.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 654:
order_id : 233.0
item_id : 4.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 655:
order_id : 234.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 656:
order_id : 234.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 657:
order_id : 234.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 658:
order_id : 234.0
item_id : 4.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 659:
order_id : 234.0
item_id : 5.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 660:
order_id : 235.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 661:
order_id : 235.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 662:
order_id : 235.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 663:
order_id : 236.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 664:
order_id : 236.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 665:
order_id : 236.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 666:
order_id : 237.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 667:
order_id : 237.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 668:
order_id : 237.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 669:
order_id : 237.0
item_id : 4.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 670:
order_id : 238.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 671:
order_id : 238.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 672:
order_id : 238.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 673:
order_id : 238.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 674:
order_id : 238.0
item_id : 5.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 675:
order_id : 239.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 676:
order_id : 239.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 677:
order_id : 239.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 678:
order_id : 239.0
item_id : 4.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 679:
order_id : 240.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 680:
order_id : 240.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 681:
order_id : 240.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 682:
order_id : 240.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 683:
order_id : 241.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 684:
order_id : 242.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 685:
order_id : 243.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 686:
order_id : 243.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 687:
order_id : 243.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 688:
order_id : 244.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 689:
order_id : 244.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 690:
order_id : 244.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 691:
order_id : 245.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 692:
order_id : 245.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 693:
order_id : 246.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 694:
order_id : 247.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 695:
order_id : 247.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 696:
order_id : 248.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 697:
order_id : 248.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 698:
order_id : 248.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 699:
order_id : 248.0
item_id : 4.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 700:
order_id : 249.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 701:
order_id : 249.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 702:
order_id : 249.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 703:
order_id : 250.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 704:
order_id : 250.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 705:
order_id : 251.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 706:
order_id : 251.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 707:
order_id : 252.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 708:
order_id : 252.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 709:
order_id : 252.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 710:
order_id : 253.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 711:
order_id : 254.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 712:
order_id : 254.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 713:
order_id : 254.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 714:
order_id : 255.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 715:
order_id : 255.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 716:
order_id : 255.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 717:
order_id : 255.0
item_id : 4.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 718:
order_id : 256.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 719:
order_id : 256.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 720:
order_id : 257.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 721:
order_id : 257.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 722:
order_id : 257.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 723:
order_id : 257.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 724:
order_id : 258.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 725:
order_id : 258.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 726:
order_id : 258.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 727:
order_id : 258.0
item_id : 4.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 728:
order_id : 259.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 729:
order_id : 259.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 730:
order_id : 259.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 731:
order_id : 259.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 732:
order_id : 260.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 733:
order_id : 260.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 734:
order_id : 260.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 735:
order_id : 261.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 736:
order_id : 261.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 737:
order_id : 261.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 738:
order_id : 262.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 739:
order_id : 262.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 740:
order_id : 263.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 741:
order_id : 263.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 742:
order_id : 263.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 743:
order_id : 264.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 744:
order_id : 264.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 745:
order_id : 264.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 746:
order_id : 264.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 747:
order_id : 265.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 748:
order_id : 266.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 749:
order_id : 266.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 750:
order_id : 266.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 751:
order_id : 267.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 752:
order_id : 267.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 753:
order_id : 267.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 754:
order_id : 267.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 755:
order_id : 267.0
item_id : 5.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 756:
order_id : 268.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 757:
order_id : 268.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 758:
order_id : 268.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 759:
order_id : 269.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 760:
order_id : 269.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 761:
order_id : 269.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 762:
order_id : 269.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 763:
order_id : 270.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 764:
order_id : 270.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 765:
order_id : 271.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 766:
order_id : 271.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 767:
order_id : 271.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 768:
order_id : 271.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 769:
order_id : 272.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 770:
order_id : 272.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 771:
order_id : 273.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 772:
order_id : 274.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 773:
order_id : 274.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 774:
order_id : 274.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 775:
order_id : 275.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 776:
order_id : 275.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 777:
order_id : 275.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 778:
order_id : 276.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 779:
order_id : 276.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 780:
order_id : 276.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 781:
order_id : 277.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 782:
order_id : 277.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 783:
order_id : 277.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 784:
order_id : 278.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 785:
order_id : 278.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 786:
order_id : 278.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 787:
order_id : 278.0
item_id : 4.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 788:
order_id : 279.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 789:
order_id : 280.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 790:
order_id : 280.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 791:
order_id : 280.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 792:
order_id : 281.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 793:
order_id : 281.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 794:
order_id : 281.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 795:
order_id : 282.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 796:
order_id : 282.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 797:
order_id : 282.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 798:
order_id : 282.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 799:
order_id : 283.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 800:
order_id : 283.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 801:
order_id : 284.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2

Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 802:
order_id : 284.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 803:
order_id : 285.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 804:
order_id : 285.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 805:
order_id : 285.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 806:
order_id : 286.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 807:
order_id : 286.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 808:
order_id : 286.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 809:
order_id : 286.0
item_id : 4.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 810:
order_id : 287.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 811:
order_id : 287.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 812:
order_id : 287.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 813:
order_id : 287.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 814:
order_id : 288.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 815:
order_id : 288.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 816:
order_id : 288.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 817:
order_id : 289.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 818:
order_id : 289.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 819:
order_id : 289.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 820:
order_id : 290.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 821:
order_id : 290.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 822:
order_id : 290.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 823:
order_id : 291.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 824:
order_id : 291.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 825:
order_id : 292.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 826:
order_id : 292.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 827:
order_id : 292.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 828:
order_id : 293.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 829:
order_id : 293.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 830:
order_id : 294.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 831:
order_id : 294.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 832:
order_id : 294.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 833:
order_id : 294.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 834:
order_id : 295.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 835:
order_id : 296.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 836:
order_id : 296.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 837:
order_id : 296.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 838:
order_id : 296.0
item_id : 4.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 839:
order_id : 297.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 840:
order_id : 298.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 841:
order_id : 298.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 842:
order_id : 298.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 843:
order_id : 298.0
item_id : 4.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 844:
order_id : 298.0
item_id : 5.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 845:
order_id : 299.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 846:
order_id : 299.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 847:
order_id : 300.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 848:
order_id : 300.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 849:
order_id : 300.0
item_id : 3.0
product_id : 10.0

quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 850:
order_id : 300.0
item_id : 4.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 851:
order_id : 301.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 852:
order_id : 301.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 853:
order_id : 302.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 854:
order_id : 302.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 855:
order_id : 302.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 856:
order_id : 303.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 857:
order_id : 303.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 858:
order_id : 304.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 859:
order_id : 304.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 860:
order_id : 304.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 861:
order_id : 305.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 862:
order_id : 305.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 863:
order_id : 305.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 864:
order_id : 306.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 865:
order_id : 306.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 866:
order_id : 307.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 867:
order_id : 308.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 868:
order_id : 308.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 869:
order_id : 308.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 870:
order_id : 309.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 871:
order_id : 309.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 872:
order_id : 310.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 873:
order_id : 310.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 874:
order_id : 310.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 875:
order_id : 310.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 876:
order_id : 311.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 877:
order_id : 311.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 878:
order_id : 312.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 879:
order_id : 312.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 880:
order_id : 312.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 881:
order_id : 313.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 882:
order_id : 313.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 883:
order_id : 314.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 884:
order_id : 314.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 885:
order_id : 314.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 886:
order_id : 314.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 887:
order_id : 315.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 888:
order_id : 315.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 889:
order_id : 316.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 890:
order_id : 316.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 891:
order_id : 316.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 892:
order_id : 316.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 893:
order_id : 316.0
item_id : 5.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 894:
order_id : 317.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 895:
order_id : 317.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 896:
order_id : 317.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 897:
order_id : 317.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 898:
order_id : 318.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 899:
order_id : 318.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 900:
order_id : 318.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 901:
order_id : 319.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 902:
order_id : 319.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 903:
order_id : 319.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 904:
order_id : 319.0
item_id : 4.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 905:
order_id : 320.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 906:
order_id : 321.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 907:
order_id : 321.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 908:
order_id : 321.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 909:
order_id : 321.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 910:
order_id : 322.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 911:
order_id : 322.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 912:
order_id : 323.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 913:
order_id : 323.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 914:
order_id : 324.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 915:
order_id : 324.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 916:
order_id : 324.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 917:
order_id : 324.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 918:
order_id : 324.0
item_id : 5.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 919:
order_id : 325.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 920:
order_id : 325.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 921:
order_id : 325.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 922:
order_id : 326.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 923:
order_id : 326.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 924:
order_id : 327.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 925:
order_id : 327.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 926:
order_id : 327.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 927:
order_id : 328.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 928:
order_id : 329.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 929:
order_id : 329.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 930:
order_id : 329.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 931:
order_id : 329.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 932:
order_id : 329.0
item_id : 5.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 933:
order_id : 330.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 934:
order_id : 331.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 935:
order_id : 332.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 936:
order_id : 333.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 937:
order_id : 333.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 938:
order_id : 333.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 939:
order_id : 334.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 940:
order_id : 334.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 941:
order_id : 334.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 942:
order_id : 335.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 943:
order_id : 335.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 944:
order_id : 335.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 945:
order_id : 336.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 946:
order_id : 336.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 947:
order_id : 337.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 948:
order_id : 337.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 949:
order_id : 338.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 950:
order_id : 338.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 951:
order_id : 338.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 952:
order_id : 338.0
item_id : 4.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 953:
order_id : 338.0
item_id : 5.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 954:
order_id : 339.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 955:
order_id : 339.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 956:
order_id : 340.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 957:
order_id : 340.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 958:
order_id : 340.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 959:
order_id : 340.0
item_id : 4.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 960:
order_id : 340.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 961:
order_id : 341.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 962:
order_id : 342.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 963:
order_id : 342.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 964:
order_id : 342.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 965:
order_id : 343.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 966:
order_id : 343.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 967:
order_id : 343.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 968:
order_id : 343.0
item_id : 4.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 969:
order_id : 344.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 970:
order_id : 344.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 971:
order_id : 344.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 972:
order_id : 345.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 973:
order_id : 345.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 974:
order_id : 346.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 975:
order_id : 346.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 976:
order_id : 346.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 977:
order_id : 346.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 978:
order_id : 346.0
item_id : 5.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 979:
order_id : 347.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 980:
order_id : 348.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 981:
order_id : 348.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 982:
order_id : 349.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 983:
order_id : 350.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 984:
order_id : 350.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 985:
order_id : 350.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 986:
order_id : 351.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 987:
order_id : 351.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 988:
order_id : 351.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 989:
order_id : 351.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 990:
order_id : 352.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 991:
order_id : 352.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 992:
order_id : 353.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 993:
order_id : 354.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 994:
order_id : 354.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 995:
order_id : 355.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 996:
order_id : 355.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 997:
order_id : 356.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 998:
order_id : 356.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 999:
order_id : 356.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1000:
order_id : 357.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1001:
order_id : 357.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1002:
order_id : 357.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1003:
order_id : 357.0
item_id : 4.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1004:
order_id : 358.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1005:
order_id : 358.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1006:
order_id : 358.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1007:
order_id : 358.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1008:
order_id : 359.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1009:
order_id : 359.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1010:
order_id : 359.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1011:
order_id : 360.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1012:
order_id : 360.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1013:
order_id : 360.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1014:
order_id : 360.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1015:
order_id : 361.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1016:
order_id : 361.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1017:
order_id : 361.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1018:
order_id : 362.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1019:
order_id : 363.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1020:
order_id : 363.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1021:
order_id : 363.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1022:
order_id : 363.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1023:
order_id : 364.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1024:
order_id : 365.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1025:
order_id : 366.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1026:
order_id : 366.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1027:
order_id : 366.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1028:
order_id : 367.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1029:
order_id : 367.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1030:
order_id : 367.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1031:
order_id : 368.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1032:
order_id : 368.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1033:
order_id : 368.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1034:
order_id : 368.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1035:
order_id : 369.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1036:
order_id : 370.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1037:
order_id : 370.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1038:
order_id : 371.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1039:
order_id : 371.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1040:
order_id : 372.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1041:
order_id : 372.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1042:
order_id : 372.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1043:
order_id : 373.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1044:
order_id : 373.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1045:
order_id : 373.0
item_id : 3.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1046:
order_id : 373.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1047:
order_id : 373.0
item_id : 5.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1048:
order_id : 374.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1049:
order_id : 374.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1050:
order_id : 375.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1051:
order_id : 375.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1052:
order_id : 375.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1053:
order_id : 375.0
item_id : 4.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1054:
order_id : 376.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1055:
order_id : 376.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1056:
order_id : 377.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1057:
order_id : 377.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1058:
order_id : 378.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1059:
order_id : 379.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1060:
order_id : 379.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1061:
order_id : 380.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1062:
order_id : 380.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1063:
order_id : 381.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1064:
order_id : 382.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1065:
order_id : 382.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1066:
order_id : 382.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1067:
order_id : 383.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1068:
order_id : 383.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1069:
order_id : 383.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1070:
order_id : 383.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1071:
order_id : 383.0
item_id : 5.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1072:
order_id : 384.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1073:
order_id : 384.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1074:
order_id : 384.0
item_id : 3.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1075:
order_id : 384.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1076:
order_id : 384.0
item_id : 5.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1077:
order_id : 385.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1078:
order_id : 385.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1079:
order_id : 385.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1080:
order_id : 386.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1081:
order_id : 386.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1082:
order_id : 386.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1083:
order_id : 387.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1084:
order_id : 388.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1085:
order_id : 388.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1086:
order_id : 388.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1087:
order_id : 388.0
item_id : 4.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1088:
order_id : 389.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1089:
order_id : 389.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1090:
order_id : 389.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1091:
order_id : 389.0
item_id : 4.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1092:
order_id : 389.0
item_id : 5.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1093:
order_id : 390.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1094:
order_id : 390.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1095:
order_id : 390.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1096:
order_id : 391.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1097:
order_id : 391.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1098:
order_id : 391.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1099:
order_id : 392.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1100:
order_id : 392.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1101:
order_id : 393.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1102:
order_id : 394.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1103:
order_id : 394.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1104:
order_id : 394.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1105:
order_id : 395.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1106:
order_id : 396.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1107:
order_id : 396.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1108:
order_id : 396.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1109:
order_id : 397.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1110:
order_id : 398.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1111:
order_id : 398.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1112:
order_id : 398.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1113:
order_id : 398.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1114:
order_id : 399.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1115:
order_id : 399.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1116:
order_id : 399.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1117:
order_id : 400.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1118:
order_id : 400.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1119:
order_id : 400.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1120:
order_id : 401.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1121:
order_id : 401.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1122:
order_id : 402.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1123:
order_id : 402.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1124:
order_id : 402.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1125:
order_id : 403.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1126:
order_id : 403.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1127:
order_id : 403.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1128:
order_id : 403.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1129:
order_id : 404.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1130:
order_id : 404.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1131:
order_id : 404.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1132:
order_id : 405.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1133:
order_id : 405.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1134:
order_id : 405.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1135:
order_id : 406.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1136:
order_id : 407.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1137:
order_id : 407.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1138:
order_id : 408.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1139:
order_id : 408.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1140:
order_id : 408.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1141:
order_id : 408.0
item_id : 4.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1142:
order_id : 409.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1143:
order_id : 409.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1144:
order_id : 409.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1145:
order_id : 410.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1146:
order_id : 410.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1147:
order_id : 410.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1148:
order_id : 411.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1149:
order_id : 411.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1150:
order_id : 412.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1151:
order_id : 412.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1152:
order_id : 412.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1153:
order_id : 413.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1154:
order_id : 413.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1155:
order_id : 413.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1156:
order_id : 414.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1157:
order_id : 415.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1158:
order_id : 415.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1159:
order_id : 415.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1160:
order_id : 415.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1161:
order_id : 416.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1162:
order_id : 416.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1163:
order_id : 416.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1164:
order_id : 417.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1165:
order_id : 417.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1166:
order_id : 418.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1167:
order_id : 418.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1168:
order_id : 419.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1169:
order_id : 420.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1170:
order_id : 420.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1171:
order_id : 420.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1172:
order_id : 421.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1173:
order_id : 421.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1174:
order_id : 421.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1175:
order_id : 421.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1176:
order_id : 421.0
item_id : 5.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1177:
order_id : 422.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1178:
order_id : 423.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1179:
order_id : 423.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1180:
order_id : 423.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1181:
order_id : 423.0
item_id : 4.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1182:
order_id : 424.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1183:
order_id : 424.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1184:
order_id : 425.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1185:
order_id : 425.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1186:
order_id : 425.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1187:
order_id : 426.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1188:
order_id : 426.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1189:
order_id : 427.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1190:
order_id : 427.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1191:
order_id : 427.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1192:
order_id : 428.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1193:
order_id : 428.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1194:
order_id : 429.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1195:
order_id : 429.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1196:
order_id : 429.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1197:
order_id : 429.0
item_id : 4.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1198:
order_id : 429.0
item_id : 5.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1199:
order_id : 430.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1200:
order_id : 430.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1201:
order_id : 430.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1202:
order_id : 430.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1203:
order_id : 430.0
item_id : 5.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1204:
order_id : 431.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1205:
order_id : 431.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1206:
order_id : 431.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1207:
order_id : 431.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1208:
order_id : 431.0
item_id : 5.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1209:
order_id : 432.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1210:
order_id : 432.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1211:
order_id : 433.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1212:
order_id : 433.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1213:
order_id : 433.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1214:
order_id : 433.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1215:
order_id : 434.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1216:
order_id : 434.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1217:
order_id : 434.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1218:
order_id : 434.0
item_id : 4.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1219:
order_id : 434.0
item_id : 5.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1220:
order_id : 435.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1221:
order_id : 435.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1222:
order_id : 435.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1223:
order_id : 436.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1224:
order_id : 436.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1225:
order_id : 437.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1226:
order_id : 437.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1227:
order_id : 437.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1228:
order_id : 438.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1229:
order_id : 438.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1230:
order_id : 438.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1231:
order_id : 438.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1232:
order_id : 439.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1233:
order_id : 439.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1234:
order_id : 440.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1235:
order_id : 440.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1236:
order_id : 441.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1237:
order_id : 441.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1238:
order_id : 442.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1239:
order_id : 442.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1240:
order_id : 442.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1241:
order_id : 443.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1242:
order_id : 443.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1243:
order_id : 444.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1244:
order_id : 444.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1245:
order_id : 444.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1246:
order_id : 444.0
item_id : 4.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1247:
order_id : 444.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1248:
order_id : 445.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1249:
order_id : 445.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1250:
order_id : 445.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1251:
order_id : 446.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1252:
order_id : 446.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1253:
order_id : 447.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1254:
order_id : 447.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1255:
order_id : 447.0
item_id : 3.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1256:
order_id : 448.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1257:
order_id : 448.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1258:
order_id : 449.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1259:
order_id : 449.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1260:
order_id : 449.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1261:
order_id : 449.0
item_id : 4.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1262:
order_id : 450.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1263:
order_id : 450.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1264:
order_id : 450.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1265:
order_id : 451.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1266:
order_id : 452.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1267:
order_id : 452.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1268:
order_id : 452.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1269:
order_id : 452.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1270:
order_id : 453.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1271:
order_id : 453.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1272:
order_id : 453.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1273:
order_id : 454.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1274:
order_id : 454.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1275:
order_id : 454.0
item_id : 3.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1276:
order_id : 455.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1277:
order_id : 456.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1278:
order_id : 456.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1279:
order_id : 457.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1280:
order_id : 457.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1281:
order_id : 457.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1282:
order_id : 457.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1283:
order_id : 458.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1284:
order_id : 458.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1285:
order_id : 458.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1286:
order_id : 458.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1287:
order_id : 458.0
item_id : 5.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1288:
order_id : 459.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1289:
order_id : 460.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1290:
order_id : 460.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1291:
order_id : 460.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1292:
order_id : 460.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1293:
order_id : 461.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1294:
order_id : 461.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1295:
order_id : 461.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1296:
order_id : 461.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1297:
order_id : 461.0
item_id : 5.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1298:
order_id : 462.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1299:
order_id : 463.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1300:
order_id : 464.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1301:
order_id : 465.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1302:
order_id : 465.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1303:
order_id : 466.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1304:
order_id : 466.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1305:
order_id : 466.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1306:
order_id : 466.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1307:
order_id : 466.0
item_id : 5.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1308:
order_id : 467.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1309:
order_id : 467.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1310:
order_id : 467.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1311:
order_id : 467.0
item_id : 4.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1312:
order_id : 467.0
item_id : 5.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1313:
order_id : 468.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1314:
order_id : 468.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1315:
order_id : 468.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1316:
order_id : 468.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1317:
order_id : 469.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1318:
order_id : 469.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1319:
order_id : 469.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1320:
order_id : 470.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1321:
order_id : 470.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1322:
order_id : 470.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1323:
order_id : 471.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1324:
order_id : 471.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1325:
order_id : 472.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1326:
order_id : 472.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1327:
order_id : 473.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1328:
order_id : 474.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1329:
order_id : 474.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1330:
order_id : 475.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1331:
order_id : 475.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1332:
order_id : 475.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1333:
order_id : 476.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1334:
order_id : 476.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1335:
order_id : 476.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1336:
order_id : 476.0
item_id : 4.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1337:
order_id : 477.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1338:
order_id : 477.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1339:
order_id : 478.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1340:
order_id : 479.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1341:
order_id : 479.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1342:
order_id : 479.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1343:
order_id : 479.0
item_id : 4.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1344:
order_id : 479.0
item_id : 5.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1345:
order_id : 480.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1346:
order_id : 480.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1347:
order_id : 480.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1348:
order_id : 481.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1349:
order_id : 481.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1350:
order_id : 481.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1351:
order_id : 482.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1352:
order_id : 482.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1353:
order_id : 483.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1354:
order_id : 484.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1355:
order_id : 484.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1356:
order_id : 484.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1357:

order_id : 484.0
item_id : 4.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1358:
order_id : 485.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1359:
order_id : 485.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1360:
order_id : 486.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1361:
order_id : 486.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1362:
order_id : 487.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1363:
order_id : 488.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1364:
order_id : 488.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1365:
order_id : 488.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1366:
order_id : 489.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1367:
order_id : 490.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1368:
order_id : 490.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1369:
order_id : 490.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1370:
order_id : 490.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1371:
order_id : 491.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1372:
order_id : 491.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1373:
order_id : 491.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1374:
order_id : 492.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1375:
order_id : 492.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1376:
order_id : 492.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1377:
order_id : 493.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1378:
order_id : 493.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1379:
order_id : 493.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1380:
order_id : 494.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1381:
order_id : 495.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1382:
order_id : 495.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1383:
order_id : 496.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1384:
order_id : 496.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1385:
order_id : 496.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1386:
order_id : 497.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1387:
order_id : 498.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1388:
order_id : 498.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1389:
order_id : 498.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1390:
order_id : 499.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1391:
order_id : 499.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1392:
order_id : 499.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1393:
order_id : 499.0
item_id : 4.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1394:
order_id : 500.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1395:
order_id : 500.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1396:
order_id : 501.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1397:
order_id : 501.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1398:
order_id : 501.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1399:
order_id : 501.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1400:
order_id : 502.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1401:
order_id : 503.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1402:
order_id : 503.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1403:
order_id : 504.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1404:
order_id : 504.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1405:
order_id : 505.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1406:
order_id : 506.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1407:
order_id : 506.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1408:
order_id : 507.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1409:
order_id : 507.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1410:
order_id : 507.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1411:
order_id : 508.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1412:
order_id : 508.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1413:
order_id : 508.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1414:
order_id : 508.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1415:
order_id : 509.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1416:
order_id : 509.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1417:
order_id : 510.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1418:
order_id : 511.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1419:
order_id : 511.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1420:
order_id : 512.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1421:
order_id : 513.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1422:
order_id : 513.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1423:
order_id : 513.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1424:
order_id : 514.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1425:
order_id : 514.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1426:
order_id : 515.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1427:
order_id : 515.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1428:
order_id : 515.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1429:
order_id : 515.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1430:
order_id : 516.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1431:
order_id : 516.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1432:
order_id : 517.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1433:
order_id : 518.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1434:
order_id : 518.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1435:
order_id : 518.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1436:
order_id : 518.0
item_id : 4.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1437:
order_id : 518.0
item_id : 5.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1438:
order_id : 519.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1439:
order_id : 519.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1440:
order_id : 519.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1441:
order_id : 519.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1442:
order_id : 519.0
item_id : 5.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1443:
order_id : 520.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1444:
order_id : 520.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1445:
order_id : 520.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1446:
order_id : 521.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1447:
order_id : 521.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1448:
order_id : 522.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1449:
order_id : 522.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1450:
order_id : 522.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1451:
order_id : 523.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1452:
order_id : 523.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1453:
order_id : 523.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1454:
order_id : 523.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1455:
order_id : 524.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1456:
order_id : 524.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1457:
order_id : 524.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1458:
order_id : 524.0
item_id : 4.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1459:
order_id : 524.0
item_id : 5.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1460:
order_id : 525.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1461:
order_id : 525.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1462:
order_id : 525.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1463:
order_id : 526.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1464:
order_id : 526.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1465:
order_id : 526.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1466:
order_id : 526.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1467:
order_id : 527.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1468:
order_id : 527.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1469:
order_id : 527.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1470:
order_id : 527.0
item_id : 4.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1471:
order_id : 528.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1472:
order_id : 529.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1473:
order_id : 530.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1474:
order_id : 530.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1475:
order_id : 530.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1476:
order_id : 531.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1477:
order_id : 531.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1478:
order_id : 531.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1479:
order_id : 532.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1480:
order_id : 532.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1481:
order_id : 532.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1482:
order_id : 533.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1483:
order_id : 533.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1484:
order_id : 533.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1485:
order_id : 533.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1486:
order_id : 534.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1487:
order_id : 534.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1488:
order_id : 534.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1489:
order_id : 534.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1490:
order_id : 535.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1491:
order_id : 535.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1492:
order_id : 535.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1493:
order_id : 536.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1494:
order_id : 536.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1495:
order_id : 536.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1496:
order_id : 536.0
item_id : 4.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1497:
order_id : 537.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1498:
order_id : 537.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1499:
order_id : 537.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1500:
order_id : 537.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1501:
order_id : 538.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1502:
order_id : 539.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1503:
order_id : 539.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1504:
order_id : 539.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1505:
order_id : 540.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1506:
order_id : 540.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1507:
order_id : 540.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1508:
order_id : 541.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1509:
order_id : 542.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1510:
order_id : 542.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1511:
order_id : 542.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1512:
order_id : 542.0
item_id : 4.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1513:
order_id : 543.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1514:
order_id : 543.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1515:
order_id : 543.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1516:
order_id : 544.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1517:
order_id : 544.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1518:
order_id : 544.0
item_id : 3.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1519:
order_id : 545.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1520:
order_id : 545.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1521:
order_id : 545.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1522:
order_id : 545.0
item_id : 4.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1523:
order_id : 546.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1524:
order_id : 546.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1525:
order_id : 546.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1526:
order_id : 547.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1527:
order_id : 547.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1528:
order_id : 547.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1529:
order_id : 548.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1530:
order_id : 548.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1531:
order_id : 549.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1532:
order_id : 549.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1533:
order_id : 549.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1534:
order_id : 549.0
item_id : 4.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1535:
order_id : 549.0
item_id : 5.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1536:
order_id : 550.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1537:
order_id : 551.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1538:
order_id : 551.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1539:
order_id : 551.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1540:
order_id : 551.0
item_id : 4.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1541:
order_id : 552.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1542:
order_id : 552.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1543:
order_id : 552.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1544:
order_id : 552.0
item_id : 4.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1545:
order_id : 552.0
item_id : 5.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1546:
order_id : 553.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1547:
order_id : 553.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1548:
order_id : 553.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1549:
order_id : 554.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1550:
order_id : 554.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1551:
order_id : 554.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1552:
order_id : 555.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1553:
order_id : 555.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1554:
order_id : 555.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1555:
order_id : 556.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1556:
order_id : 556.0
item_id : 2.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1557:
order_id : 557.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1558:
order_id : 557.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1559:
order_id : 558.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1560:
order_id : 558.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1561:
order_id : 558.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1562:
order_id : 558.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1563:
order_id : 558.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1564:
order_id : 559.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1565:
order_id : 559.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1566:
order_id : 559.0
item_id : 3.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1567:
order_id : 560.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1568:
order_id : 560.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1569:
order_id : 561.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1570:
order_id : 561.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1571:
order_id : 561.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1572:
order_id : 561.0
item_id : 4.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1573:
order_id : 562.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1574:
order_id : 562.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1575:
order_id : 563.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1576:
order_id : 563.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1577:
order_id : 563.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1578:
order_id : 564.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1579:
order_id : 564.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1580:
order_id : 565.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1581:
order_id : 565.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1582:
order_id : 565.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1583:
order_id : 565.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1584:
order_id : 566.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1585:
order_id : 566.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1586:
order_id : 566.0
item_id : 3.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1587:
order_id : 566.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1588:
order_id : 567.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1589:
order_id : 567.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1590:
order_id : 568.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1591:
order_id : 568.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1592:
order_id : 569.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1593:
order_id : 569.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1594:
order_id : 570.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1595:
order_id : 570.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1596:
order_id : 570.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1597:
order_id : 570.0
item_id : 4.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1598:
order_id : 570.0
item_id : 5.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1599:
order_id : 571.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1600:
order_id : 571.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1601:
order_id : 572.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1602:
order_id : 572.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1603:
order_id : 572.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1604:
order_id : 573.0
item_id : 1.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1605:
order_id : 574.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1606:
order_id : 574.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1607:
order_id : 574.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1608:
order_id : 574.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1609:
order_id : 574.0
item_id : 5.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1610:
order_id : 575.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1611:
order_id : 575.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1612:
order_id : 576.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1613:
order_id : 577.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1614:
order_id : 578.0
item_id : 1.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1615:
order_id : 578.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1616:
order_id : 578.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1617:
order_id : 578.0
item_id : 4.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1618:
order_id : 579.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1619:
order_id : 579.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1620:
order_id : 580.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1621:
order_id : 580.0
item_id : 2.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1622:
order_id : 580.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1623:
order_id : 580.0
item_id : 4.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1624:
order_id : 580.0
item_id : 5.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1625:
order_id : 581.0
item_id : 1.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1626:
order_id : 582.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1627:
order_id : 582.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1628:
order_id : 583.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1629:
order_id : 584.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1630:
order_id : 584.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1631:
order_id : 584.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1632:
order_id : 584.0
item_id : 4.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1633:
order_id : 584.0
item_id : 5.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1634:
order_id : 585.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1635:
order_id : 585.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1636:
order_id : 585.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1637:
order_id : 585.0
item_id : 4.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1638:
order_id : 586.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1639:
order_id : 586.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1640:
order_id : 587.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1641:
order_id : 587.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1642:
order_id : 587.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1643:
order_id : 587.0
item_id : 4.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1644:
order_id : 588.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1645:
order_id : 588.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1646:
order_id : 589.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1647:
order_id : 590.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1648:
order_id : 590.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1649:
order_id : 590.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1650:
order_id : 590.0
item_id : 4.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1651:
order_id : 590.0
item_id : 5.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1652:
order_id : 591.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1653:
order_id : 591.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1654:
order_id : 591.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1655:
order_id : 592.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1656:
order_id : 592.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1657:
order_id : 592.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1658:
order_id : 593.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1659:
order_id : 593.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1660:
order_id : 594.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1661:
order_id : 594.0
item_id : 2.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1662:
order_id : 595.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1663:
order_id : 595.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1664:
order_id : 595.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1665:
order_id : 595.0
item_id : 4.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1666:
order_id : 595.0
item_id : 5.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1667:
order_id : 596.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1668:
order_id : 596.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1669:
order_id : 596.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1670:
order_id : 597.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1671:
order_id : 597.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1672:
order_id : 598.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1673:
order_id : 598.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1674:
order_id : 598.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1675:
order_id : 599.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1676:
order_id : 599.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1677:
order_id : 599.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1678:
order_id : 599.0
item_id : 4.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1679:
order_id : 600.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1680:
order_id : 600.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1681:
order_id : 600.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1682:
order_id : 601.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1683:
order_id : 602.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1684:
order_id : 602.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1685:
order_id : 603.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1686:
order_id : 603.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1687:
order_id : 604.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1688:
order_id : 604.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1689:
order_id : 605.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1690:
order_id : 605.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1691:
order_id : 605.0
item_id : 3.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1692:
order_id : 605.0
item_id : 4.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1693:
order_id : 606.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1694:
order_id : 606.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1695:
order_id : 607.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1696:
order_id : 607.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1697:
order_id : 607.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1698:
order_id : 608.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1699:
order_id : 608.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1700:
order_id : 608.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1701:
order_id : 609.0
item_id : 1.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1702:
order_id : 609.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1703:
order_id : 609.0
item_id : 3.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1704:
order_id : 609.0
item_id : 4.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1705:
order_id : 610.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1706:
order_id : 610.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1707:
order_id : 610.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1708:
order_id : 610.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1709:
order_id : 610.0
item_id : 5.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1710:
order_id : 611.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1711:
order_id : 612.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1712:
order_id : 612.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1713:
order_id : 612.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1714:
order_id : 612.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1715:
order_id : 613.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1716:
order_id : 613.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1717:
order_id : 613.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1718:
order_id : 614.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1719:
order_id : 614.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1720:
order_id : 615.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1721:
order_id : 615.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1722:
order_id : 615.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1723:
order_id : 615.0
item_id : 4.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1724:
order_id : 616.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1725:
order_id : 616.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1726:
order_id : 617.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1727:
order_id : 617.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1728:
order_id : 618.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1729:
order_id : 618.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1730:
order_id : 619.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1731:
order_id : 620.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1732:
order_id : 621.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1733:
order_id : 622.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1734:
order_id : 622.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1735:
order_id : 622.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1736:
order_id : 622.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1737:
order_id : 623.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1738:
order_id : 624.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1739:
order_id : 624.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1740:
order_id : 624.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1741:
order_id : 624.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1742:
order_id : 625.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1743:
order_id : 625.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1744:
order_id : 625.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1745:
order_id : 625.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1746:
order_id : 626.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1747:
order_id : 627.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1748:
order_id : 627.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1749:
order_id : 627.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1750:
order_id : 628.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1751:
order_id : 629.0
item_id : 1.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1752:
order_id : 629.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1753:
order_id : 629.0
item_id : 3.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1754:
order_id : 629.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1755:
order_id : 629.0
item_id : 5.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1756:
order_id : 630.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1757:
order_id : 630.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1758:
order_id : 630.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1759:
order_id : 630.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1760:
order_id : 631.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1761:
order_id : 631.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1762:
order_id : 632.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1763:
order_id : 632.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1764:
order_id : 632.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1765:
order_id : 632.0
item_id : 4.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1766:
order_id : 632.0
item_id : 5.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1767:
order_id : 633.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1768:
order_id : 633.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1769:
order_id : 633.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1770:
order_id : 633.0
item_id : 4.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1771:
order_id : 634.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1772:
order_id : 634.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1773:
order_id : 635.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1774:
order_id : 636.0
item_id : 1.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1775:
order_id : 637.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1776:
order_id : 637.0
item_id : 2.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1777:
order_id : 638.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1778:
order_id : 638.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1779:
order_id : 638.0
item_id : 3.0
product_id : 53.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1780:
order_id : 639.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1781:
order_id : 639.0
item_id : 2.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1782:
order_id : 639.0
item_id : 3.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1783:
order_id : 639.0
item_id : 4.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1784:
order_id : 640.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1785:
order_id : 640.0
item_id : 2.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1786:
order_id : 640.0
item_id : 3.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1787:
order_id : 640.0
item_id : 4.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1788:
order_id : 640.0
item_id : 5.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1789:
order_id : 641.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1790:
order_id : 641.0
item_id : 2.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1791:
order_id : 641.0
item_id : 3.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1792:
order_id : 642.0
item_id : 1.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1793:
order_id : 643.0
item_id : 1.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1794:
order_id : 644.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1795:
order_id : 645.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1796:
order_id : 645.0
item_id : 2.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1797:
order_id : 645.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1798:
order_id : 645.0
item_id : 4.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1799:
order_id : 645.0
item_id : 5.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1800:
order_id : 646.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1801:
order_id : 646.0
item_id : 2.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1802:
order_id : 646.0
item_id : 3.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1803:
order_id : 646.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1804:
order_id : 647.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1805:
order_id : 647.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1806:
order_id : 648.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1807:
order_id : 649.0
item_id : 1.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1808:
order_id : 649.0
item_id : 2.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1809:
order_id : 649.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1810:
order_id : 649.0
item_id : 4.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1811:
order_id : 650.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1812:
order_id : 651.0
item_id : 1.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1813:
order_id : 651.0
item_id : 2.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1814:
order_id : 651.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1815:
order_id : 651.0
item_id : 4.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1816:
order_id : 652.0
item_id : 1.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1817:
order_id : 652.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1818:
order_id : 652.0
item_id : 3.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1819:
order_id : 652.0
item_id : 4.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1820:
order_id : 652.0
item_id : 5.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1821:
order_id : 653.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1822:
order_id : 653.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1823:

order_id : 653.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1824:
order_id : 653.0
item_id : 4.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1825:
order_id : 653.0
item_id : 5.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1826:
order_id : 654.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1827:
order_id : 654.0
item_id : 2.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1828:
order_id : 654.0
item_id : 3.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1829:
order_id : 654.0
item_id : 4.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1830:
order_id : 655.0
item_id : 1.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1831:
order_id : 656.0
item_id : 1.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1832:
order_id : 656.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1833:
order_id : 656.0
item_id : 3.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1834:
order_id : 657.0
item_id : 1.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1835:
order_id : 657.0
item_id : 2.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1836:
order_id : 658.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1837:
order_id : 658.0
item_id : 2.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1838:
order_id : 658.0
item_id : 3.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1839:
order_id : 659.0
item_id : 1.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1840:
order_id : 659.0
item_id : 2.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1841:
order_id : 659.0
item_id : 3.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1842:
order_id : 659.0
item_id : 4.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1843:
order_id : 660.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1844:
order_id : 660.0
item_id : 2.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1845:
order_id : 660.0
item_id : 3.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1846:
order_id : 660.0
item_id : 4.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1847:
order_id : 661.0
item_id : 1.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1848:
order_id : 661.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1849:
order_id : 662.0
item_id : 1.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1850:
order_id : 662.0
item_id : 2.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1851:
order_id : 662.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1852:
order_id : 662.0
item_id : 4.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1853:
order_id : 662.0
item_id : 5.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1854:
order_id : 663.0
item_id : 1.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1855:
order_id : 663.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1856:
order_id : 663.0
item_id : 3.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1857:
order_id : 663.0
item_id : 4.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1858:
order_id : 663.0
item_id : 5.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1859:
order_id : 664.0
item_id : 1.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1860:
order_id : 664.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1861:
order_id : 664.0
item_id : 3.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1862:
order_id : 664.0
item_id : 4.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1863:
order_id : 664.0
item_id : 5.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1864:
order_id : 665.0
item_id : 1.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1865:
order_id : 665.0
item_id : 2.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1866:
order_id : 665.0
item_id : 3.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1867:
order_id : 666.0
item_id : 1.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1868:
order_id : 666.0
item_id : 2.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1869:
order_id : 667.0
item_id : 1.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1870:
order_id : 667.0
item_id : 2.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1871:
order_id : 667.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1872:
order_id : 667.0
item_id : 4.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1873:
order_id : 667.0
item_id : 5.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1874:
order_id : 668.0
item_id : 1.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1875:
order_id : 668.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1876:
order_id : 669.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1877:
order_id : 669.0
item_id : 2.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1878:
order_id : 670.0
item_id : 1.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1879:
order_id : 670.0
item_id : 2.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1880:
order_id : 670.0
item_id : 3.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1881:
order_id : 670.0
item_id : 4.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1882:
order_id : 671.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1883:
order_id : 671.0
item_id : 2.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1884:
order_id : 671.0
item_id : 3.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1885:
order_id : 671.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1886:
order_id : 671.0
item_id : 5.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1887:
order_id : 672.0
item_id : 1.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1888:
order_id : 672.0
item_id : 2.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1889:
order_id : 672.0
item_id : 3.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1890:
order_id : 673.0
item_id : 1.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1891:
order_id : 673.0
item_id : 2.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1892:
order_id : 673.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1893:
order_id : 673.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1894:
order_id : 674.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1895:
order_id : 675.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1896:
order_id : 675.0
item_id : 2.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1897:
order_id : 675.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1898:
order_id : 675.0
item_id : 4.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1899:
order_id : 676.0
item_id : 1.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1900:
order_id : 676.0
item_id : 2.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1901:
order_id : 676.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1902:
order_id : 676.0
item_id : 4.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1903:
order_id : 677.0
item_id : 1.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1904:
order_id : 677.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1905:
order_id : 677.0
item_id : 3.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1906:
order_id : 677.0
item_id : 4.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1907:
order_id : 677.0
item_id : 5.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1908:
order_id : 678.0
item_id : 1.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1909:
order_id : 678.0
item_id : 2.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1910:
order_id : 679.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1911:
order_id : 679.0
item_id : 2.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1912:
order_id : 680.0
item_id : 1.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1913:
order_id : 680.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1914:
order_id : 680.0
item_id : 3.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1915:
order_id : 681.0
item_id : 1.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1916:
order_id : 681.0
item_id : 2.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1917:
order_id : 681.0
item_id : 3.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1918:
order_id : 681.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1919:
order_id : 681.0
item_id : 5.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1920:
order_id : 682.0
item_id : 1.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1921:
order_id : 682.0
item_id : 2.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1922:
order_id : 682.0
item_id : 3.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1923:
order_id : 683.0
item_id : 1.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1924:
order_id : 684.0
item_id : 1.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1925:
order_id : 684.0
item_id : 2.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1926:
order_id : 685.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1927:
order_id : 685.0
item_id : 2.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1928:
order_id : 685.0
item_id : 3.0
product_id : 107.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1929:
order_id : 685.0
item_id : 4.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1930:
order_id : 685.0
item_id : 5.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1931:
order_id : 686.0
item_id : 1.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1932:
order_id : 686.0
item_id : 2.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1933:
order_id : 686.0
item_id : 3.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1934:
order_id : 686.0
item_id : 4.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1935:
order_id : 686.0
item_id : 5.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1936:
order_id : 687.0
item_id : 1.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1937:
order_id : 687.0
item_id : 2.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1938:
order_id : 687.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1939:
order_id : 687.0
item_id : 4.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1940:
order_id : 688.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1941:
order_id : 688.0
item_id : 2.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1942:
order_id : 689.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1943:
order_id : 690.0
item_id : 1.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1944:
order_id : 690.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1945:
order_id : 690.0
item_id : 3.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1946:
order_id : 690.0
item_id : 4.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1947:
order_id : 691.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1948:
order_id : 691.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1949:
order_id : 691.0
item_id : 3.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1950:
order_id : 691.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1951:
order_id : 692.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1952:
order_id : 692.0
item_id : 2.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1953:
order_id : 692.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1954:
order_id : 692.0
item_id : 4.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1955:
order_id : 693.0
item_id : 1.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1956:
order_id : 693.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1957:
order_id : 693.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1958:
order_id : 693.0
item_id : 4.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1959:
order_id : 694.0
item_id : 1.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1960:
order_id : 694.0
item_id : 2.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1961:
order_id : 694.0
item_id : 3.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1962:
order_id : 694.0
item_id : 4.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1963:
order_id : 694.0
item_id : 5.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1964:
order_id : 695.0
item_id : 1.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1965:
order_id : 695.0
item_id : 2.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1966:
order_id : 696.0
item_id : 1.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1967:
order_id : 696.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1968:
order_id : 696.0
item_id : 3.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 1969:
order_id : 697.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1970:
order_id : 698.0
item_id : 1.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1971:
order_id : 698.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1972:
order_id : 698.0
item_id : 3.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1973:
order_id : 699.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1974:
order_id : 699.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1975:
order_id : 699.0
item_id : 3.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1976:
order_id : 699.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1977:
order_id : 699.0
item_id : 5.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1978:
order_id : 700.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1979:
order_id : 700.0
item_id : 2.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1980:
order_id : 701.0
item_id : 1.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1981:
order_id : 702.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1982:
order_id : 702.0
item_id : 2.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1983:
order_id : 702.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1984:
order_id : 703.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1985:
order_id : 703.0
item_id : 2.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1986:
order_id : 703.0
item_id : 3.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1987:
order_id : 703.0
item_id : 4.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1988:
order_id : 704.0
item_id : 1.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1989:
order_id : 704.0
item_id : 2.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1990:
order_id : 704.0
item_id : 3.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1991:
order_id : 705.0
item_id : 1.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1992:
order_id : 706.0
item_id : 1.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1993:
order_id : 706.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1994:
order_id : 706.0
item_id : 3.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1995:
order_id : 707.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1996:
order_id : 707.0
item_id : 2.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1997:
order_id : 707.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1998:
order_id : 707.0
item_id : 4.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 1999:
order_id : 708.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2000:
order_id : 708.0
item_id : 2.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2001:
order_id : 708.0
item_id : 3.0
product_id : 34.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2002:
order_id : 709.0
item_id : 1.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2003:
order_id : 709.0
item_id : 2.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2004:
order_id : 709.0
item_id : 3.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2005:
order_id : 710.0
item_id : 1.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2006:
order_id : 710.0
item_id : 2.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2007:
order_id : 710.0
item_id : 3.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2008:
order_id : 710.0
item_id : 4.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2009:
order_id : 710.0
item_id : 5.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2010:
order_id : 711.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2011:
order_id : 711.0
item_id : 2.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2012:
order_id : 711.0
item_id : 3.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2013:
order_id : 712.0
item_id : 1.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2014:
order_id : 712.0
item_id : 2.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2015:
order_id : 712.0
item_id : 3.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2016:
order_id : 712.0
item_id : 4.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2017:
order_id : 712.0
item_id : 5.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2018:
order_id : 713.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2019:
order_id : 713.0
item_id : 2.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2020:
order_id : 713.0
item_id : 3.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2021:
order_id : 713.0
item_id : 4.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2022:
order_id : 714.0
item_id : 1.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2023:
order_id : 715.0
item_id : 1.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2024:
order_id : 715.0
item_id : 2.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2025:
order_id : 716.0
item_id : 1.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2026:
order_id : 716.0
item_id : 2.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2027:
order_id : 716.0
item_id : 3.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2028:
order_id : 716.0
item_id : 4.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2029:
order_id : 717.0
item_id : 1.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2030:
order_id : 717.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2031:
order_id : 718.0
item_id : 1.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2032:
order_id : 718.0
item_id : 2.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2033:
order_id : 718.0
item_id : 3.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2034:
order_id : 719.0
item_id : 1.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2035:
order_id : 720.0
item_id : 1.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2036:
order_id : 720.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2037:
order_id : 721.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2038:
order_id : 721.0
item_id : 2.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2039:
order_id : 721.0
item_id : 3.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2040:
order_id : 721.0
item_id : 4.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2041:
order_id : 722.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2042:
order_id : 722.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2043:
order_id : 722.0
item_id : 3.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2044:
order_id : 723.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2045:
order_id : 723.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2046:
order_id : 723.0
item_id : 3.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2047:
order_id : 724.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2048:
order_id : 724.0
item_id : 2.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2049:
order_id : 724.0
item_id : 3.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2050:
order_id : 724.0
item_id : 4.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2051:
order_id : 725.0
item_id : 1.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2052:
order_id : 725.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2053:
order_id : 725.0
item_id : 3.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2054:
order_id : 725.0
item_id : 4.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2055:
order_id : 726.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2056:
order_id : 727.0
item_id : 1.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2057:
order_id : 727.0
item_id : 2.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2058:
order_id : 728.0
item_id : 1.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2059:
order_id : 728.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2060:
order_id : 728.0
item_id : 3.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2061:
order_id : 728.0
item_id : 4.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2062:
order_id : 729.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2063:
order_id : 730.0
item_id : 1.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2064:
order_id : 730.0
item_id : 2.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2065:
order_id : 730.0
item_id : 3.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2066:
order_id : 730.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2067:
order_id : 731.0
item_id : 1.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2068:
order_id : 731.0
item_id : 2.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2069:
order_id : 731.0
item_id : 3.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2070:
order_id : 731.0
item_id : 4.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2071:
order_id : 732.0
item_id : 1.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2072:
order_id : 732.0
item_id : 2.0
product_id : 4.0
quantity : 2.0

list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2073:
order_id : 733.0
item_id : 1.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2074:
order_id : 733.0
item_id : 2.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2075:
order_id : 733.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2076:
order_id : 734.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2077:
order_id : 734.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2078:
order_id : 734.0
item_id : 3.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2079:
order_id : 734.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2080:
order_id : 735.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2081:
order_id : 735.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2082:
order_id : 736.0
item_id : 1.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2083:
order_id : 736.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2084:
order_id : 736.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2085:
order_id : 737.0
item_id : 1.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2086:
order_id : 737.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2087:
order_id : 737.0
item_id : 3.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2088:
order_id : 737.0
item_id : 4.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2089:
order_id : 738.0
item_id : 1.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2090:
order_id : 738.0
item_id : 2.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2091:
order_id : 738.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2092:
order_id : 738.0
item_id : 4.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2093:
order_id : 739.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2094:
order_id : 740.0
item_id : 1.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2095:
order_id : 740.0
item_id : 2.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2096:
order_id : 740.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2097:
order_id : 740.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2098:
order_id : 740.0
item_id : 5.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2099:
order_id : 741.0
item_id : 1.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2100:
order_id : 741.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2101:
order_id : 741.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2102:
order_id : 741.0
item_id : 4.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2103:
order_id : 742.0
item_id : 1.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2104:
order_id : 742.0
item_id : 2.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2105:
order_id : 743.0
item_id : 1.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2106:
order_id : 744.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2107:
order_id : 745.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2108:
order_id : 745.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2109:
order_id : 745.0
item_id : 3.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2110:
order_id : 746.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2111:
order_id : 747.0
item_id : 1.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2112:
order_id : 747.0
item_id : 2.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2113:
order_id : 747.0
item_id : 3.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2114:
order_id : 747.0
item_id : 4.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2115:
order_id : 748.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2116:
order_id : 748.0
item_id : 2.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2117:
order_id : 748.0
item_id : 3.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2118:
order_id : 748.0
item_id : 4.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2119:
order_id : 749.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2120:
order_id : 749.0
item_id : 2.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2121:
order_id : 749.0
item_id : 3.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2122:
order_id : 749.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2123:
order_id : 749.0
item_id : 5.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2124:
order_id : 750.0
item_id : 1.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2125:
order_id : 750.0
item_id : 2.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2126:
order_id : 751.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2127:
order_id : 752.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2128:
order_id : 752.0
item_id : 2.0
product_id : 31.0
quantity : 2.0
list_price : 1632.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2129:
order_id : 753.0
item_id : 1.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2130:
order_id : 753.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2131:
order_id : 753.0
item_id : 3.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2132:
order_id : 753.0
item_id : 4.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2133:
order_id : 753.0
item_id : 5.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2134:
order_id : 754.0
item_id : 1.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2135:
order_id : 754.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2136:
order_id : 754.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2137:
order_id : 754.0
item_id : 4.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2138:
order_id : 754.0
item_id : 5.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2139:
order_id : 755.0
item_id : 1.0
product_id : 80.0
quantity : 2.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2140:
order_id : 755.0
item_id : 2.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2141:
order_id : 755.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2142:
order_id : 756.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2143:
order_id : 756.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2144:
order_id : 757.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2145:
order_id : 758.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2146:
order_id : 758.0
item_id : 2.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2147:
order_id : 758.0
item_id : 3.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2148:
order_id : 758.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2149:
order_id : 758.0
item_id : 5.0
product_id : 109.0
quantity : 1.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2150:
order_id : 759.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2151:
order_id : 759.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2152:
order_id : 760.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2153:
order_id : 760.0
item_id : 2.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2154:
order_id : 761.0
item_id : 1.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2155:
order_id : 761.0
item_id : 2.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2156:
order_id : 762.0
item_id : 1.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2157:
order_id : 763.0
item_id : 1.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2158:
order_id : 763.0
item_id : 2.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2159:
order_id : 764.0
item_id : 1.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2160:
order_id : 764.0
item_id : 2.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2161:
order_id : 764.0
item_id : 3.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2162:
order_id : 765.0
item_id : 1.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2163:
order_id : 765.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2164:
order_id : 765.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2165:
order_id : 765.0
item_id : 4.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2166:
order_id : 765.0
item_id : 5.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2167:
order_id : 766.0
item_id : 1.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2168:
order_id : 767.0
item_id : 1.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2169:
order_id : 767.0
item_id : 2.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2170:
order_id : 767.0
item_id : 3.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2171:
order_id : 767.0
item_id : 4.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2172:
order_id : 768.0
item_id : 1.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2173:
order_id : 768.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2174:
order_id : 769.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2175:
order_id : 769.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2176:
order_id : 769.0
item_id : 3.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2177:
order_id : 770.0
item_id : 1.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2178:
order_id : 770.0
item_id : 2.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2179:
order_id : 770.0
item_id : 3.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2180:
order_id : 770.0
item_id : 4.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2181:
order_id : 771.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2182:
order_id : 771.0
item_id : 2.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2183:
order_id : 772.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2184:
order_id : 773.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2185:
order_id : 773.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2186:
order_id : 773.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2187:
order_id : 773.0
item_id : 4.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2188:
order_id : 774.0
item_id : 1.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2189:
order_id : 774.0
item_id : 2.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2190:
order_id : 774.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2191:
order_id : 774.0
item_id : 4.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2192:
order_id : 774.0
item_id : 5.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2193:
order_id : 775.0
item_id : 1.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2194:
order_id : 776.0
item_id : 1.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2195:
order_id : 776.0
item_id : 2.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2196:
order_id : 776.0
item_id : 3.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2197:
order_id : 776.0
item_id : 4.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2198:
order_id : 777.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2199:
order_id : 777.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2200:
order_id : 777.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2201:
order_id : 778.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2202:
order_id : 778.0
item_id : 2.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2203:
order_id : 779.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2204:
order_id : 779.0
item_id : 2.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2205:
order_id : 779.0
item_id : 3.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2206:
order_id : 779.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2207:
order_id : 779.0
item_id : 5.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2208:
order_id : 780.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2209:
order_id : 781.0
item_id : 1.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2210:
order_id : 781.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2211:
order_id : 781.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2212:
order_id : 782.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2213:
order_id : 782.0
item_id : 2.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2214:
order_id : 782.0
item_id : 3.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2215:
order_id : 782.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2216:
order_id : 783.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2217:
order_id : 783.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2218:
order_id : 783.0
item_id : 3.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2219:
order_id : 783.0
item_id : 4.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2220:
order_id : 784.0
item_id : 1.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2221:
order_id : 784.0
item_id : 2.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2222:
order_id : 784.0
item_id : 3.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2223:
order_id : 785.0
item_id : 1.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2224:
order_id : 785.0
item_id : 2.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2225:
order_id : 785.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2226:
order_id : 786.0
item_id : 1.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2227:
order_id : 787.0
item_id : 1.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2228:
order_id : 787.0
item_id : 2.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2229:
order_id : 788.0
item_id : 1.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2230:
order_id : 788.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2231:
order_id : 788.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2232:
order_id : 789.0
item_id : 1.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2233:
order_id : 789.0
item_id : 2.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2234:
order_id : 790.0
item_id : 1.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2235:
order_id : 790.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2236:
order_id : 791.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2237:
order_id : 791.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2238:
order_id : 792.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2239:
order_id : 792.0
item_id : 2.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2240:
order_id : 792.0
item_id : 3.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2241:
order_id : 792.0
item_id : 4.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2242:
order_id : 792.0
item_id : 5.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2243:
order_id : 793.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2244:
order_id : 793.0
item_id : 2.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2245:
order_id : 793.0
item_id : 3.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2246:
order_id : 794.0
item_id : 1.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2247:
order_id : 794.0
item_id : 2.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2248:
order_id : 794.0
item_id : 3.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2249:
order_id : 794.0
item_id : 4.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2250:
order_id : 795.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2251:
order_id : 795.0
item_id : 2.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2252:
order_id : 796.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2253:
order_id : 797.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2254:
order_id : 797.0
item_id : 2.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2255:
order_id : 797.0
item_id : 3.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2256:
order_id : 797.0
item_id : 4.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2257:
order_id : 797.0
item_id : 5.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2258:
order_id : 798.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2259:
order_id : 798.0
item_id : 2.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2260:
order_id : 798.0
item_id : 3.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2261:
order_id : 798.0
item_id : 4.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2262:
order_id : 798.0
item_id : 5.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2263:
order_id : 799.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2264:
order_id : 799.0
item_id : 2.0
product_id : 34.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2265:
order_id : 799.0
item_id : 3.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2266:
order_id : 799.0
item_id : 4.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2267:
order_id : 799.0
item_id : 5.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2268:
order_id : 800.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2269:
order_id : 800.0
item_id : 2.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2270:
order_id : 800.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2271:
order_id : 800.0
item_id : 4.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2272:
order_id : 800.0
item_id : 5.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2273:
order_id : 801.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2274:
order_id : 802.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2275:
order_id : 802.0
item_id : 2.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2276:
order_id : 802.0
item_id : 3.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2277:
order_id : 802.0
item_id : 4.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2278:
order_id : 803.0
item_id : 1.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2279:
order_id : 803.0
item_id : 2.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2280:
order_id : 803.0
item_id : 3.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2281:
order_id : 803.0
item_id : 4.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2282:
order_id : 804.0
item_id : 1.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2283:
order_id : 804.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2284:
order_id : 804.0
item_id : 3.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2285:
order_id : 805.0
item_id : 1.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2286:
order_id : 805.0
item_id : 2.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2287:
order_id : 805.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2288:
order_id : 805.0
item_id : 4.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2289:
order_id : 805.0
item_id : 5.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2290:
order_id : 806.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2291:
order_id : 806.0
item_id : 2.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2292:
order_id : 806.0
item_id : 3.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2293:
order_id : 806.0
item_id : 4.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2294:
order_id : 806.0
item_id : 5.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2295:
order_id : 807.0
item_id : 1.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2296:
order_id : 807.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2297:
order_id : 807.0
item_id : 3.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2298:
order_id : 807.0
item_id : 4.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2299:
order_id : 807.0
item_id : 5.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2300:
order_id : 808.0
item_id : 1.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2301:
order_id : 808.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2302:
order_id : 808.0
item_id : 3.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2303:
order_id : 808.0
item_id : 4.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2304:
order_id : 809.0
item_id : 1.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2305:
order_id : 809.0
item_id : 2.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2306:
order_id : 809.0
item_id : 3.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2307:
order_id : 810.0
item_id : 1.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2308:
order_id : 810.0
item_id : 2.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2309:
order_id : 810.0
item_id : 3.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2310:
order_id : 810.0
item_id : 4.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2311:
order_id : 811.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2312:
order_id : 811.0
item_id : 2.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2313:
order_id : 811.0
item_id : 3.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2314:
order_id : 811.0
item_id : 4.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2315:
order_id : 812.0
item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2316:
order_id : 812.0
item_id : 2.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2317:
order_id : 813.0
item_id : 1.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2318:
order_id : 813.0
item_id : 2.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2319:
order_id : 813.0
item_id : 3.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2320:
order_id : 813.0
item_id : 4.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2321:
order_id : 813.0
item_id : 5.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2322:
order_id : 814.0
item_id : 1.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2323:
order_id : 814.0
item_id : 2.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2324:
order_id : 814.0
item_id : 3.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2325:
order_id : 814.0
item_id : 4.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2326:
order_id : 815.0
item_id : 1.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2327:
order_id : 815.0
item_id : 2.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2328:
order_id : 815.0
item_id : 3.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2329:
order_id : 815.0
item_id : 4.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2330:
order_id : 816.0
item_id : 1.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2331:
order_id : 816.0
item_id : 2.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2332:
order_id : 817.0
item_id : 1.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2333:
order_id : 817.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2334:
order_id : 817.0
item_id : 3.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2335:
order_id : 818.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2336:
order_id : 818.0
item_id : 2.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2337:
order_id : 818.0
item_id : 3.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2338:
order_id : 818.0
item_id : 4.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2339:
order_id : 819.0
item_id : 1.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.2

Error in row 2356:
order_id : 827.0
item_id : 2.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2357:
order_id : 827.0
item_id : 3.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2358:
order_id : 827.0
item_id : 4.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2359:
order_id : 828.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2360:
order_id : 828.0
item_id : 2.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2361:
order_id : 828.0
item_id : 3.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2362:
order_id : 829.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2363:
order_id : 829.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2364:
order_id : 830.0
item_id : 1.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2365:
order_id : 830.0
item_id : 2.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2366:
order_id : 830.0
item_id : 3.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2367:
order_id : 831.0
item_id : 1.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2368:
order_id : 831.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2369:
order_id : 831.0
item_id : 3.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2370:
order_id : 832.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2371:
order_id : 832.0
item_id : 2.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2372:
order_id : 832.0
item_id : 3.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2373:
order_id : 832.0
item_id : 4.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2374:
order_id : 833.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2375:
order_id : 834.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2376:
order_id : 834.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2377:
order_id : 834.0
item_id : 3.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2378:
order_id : 835.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2379:
order_id : 835.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2380:
order_id : 835.0
item_id : 3.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2381:
order_id : 836.0
item_id : 1.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2382:
order_id : 837.0
item_id : 1.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2383:
order_id : 837.0
item_id : 2.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2384:
order_id : 837.0
item_id : 3.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2385:
order_id : 838.0
item_id : 1.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2386:
order_id : 838.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2387:
order_id : 838.0
item_id : 3.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2388:
order_id : 838.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2389:
order_id : 839.0
item_id : 1.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2390:
order_id : 839.0
item_id : 2.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2391:
order_id : 839.0
item_id : 3.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2392:
order_id : 840.0
item_id : 1.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2393:
order_id : 840.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2394:
order_id : 840.0
item_id : 3.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2395:
order_id : 841.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2396:
order_id : 841.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2397:
order_id : 841.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2398:
order_id : 841.0
item_id : 4.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2399:
order_id : 841.0
item_id : 5.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2400:
order_id : 842.0
item_id : 1.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2401:
order_id : 842.0
item_id : 2.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2402:
order_id : 843.0
item_id : 1.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2403:
order_id : 843.0
item_id : 2.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2404:
order_id : 843.0
item_id : 3.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2405:
order_id : 843.0
item_id : 4.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2406:
order_id : 844.0
item_id : 1.0
product_id : 79.0
quantity : 2.0
list_price : 402.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2407:
order_id : 844.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2408:
order_id : 844.0
item_id : 3.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2409:
order_id : 844.0
item_id : 4.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2410:
order_id : 844.0
item_id : 5.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2411:
order_id : 845.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2412:
order_id : 845.0
item_id : 2.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2413:
order_id : 845.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2414:
order_id : 845.0
item_id : 4.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2415:
order_id : 845.0
item_id : 5.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2416:
order_id : 846.0
item_id : 1.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2417:
order_id : 846.0
item_id : 2.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2418:
order_id : 846.0
item_id : 3.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2419:
order_id : 846.0
item_id : 4.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2420:

order_id : 846.0
item_id : 5.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2421:
order_id : 847.0
item_id : 1.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2422:
order_id : 848.0
item_id : 1.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2423:
order_id : 848.0
item_id : 2.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2424:
order_id : 848.0
item_id : 3.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2425:
order_id : 848.0
item_id : 4.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2426:
order_id : 849.0
item_id : 1.0
product_id : 109.0
quantity : 1.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2427:
order_id : 850.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2428:
order_id : 850.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2429:
order_id : 850.0
item_id : 3.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2430:
order_id : 851.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2431:
order_id : 851.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2432:
order_id : 852.0
item_id : 1.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2433:
order_id : 853.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2434:
order_id : 853.0
item_id : 2.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2435:
order_id : 853.0
item_id : 3.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2436:
order_id : 853.0
item_id : 4.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2437:
order_id : 853.0
item_id : 5.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2438:
order_id : 854.0
item_id : 1.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2439:
order_id : 855.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2440:
order_id : 855.0
item_id : 2.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2441:
order_id : 855.0
item_id : 3.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2442:
order_id : 856.0
item_id : 1.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2443:
order_id : 857.0
item_id : 1.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2444:
order_id : 858.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2445:
order_id : 858.0
item_id : 2.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2446:
order_id : 858.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2447:
order_id : 858.0
item_id : 4.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2448:
order_id : 859.0
item_id : 1.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2449:
order_id : 859.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2450:
order_id : 859.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2451:
order_id : 859.0
item_id : 4.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2452:
order_id : 859.0
item_id : 5.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2453:
order_id : 860.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2454:
order_id : 860.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2455:
order_id : 860.0
item_id : 3.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2456:
order_id : 860.0
item_id : 4.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2457:
order_id : 860.0
item_id : 5.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2458:
order_id : 861.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2459:
order_id : 861.0
item_id : 2.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2460:
order_id : 862.0
item_id : 1.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2461:
order_id : 862.0
item_id : 2.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2462:
order_id : 862.0
item_id : 3.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2463:
order_id : 863.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2464:
order_id : 864.0
item_id : 1.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2465:
order_id : 864.0
item_id : 2.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2466:
order_id : 864.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2467:
order_id : 865.0
item_id : 1.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2468:
order_id : 865.0
item_id : 2.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2469:
order_id : 866.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2470:
order_id : 866.0
item_id : 2.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2471:
order_id : 866.0
item_id : 3.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2472:
order_id : 866.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2473:
order_id : 867.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2474:
order_id : 868.0
item_id : 1.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2475:
order_id : 869.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2476:
order_id : 869.0
item_id : 2.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2477:
order_id : 869.0
item_id : 3.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2478:
order_id : 869.0
item_id : 4.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2479:
order_id : 869.0
item_id : 5.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2480:
order_id : 870.0
item_id : 1.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2481:
order_id : 871.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2482:
order_id : 871.0
item_id : 2.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2483:
order_id : 871.0
item_id : 3.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2484:
order_id : 871.0
item_id : 4.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2485:
order_id : 872.0
item_id : 1.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2486:
order_id : 872.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2487:
order_id : 873.0
item_id : 1.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2488:
order_id : 874.0
item_id : 1.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2489:
order_id : 874.0
item_id : 2.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2490:
order_id : 874.0
item_id : 3.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2491:
order_id : 874.0
item_id : 4.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2492:
order_id : 875.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2493:
order_id : 875.0
item_id : 2.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2494:
order_id : 875.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2495:
order_id : 875.0
item_id : 4.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2496:
order_id : 876.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2497:
order_id : 876.0
item_id : 2.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2498:
order_id : 876.0
item_id : 3.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2499:
order_id : 876.0
item_id : 4.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2500:
order_id : 877.0
item_id : 1.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2501:
order_id : 877.0
item_id : 2.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2502:
order_id : 878.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2503:
order_id : 878.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2504:
order_id : 878.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2505:
order_id : 878.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2506:
order_id : 879.0
item_id : 1.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2507:
order_id : 879.0
item_id : 2.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2508:
order_id : 879.0
item_id : 3.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2509:
order_id : 879.0
item_id : 4.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2510:
order_id : 880.0
item_id : 1.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2511:
order_id : 880.0
item_id : 2.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2512:
order_id : 880.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2513:
order_id : 880.0
item_id : 4.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2514:
order_id : 880.0
item_id : 5.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2515:
order_id : 881.0
item_id : 1.0
product_id : 98.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2516:
order_id : 881.0
item_id : 2.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2517:
order_id : 881.0
item_id : 3.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2518:
order_id : 881.0
item_id : 4.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2519:
order_id : 882.0
item_id : 1.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2520:
order_id : 882.0
item_id : 2.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2521:
order_id : 882.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2522:
order_id : 883.0
item_id : 1.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2523:
order_id : 883.0
item_id : 2.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2524:
order_id : 884.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2525:
order_id : 884.0
item_id : 2.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2526:
order_id : 884.0
item_id : 3.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2527:
order_id : 884.0
item_id : 4.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2528:
order_id : 884.0
item_id : 5.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2529:
order_id : 885.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2530:
order_id : 885.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2531:
order_id : 886.0
item_id : 1.0
product_id : 47.0
quantity : 1.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2532:
order_id : 886.0
item_id : 2.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2533:
order_id : 887.0
item_id : 1.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2534:
order_id : 887.0
item_id : 2.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2535:
order_id : 888.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2536:
order_id : 888.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2537:
order_id : 889.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2538:
order_id : 890.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2539:
order_id : 890.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2540:
order_id : 890.0
item_id : 3.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2541:
order_id : 890.0
item_id : 4.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2542:
order_id : 890.0
item_id : 5.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2543:
order_id : 891.0
item_id : 1.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2544:
order_id : 891.0
item_id : 2.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2545:
order_id : 891.0
item_id : 3.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2546:
order_id : 891.0
item_id : 4.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2547:
order_id : 892.0
item_id : 1.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2548:
order_id : 892.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2549:
order_id : 892.0
item_id : 3.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2550:
order_id : 892.0
item_id : 4.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2551:
order_id : 893.0
item_id : 1.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2552:
order_id : 893.0
item_id : 2.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2553:
order_id : 894.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2554:
order_id : 895.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2555:
order_id : 896.0
item_id : 1.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2556:
order_id : 896.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2557:
order_id : 897.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2558:
order_id : 897.0
item_id : 2.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2559:
order_id : 898.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2560:
order_id : 898.0
item_id : 2.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2561:
order_id : 898.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2562:
order_id : 898.0
item_id : 4.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2563:
order_id : 899.0
item_id : 1.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2564:
order_id : 899.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2565:
order_id : 899.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2566:
order_id : 900.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2567:
order_id : 900.0
item_id : 2.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2568:
order_id : 900.0
item_id : 3.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2569:
order_id : 900.0
item_id : 4.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2570:
order_id : 900.0
item_id : 5.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2571:
order_id : 901.0
item_id : 1.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2572:
order_id : 901.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2573:
order_id : 902.0
item_id : 1.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2574:
order_id : 902.0
item_id : 2.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2575:
order_id : 902.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2576:
order_id : 902.0
item_id : 4.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2577:
order_id : 903.0
item_id : 1.0
product_id : 31.0
quantity : 2.0
list_price : 1632.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2578:
order_id : 903.0
item_id : 2.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2579:
order_id : 904.0
item_id : 1.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2580:
order_id : 904.0
item_id : 2.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2581:
order_id : 904.0
item_id : 3.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2582:
order_id : 904.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2583:
order_id : 905.0
item_id : 1.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2584:
order_id : 905.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2585:
order_id : 905.0
item_id : 3.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2586:
order_id : 905.0
item_id : 4.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2587:
order_id : 906.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2588:
order_id : 906.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2589:
order_id : 906.0
item_id : 3.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2590:
order_id : 906.0
item_id : 4.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2591:
order_id : 906.0
item_id : 5.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2592:
order_id : 907.0
item_id : 1.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2593:
order_id : 907.0
item_id : 2.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2594:
order_id : 908.0
item_id : 1.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2595:
order_id : 908.0
item_id : 2.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2596:
order_id : 908.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2597:
order_id : 909.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2598:
order_id : 910.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2599:
order_id : 911.0
item_id : 1.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2600:
order_id : 911.0
item_id : 2.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2601:
order_id : 911.0
item_id : 3.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2602:
order_id : 911.0
item_id : 4.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2603:
order_id : 912.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2604:
order_id : 912.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2605:
order_id : 912.0
item_id : 3.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2606:
order_id : 912.0
item_id : 4.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2607:
order_id : 913.0
item_id : 1.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2608:
order_id : 913.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2609:
order_id : 914.0
item_id : 1.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2610:
order_id : 914.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2611:
order_id : 914.0
item_id : 3.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2612:
order_id : 914.0
item_id : 4.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2613:
order_id : 915.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2614:
order_id : 915.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2615:
order_id : 915.0
item_id : 3.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2616:
order_id : 915.0
item_id : 4.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2617:
order_id : 916.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2618:
order_id : 917.0
item_id : 1.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2619:
order_id : 918.0
item_id : 1.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2620:
order_id : 918.0
item_id : 2.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2621:
order_id : 918.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2622:
order_id : 919.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2623:
order_id : 919.0
item_id : 2.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2624:
order_id : 920.0
item_id : 1.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2625:
order_id : 920.0
item_id : 2.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2626:
order_id : 920.0
item_id : 3.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2627:
order_id : 920.0
item_id : 4.0
product_id : 80.0
quantity : 2.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2628:
order_id : 921.0
item_id : 1.0
product_id : 77.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2629:
order_id : 921.0
item_id : 2.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2630:
order_id : 921.0
item_id : 3.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2631:
order_id : 922.0
item_id : 1.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2632:
order_id : 922.0
item_id : 2.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2633:
order_id : 922.0
item_id : 3.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2634:
order_id : 923.0
item_id : 1.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2635:
order_id : 923.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2636:
order_id : 924.0
item_id : 1.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2637:
order_id : 924.0
item_id : 2.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2638:
order_id : 925.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2639:
order_id : 925.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2640:
order_id : 926.0
item_id : 1.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2641:
order_id : 927.0
item_id : 1.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2642:
order_id : 927.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2643:
order_id : 927.0
item_id : 3.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2644:
order_id : 927.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2645:
order_id : 927.0
item_id : 5.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2646:
order_id : 928.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2647:
order_id : 928.0
item_id : 2.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2648:
order_id : 929.0
item_id : 1.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2649:
order_id : 929.0
item_id : 2.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2650:
order_id : 929.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2651:
order_id : 930.0
item_id : 1.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2652:
order_id : 930.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2653:
order_id : 930.0
item_id : 3.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2654:
order_id : 930.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2655:
order_id : 930.0
item_id : 5.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2656:
order_id : 931.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2657:
order_id : 931.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2658:

order_id : 932.0
item_id : 1.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2659:
order_id : 933.0
item_id : 1.0
product_id : 77.0
quantity : 1.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2660:
order_id : 933.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2661:
order_id : 933.0
item_id : 3.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2662:
order_id : 934.0
item_id : 1.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2663:
order_id : 934.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2664:
order_id : 934.0
item_id : 3.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2665:
order_id : 934.0
item_id : 4.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2666:
order_id : 934.0
item_id : 5.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2667:
order_id : 935.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2668:
order_id : 935.0
item_id : 2.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2669:
order_id : 935.0
item_id : 3.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2670:
order_id : 935.0
item_id : 4.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2671:
order_id : 936.0
item_id : 1.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2672:
order_id : 936.0
item_id : 2.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2673:
order_id : 937.0
item_id : 1.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2674:
order_id : 937.0
item_id : 2.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2675:
order_id : 937.0
item_id : 3.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2676:
order_id : 937.0
item_id : 4.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2677:
order_id : 937.0
item_id : 5.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2678:
order_id : 938.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2679:
order_id : 938.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2680:
order_id : 939.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2681:
order_id : 939.0
item_id : 2.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2682:
order_id : 940.0
item_id : 1.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2683:
order_id : 941.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2684:
order_id : 941.0
item_id : 2.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2685:
order_id : 941.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2686:
order_id : 942.0
item_id : 1.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2687:
order_id : 942.0
item_id : 2.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2688:
order_id : 942.0
item_id : 3.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2689:
order_id : 942.0
item_id : 4.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2690:
order_id : 942.0
item_id : 5.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2691:
order_id : 943.0
item_id : 1.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2692:
order_id : 943.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2693:
order_id : 944.0
item_id : 1.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2694:
order_id : 944.0
item_id : 2.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2695:
order_id : 944.0
item_id : 3.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2696:
order_id : 944.0
item_id : 4.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2697:
order_id : 944.0
item_id : 5.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2698:
order_id : 945.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2699:
order_id : 945.0
item_id : 2.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2700:
order_id : 945.0
item_id : 3.0
product_id : 34.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2701:
order_id : 945.0
item_id : 4.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2702:
order_id : 945.0
item_id : 5.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2703:
order_id : 946.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2704:
order_id : 946.0
item_id : 2.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2705:
order_id : 946.0
item_id : 3.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99

discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2706:
order_id : 946.0
item_id : 4.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2707:
order_id : 946.0
item_id : 5.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2708:
order_id : 947.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2709:
order_id : 947.0
item_id : 2.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2710:
order_id : 947.0
item_id : 3.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2711:
order_id : 948.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2712:
order_id : 948.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2713:
order_id : 948.0
item_id : 3.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2714:
order_id : 948.0
item_id : 4.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2715:
order_id : 948.0
item_id : 5.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2716:
order_id : 949.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2717:
order_id : 949.0
item_id : 2.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2718:
order_id : 950.0
item_id : 1.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2719:
order_id : 951.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2720:
order_id : 951.0
item_id : 2.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2721:
order_id : 951.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2722:
order_id : 952.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2723:
order_id : 952.0
item_id : 2.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2724:
order_id : 953.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2725:
order_id : 954.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2726:
order_id : 955.0
item_id : 1.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2727:
order_id : 955.0
item_id : 2.0
product_id : 31.0
quantity : 2.0
list_price : 1632.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2728:
order_id : 955.0
item_id : 3.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2729:
order_id : 955.0
item_id : 4.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2730:
order_id : 955.0
item_id : 5.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2731:
order_id : 956.0
item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2732:
order_id : 956.0
item_id : 2.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2733:
order_id : 956.0
item_id : 3.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2734:
order_id : 956.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2735:
order_id : 956.0
item_id : 5.0
product_id : 79.0
quantity : 2.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2736:
order_id : 957.0
item_id : 1.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2737:
order_id : 957.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2738:
order_id : 957.0
item_id : 3.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2739:
order_id : 957.0
item_id : 4.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2740:
order_id : 957.0
item_id : 5.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2741:
order_id : 958.0
item_id : 1.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2742:
order_id : 958.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2743:
order_id : 959.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2744:
order_id : 959.0
item_id : 2.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2745:
order_id : 959.0
item_id : 3.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2746:
order_id : 959.0
item_id : 4.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2747:
order_id : 960.0
item_id : 1.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2748:
order_id : 960.0
item_id : 2.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2749:
order_id : 960.0
item_id : 3.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2750:
order_id : 960.0
item_id : 4.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2751:
order_id : 961.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2752:
order_id : 961.0
item_id : 2.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2753:
order_id : 961.0
item_id : 3.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2754:
order_id : 962.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2755:
order_id : 962.0
item_id : 2.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2756:
order_id : 963.0
item_id : 1.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2757:
order_id : 964.0
item_id : 1.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2758:
order_id : 964.0
item_id : 2.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2759:
order_id : 965.0
item_id : 1.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2760:
order_id : 966.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2761:
order_id : 966.0
item_id : 2.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2762:
order_id : 967.0
item_id : 1.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2763:
order_id : 967.0
item_id : 2.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2764:
order_id : 967.0
item_id : 3.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2765:
order_id : 967.0
item_id : 4.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2766:
order_id : 968.0
item_id : 1.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2767:
order_id : 968.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2768:
order_id : 968.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2769:
order_id : 969.0
item_id : 1.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2770:
order_id : 969.0
item_id : 2.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2771:
order_id : 970.0
item_id : 1.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2772:
order_id : 970.0
item_id : 2.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2773:
order_id : 970.0
item_id : 3.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2774:
order_id : 970.0
item_id : 4.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2775:
order_id : 971.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2776:
order_id : 971.0
item_id : 2.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2777:
order_id : 971.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2778:
order_id : 971.0
item_id : 4.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2779:
order_id : 971.0
item_id : 5.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2780:
order_id : 972.0
item_id : 1.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2781:
order_id : 972.0
item_id : 2.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2782:
order_id : 973.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2783:
order_id : 973.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2784:
order_id : 973.0
item_id : 3.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2785:
order_id : 973.0
item_id : 4.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2786:
order_id : 974.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2787:
order_id : 974.0
item_id : 2.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2788:
order_id : 975.0
item_id : 1.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2789:
order_id : 976.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2790:
order_id : 976.0
item_id : 2.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2791:
order_id : 977.0
item_id : 1.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2792:
order_id : 977.0
item_id : 2.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2793:
order_id : 977.0
item_id : 3.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2794:
order_id : 977.0
item_id : 4.0
product_id : 80.0
quantity : 2.0
list_price : 761.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2795:
order_id : 978.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2796:
order_id : 978.0
item_id : 2.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2797:
order_id : 978.0
item_id : 3.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2798:
order_id : 979.0
item_id : 1.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2799:
order_id : 979.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2800:
order_id : 979.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2801:
order_id : 979.0
item_id : 4.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2802:
order_id : 980.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2803:
order_id : 980.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2804:
order_id : 980.0
item_id : 3.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2805:
order_id : 981.0
item_id : 1.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2806:
order_id : 981.0
item_id : 2.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2807:
order_id : 981.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2808:
order_id : 981.0
item_id : 4.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2809:
order_id : 981.0
item_id : 5.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2810:
order_id : 982.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2811:
order_id : 982.0
item_id : 2.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2812:
order_id : 982.0
item_id : 3.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2813:
order_id : 982.0
item_id : 4.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2814:
order_id : 983.0
item_id : 1.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2815:
order_id : 983.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2816:
order_id : 983.0
item_id : 3.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2817:
order_id : 983.0
item_id : 4.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2818:
order_id : 983.0
item_id : 5.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2819:
order_id : 984.0
item_id : 1.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2820:
order_id : 984.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2821:
order_id : 984.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2822:
order_id : 984.0
item_id : 4.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2823:
order_id : 985.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2824:
order_id : 985.0
item_id : 2.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2825:
order_id : 985.0
item_id : 3.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2826:
order_id : 986.0
item_id : 1.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2827:
order_id : 986.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2828:
order_id : 986.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2829:
order_id : 987.0
item_id : 1.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2830:
order_id : 987.0
item_id : 2.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2831:
order_id : 987.0
item_id : 3.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2832:
order_id : 988.0
item_id : 1.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2833:
order_id : 988.0
item_id : 2.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2834:
order_id : 988.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2835:
order_id : 989.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2836:
order_id : 989.0
item_id : 2.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2837:
order_id : 989.0
item_id : 3.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2838:
order_id : 989.0
item_id : 4.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2839:
order_id : 989.0
item_id : 5.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2840:
order_id : 990.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2841:
order_id : 990.0
item_id : 2.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2842:
order_id : 990.0
item_id : 3.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2843:
order_id : 990.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2844:
order_id : 991.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2845:
order_id : 991.0
item_id : 2.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2846:
order_id : 991.0
item_id : 3.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2847:
order_id : 992.0
item_id : 1.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2848:
order_id : 992.0
item_id : 2.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2849:
order_id : 992.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2850:
order_id : 992.0
item_id : 4.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2851:
order_id : 992.0
item_id : 5.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2852:
order_id : 993.0
item_id : 1.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2853:
order_id : 993.0
item_id : 2.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2854:
order_id : 993.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2855:
order_id : 993.0
item_id : 4.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2856:
order_id : 993.0
item_id : 5.0
product_id : 79.0
quantity : 2.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2857:
order_id : 994.0
item_id : 1.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2858:
order_id : 994.0
item_id : 2.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2859:
order_id : 994.0
item_id : 3.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2860:
order_id : 995.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2861:
order_id : 995.0
item_id : 2.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2862:
order_id : 995.0
item_id : 3.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2863:
order_id : 996.0
item_id : 1.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2864:
order_id : 996.0
item_id : 2.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2865:
order_id : 997.0
item_id : 1.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2866:
order_id : 997.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2867:
order_id : 997.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2868:
order_id : 998.0
item_id : 1.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2869:
order_id : 998.0
item_id : 2.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2870:
order_id : 999.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2871:
order_id : 999.0
item_id : 2.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2872:
order_id : 1000.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2873:
order_id : 1000.0
item_id : 2.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2874:
order_id : 1000.0
item_id : 3.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2875:
order_id : 1000.0
item_id : 4.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2876:
order_id : 1001.0
item_id : 1.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2877:
order_id : 1001.0
item_id : 2.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2878:
order_id : 1001.0
item_id : 3.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2879:
order_id : 1001.0
item_id : 4.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2880:
order_id : 1002.0
item_id : 1.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2881:
order_id : 1002.0
item_id : 2.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2882:
order_id : 1002.0
item_id : 3.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2883:
order_id : 1002.0
item_id : 4.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2884:
order_id : 1003.0
item_id : 1.0
product_id : 34.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2885:
order_id : 1003.0
item_id : 2.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2886:
order_id : 1004.0
item_id : 1.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2887:
order_id : 1005.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2888:
order_id : 1005.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2889:
order_id : 1005.0
item_id : 3.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2890:
order_id : 1006.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2891:
order_id : 1006.0
item_id : 2.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2892:
order_id : 1006.0
item_id : 3.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2893:
order_id : 1006.0
item_id : 4.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2894:
order_id : 1006.0
item_id : 5.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2895:
order_id : 1007.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2896:
order_id : 1007.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2897:
order_id : 1007.0
item_id : 3.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2898:
order_id : 1007.0
item_id : 4.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2899:
order_id : 1007.0
item_id : 5.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2900:
order_id : 1008.0
item_id : 1.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2901:
order_id : 1008.0
item_id : 2.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2902:
order_id : 1008.0
item_id : 3.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2903:
order_id : 1009.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2904:
order_id : 1009.0
item_id : 2.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2905:
order_id : 1010.0
item_id : 1.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2906:
order_id : 1011.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2907:
order_id : 1011.0
item_id : 2.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2908:
order_id : 1011.0
item_id : 3.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2909:
order_id : 1011.0
item_id : 4.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2910:
order_id : 1012.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2911:
order_id : 1012.0
item_id : 2.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2912:
order_id : 1013.0
item_id : 1.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2913:
order_id : 1014.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2914:
order_id : 1014.0
item_id : 2.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2915:
order_id : 1014.0
item_id : 3.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2916:
order_id : 1014.0
item_id : 4.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2917:
order_id : 1015.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2918:
order_id : 1015.0
item_id : 2.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2919:
order_id : 1015.0
item_id : 3.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2920:
order_id : 1015.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2921:
order_id : 1016.0
item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2922:
order_id : 1017.0
item_id : 1.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2923:
order_id : 1017.0
item_id : 2.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2924:
order_id : 1017.0
item_id : 3.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2925:
order_id : 1017.0
item_id : 4.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2926:
order_id : 1017.0
item_id : 5.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2927:
order_id : 1018.0
item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 2928:
order_id : 1018.0
item_id : 2.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2929:
order_id : 1018.0
item_id : 3.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2930:
order_id : 1019.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2931:
order_id : 1019.0
item_id : 2.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2932:
order_id : 1019.0
item_id : 3.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2933:
order_id : 1019.0
item_id : 4.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2934:
order_id : 1020.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2935:
order_id : 1020.0
item_id : 2.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2936:
order_id : 1020.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2937:
order_id : 1020.0
item_id : 4.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2938:
order_id : 1020.0
item_id : 5.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2939:
order_id : 1021.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2940:
order_id : 1021.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2941:
order_id : 1022.0
item_id : 1.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2942:
order_id : 1022.0
item_id : 2.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2943:
order_id : 1022.0
item_id : 3.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2944:
order_id : 1022.0
item_id : 4.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2945:
order_id : 1023.0
item_id : 1.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2946:
order_id : 1023.0
item_id : 2.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2947:
order_id : 1024.0
item_id : 1.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2948:
order_id : 1024.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2949:
order_id : 1024.0
item_id : 3.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2950:
order_id : 1024.0
item_id : 4.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2951:
order_id : 1024.0
item_id : 5.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2952:
order_id : 1025.0
item_id : 1.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2953:
order_id : 1025.0
item_id : 2.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2954:
order_id : 1025.0
item_id : 3.0
product_id : 39.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2955:
order_id : 1025.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2956:
order_id : 1025.0
item_id : 5.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2957:
order_id : 1026.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2958:
order_id : 1027.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2959:
order_id : 1027.0
item_id : 2.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2960:
order_id : 1028.0
item_id : 1.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2961:
order_id : 1028.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2962:
order_id : 1028.0
item_id : 3.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2963:
order_id : 1028.0
item_id : 4.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2964:
order_id : 1028.0
item_id : 5.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2965:
order_id : 1029.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2966:
order_id : 1029.0
item_id : 2.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2967:
order_id : 1029.0
item_id : 3.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2968:
order_id : 1029.0
item_id : 4.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2969:
order_id : 1030.0
item_id : 1.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2970:
order_id : 1030.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2971:
order_id : 1030.0
item_id : 3.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2972:
order_id : 1031.0
item_id : 1.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2973:
order_id : 1031.0
item_id : 2.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2974:
order_id : 1032.0
item_id : 1.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2975:
order_id : 1032.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2976:
order_id : 1033.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2977:
order_id : 1033.0
item_id : 2.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2978:
order_id : 1033.0
item_id : 3.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2979:
order_id : 1034.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2980:
order_id : 1034.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2981:
order_id : 1034.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2982:
order_id : 1034.0
item_id : 4.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2983:
order_id : 1035.0
item_id : 1.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2984:
order_id : 1036.0
item_id : 1.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2985:
order_id : 1036.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2986:
order_id : 1036.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2987:
order_id : 1036.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2988:
order_id : 1036.0
item_id : 5.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2989:
order_id : 1037.0
item_id : 1.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2990:
order_id : 1037.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2991:
order_id : 1037.0
item_id : 3.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2992:
order_id : 1037.0
item_id : 4.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2993:
order_id : 1037.0
item_id : 5.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2994:
order_id : 1038.0
item_id : 1.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2995:
order_id : 1038.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2996:
order_id : 1039.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2997:
order_id : 1040.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2998:
order_id : 1040.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 2999:
order_id : 1040.0
item_id : 3.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3000:
order_id : 1040.0
item_id : 4.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3001:
order_id : 1040.0
item_id : 5.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3002:
order_id : 1041.0
item_id : 1.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3003:
order_id : 1041.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3004:
order_id : 1041.0
item_id : 3.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3005:
order_id : 1042.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3006:
order_id : 1043.0
item_id : 1.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3007:
order_id : 1043.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3008:
order_id : 1044.0
item_id : 1.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3009:
order_id : 1045.0
item_id : 1.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3010:
order_id : 1045.0
item_id : 2.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3011:
order_id : 1046.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3012:
order_id : 1046.0
item_id : 2.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3013:
order_id : 1046.0
item_id : 3.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3014:
order_id : 1046.0
item_id : 4.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3015:
order_id : 1046.0
item_id : 5.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3016:
order_id : 1047.0
item_id : 1.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3017:
order_id : 1047.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3018:
order_id : 1047.0
item_id : 3.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3019:
order_id : 1047.0
item_id : 4.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3020:
order_id : 1048.0
item_id : 1.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3021:
order_id : 1048.0
item_id : 2.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3022:
order_id : 1048.0
item_id : 3.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3023:
order_id : 1049.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3024:
order_id : 1049.0
item_id : 2.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3025:
order_id : 1049.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3026:
order_id : 1049.0
item_id : 4.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3027:
order_id : 1049.0
item_id : 5.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3028:
order_id : 1050.0
item_id : 1.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3029:
order_id : 1050.0
item_id : 2.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3030:
order_id : 1050.0
item_id : 3.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3031:
order_id : 1050.0
item_id : 4.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3032:
order_id : 1051.0
item_id : 1.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3033:
order_id : 1052.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3034:
order_id : 1052.0
item_id : 2.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3035:
order_id : 1052.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3036:
order_id : 1053.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3037:
order_id : 1053.0
item_id : 2.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3045:
order_id : 1055.0
item_id : 3.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3046:
order_id : 1055.0
item_id : 4.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3047:
order_id : 1055.0
item_id : 5.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3048:
order_id : 1056.0
item_id : 1.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3049:
order_id : 1057.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3050:
order_id : 1057.0
item_id : 2.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3051:
order_id : 1057.0
item_id : 3.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3052:
order_id : 1058.0
item_id : 1.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3053:
order_id : 1058.0
item_id : 2.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3054:
order_id : 1058.0
item_id : 3.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3055:
order_id : 1059.0
item_id : 1.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3056:
order_id : 1059.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3057:
order_id : 1059.0
item_id : 3.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3058:
order_id : 1060.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3059:
order_id : 1060.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3060:
order_id : 1060.0
item_id : 3.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3061:
order_id : 1060.0
item_id : 4.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3062:
order_id : 1061.0
item_id : 1.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3063:
order_id : 1061.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3064:
order_id : 1062.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3065:
order_id : 1062.0
item_id : 2.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3066:
order_id : 1062.0
item_id : 3.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3067:
order_id : 1062.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3068:
order_id : 1063.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3069:
order_id : 1063.0
item_id : 2.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3070:
order_id : 1063.0
item_id : 3.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3071:
order_id : 1064.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3072:
order_id : 1064.0
item_id : 2.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3073:
order_id : 1065.0
item_id : 1.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3074:
order_id : 1065.0
item_id : 2.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3075:
order_id : 1065.0
item_id : 3.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3076:
order_id : 1066.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3077:
order_id : 1066.0
item_id : 2.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3078:
order_id : 1066.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3079:
order_id : 1067.0
item_id : 1.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3080:
order_id : 1067.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3081:
order_id : 1067.0
item_id : 3.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3082:
order_id : 1067.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3083:
order_id : 1068.0
item_id : 1.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3084:
order_id : 1068.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3085:
order_id : 1068.0
item_id : 3.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3086:
order_id : 1068.0
item_id : 4.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3087:
order_id : 1069.0
item_id : 1.0
product_id : 109.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3088:
order_id : 1069.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3089:
order_id : 1070.0
item_id : 1.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3090:
order_id : 1070.0
item_id : 2.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3091:
order_id : 1070.0
item_id : 3.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3092:
order_id : 1071.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3093:
order_id : 1072.0
item_id : 1.0
product_id : 83.0
quantity : 1.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3094:
order_id : 1072.0
item_id : 2.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3095:
order_id : 1072.0
item_id : 3.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3096:
order_id : 1073.0
item_id : 1.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3097:
order_id : 1073.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3098:
order_id : 1073.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3099:
order_id : 1074.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3100:
order_id : 1074.0
item_id : 2.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3101:
order_id : 1074.0
item_id : 3.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3102:
order_id : 1075.0
item_id : 1.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3103:
order_id : 1075.0
item_id : 2.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3104:
order_id : 1076.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3105:
order_id : 1076.0
item_id : 2.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3106:
order_id : 1076.0
item_id : 3.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3107:
order_id : 1077.0
item_id : 1.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3108:
order_id : 1078.0
item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3109:
order_id : 1078.0
item_id : 2.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3110:
order_id : 1078.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3111:
order_id : 1078.0
item_id : 4.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3112:
order_id : 1078.0
item_id : 5.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3113:
order_id : 1079.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3114:
order_id : 1080.0
item_id : 1.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3115:
order_id : 1080.0
item_id : 2.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3116:
order_id : 1080.0
item_id : 3.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3117:
order_id : 1080.0
item_id : 4.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3118:
order_id : 1080.0
item_id : 5.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3119:
order_id : 1081.0
item_id : 1.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3120:
order_id : 1082.0
item_id : 1.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3121:
order_id : 1083.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3122:
order_id : 1083.0
item_id : 2.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3123:
order_id : 1083.0
item_id : 3.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3124:
order_id : 1083.0
item_id : 4.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3125:
order_id : 1084.0
item_id : 1.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3126:
order_id : 1084.0
item_id : 2.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3127:
order_id : 1084.0
item_id : 3.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3128:
order_id : 1084.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3129:
order_id : 1084.0
item_id : 5.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3130:
order_id : 1085.0
item_id : 1.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3131:
order_id : 1085.0
item_id : 2.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3132:
order_id : 1085.0
item_id : 3.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3133:
order_id : 1086.0
item_id : 1.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3134:
order_id : 1086.0
item_id : 2.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3135:
order_id : 1086.0
item_id : 3.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3136:
order_id : 1086.0
item_id : 4.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3137:
order_id : 1086.0
item_id : 5.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3138:
order_id : 1087.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3139:
order_id : 1087.0
item_id : 2.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3140:
order_id : 1087.0
item_id : 3.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3141:
order_id : 1087.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3142:
order_id : 1087.0
item_id : 5.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3143:
order_id : 1088.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3144:
order_id : 1088.0
item_id : 2.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3145:
order_id : 1088.0
item_id : 3.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3146:
order_id : 1088.0
item_id : 4.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3147:
order_id : 1089.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3148:
order_id : 1089.0
item_id : 2.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3149:
order_id : 1090.0
item_id : 1.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3150:
order_id : 1091.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3151:
order_id : 1091.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3152:
order_id : 1091.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3153:
order_id : 1092.0
item_id : 1.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3154:
order_id : 1092.0
item_id : 2.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3155:
order_id : 1092.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3156:
order_id : 1092.0
item_id : 4.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3157:
order_id : 1093.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3158:
order_id : 1093.0
item_id : 2.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3159:
order_id : 1093.0
item_id : 3.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3160:
order_id : 1094.0
item_id : 1.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3161:
order_id : 1094.0
item_id : 2.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3162:
order_id : 1094.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3163:
order_id : 1094.0
item_id : 4.0
product_id : 107.0
quantity : 1.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3164:
order_id : 1095.0
item_id : 1.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3165:
order_id : 1095.0
item_id : 2.0
product_id : 3.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3166:
order_id : 1095.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3167:
order_id : 1095.0
item_id : 4.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3168:
order_id : 1095.0
item_id : 5.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3169:
order_id : 1096.0
item_id : 1.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3170:
order_id : 1097.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3171:
order_id : 1097.0
item_id : 2.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3172:
order_id : 1097.0
item_id : 3.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3173:
order_id : 1097.0
item_id : 4.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3174:
order_id : 1097.0
item_id : 5.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3175:
order_id : 1098.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3176:
order_id : 1099.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3177:
order_id : 1099.0
item_id : 2.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3178:
order_id : 1099.0
item_id : 3.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3179:
order_id : 1099.0
item_id : 4.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3180:
order_id : 1100.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3181:
order_id : 1100.0
item_id : 2.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3182:
order_id : 1101.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3183:
order_id : 1101.0
item_id : 2.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3184:
order_id : 1102.0
item_id : 1.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3185:
order_id : 1103.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3186:
order_id : 1103.0
item_id : 2.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3187:
order_id : 1104.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3188:
order_id : 1104.0
item_id : 2.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3189:
order_id : 1104.0
item_id : 3.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3190:
order_id : 1104.0
item_id : 4.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3191:
order_id : 1105.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3192:
order_id : 1105.0
item_id : 2.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3193:
order_id : 1105.0
item_id : 3.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3194:
order_id : 1106.0
item_id : 1.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3195:
order_id : 1107.0
item_id : 1.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3196:
order_id : 1107.0
item_id : 2.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3197:
order_id : 1108.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3198:
order_id : 1108.0
item_id : 2.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3199:
order_id : 1108.0
item_id : 3.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3200:
order_id : 1109.0
item_id : 1.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3201:
order_id : 1110.0
item_id : 1.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3202:
order_id : 1111.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3203:
order_id : 1111.0
item_id : 2.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3204:
order_id : 1111.0
item_id : 3.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3205:
order_id : 1111.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3206:
order_id : 1112.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3207:
order_id : 1112.0
item_id : 2.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3208:
order_id : 1112.0
item_id : 3.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3209:
order_id : 1112.0
item_id : 4.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3210:
order_id : 1112.0
item_id : 5.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3211:
order_id : 1113.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3212:
order_id : 1114.0
item_id : 1.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3213:
order_id : 1115.0
item_id : 1.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3214:
order_id : 1115.0
item_id : 2.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3215:
order_id : 1115.0
item_id : 3.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3216:
order_id : 1115.0
item_id : 4.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3217:
order_id : 1116.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3218:
order_id : 1117.0
item_id : 1.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3219:
order_id : 1117.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3220:
order_id : 1117.0
item_id : 3.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3221:
order_id : 1118.0
item_id : 1.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3222:
order_id : 1118.0
item_id : 2.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3223:
order_id : 1118.0
item_id : 3.0
product_id : 29.0
quantity : 1.0
list_price : 999.99

discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3224:
order_id : 1118.0
item_id : 4.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3225:
order_id : 1119.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3226:
order_id : 1119.0
item_id : 2.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3227:
order_id : 1119.0
item_id : 3.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3228:
order_id : 1120.0
item_id : 1.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3229:
order_id : 1120.0
item_id : 2.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3230:
order_id : 1120.0
item_id : 3.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3231:
order_id : 1120.0
item_id : 4.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3232:
order_id : 1120.0
item_id : 5.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3233:
order_id : 1121.0
item_id : 1.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3234:
order_id : 1121.0
item_id : 2.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3235:
order_id : 1122.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3236:
order_id : 1122.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3237:
order_id : 1122.0
item_id : 3.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3238:
order_id : 1122.0
item_id : 4.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3239:
order_id : 1122.0
item_id : 5.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3240:
order_id : 1123.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3241:
order_id : 1123.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3242:
order_id : 1124.0
item_id : 1.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3243:
order_id : 1124.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3244:
order_id : 1124.0
item_id : 3.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3245:
order_id : 1124.0
item_id : 4.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3246:
order_id : 1124.0
item_id : 5.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3247:
order_id : 1125.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3248:
order_id : 1125.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3249:
order_id : 1125.0
item_id : 3.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3250:
order_id : 1125.0
item_id : 4.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3251:
order_id : 1125.0
item_id : 5.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3252:
order_id : 1126.0
item_id : 1.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3253:
order_id : 1126.0
item_id : 2.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3254:
order_id : 1126.0
item_id : 3.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3255:
order_id : 1127.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3256:
order_id : 1127.0
item_id : 2.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3257:
order_id : 1127.0
item_id : 3.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3258:
order_id : 1128.0
item_id : 1.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3259:
order_id : 1128.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3260:
order_id : 1128.0
item_id : 3.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3261:
order_id : 1129.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3262:
order_id : 1129.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3263:
order_id : 1129.0
item_id : 3.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3264:
order_id : 1130.0
item_id : 1.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3265:
order_id : 1131.0
item_id : 1.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3266:
order_id : 1131.0
item_id : 2.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3267:
order_id : 1132.0
item_id : 1.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3268:
order_id : 1132.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3269:
order_id : 1132.0
item_id : 3.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3270:
order_id : 1132.0
item_id : 4.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3271:
order_id : 1133.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3272:
order_id : 1133.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3273:
order_id : 1133.0
item_id : 3.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3274:
order_id : 1133.0
item_id : 4.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3275:
order_id : 1134.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3276:
order_id : 1134.0
item_id : 2.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3277:
order_id : 1135.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3278:
order_id : 1135.0
item_id : 2.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3279:
order_id : 1136.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3280:
order_id : 1137.0
item_id : 1.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3281:
order_id : 1137.0
item_id : 2.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3282:
order_id : 1137.0
item_id : 3.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3283:
order_id : 1137.0
item_id : 4.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3284:
order_id : 1138.0
item_id : 1.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3285:
order_id : 1138.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3286:
order_id : 1138.0
item_id : 3.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3287:
order_id : 1139.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3288:
order_id : 1139.0
item_id : 2.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3289:
order_id : 1139.0
item_id : 3.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3290:
order_id : 1139.0
item_id : 4.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3291:
order_id : 1139.0
item_id : 5.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3292:
order_id : 1140.0
item_id : 1.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3293:
order_id : 1140.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3294:
order_id : 1140.0
item_id : 3.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3295:
order_id : 1140.0
item_id : 4.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3296:
order_id : 1141.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3297:
order_id : 1142.0
item_id : 1.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3298:
order_id : 1142.0
item_id : 2.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3299:
order_id : 1142.0
item_id : 3.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3300:
order_id : 1142.0
item_id : 4.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3301:
order_id : 1142.0
item_id : 5.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3302:
order_id : 1143.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3303:
order_id : 1143.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3304:
order_id : 1143.0
item_id : 3.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3305:
order_id : 1144.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3306:
order_id : 1145.0
item_id : 1.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3307:
order_id : 1146.0
item_id : 1.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3308:
order_id : 1146.0
item_id : 2.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3309:
order_id : 1146.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3310:
order_id : 1147.0
item_id : 1.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3311:
order_id : 1147.0
item_id : 2.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3312:
order_id : 1148.0
item_id : 1.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3313:
order_id : 1148.0
item_id : 2.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3314:
order_id : 1148.0
item_id : 3.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3315:
order_id : 1148.0
item_id : 4.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3316:
order_id : 1149.0
item_id : 1.0
product_id : 98.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3317:
order_id : 1149.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3318:
order_id : 1149.0
item_id : 3.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3319:
order_id : 1149.0
item_id : 4.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3320:
order_id : 1149.0
item_id : 5.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3321:
order_id : 1150.0
item_id : 1.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3322:
order_id : 1150.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3323:
order_id : 1150.0
item_id : 3.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3324:
order_id : 1150.0
item_id : 4.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3325:
order_id : 1151.0
item_id : 1.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3326:
order_id : 1152.0
item_id : 1.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3327:
order_id : 1152.0
item_id : 2.0
product_id : 91.0
quantity : 2.0
list_price : 349.99

discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3328:
order_id : 1152.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3329:
order_id : 1153.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3330:
order_id : 1153.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3331:
order_id : 1154.0
item_id : 1.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3332:
order_id : 1154.0
item_id : 2.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3333:
order_id : 1154.0
item_id : 3.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3334:
order_id : 1155.0
item_id : 1.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3335:
order_id : 1155.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3336:
order_id : 1155.0
item_id : 3.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3337:
order_id : 1155.0
item_id : 4.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3338:
order_id : 1156.0
item_id : 1.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3339:
order_id : 1156.0
item_id : 2.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3340:
order_id : 1157.0
item_id : 1.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3341:
order_id : 1157.0
item_id : 2.0
product_id : 31.0
quantity : 2.0
list_price : 1632.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3342:
order_id : 1157.0
item_id : 3.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3343:
order_id : 1157.0
item_id : 4.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3344:
order_id : 1158.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3345:
order_id : 1158.0
item_id : 2.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3346:
order_id : 1159.0
item_id : 1.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3347:
order_id : 1160.0
item_id : 1.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3348:
order_id : 1160.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3349:
order_id : 1161.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3350:
order_id : 1161.0
item_id : 2.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3351:
order_id : 1161.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3352:
order_id : 1161.0
item_id : 4.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3353:
order_id : 1162.0
item_id : 1.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3354:
order_id : 1162.0
item_id : 2.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3355:
order_id : 1162.0
item_id : 3.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3356:
order_id : 1162.0
item_id : 4.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3357:
order_id : 1162.0
item_id : 5.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3358:
order_id : 1163.0
item_id : 1.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3359:
order_id : 1163.0
item_id : 2.0
product_id : 53.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3360:
order_id : 1164.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3361:
order_id : 1164.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3362:
order_id : 1164.0
item_id : 3.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3363:
order_id : 1164.0
item_id : 4.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3364:
order_id : 1165.0
item_id : 1.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3365:
order_id : 1165.0
item_id : 2.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3366:
order_id : 1166.0
item_id : 1.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3367:
order_id : 1167.0
item_id : 1.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3368:
order_id : 1167.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3369:
order_id : 1167.0
item_id : 3.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3370:
order_id : 1168.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3371:
order_id : 1168.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3372:
order_id : 1168.0
item_id : 3.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3373:
order_id : 1168.0
item_id : 4.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3374:
order_id : 1168.0
item_id : 5.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3375:
order_id : 1169.0
item_id : 1.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3376:
order_id : 1169.0
item_id : 2.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3377:
order_id : 1169.0
item_id : 3.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3378:
order_id : 1169.0
item_id : 4.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3379:
order_id : 1170.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3380:
order_id : 1170.0
item_id : 2.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3381:
order_id : 1170.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3382:
order_id : 1171.0
item_id : 1.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3383:
order_id : 1171.0
item_id : 2.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3384:
order_id : 1171.0
item_id : 3.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3385:
order_id : 1172.0
item_id : 1.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3386:
order_id : 1172.0
item_id : 2.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3387:
order_id : 1173.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3388:
order_id : 1173.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3389:
order_id : 1173.0
item_id : 3.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3390:
order_id : 1173.0
item_id : 4.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3391:
order_id : 1174.0
item_id : 1.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3392:
order_id : 1174.0
item_id : 2.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3393:
order_id : 1174.0
item_id : 3.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3394:
order_id : 1175.0
item_id : 1.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3395:
order_id : 1175.0
item_id : 2.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3396:
order_id : 1175.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3397:
order_id : 1175.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3398:
order_id : 1175.0
item_id : 5.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3399:
order_id : 1176.0
item_id : 1.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3400:
order_id : 1177.0
item_id : 1.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3401:
order_id : 1177.0
item_id : 2.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3402:
order_id : 1178.0
item_id : 1.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3403:
order_id : 1178.0
item_id : 2.0
product_id : 77.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3404:
order_id : 1178.0
item_id : 3.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3405:
order_id : 1178.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3406:
order_id : 1179.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3407:
order_id : 1179.0
item_id : 2.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3408:
order_id : 1179.0
item_id : 3.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3409:
order_id : 1179.0
item_id : 4.0
product_id : 50.0
quantity : 1.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3410:
order_id : 1180.0
item_id : 1.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3411:
order_id : 1181.0
item_id : 1.0
product_id : 98.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3412:
order_id : 1182.0
item_id : 1.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3413:
order_id : 1182.0
item_id : 2.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3414:
order_id : 1183.0
item_id : 1.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3415:
order_id : 1183.0
item_id : 2.0
product_id : 80.0
quantity : 2.0
list_price : 761.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3416:
order_id : 1183.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3417:
order_id : 1184.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3418:
order_id : 1184.0
item_id : 2.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3419:
order_id : 1185.0
item_id : 1.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3420:
order_id : 1185.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3421:
order_id : 1185.0
item_id : 3.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3422:
order_id : 1185.0
item_id : 4.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3423:
order_id : 1186.0
item_id : 1.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3424:
order_id : 1186.0
item_id : 2.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3425:
order_id : 1186.0
item_id : 3.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3426:
order_id : 1186.0
item_id : 4.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3427:
order_id : 1187.0
item_id : 1.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3428:
order_id : 1187.0
item_id : 2.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3429:
order_id : 1187.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3430:
order_id : 1187.0
item_id : 4.0
product_id : 53.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3431:
order_id : 1188.0
item_id : 1.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3432:
order_id : 1188.0
item_id : 2.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3433:
order_id : 1188.0
item_id : 3.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3434:
order_id : 1189.0
item_id : 1.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3435:
order_id : 1189.0
item_id : 2.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3436:
order_id : 1189.0
item_id : 3.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3437:
order_id : 1190.0
item_id : 1.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3438:
order_id : 1191.0
item_id : 1.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3439:
order_id : 1191.0
item_id : 2.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3440:
order_id : 1191.0
item_id : 3.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3441:
order_id : 1192.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3442:
order_id : 1192.0
item_id : 2.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3443:
order_id : 1192.0
item_id : 3.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3444:
order_id : 1193.0
item_id : 1.0
product_id : 83.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3445:
order_id : 1193.0
item_id : 2.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3446:
order_id : 1194.0
item_id : 1.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3447:
order_id : 1194.0
item_id : 2.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3448:
order_id : 1194.0
item_id : 3.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3449:
order_id : 1194.0
item_id : 4.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3450:
order_id : 1195.0
item_id : 1.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3451:
order_id : 1196.0
item_id : 1.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3452:
order_id : 1197.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3453:
order_id : 1197.0
item_id : 2.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3454:
order_id : 1197.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3455:
order_id : 1197.0
item_id : 4.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3456:
order_id : 1198.0
item_id : 1.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3457:
order_id : 1199.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3458:
order_id : 1199.0
item_id : 2.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3459:
order_id : 1199.0
item_id : 3.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3460:
order_id : 1200.0
item_id : 1.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3461:
order_id : 1201.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3462:
order_id : 1201.0
item_id : 2.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3463:
order_id : 1201.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3464:
order_id : 1201.0
item_id : 4.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3465:
order_id : 1201.0
item_id : 5.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3466:
order_id : 1202.0
item_id : 1.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3467:
order_id : 1203.0
item_id : 1.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3468:
order_id : 1203.0
item_id : 2.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3469:
order_id : 1204.0
item_id : 1.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3470:
order_id : 1205.0
item_id : 1.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3471:
order_id : 1205.0
item_id : 2.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3472:
order_id : 1205.0
item_id : 3.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3473:
order_id : 1205.0
item_id : 4.0
product_id : 79.0
quantity : 2.0
list_price : 402.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3474:
order_id : 1205.0
item_id : 5.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3475:
order_id : 1206.0
item_id : 1.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3476:
order_id : 1206.0
item_id : 2.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3477:
order_id : 1207.0
item_id : 1.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3478:
order_id : 1207.0
item_id : 2.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3479:
order_id : 1207.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3480:
order_id : 1208.0
item_id : 1.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3481:
order_id : 1208.0
item_id : 2.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3482:
order_id : 1208.0
item_id : 3.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3483:
order_id : 1208.0
item_id : 4.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3484:
order_id : 1208.0
item_id : 5.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3485:
order_id : 1209.0
item_id : 1.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3486:
order_id : 1209.0
item_id : 2.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3487:
order_id : 1210.0
item_id : 1.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3488:
order_id : 1210.0
item_id : 2.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3489:
order_id : 1210.0
item_id : 3.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3490:
order_id : 1210.0
item_id : 4.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3491:
order_id : 1210.0
item_id : 5.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3492:
order_id : 1211.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3493:
order_id : 1211.0
item_id : 2.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3494:
order_id : 1211.0
item_id : 3.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3495:
order_id : 1211.0
item_id : 4.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3496:
order_id : 1211.0
item_id : 5.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3497:
order_id : 1212.0
item_id : 1.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3498:
order_id : 1212.0
item_id : 2.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3499:
order_id : 1212.0
item_id : 3.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3500:
order_id : 1212.0
item_id : 4.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3501:
order_id : 1213.0
item_id : 1.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3502:
order_id : 1213.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3503:
order_id : 1213.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3504:
order_id : 1213.0
item_id : 4.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3505:
order_id : 1214.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3506:
order_id : 1214.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3507:
order_id : 1214.0
item_id : 3.0
product_id : 22.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3508:
order_id : 1214.0
item_id : 4.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3509:
order_id : 1214.0
item_id : 5.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3510:
order_id : 1215.0
item_id : 1.0
product_id : 73.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3511:
order_id : 1215.0
item_id : 2.0
product_id : 10.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3512:
order_id : 1216.0
item_id : 1.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3513:
order_id : 1216.0
item_id : 2.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3514:
order_id : 1216.0
item_id : 3.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3515:
order_id : 1216.0
item_id : 4.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3516:
order_id : 1216.0
item_id : 5.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3517:
order_id : 1217.0
item_id : 1.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3518:
order_id : 1217.0
item_id : 2.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3519:
order_id : 1218.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3520:
order_id : 1218.0
item_id : 2.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3521:
order_id : 1219.0
item_id : 1.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3522:
order_id : 1219.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3523:
order_id : 1219.0
item_id : 3.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3524:
order_id : 1220.0
item_id : 1.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3525:
order_id : 1220.0
item_id : 2.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3526:
order_id : 1220.0
item_id : 3.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3527:
order_id : 1221.0
item_id : 1.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3528:
order_id : 1221.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3529:
order_id : 1221.0
item_id : 3.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3530:
order_id : 1221.0
item_id : 4.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3531:
order_id : 1221.0
item_id : 5.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3532:
order_id : 1222.0
item_id : 1.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3533:
order_id : 1223.0
item_id : 1.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3534:
order_id : 1224.0
item_id : 1.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3535:
order_id : 1224.0
item_id : 2.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3536:
order_id : 1224.0
item_id : 3.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3537:
order_id : 1224.0
item_id : 4.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3538:
order_id : 1225.0
item_id : 1.0
product_id : 81.0
quantity : 1.0

list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3539:
order_id : 1225.0
item_id : 2.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3540:
order_id : 1225.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3541:
order_id : 1226.0
item_id : 1.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3542:
order_id : 1226.0
item_id : 2.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3543:
order_id : 1226.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3544:
order_id : 1226.0
item_id : 4.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3545:
order_id : 1226.0
item_id : 5.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3546:
order_id : 1227.0
item_id : 1.0
product_id : 90.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3547:
order_id : 1227.0
item_id : 2.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3548:
order_id : 1227.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3549:
order_id : 1227.0
item_id : 4.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3550:
order_id : 1227.0
item_id : 5.0
product_id : 42.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3551:
order_id : 1228.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3552:
order_id : 1228.0
item_id : 2.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3553:
order_id : 1228.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3554:
order_id : 1229.0
item_id : 1.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3555:
order_id : 1229.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3556:
order_id : 1230.0
item_id : 1.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3557:
order_id : 1230.0
item_id : 2.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3558:
order_id : 1231.0
item_id : 1.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3559:
order_id : 1231.0
item_id : 2.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3560:
order_id : 1232.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3561:
order_id : 1232.0
item_id : 2.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3562:
order_id : 1232.0
item_id : 3.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3563:
order_id : 1233.0
item_id : 1.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3564:
order_id : 1233.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3565:
order_id : 1233.0
item_id : 3.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3566:
order_id : 1234.0
item_id : 1.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3567:
order_id : 1234.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3568:
order_id : 1235.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3569:
order_id : 1236.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3570:
order_id : 1236.0
item_id : 2.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3571:
order_id : 1236.0
item_id : 3.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3572:
order_id : 1237.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3573:
order_id : 1237.0
item_id : 2.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3574:
order_id : 1237.0
item_id : 3.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3575:
order_id : 1237.0
item_id : 4.0
product_id : 55.0
quantity : 2.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3576:
order_id : 1237.0
item_id : 5.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3577:
order_id : 1238.0
item_id : 1.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3578:
order_id : 1238.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3579:
order_id : 1238.0
item_id : 3.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3580:
order_id : 1238.0
item_id : 4.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3581:
order_id : 1239.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3582:
order_id : 1239.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3583:
order_id : 1239.0
item_id : 3.0
product_id : 34.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3584:
order_id : 1239.0
item_id : 4.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3585:
order_id : 1240.0
item_id : 1.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3586:
order_id : 1240.0
item_id : 2.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3587:
order_id : 1240.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3588:
order_id : 1240.0
item_id : 4.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3589:
order_id : 1240.0
item_id : 5.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3590:
order_id : 1241.0
item_id : 1.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3591:
order_id : 1241.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3592:
order_id : 1242.0
item_id : 1.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3593:
order_id : 1242.0
item_id : 2.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3594:
order_id : 1242.0
item_id : 3.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3595:
order_id : 1242.0
item_id : 4.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3596:
order_id : 1243.0
item_id : 1.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3597:
order_id : 1244.0
item_id : 1.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3598:
order_id : 1244.0
item_id : 2.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3599:
order_id : 1244.0
item_id : 3.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3600:
order_id : 1244.0
item_id : 4.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3601:
order_id : 1245.0
item_id : 1.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3602:
order_id : 1246.0
item_id : 1.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3603:
order_id : 1246.0
item_id : 2.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3604:
order_id : 1246.0
item_id : 3.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3605:
order_id : 1247.0
item_id : 1.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3606:
order_id : 1247.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3607:
order_id : 1247.0
item_id : 3.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3608:
order_id : 1248.0
item_id : 1.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3609:
order_id : 1248.0
item_id : 2.0
product_id : 33.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3610:
order_id : 1248.0
item_id : 3.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3611:
order_id : 1248.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3612:
order_id : 1249.0
item_id : 1.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3613:
order_id : 1249.0
item_id : 2.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3614:
order_id : 1249.0
item_id : 3.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3615:
order_id : 1250.0
item_id : 1.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3616:
order_id : 1250.0
item_id : 2.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3617:
order_id : 1250.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3618:
order_id : 1250.0
item_id : 4.0
product_id : 6.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3619:
order_id : 1251.0
item_id : 1.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3620:
order_id : 1251.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3621:

order_id : 1251.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3622:
order_id : 1252.0
item_id : 1.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3623:
order_id : 1252.0
item_id : 2.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3624:
order_id : 1252.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3625:
order_id : 1253.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3626:
order_id : 1253.0
item_id : 2.0
product_id : 21.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3627:
order_id : 1253.0
item_id : 3.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3628:
order_id : 1254.0
item_id : 1.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3629:
order_id : 1254.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3630:
order_id : 1255.0
item_id : 1.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3631:
order_id : 1255.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3632:
order_id : 1255.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3633:
order_id : 1255.0
item_id : 4.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3634:
order_id : 1255.0
item_id : 5.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3635:
order_id : 1256.0
item_id : 1.0
product_id : 44.0
quantity : 2.0
list_price : 539.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3636:
order_id : 1256.0
item_id : 2.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3637:
order_id : 1257.0
item_id : 1.0
product_id : 30.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3638:
order_id : 1257.0
item_id : 2.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3639:
order_id : 1257.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3640:
order_id : 1257.0
item_id : 4.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3641:
order_id : 1257.0
item_id : 5.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3642:
order_id : 1258.0
item_id : 1.0
product_id : 94.0
quantity : 2.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3643:
order_id : 1258.0
item_id : 2.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3644:
order_id : 1259.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3645:
order_id : 1259.0
item_id : 2.0
product_id : 19.0
quantity : 1.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3646:
order_id : 1260.0
item_id : 1.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3647:
order_id : 1260.0
item_id : 2.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3648:
order_id : 1261.0
item_id : 1.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3649:
order_id : 1261.0
item_id : 2.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3650:
order_id : 1261.0
item_id : 3.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3651:
order_id : 1261.0
item_id : 4.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3652:
order_id : 1262.0
item_id : 1.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3653:
order_id : 1262.0
item_id : 2.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3654:
order_id : 1262.0
item_id : 3.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3655:
order_id : 1262.0
item_id : 4.0
product_id : 77.0
quantity : 1.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3656:
order_id : 1263.0
item_id : 1.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3657:
order_id : 1263.0
item_id : 2.0
product_id : 62.0
quantity : 1.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3658:
order_id : 1263.0
item_id : 3.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3659:
order_id : 1264.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3660:
order_id : 1264.0
item_id : 2.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3661:
order_id : 1264.0
item_id : 3.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3662:
order_id : 1264.0
item_id : 4.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3663:
order_id : 1265.0
item_id : 1.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3664:
order_id : 1265.0
item_id : 2.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3665:
order_id : 1266.0
item_id : 1.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3666:
order_id : 1266.0
item_id : 2.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3667:
order_id : 1267.0
item_id : 1.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3668:
order_id : 1267.0
item_id : 2.0
product_id : 27.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3669:
order_id : 1267.0
item_id : 3.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3670:
order_id : 1267.0
item_id : 4.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3671:
order_id : 1268.0
item_id : 1.0
product_id : 68.0
quantity : 2.0
list_price : 449.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3672:
order_id : 1268.0
item_id : 2.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3673:
order_id : 1268.0
item_id : 3.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3674:
order_id : 1268.0
item_id : 4.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3675:
order_id : 1269.0
item_id : 1.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3676:
order_id : 1269.0
item_id : 2.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3677:
order_id : 1269.0
item_id : 3.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3678:
order_id : 1270.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3679:
order_id : 1271.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3680:
order_id : 1271.0
item_id : 2.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3681:
order_id : 1271.0
item_id : 3.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3682:
order_id : 1271.0
item_id : 4.0
product_id : 32.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3683:
order_id : 1272.0
item_id : 1.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3684:
order_id : 1272.0
item_id : 2.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3685:
order_id : 1272.0
item_id : 3.0
product_id : 86.0
quantity : 1.0
list_price : 149.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3686:
order_id : 1273.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3687:
order_id : 1273.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3688:
order_id : 1273.0
item_id : 3.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3689:
order_id : 1274.0
item_id : 1.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3690:
order_id : 1275.0
item_id : 1.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3691:
order_id : 1275.0
item_id : 2.0
product_id : 30.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3692:
order_id : 1276.0
item_id : 1.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3693:
order_id : 1276.0
item_id : 2.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3694:
order_id : 1276.0
item_id : 3.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3695:
order_id : 1276.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3696:
order_id : 1276.0
item_id : 5.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3697:
order_id : 1277.0
item_id : 1.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3698:
order_id : 1277.0
item_id : 2.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3699:
order_id : 1277.0
item_id : 3.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3700:
order_id : 1277.0
item_id : 4.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3701:
order_id : 1277.0
item_id : 5.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3702:
order_id : 1278.0
item_id : 1.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3703:
order_id : 1278.0
item_id : 2.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3704:
order_id : 1279.0
item_id : 1.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3705:
order_id : 1280.0
item_id : 1.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3706:
order_id : 1280.0
item_id : 2.0
product_id : 74.0
quantity : 1.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3707:
order_id : 1280.0
item_id : 3.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3708:
order_id : 1280.0
item_id : 4.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3709:
order_id : 1281.0
item_id : 1.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3710:
order_id : 1281.0
item_id : 2.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3711:
order_id : 1281.0
item_id : 3.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3712:
order_id : 1282.0
item_id : 1.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3713:
order_id : 1282.0
item_id : 2.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3714:
order_id : 1283.0
item_id : 1.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3715:
order_id : 1283.0
item_id : 2.0
product_id : 81.0
quantity : 1.0
list_price : 1099.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3716:
order_id : 1283.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3717:
order_id : 1283.0
item_id : 4.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3718:
order_id : 1283.0
item_id : 5.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3719:
order_id : 1284.0
item_id : 1.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3720:
order_id : 1284.0
item_id : 2.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3721:
order_id : 1284.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3722:
order_id : 1285.0
item_id : 1.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3723:
order_id : 1285.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3724:
order_id : 1285.0
item_id : 3.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3725:
order_id : 1285.0
item_id : 4.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3726:
order_id : 1286.0
item_id : 1.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3727:
order_id : 1286.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3728:
order_id : 1286.0
item_id : 3.0
product_id : 87.0
quantity : 1.0
list_price : 189.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3729:
order_id : 1287.0
item_id : 1.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3730:
order_id : 1287.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3731:
order_id : 1287.0
item_id : 3.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3732:
order_id : 1287.0
item_id : 4.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3733:
order_id : 1288.0
item_id : 1.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3734:
order_id : 1288.0
item_id : 2.0
product_id : 64.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3735:
order_id : 1288.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3736:
order_id : 1288.0
item_id : 4.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3737:
order_id : 1289.0
item_id : 1.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3738:
order_id : 1289.0
item_id : 2.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3739:
order_id : 1290.0
item_id : 1.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3740:
order_id : 1290.0
item_id : 2.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3741:
order_id : 1290.0
item_id : 3.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3742:
order_id : 1291.0
item_id : 1.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3743:
order_id : 1291.0
item_id : 2.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3744:
order_id : 1292.0
item_id : 1.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3745:
order_id : 1293.0
item_id : 1.0
product_id : 88.0
quantity : 2.0
list_price : 189.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3746:
order_id : 1293.0
item_id : 2.0
product_id : 74.0
quantity : 2.0
list_price : 439.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3747:
order_id : 1293.0
item_id : 3.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3748:
order_id : 1294.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3749:
order_id : 1294.0
item_id : 2.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3750:
order_id : 1295.0
item_id : 1.0
product_id : 5.0
quantity : 2.0
list_price : 1320.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3751:
order_id : 1295.0
item_id : 2.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3752:
order_id : 1295.0
item_id : 3.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3753:
order_id : 1296.0
item_id : 1.0
product_id : 25.0
quantity : 2.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3754:
order_id : 1296.0
item_id : 2.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3755:
order_id : 1296.0
item_id : 3.0
product_id : 16.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3756:
order_id : 1296.0
item_id : 4.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3757:
order_id : 1297.0
item_id : 1.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3758:
order_id : 1297.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3759:
order_id : 1297.0
item_id : 3.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3760:
order_id : 1298.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3761:
order_id : 1298.0
item_id : 2.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3762:
order_id : 1299.0
item_id : 1.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3763:
order_id : 1299.0
item_id : 2.0
product_id : 101.0
quantity : 1.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3764:
order_id : 1299.0
item_id : 3.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3765:
order_id : 1299.0
item_id : 4.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3766:
order_id : 1300.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3767:
order_id : 1300.0
item_id : 2.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3768:
order_id : 1301.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99

discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3769:
order_id : 1301.0
item_id : 2.0
product_id : 105.0
quantity : 2.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3770:
order_id : 1301.0
item_id : 3.0
product_id : 8.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3771:
order_id : 1302.0
item_id : 1.0
product_id : 38.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3772:
order_id : 1302.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3773:
order_id : 1302.0
item_id : 3.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3774:
order_id : 1303.0
item_id : 1.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3775:
order_id : 1303.0
item_id : 2.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3776:
order_id : 1303.0
item_id : 3.0
product_id : 108.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3777:
order_id : 1303.0
item_id : 4.0
product_id : 73.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3778:
order_id : 1303.0
item_id : 5.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3779:
order_id : 1304.0
item_id : 1.0
product_id : 80.0
quantity : 1.0
list_price : 761.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3780:
order_id : 1304.0
item_id : 2.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3781:
order_id : 1304.0
item_id : 3.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3782:
order_id : 1304.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3783:
order_id : 1305.0
item_id : 1.0
product_id : 85.0
quantity : 1.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3784:
order_id : 1305.0
item_id : 2.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3785:
order_id : 1305.0
item_id : 3.0
product_id : 11.0
quantity : 1.0
list_price : 1680.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3786:
order_id : 1305.0
item_id : 4.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3787:
order_id : 1306.0
item_id : 1.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3788:
order_id : 1306.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3789:
order_id : 1306.0
item_id : 3.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3790:
order_id : 1306.0
item_id : 4.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3791:
order_id : 1306.0
item_id : 5.0
product_id : 9.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3792:
order_id : 1307.0
item_id : 1.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3793:
order_id : 1307.0
item_id : 2.0
product_id : 53.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3794:
order_id : 1307.0
item_id : 3.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3795:
order_id : 1308.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3796:
order_id : 1308.0
item_id : 2.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3797:
order_id : 1308.0
item_id : 3.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3798:
order_id : 1308.0
item_id : 4.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3799:
order_id : 1308.0
item_id : 5.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3800:
order_id : 1309.0
item_id : 1.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3801:
order_id : 1309.0
item_id : 2.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3802:
order_id : 1310.0
item_id : 1.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3803:
order_id : 1310.0
item_id : 2.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3804:
order_id : 1310.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3805:
order_id : 1310.0
item_id : 4.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3806:
order_id : 1311.0
item_id : 1.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3807:
order_id : 1311.0
item_id : 2.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3808:
order_id : 1311.0
item_id : 3.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3809:
order_id : 1311.0
item_id : 4.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3810:
order_id : 1312.0
item_id : 1.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3811:
order_id : 1312.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3812:
order_id : 1312.0
item_id : 3.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3813:
order_id : 1313.0
item_id : 1.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3814:
order_id : 1313.0
item_id : 2.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3815:
order_id : 1313.0
item_id : 3.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3816:
order_id : 1314.0
item_id : 1.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3817:
order_id : 1314.0
item_id : 2.0
product_id : 72.0
quantity : 2.0
list_price : 619.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3818:
order_id : 1314.0
item_id : 3.0
product_id : 94.0
quantity : 1.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3819:
order_id : 1315.0
item_id : 1.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3820:
order_id : 1315.0
item_id : 2.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3821:
order_id : 1315.0
item_id : 3.0
product_id : 24.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3822:
order_id : 1315.0
item_id : 4.0
product_id : 26.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3823:
order_id : 1315.0
item_id : 5.0
product_id : 16.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3824:
order_id : 1316.0

item_id : 1.0
product_id : 76.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3825:
order_id : 1316.0
item_id : 2.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3826:
order_id : 1317.0
item_id : 1.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3827:
order_id : 1318.0
item_id : 1.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3828:
order_id : 1318.0
item_id : 2.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3829:
order_id : 1318.0
item_id : 3.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3830:
order_id : 1318.0
item_id : 4.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3831:
order_id : 1319.0
item_id : 1.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3832:
order_id : 1319.0
item_id : 2.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3833:
order_id : 1320.0
item_id : 1.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3834:
order_id : 1320.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3835:
order_id : 1320.0
item_id : 3.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3836:
order_id : 1321.0
item_id : 1.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3837:
order_id : 1321.0
item_id : 2.0
product_id : 107.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3838:
order_id : 1321.0
item_id : 3.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3839:
order_id : 1322.0
item_id : 1.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3840:
order_id : 1322.0
item_id : 2.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3841:
order_id : 1323.0
item_id : 1.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3842:
order_id : 1323.0
item_id : 2.0
product_id : 20.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3843:
order_id : 1323.0
item_id : 3.0
product_id : 70.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3844:
order_id : 1324.0
item_id : 1.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3845:
order_id : 1324.0
item_id : 2.0
product_id : 120.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3846:
order_id : 1324.0
item_id : 3.0
product_id : 235.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3847:
order_id : 1324.0
item_id : 4.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3848:
order_id : 1325.0
item_id : 1.0
product_id : 139.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3849:
order_id : 1325.0
item_id : 2.0
product_id : 257.0
quantity : 1.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3850:
order_id : 1325.0
item_id : 3.0
product_id : 209.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3851:
order_id : 1325.0
item_id : 4.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3852:
order_id : 1326.0
item_id : 1.0
product_id : 190.0
quantity : 2.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3853:
order_id : 1326.0
item_id : 2.0
product_id : 269.0
quantity : 2.0
list_price : 199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3854:
order_id : 1327.0
item_id : 1.0
product_id : 151.0
quantity : 2.0
list_price : 1549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3855:
order_id : 1327.0
item_id : 2.0
product_id : 235.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3856:
order_id : 1327.0
item_id : 3.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3857:
order_id : 1327.0
item_id : 4.0
product_id : 180.0
quantity : 1.0
list_price : 919.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3858:
order_id : 1328.0
item_id : 1.0
product_id : 241.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3859:
order_id : 1328.0
item_id : 2.0
product_id : 129.0
quantity : 2.0
list_price : 919.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3860:
order_id : 1328.0
item_id : 3.0
product_id : 228.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3861:
order_id : 1328.0
item_id : 4.0
product_id : 311.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3862:
order_id : 1328.0
item_id : 5.0
product_id : 247.0
quantity : 1.0
list_price : 599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3863:
order_id : 1329.0
item_id : 1.0
product_id : 143.0
quantity : 1.0
list_price : 1099.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3864:
order_id : 1329.0
item_id : 2.0
product_id : 107.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3865:
order_id : 1329.0
item_id : 3.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3866:
order_id : 1329.0
item_id : 4.0
product_id : 283.0
quantity : 2.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3867:
order_id : 1329.0
item_id : 5.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3868:
order_id : 1330.0
item_id : 1.0
product_id : 232.0
quantity : 1.0
list_price : 479.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3869:
order_id : 1330.0
item_id : 2.0
product_id : 243.0
quantity : 2.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3870:
order_id : 1330.0
item_id : 3.0
product_id : 230.0
quantity : 2.0
list_price : 429.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3871:
order_id : 1330.0
item_id : 4.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3872:
order_id : 1330.0
item_id : 5.0
product_id : 282.0
quantity : 1.0
list_price : 279.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3873:
order_id : 1331.0
item_id : 1.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3874:
order_id : 1331.0
item_id : 2.0
product_id : 290.0
quantity : 1.0
list_price : 369.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3875:
order_id : 1331.0
item_id : 3.0
product_id : 145.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3876:
order_id : 1331.0
item_id : 4.0
product_id : 300.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3877:
order_id : 1332.0
item_id : 1.0
product_id : 296.0
quantity : 1.0
list_price : 369.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3878:
order_id : 1332.0
item_id : 2.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3879:
order_id : 1332.0
item_id : 3.0
product_id : 179.0
quantity : 2.0
list_price : 919.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3880:
order_id : 1332.0
item_id : 4.0
product_id : 298.0
quantity : 1.0
list_price : 279.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3881:
order_id : 1333.0
item_id : 1.0
product_id : 205.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3882:
order_id : 1333.0
item_id : 2.0
product_id : 304.0
quantity : 2.0
list_price : 679.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3883:
order_id : 1333.0
item_id : 3.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3884:
order_id : 1333.0
item_id : 4.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3885:
order_id : 1333.0
item_id : 5.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3886:
order_id : 1334.0
item_id : 1.0
product_id : 203.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3887:
order_id : 1334.0
item_id : 2.0
product_id : 160.0
quantity : 2.0
list_price : 4499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3888:
order_id : 1334.0
item_id : 3.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3889:
order_id : 1334.0
item_id : 4.0
product_id : 13.0
quantity : 1.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3890:
order_id : 1334.0
item_id : 5.0
product_id : 42.0

quantity : 1.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3891:
order_id : 1335.0
item_id : 1.0
product_id : 138.0
quantity : 2.0
list_price : 2249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3892:
order_id : 1336.0
item_id : 1.0
product_id : 29.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3893:
order_id : 1336.0
item_id : 2.0
product_id : 157.0
quantity : 1.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3894:
order_id : 1336.0
item_id : 3.0
product_id : 21.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3895:
order_id : 1336.0
item_id : 4.0
product_id : 207.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3896:
order_id : 1336.0
item_id : 5.0
product_id : 185.0
quantity : 1.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3897:
order_id : 1337.0
item_id : 1.0
product_id : 153.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3898:
order_id : 1338.0
item_id : 1.0
product_id : 169.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3899:
order_id : 1339.0
item_id : 1.0
product_id : 175.0
quantity : 1.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3900:
order_id : 1340.0
item_id : 1.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3901:
order_id : 1340.0
item_id : 2.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3902:
order_id : 1340.0
item_id : 3.0
product_id : 237.0
quantity : 2.0
list_price : 849.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3903:
order_id : 1341.0
item_id : 1.0
product_id : 215.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3904:
order_id : 1341.0
item_id : 2.0
product_id : 56.0
quantity : 2.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3905:
order_id : 1341.0
item_id : 3.0
product_id : 234.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3906:
order_id : 1341.0
item_id : 4.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3907:
order_id : 1342.0
item_id : 1.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3908:
order_id : 1342.0
item_id : 2.0
product_id : 270.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3909:
order_id : 1343.0
item_id : 1.0
product_id : 244.0
quantity : 1.0
list_price : 559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3910:
order_id : 1343.0
item_id : 2.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3911:
order_id : 1343.0
item_id : 3.0
product_id : 184.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3912:
order_id : 1343.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3913:
order_id : 1343.0
item_id : 5.0
product_id : 206.0
quantity : 1.0
list_price : 3299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3914:
order_id : 1344.0
item_id : 1.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3915:
order_id : 1344.0
item_id : 2.0
product_id : 103.0
quantity : 2.0
list_price : 551.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3916:
order_id : 1344.0
item_id : 3.0
product_id : 3.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3917:
order_id : 1344.0
item_id : 4.0
product_id : 61.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3918:
order_id : 1345.0
item_id : 1.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3919:
order_id : 1345.0
item_id : 2.0
product_id : 172.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3920:
order_id : 1345.0
item_id : 3.0
product_id : 164.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3921:
order_id : 1345.0
item_id : 4.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3922:
order_id : 1346.0
item_id : 1.0
product_id : 134.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3923:
order_id : 1346.0
item_id : 2.0
product_id : 150.0
quantity : 1.0
list_price : 4499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3924:
order_id : 1346.0
item_id : 3.0
product_id : 18.0
quantity : 2.0
list_price : 449.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3925:
order_id : 1346.0
item_id : 4.0
product_id : 249.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3926:
order_id : 1346.0
item_id : 5.0
product_id : 263.0
quantity : 2.0
list_price : 89.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3927:
order_id : 1347.0
item_id : 1.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3928:
order_id : 1347.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3929:
order_id : 1348.0
item_id : 1.0
product_id : 203.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3930:
order_id : 1348.0
item_id : 2.0
product_id : 148.0
quantity : 1.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3931:
order_id : 1348.0
item_id : 3.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3932:
order_id : 1348.0
item_id : 4.0
product_id : 147.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3933:
order_id : 1349.0
item_id : 1.0
product_id : 138.0
quantity : 2.0
list_price : 2249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3934:
order_id : 1349.0
item_id : 2.0
product_id : 205.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3935:
order_id : 1349.0
item_id : 3.0
product_id : 168.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3936:
order_id : 1349.0
item_id : 4.0
product_id : 184.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3937:
order_id : 1350.0
item_id : 1.0
product_id : 305.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3938:
order_id : 1350.0
item_id : 2.0
product_id : 250.0
quantity : 1.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3939:
order_id : 1350.0
item_id : 3.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3940:
order_id : 1350.0
item_id : 4.0
product_id : 159.0
quantity : 1.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 3941:
order_id : 1350.0
item_id : 5.0
product_id : 13.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3942:
order_id : 1351.0
item_id : 1.0
product_id : 297.0
quantity : 2.0
list_price : 279.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3943:
order_id : 1351.0
item_id : 2.0
product_id : 133.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3944:
order_id : 1352.0
item_id : 1.0
product_id : 136.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3945:
order_id : 1352.0
item_id : 2.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3946:
order_id : 1352.0
item_id : 3.0
product_id : 282.0
quantity : 2.0
list_price : 279.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3947:
order_id : 1352.0
item_id : 4.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3948:
order_id : 1352.0
item_id : 5.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3949:
order_id : 1353.0
item_id : 1.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3950:
order_id : 1353.0
item_id : 2.0
product_id : 233.0
quantity : 1.0
list_price : 639.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3951:
order_id : 1353.0
item_id : 3.0
product_id : 300.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3952:
order_id : 1353.0
item_id : 4.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3953:
order_id : 1354.0
item_id : 1.0
product_id : 166.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3954:
order_id : 1355.0
item_id : 1.0
product_id : 297.0
quantity : 1.0
list_price : 279.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3955:
order_id : 1355.0
item_id : 2.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3956:
order_id : 1355.0
item_id : 3.0
product_id : 149.0
quantity : 1.0
list_price : 7499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3957:
order_id : 1355.0
item_id : 4.0
product_id : 313.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3958:
order_id : 1356.0
item_id : 1.0
product_id : 192.0
quantity : 1.0
list_price : 2599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3959:
order_id : 1356.0
item_id : 2.0
product_id : 199.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3960:
order_id : 1356.0
item_id : 3.0
product_id : 276.0
quantity : 2.0
list_price : 319.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3961:
order_id : 1357.0
item_id : 1.0
product_id : 145.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3962:
order_id : 1357.0
item_id : 2.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3963:
order_id : 1357.0
item_id : 3.0
product_id : 130.0
quantity : 1.0
list_price : 919.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3964:
order_id : 1358.0
item_id : 1.0
product_id : 257.0
quantity : 2.0
list_price : 899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3965:
order_id : 1359.0
item_id : 1.0
product_id : 282.0
quantity : 1.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3966:
order_id : 1359.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3967:
order_id : 1360.0
item_id : 1.0
product_id : 31.0
quantity : 1.0
list_price : 1632.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3968:
order_id : 1361.0
item_id : 1.0
product_id : 307.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3969:
order_id : 1361.0
item_id : 2.0
product_id : 153.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3970:
order_id : 1361.0
item_id : 3.0
product_id : 163.0
quantity : 2.0
list_price : 1349.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3971:
order_id : 1362.0
item_id : 1.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3972:
order_id : 1362.0
item_id : 2.0
product_id : 204.0
quantity : 2.0
list_price : 3599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3973:
order_id : 1362.0
item_id : 3.0
product_id : 4.0
quantity : 2.0
list_price : 2899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3974:
order_id : 1363.0
item_id : 1.0
product_id : 66.0
quantity : 2.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3975:
order_id : 1364.0
item_id : 1.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3976:
order_id : 1364.0
item_id : 2.0
product_id : 155.0
quantity : 2.0
list_price : 11999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3977:
order_id : 1364.0
item_id : 3.0
product_id : 152.0
quantity : 1.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3978:
order_id : 1364.0
item_id : 4.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3979:
order_id : 1365.0
item_id : 1.0
product_id : 144.0
quantity : 1.0
list_price : 1549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3980:
order_id : 1365.0
item_id : 2.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3981:
order_id : 1365.0
item_id : 3.0
product_id : 236.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3982:
order_id : 1366.0
item_id : 1.0
product_id : 115.0
quantity : 1.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3983:
order_id : 1366.0
item_id : 2.0
product_id : 128.0
quantity : 2.0
list_price : 1899.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3984:
order_id : 1366.0
item_id : 3.0
product_id : 200.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3985:
order_id : 1367.0
item_id : 1.0
product_id : 132.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3986:
order_id : 1367.0
item_id : 2.0
product_id : 131.0
quantity : 2.0
list_price : 2599.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3987:
order_id : 1367.0
item_id : 3.0
product_id : 124.0
quantity : 1.0
list_price : 1499.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3988:
order_id : 1367.0
item_id : 4.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3989:
order_id : 1368.0
item_id : 1.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3990:
order_id : 1368.0
item_id : 2.0
product_id : 113.0
quantity : 2.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3991:
order_id : 1368.0
item_id : 3.0
product_id : 186.0
quantity : 1.0
list_price : 4499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3992:
order_id : 1369.0
item_id : 1.0
product_id : 213.0
quantity : 2.0
list_price : 269.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3993:
order_id : 1370.0
item_id : 1.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3994:
order_id : 1370.0
item_id : 2.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3995:
order_id : 1370.0
item_id : 3.0
product_id : 208.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3996:
order_id : 1370.0
item_id : 4.0
product_id : 134.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3997:
order_id : 1371.0
item_id : 1.0
product_id : 223.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3998:
order_id : 1371.0
item_id : 2.0
product_id : 8.0
quantity : 2.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 3999:
order_id : 1372.0
item_id : 1.0
product_id : 307.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4000:
order_id : 1372.0
item_id : 2.0
product_id : 283.0
quantity : 2.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4001:
order_id : 1373.0
item_id : 1.0
product_id : 63.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4002:
order_id : 1374.0
item_id : 1.0
product_id : 181.0
quantity : 2.0
list_price : 2199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4003:
order_id : 1374.0
item_id : 2.0
product_id : 130.0
quantity : 2.0
list_price : 919.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4004:
order_id : 1375.0
item_id : 1.0
product_id : 147.0
quantity : 2.0
list_price : 1799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4005:
order_id : 1375.0
item_id : 2.0
product_id : 182.0
quantity : 1.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4006:
order_id : 1376.0
item_id : 1.0
product_id : 5.0
quantity : 1.0
list_price : 1320.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4007:
order_id : 1377.0
item_id : 1.0
product_id : 153.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4008:
order_id : 1377.0
item_id : 2.0
product_id : 130.0
quantity : 1.0
list_price : 919.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4009:
order_id : 1377.0
item_id : 3.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4010:
order_id : 1377.0
item_id : 4.0
product_id : 188.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4011:
order_id : 1378.0
item_id : 1.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4012:
order_id : 1378.0
item_id : 2.0
product_id : 142.0
quantity : 2.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4013:
order_id : 1378.0
item_id : 3.0
product_id : 2.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4014:
order_id : 1378.0
item_id : 4.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4015:
order_id : 1378.0
item_id : 5.0
product_id : 129.0
quantity : 2.0
list_price : 919.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4016:
order_id : 1379.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4017:
order_id : 1379.0
item_id : 2.0
product_id : 118.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4018:
order_id : 1379.0
item_id : 3.0
product_id : 263.0
quantity : 2.0
list_price : 89.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4019:
order_id : 1380.0
item_id : 1.0
product_id : 255.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4020:
order_id : 1380.0
item_id : 2.0
product_id : 229.0
quantity : 2.0
list_price : 429.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4021:
order_id : 1381.0
item_id : 1.0
product_id : 274.0
quantity : 2.0
list_price : 229.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4022:
order_id : 1381.0
item_id : 2.0
product_id : 214.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4023:
order_id : 1382.0
item_id : 1.0
product_id : 232.0
quantity : 1.0
list_price : 479.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4024:
order_id : 1382.0
item_id : 2.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4025:
order_id : 1382.0
item_id : 3.0
product_id : 225.0
quantity : 1.0
list_price : 959.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4026:
order_id : 1382.0
item_id : 4.0
product_id : 135.0
quantity : 1.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4027:
order_id : 1382.0
item_id : 5.0
product_id : 238.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4028:
order_id : 1383.0
item_id : 1.0
product_id : 188.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4029:
order_id : 1383.0
item_id : 2.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4030:
order_id : 1384.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4031:
order_id : 1384.0
item_id : 2.0
product_id : 142.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4032:
order_id : 1384.0
item_id : 3.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4033:
order_id : 1384.0
item_id : 4.0
product_id : 97.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4034:
order_id : 1385.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4035:
order_id : 1385.0
item_id : 2.0
product_id : 145.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4036:
order_id : 1385.0
item_id : 3.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4037:
order_id : 1385.0
item_id : 4.0
product_id : 135.0
quantity : 1.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4038:
order_id : 1386.0
item_id : 1.0
product_id : 292.0
quantity : 1.0
list_price : 369.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4039:
order_id : 1386.0
item_id : 2.0
product_id : 262.0
quantity : 1.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4040:
order_id : 1386.0
item_id : 3.0
product_id : 306.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4041:
order_id : 1386.0
item_id : 4.0
product_id : 150.0
quantity : 1.0
list_price : 4499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4042:
order_id : 1387.0
item_id : 1.0
product_id : 106.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4043:
order_id : 1388.0
item_id : 1.0
product_id : 251.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4044:
order_id : 1389.0
item_id : 1.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4045:
order_id : 1389.0
item_id : 2.0
product_id : 171.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4046:
order_id : 1389.0
item_id : 3.0
product_id : 227.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4047:
order_id : 1390.0
item_id : 1.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4048:
order_id : 1390.0
item_id : 2.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4049:
order_id : 1390.0
item_id : 3.0
product_id : 306.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4050:
order_id : 1390.0
item_id : 4.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4051:
order_id : 1390.0
item_id : 5.0
product_id : 147.0
quantity : 2.0
list_price : 1799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4052:
order_id : 1391.0
item_id : 1.0
product_id : 223.0
quantity : 2.0
list_price : 529.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4053:
order_id : 1391.0
item_id : 2.0
product_id : 295.0
quantity : 2.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4054:
order_id : 1391.0
item_id : 3.0
product_id : 277.0
quantity : 1.0
list_price : 369.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4055:
order_id : 1392.0
item_id : 1.0
product_id : 87.0
quantity : 2.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4056:
order_id : 1392.0
item_id : 2.0
product_id : 240.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4057:
order_id : 1393.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4058:
order_id : 1393.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4059:
order_id : 1393.0
item_id : 3.0
product_id : 47.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4060:
order_id : 1393.0
item_id : 4.0
product_id : 268.0
quantity : 2.0
list_price : 159.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4061:
order_id : 1394.0
item_id : 1.0
product_id : 165.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4062:
order_id : 1395.0
item_id : 1.0
product_id : 204.0
quantity : 1.0
list_price : 3599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4063:
order_id : 1395.0
item_id : 2.0
product_id : 48.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4064:
order_id : 1395.0
item_id : 3.0
product_id : 180.0
quantity : 2.0
list_price : 919.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4065:
order_id : 1395.0
item_id : 4.0
product_id : 226.0
quantity : 1.0
list_price : 679.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4066:
order_id : 1396.0
item_id : 1.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4067:
order_id : 1396.0
item_id : 2.0
product_id : 181.0
quantity : 1.0
list_price : 2199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4068:
order_id : 1397.0
item_id : 1.0
product_id : 127.0
quantity : 2.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4069:
order_id : 1397.0
item_id : 2.0
product_id : 139.0
quantity : 1.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4070:
order_id : 1397.0
item_id : 3.0
product_id : 7.0
quantity : 1.0
list_price : 3999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4071:
order_id : 1397.0
item_id : 4.0
product_id : 249.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4072:
order_id : 1397.0
item_id : 5.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4073:
order_id : 1398.0
item_id : 1.0
product_id : 69.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4074:
order_id : 1398.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4075:
order_id : 1399.0
item_id : 1.0
product_id : 210.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4076:
order_id : 1399.0
item_id : 2.0
product_id : 224.0
quantity : 1.0
list_price : 479.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4077:
order_id : 1399.0
item_id : 3.0
product_id : 127.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4078:
order_id : 1399.0
item_id : 4.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4079:
order_id : 1400.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4080:
order_id : 1400.0
item_id : 2.0
product_id : 217.0
quantity : 2.0
list_price : 909.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4081:
order_id : 1400.0
item_id : 3.0
product_id : 275.0
quantity : 1.0
list_price : 229.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4082:
order_id : 1400.0
item_id : 4.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4083:
order_id : 1401.0
item_id : 1.0
product_id : 112.0
quantity : 1.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4084:
order_id : 1401.0
item_id : 2.0
product_id : 230.0
quantity : 1.0
list_price : 429.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4085:
order_id : 1401.0
item_id : 3.0
product_id : 254.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4086:
order_id : 1402.0
item_id : 1.0
product_id : 189.0
quantity : 2.0
list_price : 2799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4087:
order_id : 1402.0
item_id : 2.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4088:
order_id : 1402.0
item_id : 3.0
product_id : 203.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4089:
order_id : 1402.0
item_id : 4.0
product_id : 273.0
quantity : 1.0
list_price : 289.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4090:
order_id : 1403.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4091:
order_id : 1404.0
item_id : 1.0
product_id : 112.0
quantity : 2.0
list_price : 379.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4092:
order_id : 1404.0
item_id : 2.0
product_id : 220.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4093:
order_id : 1404.0
item_id : 3.0
product_id : 193.0
quantity : 2.0
list_price : 2799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4094:
order_id : 1405.0
item_id : 1.0
product_id : 162.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4095:
order_id : 1406.0
item_id : 1.0
product_id : 230.0
quantity : 2.0
list_price : 429.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4096:
order_id : 1406.0
item_id : 2.0
product_id : 113.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4097:
order_id : 1407.0
item_id : 1.0
product_id : 300.0
quantity : 1.0
list_price : 799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4098:
order_id : 1407.0
item_id : 2.0
product_id : 36.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4099:
order_id : 1407.0
item_id : 3.0
product_id : 266.0
quantity : 1.0
list_price : 399.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4100:
order_id : 1407.0
item_id : 4.0
product_id : 35.0
quantity : 1.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4101:
order_id : 1408.0
item_id : 1.0
product_id : 23.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4102:
order_id : 1408.0
item_id : 2.0
product_id : 166.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4103:
order_id : 1408.0
item_id : 3.0
product_id : 114.0
quantity : 1.0
list_price : 579.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4104:
order_id : 1408.0
item_id : 4.0
product_id : 137.0
quantity : 2.0
list_price : 2599.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4105:
order_id : 1409.0
item_id : 1.0
product_id : 301.0
quantity : 2.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4106:
order_id : 1409.0
item_id : 2.0
product_id : 170.0
quantity : 1.0
list_price : 1299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4107:
order_id : 1409.0
item_id : 3.0
product_id : 171.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4108:
order_id : 1409.0
item_id : 4.0
product_id : 265.0
quantity : 1.0
list_price : 289.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4109:
order_id : 1409.0
item_id : 5.0
product_id : 222.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4110:
order_id : 1410.0
item_id : 1.0
product_id : 205.0
quantity : 2.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4111:
order_id : 1410.0
item_id : 2.0
product_id : 203.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4112:
order_id : 1410.0
item_id : 3.0
product_id : 304.0
quantity : 1.0
list_price : 679.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4113:
order_id : 1411.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4114:
order_id : 1411.0
item_id : 2.0
product_id : 308.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4115:
order_id : 1412.0
item_id : 1.0
product_id : 180.0
quantity : 2.0
list_price : 919.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4116:
order_id : 1412.0
item_id : 2.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4117:
order_id : 1412.0
item_id : 3.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4118:
order_id : 1413.0
item_id : 1.0
product_id : 297.0
quantity : 2.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4119:
order_id : 1414.0
item_id : 1.0
product_id : 162.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4120:
order_id : 1414.0
item_id : 2.0
product_id : 292.0
quantity : 2.0
list_price : 369.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4121:
order_id : 1415.0
item_id : 1.0
product_id : 31.0
quantity : 2.0
list_price : 1632.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4122:
order_id : 1415.0
item_id : 2.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4123:
order_id : 1415.0
item_id : 3.0
product_id : 264.0
quantity : 2.0
list_price : 249.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4124:
order_id : 1415.0
item_id : 4.0
product_id : 245.0
quantity : 1.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4125:
order_id : 1416.0
item_id : 1.0
product_id : 194.0
quantity : 1.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4126:
order_id : 1416.0
item_id : 2.0
product_id : 242.0
quantity : 2.0
list_price : 699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4127:
order_id : 1416.0
item_id : 3.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4128:
order_id : 1417.0
item_id : 1.0
product_id : 219.0
quantity : 2.0
list_price : 639.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4129:
order_id : 1418.0
item_id : 1.0
product_id : 120.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4130:
order_id : 1418.0
item_id : 2.0
product_id : 243.0
quantity : 2.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4131:
order_id : 1419.0
item_id : 1.0
product_id : 124.0
quantity : 1.0
list_price : 1499.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4132:
order_id : 1419.0
item_id : 2.0
product_id : 235.0
quantity : 2.0
list_price : 899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4133:
order_id : 1419.0
item_id : 3.0
product_id : 234.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4134:
order_id : 1420.0
item_id : 1.0
product_id : 197.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4135:
order_id : 1420.0
item_id : 2.0
product_id : 194.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4136:
order_id : 1420.0
item_id : 3.0
product_id : 128.0
quantity : 1.0
list_price : 1899.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4137:
order_id : 1421.0
item_id : 1.0
product_id : 298.0
quantity : 2.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4138:
order_id : 1422.0
item_id : 1.0
product_id : 80.0
quantity : 2.0
list_price : 761.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4139:
order_id : 1422.0
item_id : 2.0
product_id : 180.0
quantity : 2.0
list_price : 919.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4140:
order_id : 1422.0
item_id : 3.0
product_id : 243.0
quantity : 1.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4141:
order_id : 1423.0
item_id : 1.0
product_id : 249.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4142:
order_id : 1423.0
item_id : 2.0
product_id : 71.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4143:
order_id : 1423.0
item_id : 3.0
product_id : 302.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4144:
order_id : 1423.0
item_id : 4.0
product_id : 113.0
quantity : 2.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4145:
order_id : 1424.0
item_id : 1.0
product_id : 140.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4146:
order_id : 1425.0
item_id : 1.0
product_id : 227.0
quantity : 2.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4147:
order_id : 1425.0
item_id : 2.0
product_id : 263.0
quantity : 1.0
list_price : 89.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4148:
order_id : 1425.0
item_id : 3.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4149:
order_id : 1425.0
item_id : 4.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4150:
order_id : 1425.0
item_id : 5.0
product_id : 145.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4151:
order_id : 1426.0
item_id : 1.0
product_id : 215.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4152:
order_id : 1426.0
item_id : 2.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4153:
order_id : 1426.0
item_id : 3.0
product_id : 281.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4154:
order_id : 1427.0
item_id : 1.0
product_id : 230.0
quantity : 2.0
list_price : 429.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4155:
order_id : 1427.0
item_id : 2.0
product_id : 139.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4156:
order_id : 1427.0
item_id : 3.0
product_id : 164.0
quantity : 2.0
list_price : 1549.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4157:
order_id : 1428.0
item_id : 1.0
product_id : 216.0
quantity : 2.0
list_price : 899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4158:
order_id : 1428.0
item_id : 2.0
product_id : 126.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4159:
order_id : 1428.0
item_id : 3.0
product_id : 187.0
quantity : 2.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4160:
order_id : 1428.0
item_id : 4.0
product_id : 28.0
quantity : 1.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4161:
order_id : 1428.0
item_id : 5.0
product_id : 194.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4162:
order_id : 1429.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4163:
order_id : 1430.0
item_id : 1.0
product_id : 221.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4164:
order_id : 1430.0
item_id : 2.0
product_id : 281.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4165:
order_id : 1431.0
item_id : 1.0
product_id : 207.0
quantity : 1.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4166:
order_id : 1431.0
item_id : 2.0
product_id : 53.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4167:
order_id : 1431.0
item_id : 3.0
product_id : 252.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4168:
order_id : 1431.0
item_id : 4.0
product_id : 254.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4169:
order_id : 1432.0
item_id : 1.0
product_id : 161.0
quantity : 1.0
list_price : 1899.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4170:
order_id : 1433.0
item_id : 1.0
product_id : 264.0
quantity : 1.0
list_price : 249.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4171:
order_id : 1434.0
item_id : 1.0
product_id : 229.0
quantity : 2.0
list_price : 429.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4172:
order_id : 1434.0
item_id : 2.0
product_id : 198.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4173:
order_id : 1434.0
item_id : 3.0
product_id : 286.0
quantity : 2.0
list_price : 279.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4174:
order_id : 1434.0
item_id : 4.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4175:
order_id : 1435.0
item_id : 1.0
product_id : 141.0
quantity : 2.0
list_price : 1599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4176:
order_id : 1435.0
item_id : 2.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4177:
order_id : 1435.0
item_id : 3.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4178:
order_id : 1435.0
item_id : 4.0
product_id : 260.0
quantity : 1.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4179:
order_id : 1436.0
item_id : 1.0
product_id : 244.0
quantity : 2.0
list_price : 559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4180:
order_id : 1437.0
item_id : 1.0
product_id : 141.0
quantity : 2.0
list_price : 1599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4181:
order_id : 1438.0
item_id : 1.0
product_id : 225.0
quantity : 1.0
list_price : 959.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4182:
order_id : 1438.0
item_id : 2.0
product_id : 140.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4183:
order_id : 1438.0
item_id : 3.0
product_id : 81.0
quantity : 2.0
list_price : 1099.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4184:
order_id : 1438.0
item_id : 4.0
product_id : 137.0
quantity : 1.0
list_price : 2599.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4185:
order_id : 1438.0
item_id : 5.0
product_id : 190.0
quantity : 2.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4186:
order_id : 1439.0
item_id : 1.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4187:
order_id : 1439.0
item_id : 2.0
product_id : 263.0
quantity : 1.0
list_price : 89.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4188:
order_id : 1439.0
item_id : 3.0
product_id : 102.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4189:
order_id : 1439.0
item_id : 4.0
product_id : 149.0
quantity : 1.0
list_price : 7499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4190:
order_id : 1440.0
item_id : 1.0
product_id : 116.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4191:
order_id : 1440.0
item_id : 2.0
product_id : 109.0
quantity : 1.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4192:
order_id : 1440.0
item_id : 3.0
product_id : 186.0
quantity : 1.0
list_price : 4499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4193:
order_id : 1440.0
item_id : 4.0
product_id : 178.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4194:
order_id : 1440.0
item_id : 5.0
product_id : 67.0
quantity : 2.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4195:
order_id : 1441.0
item_id : 1.0
product_id : 6.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4196:
order_id : 1441.0
item_id : 2.0
product_id : 242.0
quantity : 2.0
list_price : 699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4197:
order_id : 1441.0
item_id : 3.0
product_id : 46.0
quantity : 1.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4198:
order_id : 1442.0
item_id : 1.0
product_id : 160.0
quantity : 1.0
list_price : 4499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4199:
order_id : 1442.0
item_id : 2.0
product_id : 220.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4200:
order_id : 1442.0
item_id : 3.0
product_id : 271.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4201:
order_id : 1443.0
item_id : 1.0
product_id : 160.0
quantity : 1.0
list_price : 4499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4202:
order_id : 1443.0
item_id : 2.0
product_id : 57.0
quantity : 1.0
list_price : 1999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4203:
order_id : 1443.0
item_id : 3.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4204:
order_id : 1444.0
item_id : 1.0
product_id : 90.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4205:
order_id : 1444.0
item_id : 2.0
product_id : 128.0
quantity : 2.0
list_price : 1899.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4206:
order_id : 1445.0
item_id : 1.0
product_id : 219.0
quantity : 2.0
list_price : 639.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4207:
order_id : 1445.0
item_id : 2.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4208:
order_id : 1445.0
item_id : 3.0
product_id : 123.0
quantity : 2.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4209:
order_id : 1446.0
item_id : 1.0
product_id : 227.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4210:
order_id : 1446.0
item_id : 2.0
product_id : 233.0
quantity : 2.0
list_price : 639.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4211:
order_id : 1446.0
item_id : 3.0
product_id : 234.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4212:
order_id : 1447.0
item_id : 1.0
product_id : 148.0
quantity : 1.0
list_price : 5499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4213:
order_id : 1448.0
item_id : 1.0
product_id : 239.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4214:
order_id : 1449.0
item_id : 1.0
product_id : 159.0
quantity : 1.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4215:
order_id : 1449.0
item_id : 2.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4216:
order_id : 1449.0
item_id : 3.0
product_id : 260.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4217:
order_id : 1449.0
item_id : 4.0
product_id : 252.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4218:
order_id : 1449.0
item_id : 5.0
product_id : 14.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4219:
order_id : 1450.0
item_id : 1.0
product_id : 98.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4220:
order_id : 1450.0
item_id : 2.0
product_id : 173.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4221:
order_id : 1450.0
item_id : 3.0
product_id : 299.0
quantity : 1.0
list_price : 559.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4222:
order_id : 1450.0
item_id : 4.0
product_id : 209.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4223:
order_id : 1450.0
item_id : 5.0
product_id : 235.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4224:
order_id : 1451.0
item_id : 1.0
product_id : 117.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4225:
order_id : 1452.0
item_id : 1.0
product_id : 99.0
quantity : 2.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4226:
order_id : 1452.0
item_id : 2.0
product_id : 234.0
quantity : 1.0
list_price : 899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4227:
order_id : 1452.0
item_id : 3.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4228:
order_id : 1452.0
item_id : 4.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4229:
order_id : 1453.0
item_id : 1.0
product_id : 89.0
quantity : 2.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4230:
order_id : 1454.0
item_id : 1.0
product_id : 283.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4231:
order_id : 1454.0
item_id : 2.0
product_id : 35.0
quantity : 2.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4232:
order_id : 1454.0
item_id : 3.0
product_id : 124.0
quantity : 1.0
list_price : 1499.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4233:
order_id : 1454.0
item_id : 4.0
product_id : 38.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4234:
order_id : 1455.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4235:
order_id : 1455.0
item_id : 2.0
product_id : 254.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4236:
order_id : 1456.0
item_id : 1.0
product_id : 193.0
quantity : 2.0
list_price : 2799.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4237:
order_id : 1456.0
item_id : 2.0
product_id : 246.0
quantity : 1.0
list_price : 639.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4238:
order_id : 1456.0
item_id : 3.0
product_id : 268.0
quantity : 2.0
list_price : 159.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4239:
order_id : 1456.0
item_id : 4.0
product_id : 272.0
quantity : 1.0
list_price : 289.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4240:
order_id : 1456.0
item_id : 5.0
product_id : 126.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4241:
order_id : 1457.0
item_id : 1.0
product_id : 113.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4242:
order_id : 1457.0
item_id : 2.0
product_id : 111.0
quantity : 1.0
list_price : 470.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4243:
order_id : 1457.0
item_id : 3.0
product_id : 268.0
quantity : 1.0
list_price : 159.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4244:
order_id : 1457.0
item_id : 4.0
product_id : 152.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4245:
order_id : 1458.0
item_id : 1.0
product_id : 295.0
quantity : 2.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4246:
order_id : 1458.0
item_id : 2.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4247:
order_id : 1458.0
item_id : 3.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4248:
order_id : 1458.0
item_id : 4.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4249:
order_id : 1459.0
item_id : 1.0
product_id : 258.0
quantity : 1.0
list_price : 1259.9
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4250:
order_id : 1460.0
item_id : 1.0
product_id : 201.0
quantity : 1.0
list_price : 4499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4251:
order_id : 1460.0
item_id : 2.0
product_id : 76.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4252:
order_id : 1460.0
item_id : 3.0
product_id : 167.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4253:
order_id : 1460.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4254:
order_id : 1460.0
item_id : 5.0
product_id : 123.0
quantity : 2.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4255:
order_id : 1461.0
item_id : 1.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4256:
order_id : 1461.0
item_id : 2.0
product_id : 242.0
quantity : 2.0
list_price : 699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4257:
order_id : 1462.0
item_id : 1.0
product_id : 263.0
quantity : 1.0
list_price : 89.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4258:
order_id : 1462.0
item_id : 2.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4259:
order_id : 1462.0
item_id : 3.0
product_id : 223.0
quantity : 1.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4260:
order_id : 1462.0
item_id : 4.0
product_id : 294.0
quantity : 1.0
list_price : 369.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4261:
order_id : 1462.0
item_id : 5.0
product_id : 251.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4262:
order_id : 1463.0
item_id : 1.0
product_id : 51.0
quantity : 2.0
list_price : 6499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4263:
order_id : 1463.0
item_id : 2.0
product_id : 168.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4264:
order_id : 1464.0
item_id : 1.0
product_id : 109.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4265:
order_id : 1464.0
item_id : 2.0
product_id : 124.0
quantity : 1.0
list_price : 1499.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4266:
order_id : 1464.0
item_id : 3.0
product_id : 165.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4267:
order_id : 1464.0
item_id : 4.0
product_id : 151.0
quantity : 2.0
list_price : 1549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4268:
order_id : 1465.0
item_id : 1.0
product_id : 70.0
quantity : 2.0
list_price : 659.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4269:
order_id : 1466.0
item_id : 1.0
product_id : 310.0
quantity : 2.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4270:
order_id : 1466.0
item_id : 2.0
product_id : 251.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4271:
order_id : 1466.0
item_id : 3.0
product_id : 163.0
quantity : 2.0
list_price : 1349.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4272:
order_id : 1466.0
item_id : 4.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4273:
order_id : 1467.0
item_id : 1.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4274:
order_id : 1467.0
item_id : 2.0
product_id : 115.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4275:
order_id : 1467.0
item_id : 3.0
product_id : 278.0
quantity : 2.0
list_price : 369.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4276:
order_id : 1468.0
item_id : 1.0
product_id : 269.0
quantity : 1.0
list_price : 199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4277:
order_id : 1468.0
item_id : 2.0
product_id : 58.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4278:
order_id : 1468.0
item_id : 3.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4279:
order_id : 1469.0
item_id : 1.0
product_id : 77.0
quantity : 2.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4280:
order_id : 1469.0
item_id : 2.0
product_id : 237.0
quantity : 2.0
list_price : 849.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4281:
order_id : 1469.0
item_id : 3.0
product_id : 182.0
quantity : 1.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4282:
order_id : 1469.0
item_id : 4.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4283:
order_id : 1470.0
item_id : 1.0
product_id : 110.0
quantity : 2.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4284:
order_id : 1470.0
item_id : 2.0
product_id : 287.0
quantity : 1.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4285:
order_id : 1470.0
item_id : 3.0
product_id : 252.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4286:
order_id : 1471.0
item_id : 1.0
product_id : 59.0
quantity : 2.0
list_price : 2599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4287:
order_id : 1471.0
item_id : 2.0
product_id : 136.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4288:
order_id : 1472.0
item_id : 1.0
product_id : 84.0
quantity : 1.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4289:
order_id : 1472.0
item_id : 2.0
product_id : 300.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4290:
order_id : 1473.0
item_id : 1.0
product_id : 84.0
quantity : 2.0
list_price : 109.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4291:
order_id : 1473.0
item_id : 2.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4292:
order_id : 1474.0
item_id : 1.0
product_id : 301.0
quantity : 1.0
list_price : 899.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4293:
order_id : 1474.0
item_id : 2.0
product_id : 123.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4294:
order_id : 1475.0
item_id : 1.0
product_id : 306.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4295:
order_id : 1475.0
item_id : 2.0
product_id : 261.0
quantity : 2.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4296:
order_id : 1475.0
item_id : 3.0
product_id : 161.0
quantity : 2.0
list_price : 1899.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4297:
order_id : 1475.0
item_id : 4.0
product_id : 248.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4298:
order_id : 1476.0
item_id : 1.0
product_id : 142.0
quantity : 2.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4299:
order_id : 1476.0
item_id : 2.0
product_id : 91.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4300:
order_id : 1476.0
item_id : 3.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4301:
order_id : 1476.0
item_id : 4.0
product_id : 191.0
quantity : 1.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4302:
order_id : 1476.0
item_id : 5.0
product_id : 265.0
quantity : 2.0
list_price : 289.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4303:
order_id : 1477.0
item_id : 1.0
product_id : 210.0
quantity : 2.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4304:
order_id : 1478.0
item_id : 1.0
product_id : 100.0
quantity : 2.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4305:
order_id : 1478.0
item_id : 2.0
product_id : 123.0
quantity : 1.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4306:
order_id : 1479.0
item_id : 1.0
product_id : 252.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4307:
order_id : 1479.0
item_id : 2.0
product_id : 256.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4308:
order_id : 1480.0
item_id : 1.0
product_id : 308.0
quantity : 2.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4309:
order_id : 1480.0
item_id : 2.0
product_id : 82.0
quantity : 2.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4310:
order_id : 1480.0
item_id : 3.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4311:
order_id : 1480.0
item_id : 4.0
product_id : 225.0
quantity : 2.0
list_price : 959.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4312:
order_id : 1481.0
item_id : 1.0
product_id : 53.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4313:
order_id : 1481.0
item_id : 2.0
product_id : 130.0
quantity : 1.0
list_price : 919.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4314:
order_id : 1482.0
item_id : 1.0
product_id : 48.0
quantity : 1.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4315:
order_id : 1482.0
item_id : 2.0
product_id : 113.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4316:
order_id : 1482.0
item_id : 3.0
product_id : 58.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4317:
order_id : 1482.0
item_id : 4.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4318:
order_id : 1482.0
item_id : 5.0
product_id : 205.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4319:
order_id : 1483.0
item_id : 1.0
product_id : 280.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4320:
order_id : 1483.0
item_id : 2.0
product_id : 226.0
quantity : 2.0
list_price : 679.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4321:
order_id : 1484.0
item_id : 1.0
product_id : 295.0
quantity : 2.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4322:
order_id : 1484.0
item_id : 2.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4323:
order_id : 1484.0
item_id : 3.0
product_id : 304.0
quantity : 2.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4324:
order_id : 1485.0
item_id : 1.0
product_id : 122.0
quantity : 2.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4325:
order_id : 1485.0
item_id : 2.0
product_id : 276.0
quantity : 1.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4326:
order_id : 1486.0
item_id : 1.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4327:
order_id : 1486.0
item_id : 2.0
product_id : 98.0
quantity : 1.0
list_price : 489.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4328:
order_id : 1486.0
item_id : 3.0
product_id : 113.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4329:
order_id : 1486.0
item_id : 4.0
product_id : 269.0
quantity : 1.0
list_price : 199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4330:
order_id : 1487.0
item_id : 1.0
product_id : 160.0
quantity : 1.0
list_price : 4499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4331:
order_id : 1487.0
item_id : 2.0
product_id : 151.0
quantity : 2.0
list_price : 1549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4332:
order_id : 1487.0
item_id : 3.0
product_id : 198.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4333:
order_id : 1487.0
item_id : 4.0
product_id : 196.0
quantity : 1.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4334:
order_id : 1487.0
item_id : 5.0
product_id : 96.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4335:
order_id : 1488.0
item_id : 1.0
product_id : 42.0
quantity : 1.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4336:
order_id : 1488.0
item_id : 2.0
product_id : 122.0
quantity : 1.0
list_price : 2499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4337:
order_id : 1489.0
item_id : 1.0
product_id : 198.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4338:
order_id : 1489.0
item_id : 2.0
product_id : 282.0
quantity : 2.0
list_price : 279.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4339:
order_id : 1489.0
item_id : 3.0
product_id : 52.0
quantity : 1.0
list_price : 875.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4340:
order_id : 1490.0
item_id : 1.0
product_id : 99.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4341:
order_id : 1490.0
item_id : 2.0
product_id : 254.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4342:
order_id : 1490.0
item_id : 3.0
product_id : 218.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4343:
order_id : 1491.0
item_id : 1.0
product_id : 95.0
quantity : 2.0
list_price : 299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4344:
order_id : 1491.0
item_id : 2.0
product_id : 302.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4345:
order_id : 1491.0
item_id : 3.0
product_id : 60.0
quantity : 2.0
list_price : 1559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4346:
order_id : 1491.0
item_id : 4.0
product_id : 139.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4347:
order_id : 1492.0
item_id : 1.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4348:
order_id : 1493.0
item_id : 1.0
product_id : 230.0
quantity : 1.0
list_price : 429.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4349:
order_id : 1494.0
item_id : 1.0
product_id : 230.0
quantity : 2.0
list_price : 429.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4350:
order_id : 1494.0
item_id : 2.0
product_id : 178.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4351:
order_id : 1494.0
item_id : 3.0
product_id : 264.0
quantity : 2.0
list_price : 249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4352:
order_id : 1495.0
item_id : 1.0
product_id : 292.0
quantity : 2.0
list_price : 369.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4353:
order_id : 1495.0
item_id : 2.0
product_id : 308.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4354:
order_id : 1495.0
item_id : 3.0
product_id : 137.0
quantity : 1.0
list_price : 2599.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4355:
order_id : 1496.0
item_id : 1.0
product_id : 248.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4356:
order_id : 1496.0
item_id : 2.0
product_id : 214.0
quantity : 1.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4357:
order_id : 1496.0
item_id : 3.0
product_id : 224.0
quantity : 2.0
list_price : 479.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4358:
order_id : 1496.0
item_id : 4.0
product_id : 302.0
quantity : 1.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4359:
order_id : 1496.0
item_id : 5.0
product_id : 225.0
quantity : 2.0
list_price : 959.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4360:
order_id : 1497.0
item_id : 1.0
product_id : 141.0
quantity : 2.0
list_price : 1599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4361:
order_id : 1497.0
item_id : 2.0
product_id : 198.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4362:
order_id : 1497.0
item_id : 3.0
product_id : 204.0
quantity : 2.0
list_price : 3599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4363:
order_id : 1498.0
item_id : 1.0
product_id : 172.0
quantity : 1.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4364:
order_id : 1498.0
item_id : 2.0
product_id : 260.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4365:
order_id : 1499.0
item_id : 1.0
product_id : 110.0
quantity : 1.0
list_price : 470.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4366:
order_id : 1499.0
item_id : 2.0
product_id : 208.0
quantity : 1.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4367:
order_id : 1499.0
item_id : 3.0
product_id : 268.0
quantity : 2.0
list_price : 159.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4368:
order_id : 1499.0
item_id : 4.0
product_id : 2.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4369:
order_id : 1499.0
item_id : 5.0
product_id : 171.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4370:
order_id : 1500.0
item_id : 1.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4371:
order_id : 1500.0
item_id : 2.0
product_id : 293.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4372:
order_id : 1501.0
item_id : 1.0
product_id : 248.0
quantity : 1.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4373:
order_id : 1501.0
item_id : 2.0
product_id : 219.0
quantity : 1.0
list_price : 639.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4374:
order_id : 1501.0
item_id : 3.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4375:
order_id : 1501.0
item_id : 4.0
product_id : 67.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4376:
order_id : 1501.0
item_id : 5.0
product_id : 210.0
quantity : 1.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4377:
order_id : 1502.0
item_id : 1.0
product_id : 231.0
quantity : 2.0
list_price : 529.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4378:
order_id : 1502.0
item_id : 2.0
product_id : 19.0
quantity : 2.0
list_price : 449.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4379:
order_id : 1502.0
item_id : 3.0
product_id : 26.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4380:
order_id : 1502.0
item_id : 4.0
product_id : 268.0
quantity : 1.0
list_price : 159.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4381:
order_id : 1502.0
item_id : 5.0
product_id : 255.0
quantity : 1.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4382:
order_id : 1503.0
item_id : 1.0
product_id : 217.0
quantity : 1.0
list_price : 909.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4383:
order_id : 1503.0
item_id : 2.0
product_id : 302.0
quantity : 2.0
list_price : 449.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4384:
order_id : 1504.0
item_id : 1.0
product_id : 276.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4385:
order_id : 1505.0
item_id : 1.0
product_id : 223.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4386:
order_id : 1505.0
item_id : 2.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4387:
order_id : 1505.0
item_id : 3.0
product_id : 43.0
quantity : 2.0
list_price : 5299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4388:
order_id : 1506.0
item_id : 1.0
product_id : 184.0
quantity : 1.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4389:
order_id : 1506.0
item_id : 2.0
product_id : 153.0
quantity : 2.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4390:
order_id : 1506.0
item_id : 3.0
product_id : 149.0
quantity : 2.0
list_price : 7499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4391:
order_id : 1507.0
item_id : 1.0
product_id : 39.0
quantity : 2.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4392:
order_id : 1507.0
item_id : 2.0
product_id : 11.0
quantity : 2.0
list_price : 1680.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4393:
order_id : 1507.0
item_id : 3.0
product_id : 259.0
quantity : 1.0
list_price : 1199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4394:
order_id : 1507.0
item_id : 4.0
product_id : 281.0
quantity : 1.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4395:
order_id : 1507.0
item_id : 5.0
product_id : 293.0
quantity : 2.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4396:
order_id : 1508.0
item_id : 1.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4397:
order_id : 1508.0
item_id : 2.0
product_id : 109.0
quantity : 1.0
list_price : 416.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4398:
order_id : 1508.0
item_id : 3.0
product_id : 52.0
quantity : 2.0
list_price : 875.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4399:
order_id : 1508.0
item_id : 4.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4400:
order_id : 1509.0
item_id : 1.0
product_id : 215.0
quantity : 2.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4401:
order_id : 1510.0
item_id : 1.0
product_id : 142.0
quantity : 2.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4402:
order_id : 1510.0
item_id : 2.0
product_id : 68.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4403:
order_id : 1510.0
item_id : 3.0
product_id : 251.0
quantity : 2.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4404:
order_id : 1510.0
item_id : 4.0
product_id : 220.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4405:
order_id : 1510.0
item_id : 5.0
product_id : 137.0
quantity : 1.0
list_price : 2599.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4406:
order_id : 1511.0
item_id : 1.0
product_id : 144.0
quantity : 2.0
list_price : 1549.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4407:
order_id : 1511.0
item_id : 2.0
product_id : 288.0
quantity : 1.0
list_price : 389.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4408:
order_id : 1511.0
item_id : 3.0
product_id : 17.0
quantity : 2.0
list_price : 429.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4409:
order_id : 1511.0
item_id : 4.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4410:
order_id : 1511.0
item_id : 5.0
product_id : 124.0
quantity : 2.0
list_price : 1499.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4411:
order_id : 1512.0
item_id : 1.0
product_id : 217.0
quantity : 1.0
list_price : 909.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4412:
order_id : 1513.0
item_id : 1.0
product_id : 166.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4413:
order_id : 1513.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4414:
order_id : 1513.0
item_id : 3.0
product_id : 159.0
quantity : 2.0
list_price : 2299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4415:
order_id : 1514.0
item_id : 1.0
product_id : 240.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4416:
order_id : 1514.0
item_id : 2.0
product_id : 203.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4417:
order_id : 1515.0
item_id : 1.0
product_id : 27.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4418:
order_id : 1515.0
item_id : 2.0
product_id : 202.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4419:
order_id : 1515.0
item_id : 3.0
product_id : 310.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4420:
order_id : 1515.0
item_id : 4.0
product_id : 40.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4421:
order_id : 1515.0
item_id : 5.0
product_id : 158.0
quantity : 2.0
list_price : 959.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4422:
order_id : 1516.0
item_id : 1.0
product_id : 172.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4423:
order_id : 1516.0
item_id : 2.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4424:
order_id : 1516.0
item_id : 3.0
product_id : 196.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4425:
order_id : 1516.0
item_id : 4.0
product_id : 259.0
quantity : 2.0
list_price : 1199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4426:
order_id : 1516.0
item_id : 5.0
product_id : 271.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4427:
order_id : 1517.0
item_id : 1.0
product_id : 303.0
quantity : 2.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4428:
order_id : 1517.0
item_id : 2.0
product_id : 226.0
quantity : 2.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4429:
order_id : 1518.0
item_id : 1.0
product_id : 304.0
quantity : 2.0
list_price : 679.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4430:
order_id : 1518.0
item_id : 2.0
product_id : 182.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4431:
order_id : 1518.0
item_id : 3.0
product_id : 252.0
quantity : 2.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4432:
order_id : 1519.0
item_id : 1.0
product_id : 150.0
quantity : 1.0
list_price : 4499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4433:
order_id : 1519.0
item_id : 2.0
product_id : 85.0
quantity : 2.0
list_price : 329.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4434:
order_id : 1519.0
item_id : 3.0
product_id : 124.0
quantity : 2.0
list_price : 1499.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4435:
order_id : 1519.0
item_id : 4.0
product_id : 65.0
quantity : 1.0
list_price : 346.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4436:
order_id : 1519.0
item_id : 5.0
product_id : 265.0
quantity : 2.0
list_price : 289.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4437:
order_id : 1520.0
item_id : 1.0
product_id : 186.0
quantity : 1.0
list_price : 4499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4438:
order_id : 1520.0
item_id : 2.0
product_id : 188.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4439:
order_id : 1520.0
item_id : 3.0
product_id : 310.0
quantity : 2.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4440:
order_id : 1520.0
item_id : 4.0
product_id : 263.0
quantity : 2.0
list_price : 89.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4441:
order_id : 1521.0
item_id : 1.0
product_id : 100.0
quantity : 1.0
list_price : 489.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4442:
order_id : 1521.0
item_id : 2.0
product_id : 314.0
quantity : 2.0
list_price : 679.99
discount : 0.2

Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4443:
order_id : 1521.0
item_id : 3.0
product_id : 123.0
quantity : 1.0
list_price : 999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4444:
order_id : 1521.0
item_id : 4.0
product_id : 135.0
quantity : 2.0
list_price : 1499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4445:
order_id : 1522.0
item_id : 1.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4446:
order_id : 1522.0
item_id : 2.0
product_id : 141.0
quantity : 1.0
list_price : 1599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4447:
order_id : 1522.0
item_id : 3.0
product_id : 117.0
quantity : 1.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4448:
order_id : 1523.0
item_id : 1.0
product_id : 311.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4449:
order_id : 1524.0
item_id : 1.0
product_id : 168.0
quantity : 1.0
list_price : 1549.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4450:
order_id : 1524.0
item_id : 2.0
product_id : 295.0
quantity : 2.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4451:
order_id : 1524.0
item_id : 3.0
product_id : 313.0
quantity : 1.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4452:
order_id : 1524.0
item_id : 4.0
product_id : 252.0
quantity : 2.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4453:
order_id : 1525.0
item_id : 1.0
product_id : 156.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4454:
order_id : 1525.0
item_id : 2.0
product_id : 163.0
quantity : 2.0
list_price : 1349.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4455:
order_id : 1525.0
item_id : 3.0
product_id : 193.0
quantity : 1.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4456:
order_id : 1526.0
item_id : 1.0
product_id : 151.0
quantity : 1.0
list_price : 1549.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4457:
order_id : 1526.0
item_id : 2.0
product_id : 56.0
quantity : 1.0
list_price : 5499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4458:
order_id : 1526.0
item_id : 3.0
product_id : 238.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4459:
order_id : 1526.0
item_id : 4.0
product_id : 243.0
quantity : 1.0
list_price : 679.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4460:
order_id : 1527.0
item_id : 1.0
product_id : 33.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4461:
order_id : 1527.0
item_id : 2.0
product_id : 103.0
quantity : 1.0
list_price : 551.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4462:
order_id : 1527.0
item_id : 3.0
product_id : 57.0
quantity : 2.0
list_price : 1999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4463:
order_id : 1528.0
item_id : 1.0
product_id : 229.0
quantity : 2.0
list_price : 429.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4464:
order_id : 1529.0
item_id : 1.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4465:
order_id : 1529.0
item_id : 2.0
product_id : 50.0
quantity : 2.0
list_price : 5999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4466:
order_id : 1530.0
item_id : 1.0
product_id : 213.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4467:
order_id : 1530.0
item_id : 2.0
product_id : 116.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4468:
order_id : 1531.0
item_id : 1.0
product_id : 128.0
quantity : 1.0
list_price : 1899.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4469:
order_id : 1532.0
item_id : 1.0
product_id : 209.0
quantity : 2.0
list_price : 2999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4470:
order_id : 1533.0
item_id : 1.0
product_id : 274.0
quantity : 2.0
list_price : 229.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4471:
order_id : 1533.0
item_id : 2.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4472:
order_id : 1533.0
item_id : 3.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4473:
order_id : 1533.0
item_id : 4.0
product_id : 235.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4474:
order_id : 1533.0
item_id : 5.0
product_id : 51.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4475:
order_id : 1534.0
item_id : 1.0
product_id : 194.0
quantity : 1.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4476:
order_id : 1534.0
item_id : 2.0
product_id : 117.0
quantity : 1.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4477:
order_id : 1534.0
item_id : 3.0
product_id : 269.0
quantity : 2.0
list_price : 199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4478:
order_id : 1534.0
item_id : 4.0
product_id : 172.0
quantity : 2.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4479:
order_id : 1535.0
item_id : 1.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4480:
order_id : 1535.0
item_id : 2.0
product_id : 75.0
quantity : 2.0
list_price : 599.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4481:
order_id : 1536.0
item_id : 1.0
product_id : 183.0
quantity : 1.0
list_price : 2199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4482:
order_id : 1536.0
item_id : 2.0
product_id : 185.0
quantity : 2.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4483:
order_id : 1536.0
item_id : 3.0
product_id : 196.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4484:
order_id : 1537.0
item_id : 1.0
product_id : 237.0
quantity : 2.0
list_price : 849.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4485:
order_id : 1538.0
item_id : 1.0
product_id : 206.0
quantity : 1.0
list_price : 3299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4486:
order_id : 1538.0
item_id : 2.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4487:
order_id : 1538.0
item_id : 3.0
product_id : 117.0
quantity : 1.0
list_price : 1469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4488:
order_id : 1538.0
item_id : 4.0
product_id : 197.0
quantity : 1.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4489:
order_id : 1538.0
item_id : 5.0
product_id : 306.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4490:
order_id : 1539.0
item_id : 1.0
product_id : 6.0

quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4491:
order_id : 1539.0
item_id : 2.0
product_id : 12.0
quantity : 2.0
list_price : 549.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4492:
order_id : 1540.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4493:
order_id : 1540.0
item_id : 2.0
product_id : 236.0
quantity : 1.0
list_price : 749.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4494:
order_id : 1540.0
item_id : 3.0
product_id : 224.0
quantity : 1.0
list_price : 479.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4495:
order_id : 1540.0
item_id : 4.0
product_id : 177.0
quantity : 2.0
list_price : 5499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4496:
order_id : 1540.0
item_id : 5.0
product_id : 78.0
quantity : 1.0
list_price : 647.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4497:
order_id : 1541.0
item_id : 1.0
product_id : 155.0
quantity : 2.0
list_price : 11999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4498:
order_id : 1541.0
item_id : 2.0
product_id : 248.0
quantity : 2.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4499:
order_id : 1541.0
item_id : 3.0
product_id : 142.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4500:
order_id : 1541.0
item_id : 4.0
product_id : 17.0
quantity : 1.0
list_price : 429.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4501:
order_id : 1541.0
item_id : 5.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4502:
order_id : 1542.0
item_id : 1.0
product_id : 79.0
quantity : 1.0
list_price : 402.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4503:
order_id : 1542.0
item_id : 2.0
product_id : 122.0
quantity : 2.0
list_price : 2499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4504:
order_id : 1542.0
item_id : 3.0
product_id : 184.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4505:
order_id : 1542.0
item_id : 4.0
product_id : 37.0
quantity : 2.0
list_price : 379.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4506:
order_id : 1542.0
item_id : 5.0
product_id : 297.0
quantity : 1.0
list_price : 279.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4507:
order_id : 1543.0
item_id : 1.0
product_id : 108.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4508:
order_id : 1543.0
item_id : 2.0
product_id : 93.0
quantity : 1.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4509:
order_id : 1543.0
item_id : 3.0
product_id : 158.0
quantity : 2.0
list_price : 959.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4510:
order_id : 1543.0
item_id : 4.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4511:
order_id : 1543.0
item_id : 5.0
product_id : 136.0
quantity : 1.0
list_price : 1799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4512:
order_id : 1544.0
item_id : 1.0
product_id : 194.0
quantity : 2.0
list_price : 3499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4513:
order_id : 1544.0
item_id : 2.0
product_id : 107.0
quantity : 2.0
list_price : 416.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4514:
order_id : 1545.0
item_id : 1.0
product_id : 45.0
quantity : 1.0
list_price : 869.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4515:
order_id : 1546.0
item_id : 1.0
product_id : 156.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4516:
order_id : 1546.0
item_id : 2.0
product_id : 185.0
quantity : 2.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4517:
order_id : 1546.0
item_id : 3.0
product_id : 215.0
quantity : 1.0
list_price : 749.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4518:
order_id : 1546.0
item_id : 4.0
product_id : 25.0
quantity : 1.0
list_price : 499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4519:
order_id : 1547.0
item_id : 1.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4520:
order_id : 1547.0
item_id : 2.0
product_id : 204.0
quantity : 1.0
list_price : 3599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4521:
order_id : 1548.0
item_id : 1.0
product_id : 32.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4522:
order_id : 1548.0
item_id : 2.0
product_id : 202.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4523:
order_id : 1548.0
item_id : 3.0
product_id : 62.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4524:
order_id : 1549.0
item_id : 1.0
product_id : 158.0
quantity : 1.0
list_price : 959.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4525:
order_id : 1549.0
item_id : 2.0
product_id : 119.0
quantity : 1.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4526:
order_id : 1549.0
item_id : 3.0
product_id : 249.0
quantity : 2.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4527:
order_id : 1549.0
item_id : 4.0
product_id : 242.0
quantity : 2.0
list_price : 699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4528:
order_id : 1550.0
item_id : 1.0
product_id : 315.0
quantity : 2.0
list_price : 559.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4529:
order_id : 1550.0
item_id : 2.0
product_id : 245.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4530:
order_id : 1550.0
item_id : 3.0
product_id : 185.0
quantity : 2.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4531:
order_id : 1550.0
item_id : 4.0
product_id : 148.0
quantity : 1.0
list_price : 5499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4532:
order_id : 1550.0
item_id : 5.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4533:
order_id : 1551.0
item_id : 1.0
product_id : 207.0
quantity : 2.0
list_price : 3999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4534:
order_id : 1552.0
item_id : 1.0
product_id : 197.0
quantity : 1.0
list_price : 2299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4535:
order_id : 1552.0
item_id : 2.0
product_id : 41.0
quantity : 2.0
list_price : 1469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4536:
order_id : 1553.0
item_id : 1.0
product_id : 102.0
quantity : 1.0
list_price : 489.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4537:
order_id : 1553.0
item_id : 2.0
product_id : 12.0
quantity : 1.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4538:
order_id : 1553.0
item_id : 3.0
product_id : 251.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4539:
order_id : 1553.0
item_id : 4.0
product_id : 89.0
quantity : 1.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4540:
order_id : 1554.0
item_id : 1.0
product_id : 166.0
quantity : 1.0
list_price : 749.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4541:
order_id : 1554.0
item_id : 2.0
product_id : 285.0
quantity : 1.0
list_price : 279.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4542:
order_id : 1555.0
item_id : 1.0
product_id : 24.0
quantity : 2.0
list_price : 549.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4543:
order_id : 1555.0
item_id : 2.0
product_id : 156.0
quantity : 1.0
list_price : 6499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4544:
order_id : 1555.0
item_id : 3.0
product_id : 126.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4545:
order_id : 1555.0
item_id : 4.0
product_id : 128.0
quantity : 2.0
list_price : 1899.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4546:
order_id : 1555.0
item_id : 5.0
product_id : 174.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4547:
order_id : 1556.0
item_id : 1.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4548:
order_id : 1556.0
item_id : 2.0
product_id : 82.0
quantity : 1.0
list_price : 659.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4549:
order_id : 1556.0
item_id : 3.0
product_id : 265.0
quantity : 1.0
list_price : 289.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4550:
order_id : 1556.0
item_id : 4.0
product_id : 119.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4551:
order_id : 1556.0
item_id : 5.0
product_id : 235.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4552:
order_id : 1557.0
item_id : 1.0
product_id : 163.0
quantity : 2.0
list_price : 1349.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4553:
order_id : 1558.0
item_id : 1.0
product_id : 46.0
quantity : 2.0
list_price : 1409.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4554:
order_id : 1558.0
item_id : 2.0
product_id : 123.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4555:
order_id : 1558.0
item_id : 3.0
product_id : 4.0
quantity : 1.0
list_price : 2899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4556:
order_id : 1558.0
item_id : 4.0
product_id : 55.0
quantity : 1.0
list_price : 2699.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4557:
order_id : 1558.0
item_id : 5.0
product_id : 253.0
quantity : 1.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4558:
order_id : 1559.0
item_id : 1.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4559:
order_id : 1559.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4560:
order_id : 1559.0
item_id : 3.0
product_id : 54.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4561:
order_id : 1559.0
item_id : 4.0
product_id : 221.0
quantity : 1.0
list_price : 319.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4562:
order_id : 1560.0
item_id : 1.0
product_id : 118.0
quantity : 2.0
list_price : 999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4563:
order_id : 1560.0
item_id : 2.0
product_id : 41.0
quantity : 1.0
list_price : 1469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4564:
order_id : 1561.0
item_id : 1.0
product_id : 181.0
quantity : 2.0
list_price : 2199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4565:
order_id : 1561.0
item_id : 2.0
product_id : 297.0
quantity : 2.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4566:
order_id : 1562.0
item_id : 1.0
product_id : 54.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4567:
order_id : 1562.0
item_id : 2.0
product_id : 66.0
quantity : 1.0
list_price : 250.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4568:
order_id : 1562.0
item_id : 3.0
product_id : 115.0
quantity : 2.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4569:
order_id : 1563.0
item_id : 1.0
product_id : 188.0
quantity : 1.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4570:
order_id : 1564.0
item_id : 1.0
product_id : 309.0
quantity : 1.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4571:
order_id : 1564.0
item_id : 2.0
product_id : 14.0
quantity : 1.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4572:
order_id : 1565.0
item_id : 1.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4573:
order_id : 1565.0
item_id : 2.0
product_id : 92.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4574:
order_id : 1565.0
item_id : 3.0
product_id : 261.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4575:
order_id : 1565.0
item_id : 4.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4576:
order_id : 1565.0
item_id : 5.0
product_id : 226.0
quantity : 2.0
list_price : 679.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4577:
order_id : 1566.0
item_id : 1.0
product_id : 179.0
quantity : 1.0
list_price : 919.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4578:
order_id : 1566.0
item_id : 2.0
product_id : 61.0
quantity : 2.0
list_price : 4999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4579:
order_id : 1567.0
item_id : 1.0
product_id : 279.0
quantity : 1.0
list_price : 319.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4580:
order_id : 1568.0
item_id : 1.0
product_id : 146.0
quantity : 1.0
list_price : 4999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4581:
order_id : 1568.0
item_id : 2.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4582:
order_id : 1568.0
item_id : 3.0
product_id : 301.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4583:
order_id : 1569.0
item_id : 1.0
product_id : 252.0
quantity : 1.0
list_price : 2999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4584:
order_id : 1570.0
item_id : 1.0
product_id : 155.0
quantity : 1.0
list_price : 11999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4585:
order_id : 1571.0
item_id : 1.0
product_id : 312.0
quantity : 2.0
list_price : 699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4586:
order_id : 1571.0
item_id : 2.0
product_id : 212.0
quantity : 1.0
list_price : 559.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4587:
order_id : 1571.0
item_id : 3.0
product_id : 20.0
quantity : 2.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4588:
order_id : 1572.0
item_id : 1.0
product_id : 216.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4589:
order_id : 1572.0
item_id : 2.0
product_id : 198.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4590:
order_id : 1572.0
item_id : 3.0
product_id : 115.0
quantity : 1.0
list_price : 3199.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4591:
order_id : 1572.0
item_id : 4.0
product_id : 304.0
quantity : 2.0
list_price : 679.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4592:
order_id : 1573.0
item_id : 1.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4593:
order_id : 1573.0
item_id : 2.0
product_id : 129.0
quantity : 1.0
list_price : 919.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4594:
order_id : 1573.0
item_id : 3.0
product_id : 15.0
quantity : 2.0
list_price : 529.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4595:
order_id : 1573.0
item_id : 4.0
product_id : 216.0
quantity : 2.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4596:
order_id : 1573.0
item_id : 5.0
product_id : 263.0
quantity : 2.0
list_price : 89.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4597:
order_id : 1574.0
item_id : 1.0
product_id : 127.0
quantity : 1.0
list_price : 469.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4598:
order_id : 1575.0
item_id : 1.0
product_id : 44.0
quantity : 1.0
list_price : 539.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4599:
order_id : 1575.0
item_id : 2.0
product_id : 207.0
quantity : 2.0
list_price : 3999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4600:
order_id : 1575.0
item_id : 3.0
product_id : 213.0
quantity : 1.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4601:
order_id : 1575.0
item_id : 4.0
product_id : 126.0
quantity : 2.0
list_price : 469.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4602:
order_id : 1575.0
item_id : 5.0
product_id : 92.0
quantity : 2.0
list_price : 209.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4603:
order_id : 1576.0
item_id : 1.0
product_id : 69.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4604:
order_id : 1576.0
item_id : 2.0
product_id : 293.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4605:
order_id : 1576.0
item_id : 3.0
product_id : 202.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4606:
order_id : 1577.0
item_id : 1.0
product_id : 298.0
quantity : 2.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4607:
order_id : 1577.0
item_id : 2.0
product_id : 111.0
quantity : 2.0
list_price : 470.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4608:
order_id : 1577.0
item_id : 3.0
product_id : 300.0
quantity : 2.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4609:
order_id : 1577.0
item_id : 4.0
product_id : 131.0
quantity : 2.0
list_price : 2599.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4610:
order_id : 1577.0
item_id : 5.0
product_id : 282.0
quantity : 2.0
list_price : 279.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4611:
order_id : 1578.0
item_id : 1.0
product_id : 204.0
quantity : 2.0
list_price : 3599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4612:
order_id : 1578.0
item_id : 2.0
product_id : 310.0
quantity : 1.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4613:
order_id : 1578.0
item_id : 3.0
product_id : 241.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4614:
order_id : 1579.0
item_id : 1.0
product_id : 49.0
quantity : 1.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4615:
order_id : 1579.0
item_id : 2.0
product_id : 214.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4616:
order_id : 1579.0
item_id : 3.0
product_id : 286.0
quantity : 1.0
list_price : 279.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4617:
order_id : 1579.0
item_id : 4.0
product_id : 65.0
quantity : 2.0
list_price : 346.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4618:
order_id : 1580.0
item_id : 1.0
product_id : 119.0
quantity : 2.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4619:
order_id : 1580.0
item_id : 2.0
product_id : 86.0
quantity : 2.0
list_price : 149.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4620:
order_id : 1581.0
item_id : 1.0
product_id : 64.0
quantity : 1.0
list_price : 489.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4621:
order_id : 1581.0
item_id : 2.0
product_id : 272.0
quantity : 1.0
list_price : 289.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4622:
order_id : 1582.0
item_id : 1.0
product_id : 75.0
quantity : 1.0
list_price : 599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4623:
order_id : 1582.0
item_id : 2.0
product_id : 133.0
quantity : 2.0
list_price : 1499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4624:
order_id : 1583.0
item_id : 1.0
product_id : 15.0
quantity : 1.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4625:
order_id : 1583.0
item_id : 2.0
product_id : 265.0
quantity : 2.0
list_price : 289.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4626:
order_id : 1584.0
item_id : 1.0
product_id : 45.0
quantity : 2.0
list_price : 869.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4627:
order_id : 1584.0
item_id : 2.0
product_id : 216.0
quantity : 2.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4628:
order_id : 1584.0
item_id : 3.0
product_id : 43.0
quantity : 1.0
list_price : 5299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4629:
order_id : 1584.0
item_id : 4.0
product_id : 187.0
quantity : 1.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4630:
order_id : 1584.0
item_id : 5.0
product_id : 147.0
quantity : 2.0
list_price : 1799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4631:
order_id : 1585.0
item_id : 1.0
product_id : 313.0
quantity : 1.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4632:
order_id : 1585.0
item_id : 2.0
product_id : 106.0
quantity : 2.0
list_price : 449.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4633:
order_id : 1585.0
item_id : 3.0
product_id : 207.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4634:
order_id : 1585.0
item_id : 4.0
product_id : 95.0
quantity : 1.0
list_price : 299.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4635:
order_id : 1585.0
item_id : 5.0
product_id : 191.0
quantity : 1.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4636:
order_id : 1586.0
item_id : 1.0
product_id : 22.0
quantity : 2.0
list_price : 269.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4637:
order_id : 1586.0
item_id : 2.0
product_id : 277.0
quantity : 1.0
list_price : 369.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4638:
order_id : 1586.0
item_id : 3.0
product_id : 295.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4639:
order_id : 1586.0
item_id : 4.0
product_id : 173.0
quantity : 1.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4640:
order_id : 1586.0
item_id : 5.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4641:
order_id : 1587.0
item_id : 1.0
product_id : 104.0
quantity : 1.0
list_price : 481.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4642:
order_id : 1587.0
item_id : 2.0
product_id : 63.0
quantity : 2.0
list_price : 3499.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4643:
order_id : 1587.0
item_id : 3.0
product_id : 78.0
quantity : 2.0
list_price : 647.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4644:
order_id : 1587.0
item_id : 4.0
product_id : 300.0
quantity : 2.0
list_price : 799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4645:
order_id : 1588.0
item_id : 1.0
product_id : 93.0
quantity : 2.0
list_price : 209.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4646:
order_id : 1589.0
item_id : 1.0
product_id : 246.0
quantity : 2.0
list_price : 639.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4647:
order_id : 1589.0
item_id : 2.0
product_id : 260.0
quantity : 1.0
list_price : 799.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'

Error in row 4648:
order_id : 1589.0
item_id : 3.0
product_id : 28.0
quantity : 2.0
list_price : 2499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4649:
order_id : 1590.0
item_id : 1.0
product_id : 175.0
quantity : 2.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4650:
order_id : 1590.0
item_id : 2.0
product_id : 248.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4651:
order_id : 1590.0
item_id : 3.0
product_id : 23.0
quantity : 1.0
list_price : 299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4652:
order_id : 1591.0
item_id : 1.0
product_id : 286.0
quantity : 2.0
list_price : 279.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4653:
order_id : 1591.0
item_id : 2.0
product_id : 126.0
quantity : 2.0
list_price : 469.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4654:
order_id : 1591.0
item_id : 3.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4655:
order_id : 1591.0
item_id : 4.0
product_id : 138.0
quantity : 2.0
list_price : 2249.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4656:
order_id : 1591.0
item_id : 5.0
product_id : 265.0
quantity : 1.0
list_price : 289.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4657:
order_id : 1592.0
item_id : 1.0
product_id : 211.0
quantity : 2.0
list_price : 1549.0
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4658:
order_id : 1592.0
item_id : 2.0
product_id : 159.0
quantity : 1.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4659:
order_id : 1592.0
item_id : 3.0
product_id : 40.0
quantity : 2.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4660:
order_id : 1592.0
item_id : 4.0
product_id : 9.0
quantity : 1.0
list_price : 2999.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4661:
order_id : 1592.0
item_id : 5.0
product_id : 271.0
quantity : 2.0
list_price : 209.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4662:
order_id : 1593.0
item_id : 1.0
product_id : 97.0
quantity : 2.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4663:
order_id : 1593.0
item_id : 2.0
product_id : 34.0
quantity : 1.0
list_price : 469.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4664:
order_id : 1593.0
item_id : 3.0
product_id : 190.0
quantity : 2.0
list_price : 2799.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4665:
order_id : 1593.0
item_id : 4.0
product_id : 107.0
quantity : 1.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4666:
order_id : 1593.0
item_id : 5.0
product_id : 169.0
quantity : 2.0
list_price : 6499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4667:
order_id : 1594.0
item_id : 1.0
product_id : 79.0
quantity : 2.0
list_price : 402.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4668:
order_id : 1594.0
item_id : 2.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4669:
order_id : 1595.0
item_id : 1.0
product_id : 112.0
quantity : 1.0
list_price : 379.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4670:
order_id : 1596.0
item_id : 1.0
product_id : 91.0
quantity : 1.0
list_price : 349.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4671:
order_id : 1596.0
item_id : 2.0
product_id : 18.0
quantity : 1.0
list_price : 449.0
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4672:
order_id : 1597.0
item_id : 1.0
product_id : 176.0
quantity : 1.0
list_price : 3199.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4673:
order_id : 1597.0
item_id : 2.0
product_id : 59.0
quantity : 1.0
list_price : 2599.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4674:
order_id : 1598.0
item_id : 1.0
product_id : 247.0
quantity : 1.0
list_price : 599.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4675:
order_id : 1598.0
item_id : 2.0
product_id : 49.0
quantity : 2.0
list_price : 3499.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4676:
order_id : 1598.0
item_id : 3.0
product_id : 88.0
quantity : 1.0
list_price : 189.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4677:
order_id : 1599.0
item_id : 1.0
product_id : 104.0
quantity : 2.0
list_price : 481.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4678:
order_id : 1600.0
item_id : 1.0
product_id : 146.0
quantity : 1.0
list_price : 4999.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4679:
order_id : 1600.0
item_id : 2.0
product_id : 295.0
quantity : 1.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4680:
order_id : 1600.0
item_id : 3.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4681:
order_id : 1601.0
item_id : 1.0
product_id : 114.0
quantity : 2.0
list_price : 579.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4682:
order_id : 1601.0
item_id : 2.0
product_id : 10.0
quantity : 1.0
list_price : 1549.0
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4683:
order_id : 1601.0
item_id : 3.0
product_id : 220.0
quantity : 2.0
list_price : 269.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4684:
order_id : 1601.0
item_id : 4.0
product_id : 7.0
quantity : 2.0
list_price : 3999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4685:
order_id : 1601.0
item_id : 5.0
product_id : 180.0
quantity : 1.0
list_price : 919.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4686:
order_id : 1602.0
item_id : 1.0
product_id : 71.0
quantity : 2.0
list_price : 416.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4687:
order_id : 1602.0
item_id : 2.0
product_id : 37.0
quantity : 1.0
list_price : 379.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4688:
order_id : 1602.0
item_id : 3.0
product_id : 275.0
quantity : 2.0
list_price : 229.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4689:
order_id : 1602.0
item_id : 4.0
product_id : 257.0
quantity : 2.0
list_price : 899.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4690:
order_id : 1603.0
item_id : 1.0
product_id : 275.0
quantity : 2.0
list_price : 229.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4691:
order_id : 1604.0
item_id : 1.0
product_id : 271.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4692:
order_id : 1605.0
item_id : 1.0
product_id : 72.0
quantity : 1.0
list_price : 619.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4693:
order_id : 1605.0
item_id : 2.0
product_id : 186.0
quantity : 1.0
list_price : 4499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4694:
order_id : 1605.0
item_id : 3.0
product_id : 132.0
quantity : 2.0
list_price : 1499.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4695:
order_id : 1605.0
item_id : 4.0
product_id : 301.0
quantity : 1.0
list_price : 899.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4696:
order_id : 1605.0
item_id : 5.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4697:
order_id : 1606.0
item_id : 1.0
product_id : 245.0
quantity : 1.0
list_price : 659.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4698:
order_id : 1606.0
item_id : 2.0
product_id : 271.0
quantity : 1.0
list_price : 209.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4699:
order_id : 1607.0
item_id : 1.0
product_id : 29.0
quantity : 1.0
list_price : 999.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4700:
order_id : 1608.0
item_id : 1.0
product_id : 231.0
quantity : 2.0
list_price : 529.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4701:
order_id : 1609.0
item_id : 1.0
product_id : 96.0
quantity : 1.0
list_price : 349.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4702:
order_id : 1609.0
item_id : 2.0
product_id : 238.0
quantity : 2.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4703:
order_id : 1609.0
item_id : 3.0
product_id : 228.0
quantity : 2.0
list_price : 319.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4704:
order_id : 1609.0
item_id : 4.0
product_id : 105.0
quantity : 1.0
list_price : 533.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4705:
order_id : 1610.0
item_id : 1.0
product_id : 36.0
quantity : 1.0
list_price : 832.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4706:
order_id : 1610.0
item_id : 2.0
product_id : 173.0
quantity : 2.0
list_price : 3199.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4707:
order_id : 1611.0
item_id : 1.0
product_id : 191.0
quantity : 1.0
list_price : 2799.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4708:
order_id : 1611.0
item_id : 2.0
product_id : 171.0
quantity : 2.0
list_price : 3199.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4709:
order_id : 1611.0
item_id : 3.0
product_id : 236.0
quantity : 1.0
list_price : 749.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4710:
order_id : 1612.0
item_id : 1.0
product_id : 242.0
quantity : 1.0
list_price : 699.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4711:
order_id : 1612.0
item_id : 2.0
product_id : 289.0
quantity : 2.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4712:
order_id : 1612.0
item_id : 3.0
product_id : 101.0
quantity : 2.0
list_price : 339.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4713:
order_id : 1612.0
item_id : 4.0
product_id : 293.0
quantity : 2.0
list_price : 319.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4714:
order_id : 1612.0
item_id : 5.0
product_id : 60.0
quantity : 1.0
list_price : 1559.99
discount : 0.1
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4715:
order_id : 1613.0
item_id : 1.0
product_id : 153.0
quantity : 1.0
list_price : 4999.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4716:
order_id : 1613.0
item_id : 2.0
product_id : 283.0
quantity : 2.0
list_price : 319.99
discount : 0.05
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4717:
order_id : 1614.0
item_id : 1.0
product_id : 124.0
quantity : 1.0
list_price : 1499.0
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4718:
order_id : 1614.0
item_id : 2.0
product_id : 159.0
quantity : 2.0
list_price : 2299.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4719:
order_id : 1614.0
item_id : 3.0
product_id : 213.0
quantity : 2.0
list_price : 269.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4720:
order_id : 1615.0
item_id : 1.0
product_id : 197.0
quantity : 2.0
list_price : 2299.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4721:
order_id : 1615.0
item_id : 2.0
product_id : 214.0
quantity : 1.0
list_price : 899.99
discount : 0.07
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'
Error in row 4722:
order_id : 1615.0
item_id : 3.0
product_id : 182.0
quantity : 1.0
list_price : 2499.99
discount : 0.2
Error: 1054 (42S22): Unknown column 'item_id' in 'field list'